[2020-04-13 20:04] skoruba commented on #569
Hi,
what is this image? agrohub-server
Is it your own IS4 instance?
Thanks

[2020-04-13 20:07] skoruba commented on #565
Hi,
can you please check latest dev branch? I rework whole solution from http to https.
Let me know if everything work correctly.
Thanks

[2020-04-13 20:11] skoruba commented on #557
Hi, sorry for delay answer.
Can you please check also errors in STS?
Thanks

[2020-04-13 20:13] skoruba commented on #566
Hi,
how do you fix it? Can cover this case via PR?
Currently, the email address must be unique. I will test it.
Thanks

[2020-04-13 21:40] darkfinlay opened #573 "Unable to obtain configuration from "https://xxxxxx.xxxxxx.com/xxxxxx/.well-known/openid-configuration""
Hello,

I'm having this issue when i try to open the administration. This is balanced environment with IIS. I'd apreciate your help.

2020-04-08 11:54:30.740 -05:00 [ERR] An exception was thrown attempting to execute the error handler.
System.InvalidOperationException: IDX20803: Unable to obtain configuration from: 'https://xxxxxx.xxxxxx.com/xxxxxx/.well-known/openid-configuration'.
   at Microsof

[2020-04-14 09:41] WeihanLi commented on #566
I'm wondering user could create relation by provider the use the account name/email and password, if match create the relation between external account and exists account.

I'll create a pr asap (maybe the ui need to be updated, not good at ui...

[2020-04-15 10:14] mitirazvan commented on #573
Hi,
I also had this problem, and for me it was the case that from the server environment the calls to https://xxxxxx.xxxxxx.com/xxxxxx/ were blocked. To solve this we had to add in the hosts the corresponding lines:

127.0.0.1 xxxxxx.xxxxxx.com // sts
127.0.0.1 xxxxxx.xxxxxx.com // admin

The admin application instance hosted on the same server with STS was unable to access the STS because the req

[2020-04-16 11:21] EricHerlitz commented on #504
The error was resolved by upgrading SQL Server

[2020-04-16 11:21] #504 closed

[2020-04-16 20:23] darkfinlay commented on #573
Hello @mitirazvan, the environment in which i'm installing does not allow to change hosts file. Installing the Admin on another server could be a different approach? thanks for your help.

[2020-04-17 10:38] mehyaa opened #575 "Make seed a seperate (console) application"
Making seeding on one of the web applications is not suitable (at least for the Docker perspective) because you need to stop, change the command and start the web app after the first launch.

Making a seperate console app (and Docker image for it) will be much more flexible to use.

[2020-04-17 11:30] mehyaa commented on #575
Duplcate of #502

[2020-04-17 11:30] #575 closed

[2020-04-17 11:35] mehyaa commented on #502
Making a seperate console app (and Docker image for it) will be much more flexible to use.

[2020-04-17 11:45] mehyaa commented on #493
You should use Role claims.

[2020-04-17 18:34] darkfinlay commented on #573
Hello @mitirazvan,  we change the hosts file just like you said but still not working. I Believe there is an issue with the name of the server. This environment use a reverse proxy, so we have a public url and a private url. What do you think we should do in this case.

Thanks for your help.

[2020-04-20 05:55] ViRuSTriNiTy commented on #549
PR merged, issue closed

[2020-04-20 05:55] #549 closed

[2020-04-20 07:13] inamvar opened #579 "Admin panel oidc callback url not work when running with docker image"
I started docker containers but admin oidc callback url not working. here is my docker-compose file.

[code]

[2020-04-20 07:19] skoruba commented on #579
What error do you get?

[2020-04-20 07:26] inamvar commented on #579
[code]

[2020-04-20 10:39] flyznex opened #580 "PersistedGrantsController has errors with Automapper"
When request action in PersistedGrantsController. Automapper will throw exception with mapping profile. I don't change anything presistedgrant model.
[code]

[2020-04-20 10:40] flyznex commented on #580
I added `CreateMap<PersistedGrantsDto, PersistedGrantSubjectsApiDto>(MemberList.Destination);` to PersistedGrantApiMapperProfile.cs but it still not working.

[2020-04-20 11:24] skoruba commented on #580
Thanks, let me check it. 🙂

[2020-04-21 05:21] inamvar commented on #579
@skoruba any idea?

[2020-04-21 08:58] mitirazvan commented on #573
@darkfinlay having the Admin application on a different environment can work but you shouldn't think of this solution.
I'm not an expert on this but I would recommend the following:
- test to see if you can ping the identityserver public url from the server machine.
- try to access **https://[public url]/.well-known/openid-configuration** from server machine

If you cannot do that then that's your

[2020-04-21 12:49] skoruba commented on #579
@inamvar - It is hard to say - this error is pretty common. IS4 Admin auth middleware cannot get discover document from IS4. Any detailed error in IS4 logs? Do you have your services online published to the internet?

[2020-04-21 12:53] skoruba commented on #573
Help on this is welcome - #579 pretty similar issue.

[2020-04-21 22:33] selangley-wa opened #581 "[question] Should the Admin client use Code w/PKCE instead of Hybrid Flow?"
I've read lately that the Authorization Code flow with PKCE is now recommended for most application types.

[IdentityServer4 Docs](http://docs.identityserver.io/en/latest/topics/grant_types.html#interactive-clients)
[Philippe De Ryck on OAuth 2.0 best practices](https://pragmaticwebsecurity.com/files/cheatsheets/oauth2securityfordevelopers.pdf)

Is there a reason why the Admin client uses the hybr

[2020-04-22 07:38] Witchie opened #582 "use command line create project admin password has error!"
When i use command line create a new project
`dotnet new skoruba.is4admin --name MyProject --title MyProject --adminemail "admin@example.com" --adminpassword "Pa$$word123" --adminrole MyRole --adminclientid MyClientId --adminclientsecret MyClientSecret --dockersupport false`

generate password actulay is not match
**`Pa$$word123`**

file path is `MyProject.Admin`/`identitydata.json`
json path is /

[2020-04-22 07:53] skoruba commented on #582
What environment do you use? Windows, macOS, linux?

[2020-04-23 15:28] jack1232 opened #583 "Registration issue without UserName"
In the STS.Identity project, I set:

 "LoginConfiguration": {
    "ResolutionPolicy": "Email"
  }

This allows user to register or login without UserName. However, when trying to register a new user without UserName, i get the following error:

An unhandled exception occurred while processing the request.
InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'Ginc

[2020-04-24 05:04] O-R opened #584 "Duplicate health checks when use MySQL as database provider"
The following exception in Project Skoruba.IdentityServer4.Admin.Api was thrown when host run：

something wrong found in [IdentityServer4.Admin/src/Skoruba.IdentityServer4.Admin.Api/Helpers/StartupHelpers.cs#L312-L318](https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin.Api/Helpers/StartupHelpers.cs#L312-L318)
[code]
fix as #585

[2020-04-24 05:17] Witchie commented on #582
windows

[2020-04-24 05:29] Witchie commented on #582
Windows 10 Enterprise Version 10.0.18363
Here is my computer  system info file download path,file size 8mb.You may be slow to download!
<https://uuids.cn/sysinfo.nfo>

[2020-04-24 06:49] skoruba commented on #581
Yes, I will update it to Authorization Code flow with PKCE - and client templates as well.
Thanks

[2020-04-24 06:50] skoruba commented on #583
I will check it, thanks for reporting this.

[2020-04-24 06:51] skoruba commented on #584
I think we fixed this in dev branch. Can you please check the latest dev branch?
Thanks.

[2020-04-24 11:34] ViRuSTriNiTy commented on #552
Sadly i had to move away from IdentityServer, perhaps another user can adopt this task, closing this for now.

[2020-04-24 11:34] #552 closed

[2020-04-24 11:36] ViRuSTriNiTy commented on #553
Sadly i had to move away from IdentityServer, perhaps another user can adopt this task, closing this for now.

[2020-04-24 11:36] #553 closed

[2020-04-24 12:03] skoruba commented on #553
Thank you 👍🏼

[2020-04-24 14:21] HashTagDotNet commented on #297
I too am getting this error and I don't see the Serilog Log table.

[2020-04-24 20:32] jack1232 commented on #583
This only happens if a user was already registered. If you try to add the same user again, you will get the above error.

This error can be eliminated by adding an IF statement to the end of the  Register POST method in the AccountControllor class:

        [HttpPost]
        [AllowAnonymous]
        [ValidateAntiForgeryToken]
        public async Task<IActionResult> Register(RegisterViewModel mod

[2020-04-25 13:06] #584 closed

[2020-04-26 04:51] bravecobra opened #586 "Migration on sql server fails when applying ChangeAuditLogToLong"
When trying to apply the migrations on SQL Server, they fail with the following error:
`The object 'PK_AuditLog' is dependent on column 'Id'.ALTER TABLE ALTER COLUMN Id failed because one or more objects access this column.` at the migration `20200419130339_ChangeAuditLogToLong`.

I know it's hard to change the types of primary keys, but just using an alter statement is not an option.
I started fr

[2020-04-26 07:39] skoruba commented on #586
Thanks @bravecobra for reporting, I fixed this issue in #587

[2020-04-26 07:51] jhone18 opened #588 "Unauthorized_Client in Admin UI (Azure hosted)"
Did everything in the instructions in deploying the projects in Azure App Services. However I encounter an error when running the admin ui. It says unauthorized_client,  could you help me on this? No issues on my local solution.

Error
Sorry, there was an error : unauthorized_client
Request Id: 800000bd-0000-eb00-b63f-84710c7967bb

It runs perfectly on sts in azure but only the admin keeps on fail

[2020-04-26 08:07] jhone18 commented on #588
here is the URL for reference.

https://idsrv4-sts.azurewebsites.net
https://idsrv4-admin.azurewebsites.net

error:
https://idsrv4-sts.azurewebsites.net/connect/authorize?client_id=AdminClientId&redirect_uri=https%3A%2F%2FIdSrv4-admin.azurewebsites.net%2Fsignin-oidc&response_type=code%20id_token&scope=openid%20profile%20email%20roles&response_mode=form_post&nonce=637234844438856476.MDQ5MjY4NTktYzE

[2020-04-26 08:45] ViRuSTriNiTy commented on #588
This is most likely caused by a wrong client id (querystring parameter client_id) or a mismatch of the redirect uri (query string parameter redirect_uri).

[2020-04-26 13:45] jhone18 commented on #588
Thanks. yeah. but I didn't do any changes after publishing to azure.

[2020-04-26 13:45] #588 closed

[2020-04-26 13:48] jhone18 commented on #588
Thanks.
yeah, but I didn't do any changes on the client id or anything in the querystring. It works when I used the localhost but not hosted in Azure. Is there anything that I could change when publishing to Azure or configurations?

[2020-04-26 13:56] skoruba commented on #588
Can you please check log? I think there are more details. Can you share your identityserver configuration file? Thanks

[2020-04-26 16:09] ViRuSTriNiTy commented on #588
When you say you use localhost then you most likely have a redirect uri like https://localhost configured which obviously doesn't match the azure environment right?

[2020-04-27 17:58] kamrowskik opened #589 "Referencing incorrect Cert Config value"
https://github.com/skoruba/IdentityServer4.Admin/blob/be6fc55a61d890378dd21f9110c2850e963a487f/src/Skoruba.IdentityServer4.STS.Identity/Helpers/IdentityServerBuilderExtensions.cs#L158

Correct me if I'm wrong, but did you mean to use "certificateConfiguration.ValidationCertificatePfxFilePath" vs "certificateConfiguration.SigningCertificatePfxFilePath"?

[2020-04-28 07:48] hoseinipeyrov opened #590 "how to RequireConfirmedEmail in skoruba?"
I want force identity server check email confirmation before user login
services.AddIdentity<UserIdentity, UserIdentityRole>(options => { options.User.RequireUniqueEmail = true; })
thanks skoruba

[2020-04-29 06:24] bmurali31 commented on #568
Hello,
I am stuck at making admin api calls using client_credentials token. My api client has claim called "role" and its value is set to Admin role. Still when I hit the endpoint e.g http://localhost:5001/api/Users with Bearer token I get empty response.
Any help in this would be greatly appreciated.
Thanks

[2020-04-29 06:34] bmurali31 commented on #568
Hello @cculver,
What are the client claims you added for your m2m client to get it working?

[2020-04-29 07:03] bmurali31 commented on #568
Never mind. I was able to hit the api with just role client claim as Admin.

[2020-04-29 07:08] skoruba commented on #568
Hi @bmurali31
1.) you can create new client and use `client_credential` flow
2.) go to `client claims` and setup claim called - `role` = `Admin role` (value is according to your configuration). And in API is authorization check like this:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin.Api/Helpers/StartupHelpers.cs#L242-L244

NOTE: If client has claim

[2020-04-29 08:23] bmurali31 opened #591 "Two Factor authentication at first login - Register 2FA device"
Hello,

Is there any way we can register 2FA device at the time of first login?

**Use Case**
There is a separate system for managing users at the organization level, this system uses Admin API to create users. While creating user, based on organization setting 2FA flag will be set as true/false.
When the user logs in first time user should be able to register a 2FA authenticator and should be abl

[2020-04-29 09:38] devarshad commented on #590
Added pull request https://github.com/skoruba/IdentityServer4.Admin/pull/592

[2020-04-29 19:42] jack1232 commented on #590
You can require the newly registered user to confirm email before he is able to log in. This can be achieved by modifying the Register POST method of the AccountController.cs in the STS.Identity project as follows:

[code]
Here, the CheckEmail view can be very simple. Here is a sample CheckEmail.cshtml file:

[code]

Hope this helps.

Best, Jack

[2020-05-01 08:54] Mirivhbv opened #596 "Lack of ICU Libraries in 3.1-buster-slim"
The culture "display name" is short as in "name" property.

![local](https://user-images.githubusercontent.com/10003520/80794307-ab212a00-8baa-11ea-98af-6471592267ed.PNG)
![local-2](https://user-images.githubusercontent.com/10003520/80794315-b1afa180-8baa-11ea-9ad0-46932d0cf55f.PNG)

I think, the problem is same as in this [post](https://andrewlock.net/dotnet-core-docker-and-cultures-solving-cultu

[2020-05-01 13:48] thomas-illiet commented on #479
I'm on the same problem as @xaviergxf for the version of .net core.
I cannot have a .net core 2 on my computer / corporate server (because it was not validated by my company)

Kind Regards

[2020-05-03 17:03] JeffreyChan commented on #565
Hi
  I had meet same issue with latest version.

   When I try to launch an Admin project, it gives me errors in both Chrome or Edge about site isn't secure.

  here is picture.

![image](https://user-images.githubusercontent.com/5321225/80920521-fd2ca000-8da2-11ea-87f2-5eafc5625db0.png)

What can I do to let IIS Express support HTTPS?

[2020-05-03 17:41] skoruba commented on #565
Please chech dev branch. There are these changes for https. Thanks 👍🏼

[2020-05-03 17:45] JeffreyChan commented on #565
okay, on my way to check it out.

[2020-05-03 17:58] JeffreyChan commented on #565
Hi skoruba
I just debug **Skoruba.IdentityServer4.Admin** project with dev branch
And I got this error

![image](https://user-images.githubusercontent.com/5321225/80921718-9a3f0700-8daa-11ea-9832-a685cdc7103e.png)

When I debug STS project, I got this error
SqlException: Invalid object name 'DataProtectionKeys'.
![image](https://user-images.githubusercontent.com/5321225/80921741-c195d400-8daa-11ea

[2020-05-03 18:40] skoruba commented on #565
Try restart app and check db migration, there were some changes in db. Let me know please.

[2020-05-04 02:38] JeffreyChan commented on #565
Hi skoruba
Thanks for your help.
I just force run db migration seed in **Skoruba.IdentityServer4.Admin**, then I can debug STS project without errors.

But when I debug Admin project, I got this error:
![image](https://user-images.githubusercontent.com/5321225/80932725-56242480-8df3-11ea-8b2d-3483db4bba30.png)

What I can do to fix this issue?

[2020-05-04 05:58] skoruba commented on #565
Do you re-run seed as well? The urls has been changed, therefore it is necessary to modify all urls in db or delete dev db and start from scratch.

[2020-05-04 19:08] shanojscp opened #601 ""Unknown client or not enabled" error for skoruba_identity_admin when i disable Consent"
Great respect for the work so far!

"Unknown client or not enabled" error for skoruba_identity_admin when i disable Consent

Message":"Unknown client or not enabled: \"skoruba_identity_admin\"

Thanks

[2020-05-05 04:18] JeffreyChan commented on #565
Hi Skoruba

I deleted dev db named IdentityServer4Admin.mdf, then uncomment seed code which is:
`await DbMigrationHelpers.EnsureSeedData<IdentityServerConfigurationDbContext, AdminIdentityDbContext, IdentityServerPersistedGrantDbContext, AdminLogDbContext, AdminAuditLogDbContext, IdentityServerDataProtectionDbContext, UserIdentity, UserIdentityRole>(host);`

When I debug Admin project, I got this

[2020-05-05 10:05] #601 closed

[2020-05-05 10:05] shanojscp commented on #601
This is fixed. Mistake from my side.

[2020-05-05 14:05] murattdogan opened #602 "Localizations - labels, messages"
Localizations - labels, messages
Turkish

[2020-05-05 14:06] eric-davis opened #603 "Rock Solid Knowledge SAML2P Support"
### Question
Is there any support for RSK's SAML2P component and SAML Service Provider management? Or any plans to add it in the near future?

[2020-05-05 15:40] murattdogan opened #604 "Ldap Auth. IdentityServer4.LdapExtension"
https://github.com/Nordes/IdentityServer4.LdapExtension add proje Ldap

[2020-05-05 19:02] Zetanova commented on #582
The issue is the password validation
The default setting requires a strong password with AlphaNumeric and at least one NoneAlphaNumeic character.

`Pa$$word123`  would work, but `Patempword123`does not

This seed code here ignores the error:
https://github.com/skoruba/IdentityServer4.Admin/blob/2038b792ccbe599c9953b06afd88b4f932dacbfb/src/Skoruba.IdentityServer4.Admin/Helpers/DbMigrationHelpers.cs

[2020-05-05 19:12] Zetanova opened #605 "SeedIdentityData process silently ignores errors"
### Describe the bug
Errors in the EnsureSeedData process are getting silently ignored.
If the admin password does not meat the default password requirements,
the user will not be created.

### To Reproduce
User password `A1ZKFv7TdhUDivOx` with none NoneAlphaNumeric characters.

Code section:
https://github.com/skoruba/IdentityServer4.Admin/blob/2038b792ccbe599c9953b06afd88b4f932dacbfb/src/Skoruba

[2020-05-06 18:29] yorlen88 opened #606 "Question about users enabled property"
Hello Hello. I am looking for help. I am configuring an identityserver4 with skoruba like as documentaction say and everithing works fine. The administrations functionalities are excellent.
No, i want to introduce a little change. On the login process i want to check if user is enabled or not according to a custom field of users table.
   How can I do that?
I want something like https://deblokt.co

[2020-05-08 10:34] zwq000 commented on #582
This is also the case here, and neither password can log in

[2020-05-08 11:19] zwq000 commented on #582
Because the password is too simple and does not meet the requirements of identityuser password, the admin user cannot be created, resulting in the failure to log in

[2020-05-08 11:42] Zetanova commented on #582
There are two bugs:
1) if the command line contains the special char '$', '$$' or maybe others, then they get silently removed from the password in the json config
2) If the password dont have any NonAlphanumeric chars, then the user is not seeded (silently)
See: https://github.com/skoruba/IdentityServer4.Admin/issues/605

[2020-05-11 13:43] ekjuanrejon commented on #529
Hello, I have been looking that when a user register via the MVC an email get sends but when using the API no email get sends....

[2020-05-11 14:02] b0 commented on #529
@ekjuanrejon You are correct, that functionality is not implemented in API project. Currently, mail is sent only when user register via MVC application(STS, GUI) .

Best regards

[2020-05-12 02:11] imabdul-dev opened #608 "Not Logging In"
### Question
I have cloned the repo or even tried with CLI commands which are mentioned in readme.md.
I am using SQL server. I was trying to log in with the default username and password event which in identity data.json. The line for seed is also uncommented. But still, I can not log into the admin portal. Even I created a new account then tried to log in but still not work. Whenever I tried to l

[2020-05-12 04:59] zwq000 commented on #546
docker 服务提供了内部 DNS 寻址, 支持基于 DNS SSR 的负载均衡, 区分内部 RPC 和 浏览器重定向是一个很好的思路,
现在的问题是需要区分 哪些是 内部 RPC 那些访问需要通过浏览器重定向.

The docker service provides internal DNS addressing and supports load balancing based on DNS SSR. It is a good idea to distinguish between internal RPC and browser redirection,
The problem now is to distinguish between internal RPC and browser redirection

[2020-05-12 05:00] zwq000 commented on #546
https://github.com/skoruba/IdentityServer4.Admin/issues/546#issuecomment-605130181

The docker service provides internal DNS addressing and supports load balancing based on DNS SSR. It is a good idea to distinguish between internal RPC and browser redirection,
The problem now is to distinguish between internal RPC and browser redirection

[2020-05-12 07:29] b0 commented on #608
Probably related to #582

[2020-05-14 13:13] eric-davis commented on #603
bump...

[2020-05-15 11:41] aiscrim commented on #573
Hi @mitirazvan, maybe you already solved it by yourself at this time, but if not: did you configure the PublicOrigin setting, as specified here? #510
I don't know if that's your problem, but being it a balanced environment behind a reverse proxy it certainly could be the cause of that error if you didn't.

[2020-05-16 17:19] murughas opened #611 "Can i modify datatype of Users Table"
### Question
Hi,
I using Postgres database to setup Identity Server
I want to modify Id Column of Users table from text to GUID, is it possible to Modify.

### Relevant parts of the log file

[code]

[2020-05-18 18:01] skoruba commented on #589
Hi @kamrowskik - thanks for this catch, I will fix it. Sorry for delayed answer. ;)

[2020-05-18 18:03] skoruba commented on #590
Hi guys, thanks for your tips - I will check it and add it into solution.

[2020-05-18 18:04] skoruba commented on #596
Hi @Mirivhbv - thanks for reporting this issue, I will check it.

[2020-05-18 18:05] skoruba commented on #602
Hi @murattdogan - can you send a PR with these translations?
Thanks.

[2020-05-18 18:08] skoruba commented on #605
Hi @Zetanova - thanks for reporting this issue - I can definitely add this error message into log.

[2020-05-18 18:11] kamrowskik commented on #589
No worries. Great work on this project by the way. Thanks for everything!

[2020-05-18 18:16] skoruba commented on #606
Hi @yorlen88 - please check `dev` branch - I added base dtos into shared project. In next RC2 - it will be possible to use these base objects. You need probable add custom property called `Enabled` into `IdentityUserDto.cs` (https://github.com/skoruba/IdentityServer4.Admin/blob/dev/src/Skoruba.IdentityServer4.Shared/Dtos/Identity/IdentityUserDto.cs) and `IdentityUser.cs` (https://github.com/skorub

[2020-05-18 18:21] skoruba commented on #603
Hi @eric-davis - I am sorry for delayed answer. Currently this feature is not in the road map, but I will consider add it the future. Are you able to send a PR for this feature?

[2020-05-18 18:23] skoruba commented on #604
Hi @murattdogan - thanks for tip - I will check it later - same issue is here: #521

[2020-05-18 18:23] #604 closed

[2020-05-18 18:24] skoruba commented on #608
Hi @imabdul-dev - do you have more details about this issue? Some log information?
Thanks

[2020-05-18 18:32] skoruba commented on #611
Hi @murughas
you need change `TKey` from `string` to `Guid` - here: https://github.com/skoruba/IdentityServer4.Admin/blob/dev/src/Skoruba.IdentityServer4.Admin/Startup.cs#L65-L80

- and change this TKey:
in entities: https://github.com/skoruba/IdentityServer4.Admin/tree/dev/src/Skoruba.IdentityServer4.Admin.EntityFramework.Shared/Entities/Identity
- and TKey in dtos: https://github.com/skoruba/Ide

[2020-05-18 20:50] eric-davis commented on #603
Hey Jan -

No worries. I was considering taking a look to see what it would take to
add this feature/functionality. I just wanted to make sure it wasn't
supported already and I missed it somewhere. If I can come up with the time
and a workable solution to add it, I'll submit a PR. :-)

Thanks.

On Mon, May 18, 2020 at 2:21 PM Jan Škoruba <notifications@github.com>
wrote:

[2020-05-19 00:42] opena854 commented on #583
Actually this happend because model returned by Register method is RegisterViewModel but the Email policy expects a RegisterWithoutUsernameViewModel model.

You can easy fix this by making RegisterViewModel extends RegisterWithoutUsernameViewModel and removing the duplicated properties, like this:
[code]

[2020-05-19 08:51] IwanSumpena opened #612 "Cookies idsrv.session in different domain"
### Question

I run the identity server with the client. Login is successful as usual and every tab has the same cookies with the same value (idsrv.session).

When the identity server and client are running from 2 different machines and different domains idsrv.session cookies are not formed in the client tab. Is it really like that?

[2020-05-19 15:24] PierreMotoc opened #613 "how can I use skoruba with a CAS external provider?"
### Question
Hello,
I've installed skoruba and I have a question for an external provider.
Got some legacy apps using the CAS3.0 protocol.
I would like to add this CAS app as an external provider but I can't find any information about how to do it (it's a very outdated protocol, I agree)

so, my question is
did someone had faced the same problem, please?
how could I add a custom external prodiver,

[2020-05-19 16:26] murughas commented on #611
Thanks a lot :)

[2020-05-20 00:46] imabdul-dev commented on #608
I this this was due to one of the chrome's extension most probably ad-block. Now it is working fine thanks by  the way.

[2020-05-20 00:46] #608 closed

[2020-05-20 02:22] imabduldev opened #614 "Riadmap"
Have you any plan to implement policy management, multi-tenant option and claim types in upcoming releases?

[2020-05-27 16:38] cdeveloper10 opened #615 "Add New Migration Problem"
### Question
When I Add New Entity in IdentityServerConfigurationDb Context I Got This Error :
______________________________________________________________________
Your target project 'MyProject.Admin' doesn't match your migrations assembly 'MyProject.Admin.EntityFramework.Shared'. Either change your target project or change your migrations assembly.
_____________________________________________

[2020-05-30 18:34] felipebossolani commented on #608
Same here, opened in a anonymous tab and work like a charm.

[2020-05-30 23:24] cjaliaga opened #616 "1.0 Roadmap"
### Question
First of all, thanks a million @skoruba for this awesome project, we are really grateful for it.

Regarding 1.0 I was wondering what's the current status of it as there's a lot of movement yet on the dev branch. Just as curiosity of how stable rc1 currently of course, this is an OSS project done with your free time.

Thanks!!

[2020-06-01 06:27] BinGuoGuo opened #617 "Identity server heathy check name conflict for mysql"
at src\Skoruba.IdentityServer4.Admin.Api\Helpers\StartupHelpers.cs line 317-318

Please change this fragment from
[code]
to
[code]

[2020-06-02 20:54] Durkee commented on #563
It would be great to have this option out of the box.   Also, we have a need to support multiple ADs.

I found an example here: https://deblokt.com/2020/01/24/06-identityserver4-external-providers-net-core-3-1/

Anyone have any code to share?

[2020-06-03 06:13] NiraniK opened #618 "Cannot update extended RoleDto properties from the UI"
We have extended UserDto, RoleDto , UserIdentity and UserIdentityRole to have additional properties.

[code]
We are trying to update the UI to include those so that we can update their values from the UI. We have successfully updated the UI for extended UserDto properties. But for RoleDto it is not working as expected.

When we create a new Role, it saves the data for additional properties. But wh

[2020-06-04 09:13] skoruba commented on #616
Hi @cjaliaga - thanks for your feedback. I would like to release new RC2 this month. :-)

[2020-06-04 09:18] skoruba commented on #614
Hi @imabduldev - thanks for your feedback regarding new features.
My plan is realease new RC2 this month and after that I will send detailed roadmap for this year. :-)

What is the most important from your list of requirements?
Thanks

[2020-06-04 09:19] skoruba commented on #617
Hi @BinGuoGuo - thanks for reporting this issue - please check dev branch, there is already fixed. I will release this bug this month.

Thanks.

[2020-06-04 09:20] skoruba commented on #618
Hi @NiraniK - thanks for reporting this bug - it is already fixed in dev branch, I will release this in this month. Thanks!

[2020-06-04 09:21] skoruba commented on #615
Hi @cdeveloper10 - did you use default .ps1 script for generation of migration?
Thanks

[2020-06-06 09:09] OverQuartzer opened #620 "api error"
### Describe the bug
Skoruba.IdentityServer4.Admin.Api
/api/PersistedGrants/Subjects
error
### To Reproduce
curl -X GET "http://localhost:4397/api/PersistedGrants/Subjects?page=1&pageSize=10" -H "accept: application/json"

### Relevant parts of the log file

[code]

[2020-06-08 20:13] johndcollins opened #621 "Error when user without administrator visits Admin site."
### Question
When I create a user without Administrator and log in to the Identity server everything seems ok.
But if I try and visit the Admin site I get a server 500 error.

Is there a way to prevent this error if the user does not have permissions to the Admin site?

### Relevant parts of the log file

[code]

[2020-06-08 20:18] johndcollins opened #622 "RegisterWithoutUsername issue"
### Describe the bug
If I use the RegisterWithoutUsername functionality there is a problem in the code if there is an error during the registration process. Since RegisterWithoutUsername calls the regular Register process with a new model, if the error returns the model in Register I get an error that the ViewModel should be RegisterWithoutUsernameViewModel not RegisterViewModel.

### To Reproduce

[2020-06-08 20:40] johndcollins commented on #615
I have the same issue. I get these types of errors using the .ps1 script:
`Unable to create an object of type 'IdentityServerConfigurationDbContext'. For the different patterns supported at design time, see https://go.microsoft.com/fwlink/?linkid=851728`

[2020-06-09 11:54] we4sz opened #623 "Recommendation how to send validate email from Admin API"
### Question
First of all, thank you for this project, it have saved me countless of hours in multiple projects!

But I have a question that I never seem to solve in a good way.
How would you recommend me to implement verify email from the Admin API when I create a user.
I can't seem to get the logic for UserManages GenerateEmailConfirmationTokenAsync to work in the API.

The same with the forgot

[2020-06-09 12:08] maheshmore2691 opened #624 "How to use access token for authorization instead of identity token"
### Question
Hello,

I am trying to use `.AddOpenIdConnect()` middleware to integrate IdentityServer4 in AdminUI project, below is configuration options for same.

**Grant Type:** Implicit

AdminUI.Startup.cs file:
[code]
The above code was working as expected but recently I have added custom claims from ID4's user profile service. But I am adding those extra claims which are associated with reque

[2020-06-10 13:21] klyse opened #625 "Cannot create hashed client secret via Admin API"
### Describe the bug
I'm trying to create a client secret via the Admin API.
The secret is created but it's not hashed.

### To Reproduce
POST call to: {{baseUrl}}/api/Clients/:id/Secrets
Body:
[code]

The secret is created but the value is not hashed because the ``HashType`` is not specified.

### Workaround:
[code]

### Possible solution:
[code]

[2020-06-11 19:29] vpetkovic commented on #335
I know this is the old topic - almost year now. Just like @cculver I appreciate so much time and effort it took to build and support the project.

I am getting a bit confused - default config works fine locally in Docker for linux and everything redirects perfectly fine. Problem arises when running on AWS Lightsail instance on Ubuntu 18.04 LTS.

I have setup nginx proxy along with letsencrypt-ngin

[2020-06-11 20:00] b0 commented on #623
Code that makes `GenerateEmailConfirmationTokenAsync` work called even from API is on a dev branch. It's DataProtection. Added [here](https://github.com/skoruba/IdentityServer4.Admin/blob/bfcdfa28c993933e244d3d55bb33ca78e3592f53/src/Skoruba.IdentityServer4.Admin.Api/Startup.cs#L47).

So, I would suggest that you try with latest code available.

[2020-06-12 08:17] BinGuoGuo commented on #501
Is there any update on this feature.
We have an independ user repository，and I think we just need an admin interface to manager it.

[2020-06-12 13:12] we4sz commented on #623
@b0 Perfect! Got this working! Yay!

[2020-06-12 13:12] #623 closed

[2020-06-12 18:28] leninator opened #626 "Multi Tennant Application Causes Timeout To SQL Server When Making Heavy Use Of Redirect URI;s"
Hello,

I am running a multi-tenant application, each tenant uses the same client, but has their own redirect URIS's in the client. Once this number goes above around 80 when clicking to view the client details there is an extreme slowdown in the application when trying to look at the details of the client (/Configuration/Client/<clientId>).

This is occasionally so long the SQL connection times o

[2020-06-12 21:18] skoruba commented on #626
Hi, please check this issue: #536
Thanks for reporting this

[2020-06-13 15:35] berajkumar12 commented on #611
@skoruba links you mentioned here are pointing to dev branch.
Can i make the changes in master ? will that work or it will work only dev branch?

[2020-06-13 17:51] weedkiller commented on #611
@skoruba can I use a composite Key inside there, for e.g. they may look up user with `Drivers License `or  `Passport Number`, since these are unique, I want to put composite , like 3 keys or a tuple.

How would I got about this, please add suggestions.

[2020-06-13 18:23] berajkumar12 commented on #611
@skoruba I just changed as you mentioned in master branch code. But still coloumns are created with text type.

[2020-06-13 19:37] berajkumar12 commented on #611
@skoruba  It works fine now after changing, Postgres migration files.
Id = table.Column<Guid>(nullable: false,type:"uuid")
made changes like this.

[2020-06-15 07:45] skoruba commented on #620
Hi, this is already fixed in the dev branch, I will merge it this month. Thanks for reporting

[2020-06-15 09:12] martinussuherman commented on #590
@skoruba, I did a small change to @jack1232 solution above to allow for either require email confirmation or not, please check.

                await _emailSender.SendEmailAsync(model.Email, _localizer["ConfirmEmailTitle"], _localizer["ConfirmEmailBody", HtmlEncoder.Default.Encode(callbackUrl)]);

                if (_signInManager.Options.SignIn.RequireConfirmedEmail)
                {

[2020-06-15 10:15] martinussuherman commented on #573
@aiscrim, I think @darkfinlay need to set base path in addition to PublicOrigin, that's because by default Kestrel is configured to be at / path.

Here are my suggestions:

Add in _Startup.cs_ before other middleware:
`app.UsePathBase(Configuration.GetValue<string>("BasePath"));`

Add in _appsettings.json_
`"BasePath": "/xxxxxx"`

I think the easiest way to check this kind of error is by viewing h

[2020-06-15 19:15] skoruba commented on #625
Hi @klyse - thanks for reporting this issue - your suggested fix is great - can you please send a PR?

[2020-06-15 19:27] skoruba commented on #624
Hi,
If you want to use claims for your client - you need configure identity resource. Why do you want to use access token claims for your client? Thanks

[2020-06-15 19:30] skoruba commented on #622
Hi, please, can you send a PR which fixed this use case? Thanks

[2020-06-15 19:33] skoruba commented on #621
Thanks for reporting this, let me test it. 😉

[2020-06-15 19:34] johndcollins commented on #622
I just duplicated the code from Register instead of calling Register with a new ViewModel from RegisterWithoutUsername.

[2020-06-15 19:36] skoruba commented on #622
Ok, I will test. Thanks for reporting @johndcollins 👍

[2020-06-16 09:54] martinussuherman commented on #590
I've created PR #627 incorporating some of @jack1232 code.

[2020-06-17 08:00] klyse commented on #625
yep sure: #628

[2020-06-17 14:00] #625 closed

[2020-06-17 17:03] weedkiller opened #629 "Composite Key for Customer Identity Key"
**Use Case:**  _Shared systems/offices need composite keys_ to support Customers/Users with multiple primary keys, such as  between _insurance_, _passport_ office and Dept _Motor Vehicles_.

- For DMV office, the `PK `looksup customer its D.License #
- For Passport office, the `PK `looksup its Passport number
- When Insurance (it could be insurance # or DL #)

We are trying to use @skoruba ID4, Pa

[2020-06-19 03:20] huanbd opened #630 "Extend Client in Skoruba.IdentityServer4.Admin.EntityFramework"
### Question
Hi, I want to extend **Client** model to add an property
[code]
and change interface **IAdminConfigurationDbContext**
[code]
update **ClientRepository** to use **ExtendedClient** instead of **Client**
update implement **IdentityServerConfigurationDbContext**
[code]
but it has error `Invalid column name 'Discriminator'. ` I've try add overide method `OnModelCreating`

[code]
But it not

[2020-06-19 05:26] huanbd commented on #630
Dear, I've resolved this error. In method `OnModelCreating` change to
[code]
I have to add an new property `Ver` in `ExtendedClient` because EF use discriminator column to distinct between base (`Client`) and derived (`ExtenedClient`) model to map to records in database [ Now I understand :(( ].
If not, use `Ver `instead `EnableABC ` I can't update value of `EnableABC ` to database, because discim

[2020-06-19 05:26] #630 closed

[2020-06-19 12:13] tansir123 commented on #579
Hello, I also encountered a similar situation, do not know how to solve?

[2020-06-20 13:54] skoruba opened #633 "Update IdentityServer4 to version 4.0"
More info about new features:

https://leastprivilege.com/2020/06/19/announcing-identityserver4-v4-0/

[2020-06-20 14:05] skoruba opened #634 "Update docker-compose to use https"
It is necesarry to update in dev branch `docker-compose` for `https` scenario.

Good sample is provided from @bravecobra -
https://github.com/bravecobra/identityserver-ui

I would like to use http://127.0.0.1.xip.io - with https for development scenario as well - but currently it does not work properly on my machine - I need spend more time on this.

Currently this feature is blocker for next rele

[2020-06-20 19:27] skoruba commented on #633
Customize UI for `Api Resources` and `Api Scopes` according to new configuration: https://identityserver4.readthedocs.io/en/latest/topics/resources.html#migration-steps-to-v4

[2020-06-21 10:55] thomas-illiet opened #635 "Api endpoint do not return created item"
Hello guy’s

 I use actively your api to insert or update a lot of claims ( 2000000 claims / 300000 users ) and I have two issues for this usage.

- Unable to update claim entity
- Claim identifier is not returned at creation ( global issues on this api )

Kind regards
Thomas

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-06-21 11:25] skoruba commented on #635
Hi,
Can you please send a sample of your Api call?

Thanks

[2020-06-21 14:48] ekjuanrejon commented on #634
Why would you want to run https. I think a reverse proxy like ngix should be in front of the UI that will be using https

[2020-06-21 14:49] ekjuanrejon commented on #634
I think would be good if you make the feature configurable. I want to run the ui inside a kubernetes cluster using http and outside the kubernetes cluster to be access via https

[2020-06-21 16:59] skoruba commented on #634
This is exactly what I want to achieve - configure ngnix for https scenario, ideally with xip.io, without modification host table. 😉 Your scenario will be definetely supported. Thanks for feedback.

[2020-06-21 20:12] thomas-illiet commented on #635
Yop,

You can find in attachment a screenshot of my request ( sorry for that i can't use github on my work computer .... )

![api](https://user-images.githubusercontent.com/2133666/85234224-3204bd00-b40c-11ea-81f6-ab550fda8bb7.jpg)

Kind regards
Thomas

[2020-06-22 08:07] ekjuanrejon commented on #634
Yes. I have done that. I currently use that setup for my local development. I have not use https for local development because I don't have such requirement but I suppose you can use a self-sign cert.

I am using traefik as a reverse proxy. https://docs.traefik.io/https/tls/ I have not used a self-sign cert. Below is my docker-compose

This way I don't have to be editing the host file

version: '3

[2020-06-22 10:21] LiWenZi opened #636 "ef 怎么迁移到远程数据库，命令怎么写？以下命令执行会Build failed."
update-database DbInit -Context AdminIdentityDbContext -Project Skoruba.IdentityServer4.Admin.EntityFramework.MySql

[2020-06-22 10:52] bravecobra commented on #634
Traefik will indeed solve the reverse proxy problem the same way nginx does. Just a different implementation.
The TLS support is a issue for which you will need a certificate somehow, either a really one like Let'sEncrypt or a self-signed one. I think the idea is to be able to verify the TLS support on a dev environment, nothing more. Which kind of cert you use is less relevant I guess. In my repo

[2020-06-22 10:58] ekjuanrejon commented on #634
agreed. i have not tried using the self-signed cert. I am almost sure it will work and I will have https. My point is that the https should be the responsibility of nginx or traefik, not of the skoruba sts.

suppose i want to use Azure Application Gateway infront of skoruba sts

[2020-06-22 11:03] bravecobra commented on #634
True, in my solution the cert is part of nginx,  not the sts.

[2020-06-23 09:24] ekjuanrejon opened #638 "DataProtection in Admin Api"
### Question
Any reason why the dataprotection db is not registered in Admin API. The Startup helper between Admin and Admin api are slightly different

### Relevant parts of the log file
[code]
   <log goes here>
[code]

[2020-06-23 09:27] b0 commented on #638
@ekjuanrejon are you on dev branch and latest code?

[2020-06-23 09:33] ekjuanrejon commented on #638
yes... i think so

[2020-06-23 09:43] b0 commented on #638
@ekjuanrejon  Please be sure about that. Code needed for that is only on dev branch and not yet released as nuget packager nor merged to master. Yet...

[2020-06-23 09:53] imabduldev commented on #614
Sorry for the late reply as I am too much busy on some projects.
From my list of requirement multi-tenant option is most important because we can manage policies somehow in some other ways. So I think it should be done first.

By the way, thanks for asking also, for now, I am bust for 1 or 2 months after this I would like to contribute to this project.

[2020-06-23 12:00] ekjuanrejon commented on #638
https://github.com/skoruba/IdentityServer4.Admin/blob/dev/src/Skoruba.IdentityServer4.Admin.EntityFramework.SqlServer/Extensions/DatabaseExtensions.cs#L55

[2020-06-23 17:33] ekjuanrejon opened #639 "Skoruba.IdentityServer4.Admin.Api should support client credentials?"
### Question
Should Skoruba.IdentityServer4.Admin.Api also support client credentials apart form the implicit flow

I want to currently use Skoruba.IdentityServer4.Admin.Api and I have an api gateway in front of Skoruba.IdentityServer4.Admin.Api. The Authorization Policy is forcing for some claims to be available.

[2020-06-23 21:43] #639 closed

[2020-06-24 03:43] yomunsam opened #640 "When multiple users set the same email, editing role information will be wrong"
### Describe the bug
When multiple users set the same email, editing role information will throw an exception.

### To Reproduce

When multiple users set the same email
![image](https://user-images.githubusercontent.com/24813704/85496627-351bcb00-b60f-11ea-8176-9f307120ee3e.png)

Add role to one of the users
![image](https://user-images.githubusercontent.com/24813704/85496696-55e42080-b60f-11ea-90

[2020-06-24 04:01] skoruba commented on #639
Client credentials flow is already configured there. Does it work for you?

[2020-06-24 04:07] skoruba commented on #640
I will check it, thanks for reporting.

What is your configuration of identity? Do you use for login username or email? Do you configure possibility register same email twice?

[2020-06-24 04:12] yomunsam commented on #640
![image](https://user-images.githubusercontent.com/24813704/85499064-7b732900-b613-11ea-9128-f0c6d5a1cc6a.png)

Use username.

And I  modified the settings of StartupHelpers, will it be related to this?

![image](https://user-images.githubusercontent.com/24813704/85499316-ee7c9f80-b613-11ea-9f84-22db6416657a.png)

[2020-06-24 06:16] skoruba commented on #640
I will test it, thanks for your setup 👍🏼

[2020-06-24 06:51] dantemayson opened #641 "how to send new created cliam to project use skoruba / IdentityServer4.Admin?"
hi ,i create new claim for admin,in project i cant see created(other) claims
![2020-06-24 11_14_54-Window](https://user-images.githubusercontent.com/12047513/85510260-5fb85480-b60c-11ea-8b67-8a5d5f9d073d.png)

claims in project use skoruba / IdentityServer4.Admin
![2020-06-24 11_19_32-Window](https://user-images.githubusercontent.com/12047513/85510547-bfaefb00-b60c-11ea-8006-d869e3da948a.png)

how

[2020-06-24 08:01] #638 closed

[2020-06-26 03:17] vpetkovic commented on #634
I think something along these lines should help and be a good start. Here's the explanation of each container:
 - **nginx-proxy** will route traffic to other containers by providing "VIRTUAL_HOST" environment variable.
 - **letsencrypt-nginx-proxy-companion** will auto-generate valid SSL cert for virtual host. (Using self-signed certs might add complexity and additional config of nginx)
 - **nginx

[2020-06-26 06:40] skoruba commented on #634
@vpetkovic - thanks for your suggestion and sample configuration, I will definitely test it. 👍🏼

[2020-06-26 10:01] skoruba commented on #634
Unfortunatelly I got this error:

[2020-06-26 15:01] vpetkovic commented on #634
I am sorry I wasn't aware of such limitation when using xip.io with letsencrypt specifically, I used it with my own domain before to avoid dealing with self-signed certs and annoyances that comes with it when trying to setup local environment for SSL as well as to have dev resemble prod env as close as possible.
So, it might still be a viable option for POC and pre-release scenarios if you own the

[2020-06-27 12:27] mperk commented on #101
Hey,
I am developing the multi tenancy. I'm so close to finish. You can look [https://github.com/mperk/IdentityServer4.Admin/tree/multi-tenant/src/IdentityServer4.Admin.MultiTenancy](url)

[2020-06-27 14:24] bravecobra commented on #634
That's why I used `mkcert` in my example to generate self signed certificates easily on any. The end-result is basically the same thing. Using `Let's Encrypt` will only work if either your endpoint is internet accessible on port 80 (which for most isn't the case) or the DNS resolves the challenge `Let's Encrypt` requires. If neither of those is available, `Let's Encrypt` won't work and you will ne

[2020-06-27 14:25] bravecobra commented on #634
I increased the buffer in my setup as well.

[2020-07-01 05:57] Janidbest commented on #55
Greatly appreciate your efforts and time on this project.

I was also evaluating JPProject alongside this admin UI project. We are decided to extend the existing IDM/STS to include the Admin area (along with the User Profile). One advantage I see is less maintenance as there is no need of additional client, works with the existing authorization policies (I have broken the parts into permissions ba

[2020-07-02 05:47] luvssti opened #646 "Is it possible to add additional details for user?"
Hi!

I would like to add additional information of users under Identity/UserProfile is it possible and how?

Thank You!

[2020-07-03 11:48] vpetkovic commented on #634
Sorry @skoruba , I haven't had a chance to look at this issue nor play around with self-signed certs as I originally imagined I would, but as you @bravecobra pointed out `mkcert` might be clean and easy way of dealing with it.
I have never used `mkcert` before and will be definitely add this to my arsenal as well, and hopefully this weekend will have a chance to spin those containers up and come u

[2020-07-03 13:40] mperk commented on #101
Hi @skoruba ,
When I look at the IdentityService and IdentityRepository, I saw it used IdentityUser and IdentityRole entities. The entities namespace in the Microsoft.AspNetCore.Identity
I must change IdentityUser and IdentityRole with the UserIdentityRole and UserIdentity in identityservice and identityrepo. Also other identity entities must change. Because they have now TenantId.
Do you have any

[2020-07-05 16:25] sateeshs commented on #135
Any updates on Mongodb

[2020-07-06 04:21] Janidbest commented on #55
@skoruba  do you mind taking a minute on the above query. I just want to make sure about the approach I am going.

[2020-07-06 09:31] sowa111111 commented on #633
@skoruba Is there a chance to see this update in the near future?

[2020-07-06 16:44] skoruba commented on #633
I would like to finish it this month, but my free time is limited 😊

[2020-07-06 23:52] kaleshanagineni opened #647 "None of Picker controls are displaying data"
### Question
seems like  the picker control below is not displaying any scopes in UI. Please let me know what I'm missing here
	<picker id="AllowedScopesItems" multiple-select="true" min-search-text="2"
				        selected-items="@Model.AllowedScopes" url="@Url.Action("SearchScopes","Configuration")?scope"
				        search-input-placeholder="@Localizer["PickerSearchItemPlaceholder"].Value"

[2020-07-07 01:27] chen1tian commented on #636
build失败跟迁移没关系，请编译通过后在执行迁移命令。

[2020-07-07 02:49] tansir123 commented on #633
I'm looking forward to it because I'll use the new version in production first

[2020-07-07 10:53] luvssti commented on #646
Hi Mr. Skoruba! I already added the additional data but how to add save it in the database?

Thank You!
![image](https://user-images.githubusercontent.com/3644600/86770237-f6602900-c082-11ea-9756-c85b8a35d13d.png)

[2020-07-07 19:49] b0 commented on #636
@LiWenZi @chen1tian could you write in English please? Thank you.

[2020-07-08 00:43] kaleshanagineni commented on #647
As dig in more I found out picker component in knockout is not receiving any data from  MVC

[2020-07-08 01:50] luvssti commented on #646
Hi Mr. Skoruba!

Thanks for sharing your code. I've learned a lot. I already figured out how to add and save it in my database.

Thank You!

[2020-07-08 01:50] #646 closed

[2020-07-08 06:27] skoruba commented on #646
Hi @luvssti - thank you for your feedback, that you solved your use case. I will add guide for this. 😊

[2020-07-08 13:50] DaleyKD commented on #634
I'm glad you guys seem to have a path for this.  My local setup (Windows 10) uses https://github.com/nginx-proxy/nginx-proxy and all of my microservices are behind it: 4 "public" web sites, 1 IdentityServer4, 1 Skoruba IdentityServer.Admin, 1 gateway, and about 10 private services.

I wrote a .ps1 to do a lot of prep work to help with the setup.  Things like download OpenSSL to generate a cert to

[2020-07-08 13:52] skoruba commented on #634
@DaleyKD - can you share your setup please? Thanks

[2020-07-08 14:03] bravecobra commented on #634
@DaleyKD yeah, based on your description, I think my configuration is a bit easier, but with the same end result.

[2020-07-08 19:42] elvishsu66 commented on #633
@skoruba, I wonder if it will be a big change to v4 because I use the template to start my implementation.

[2020-07-08 20:21] skoruba commented on #633
@elvishsu66 - I want to provide some guide - how to update from v3 to v4 - but for sure there will be some breaking changes. 😎

[2020-07-08 20:23] skoruba commented on #647
It looks like that your taghelpers are not loaded correctly. Please, check if you have correctly loaded taghelpers in your solution.
Thanks.

[2020-07-08 22:22] elvishsu66 commented on #633
@skoruba, thanks for the heads up, mate. I think I better brace for impacts sooner than later.

[2020-07-08 23:35] luvssti commented on #646
Hi Mr. @skoruba looking forward toit. It will be a big help to have a guide. Thank You very much!

[2020-07-10 09:27] vicentt commented on #640
The problem is having multiple places where you can edit users with conflicting settings.

In the STS project you have

`
 services.AddIdentity <TUserIdentity, TUserIdentityRole> (options =>
                {
                    options.User.RequireUniqueEmail = false;
                })
`

However in the Admin and Api project you can have

`
  services.AddIdentity <TUser, TRole> (options => {opti

[2020-07-10 11:05] skoruba commented on #640
@vicentt - thanks for you feedback regarding this issue - I will go through all app and test it.

[2020-07-11 15:36] seamusic commented on #636
请将你的编译错误截图出来。

[2020-07-14 07:54] nicolamossner opened #648 "Best practices for extending `IdentityService` or `IdentityRepository` or using via Dependency Injection"
### Question

Hello, first of all, thank you for the amazing work on this project!
We are keen to use and extend this project. For example we want to add another claim type to the `access_token` and to do that we created a very similar interface like you have for assigning `roles` to a user, but for assigning `locations` to a user. In our implementation of a new Controller, we want to make use of

[2020-07-14 09:57] b0 commented on #648
Hi @nicolamossner,
as for use of generic types, on `dev` branch some of generic types have been removed... Please check it out.

Best regards

[2020-07-16 15:17] wiksin commented on #624
Postman call authorization to get token always fails, no friends have encountered

Very similar to yours, I want to use js to call the authorization server to get the token

[2020-07-16 19:31] maldworth commented on #633
FYI more details on migration here: https://github.com/IdentityServer/IdentityServer4/issues/4592

[2020-07-16 21:17] johndcollins commented on #615
Has there been any update on this? I can't seem to run any migrations in this project.

[2020-07-16 23:00] hdu7 opened #651 "InvalidOperationException: IDX20803"
Here is the errors.
An unhandled exception occurred while processing the request.
InvalidOperationException: IDX20803: Unable to obtain configuration from: '[PII is hidden. For more details, see https://aka.ms/IdentityModel/PII.]'.
Microsoft.IdentityModel.Protocols.ConfigurationManager<T>.GetConfigurationAsync(CancellationToken cancel)

Stack Query Cookies Headers Routing
InvalidOperationException

[2020-07-16 23:02] hdu7 commented on #636
Identity Server and Identity Server Administration UI
Initial setup steps
1. Build solutions
2. Change Database connection inside
		IdentityServer.Admin->appsettings.json
		IdentityServer.STS.Identity ->appsettings.json
2. Create DB, Run each commands from nuget package console, selected project should be IdentityServer.Admin
        update-database -context IdentityServerConfigurationDbContext

[2020-07-16 23:04] hdu7 commented on #651
![redirectSettings](https://user-images.githubusercontent.com/67653788/87730947-34520100-c797-11ea-986d-34f7e92b93ee.PNG)
![PostLogoutSettings](https://user-images.githubusercontent.com/67653788/87730948-34ea9780-c797-11ea-8ef8-ff8fccd9a5d3.PNG)

[2020-07-16 23:15] hdu7 commented on #651
Azure didn't take ASPNETCORE_ENVIRONMENT value

[2020-07-16 23:15] #651 closed

[2020-07-17 13:29] kroleigh opened #654 "Best Practices: Deploy to IIS"
Hello,

I am looking to publish my solution to IIS in my sandbox environment.  I have a universal certificate that I currently use to host all of my sandbox projects.  My question is about the configuring the validation and signing certificate, and I do apologize if this is a rookie issue.  Do I simply create a self signed certificate on the web server and configure the application to use that cer

[2020-07-17 17:12] plettb opened #655 "ClientCorsOrigins?"
### Question

Is there a reason "Skoruba.IdentityServer4.Admin.BusinessLogic.Services.ClientService.GetClientsAsync" doesn't include the "ClientCorsOrigins"?  Is there a way I can get them using the admin API?

Thanks!
Brad.

[2020-07-17 17:37] plettb commented on #655
Actually, I figured out how to get them (by getting each client by id), but I guess the question remains. :)

[2020-07-17 20:15] darkfinlay commented on #573
@aiscrim I was using an older version that does not have that public origin setting. I used the version that it was recommended by you, installed it at the balanced environment and worked perfectly. obviosly i had to configured that public origin setting as https://xxxxx.xxxxx.xxx

[2020-07-17 20:15] #573 closed

[2020-07-18 15:11] skoruba commented on #634
Done - PR #657. Thanks for your help/suggestions.

[2020-07-18 15:11] #634 closed

[2020-07-19 07:09] shayank commented on #651
hi @hdu7. could you please explain a little bit more about how can I fix this bug?

[2020-07-19 13:25] olayinks commented on #654
i am also interested in this feedback.

[2020-07-19 18:57] kroleigh commented on #654
I think I have this figured out.  It took some digging, which I was hoping to avoid, hence posting here.

It doesn't appear that wildcard certificates are supported at this time, see: https://github.com/dotnet/aspnetcore/issues/21184
So I simply created a self-signed certificate for each of the two operations (Signing and Validation).  As an aside, I generated them on my Windows 10 workstation usi

[2020-07-22 18:30] pavel-usachev commented on #570
Try adding `phone_number` claim to some identity resource, for example `profile`.

![image](https://user-images.githubusercontent.com/540241/88213993-22260600-cc62-11ea-94a7-74075d7ab918.png)

Then ask for this scope and as identity resource you should be able to find it in `id_token` .

![image](https://user-images.githubusercontent.com/540241/88213876-fdca2980-cc61-11ea-8efd-a1f41f6e3a32.png)

[2020-07-22 18:38] pavel-usachev commented on #581
By the way, isn't it strange that code flow can work with PKCE, but when it comes to hybrid flow, `response_type=code (+ smth)`, it turns off PKCE?

This line puzzles me https://github.com/dotnet/aspnetcore/blob/16e25867248cb446bf1bba3f975c6e676b52ba6e/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L369.

[2020-07-22 19:01] pavel-usachev commented on #624
If I get it right, you want to bring identity resources to your `access_token` instead of `id_token` (or both)? Please take a look at `IProfileService` interface (there is base class for it `ProfileService`) and method related to it. You can put everything you want in tokens. But, of course, you should keep your `access_token` smallest as possible.

[code]

[2020-07-24 06:31] adeelansari opened #659 "Hardening Guides?"
### Question
Are there hardening guide or checklist available which can be used for production deployment?

[2020-07-24 11:22] carlblanchard commented on #659
I would be very interested in seeing this guide!!!

[2020-07-24 11:30] carlblanchard commented on #616
Is there any more update on when RC2 will be out ?

[2020-07-24 12:14] skoruba commented on #616
@carlblanchard - I am working on this - PR is in progress #658.

[2020-07-24 12:19] carlblanchard commented on #616
Excellent keep up the good work. Really appreciate it.

[2020-07-24 12:22] skoruba commented on #659
Not you 😊 I will send some guide later, after next release. In the meantime you can check some another guides how to setup IS4 for production and .NET Core app as well. 👍

[2020-07-24 12:23] skoruba commented on #654
Thanks @kroleigh for sharing your experience with IIS deployment.

[2020-07-24 12:40] berendhaan commented on #533
@skoruba We have incorporated Azure Kv generated signing keys in our installation of your (magnificent) admin UI.
It it still rough and needs some more configuration options, but it could be a start for you. Shall I create a PR so you can have look?

[2020-07-24 13:05] skoruba commented on #533
@berendhaan - I would be perfect, could you please send a PR from dev branch?
Thanks!

[2020-07-24 13:33] carlblanchard commented on #565
Could I clarify if this is the same as I get? using RC1

I created all the sites under IIS and created my own wildcard SSL.
In AppSettings for the admin site when IdentityServerBaseUrl is set to an SSL value then health check fails.
[code]
I am using the same SSL cert for all sites as they are subdomains for my test domain. In the admin site is there an SSL check to see if it's a secure connection

[2020-07-24 14:32] berendhaan commented on #533
Done! #660
I've cleaned some stuff up before I made the PR. Haven't tested this implementation but it should work since nothing major was changes.

[2020-07-24 15:06] adeelansari commented on #659
I guess all the best practices of .NET app would apply, but are there any mechanism built in the STS side that would black-list an IP after so many failed authentication attempts?

Would love to help out to prepare hardening guide etc. if needed.

[2020-07-24 15:24] skoruba commented on #659
I do not use any implementation for black-listing of IP addresses. 😊
For sure, please if you can - send a PR with your suggestions or steps how to setup the main parts for production deployment.
Thank 👍🏼

[2020-07-24 15:58] Spookenator commented on #588
I am having the same issue on my side.
What is weird is that the AdminClient is not updating the Log database entry.

[2020-07-25 15:35] chinaniit opened #662 "Is it production-ready?"
### Question
Hi there,

Same with title, I'm going to deploy `IdentityServer4.Admin` to our production environment,  but the package still `rc1` status,  it's stable right now?

Thanks.

[2020-07-26 09:23] Spookenator commented on #588
I just redeployed everything from a new template and it seems to be working.
I think the problem was that when I was seeding the database that i did not update the defaults for identitydata.json and identityserverdata.json.
Everything seems to be working fine now.

[2020-07-27 16:01] vicentt commented on #478
Hey @skoruba!
Do you want to merge the projects or use the Api on AdminUI for the moment?

[2020-07-27 21:27] aznarepse opened #664 "Forgot password fails on email validation"
When trying to reset the password from the Forgot password view,
/Account/ForgotPassword fails if an email on the form **name@domain.co.uk** is introduced with the following error:
An unhandled exception occurred while processing the request.
FormatException: The specified string is not in the form required for an e-mail address.

System.Net.Mail.MailAddressParser.ReadCfwsAndThrowIfIncomplete(stri

[2020-07-27 21:46] aznarepse opened #665 "Is there a built in mechanism to send a reset password link through the API?"
I am creating a new user through the API from a web application registration form and the user and role are created fine. However, the user does not have the password. I know it could go to the Forgot Password link, but, on the application flow, I would like that the user receives an email link to reset his/her password automatically once it is created through the API.

I can see that the function

[2020-07-28 09:01] b0 commented on #665
Hi @aznarepse. No, currently there is no way to send email through API, that needs to be implemented.

Best regards

[2020-07-28 09:17] skoruba commented on #665
@b0 added shared project called Skoruba.IdentityServer4.Shared and there is folder called Email which contains email senders.
These senders it is possible to use in your Api - it is very easy to register these senders in Startup.cs - according to STS, where is already used it.
Thanks.

[2020-07-28 10:15] andrejohansson commented on #142
Any news on this? It would be awesome if we could set allowed cors origins also. Because when using the docker images I have to put the favicon and logo on another domain.

Tried to set ``AdminApiConfiguration__CorsAllowOrigins__0`` to my domain but that setting is only available for the api project and not for sts or admin.

[2020-07-28 10:32] aznarepse commented on #665
Thank you very much for your advise. I'll have a look at the Email senders that you mention.
I also have email helpers built with mimekit. This is normally more reliable than the NET email client implementation.
Sending the email is the easy part, I was hoping to be able to reuse all the mechanism that your implementation has for the link token and link creation and then validation of the link whe

[2020-07-28 10:53] aznarepse commented on #664
My previous comment is misleading. Unfortunately, I made some wrong conclusions... late and tired I am afraid...

It throws the exception always, regardless of the email provided. I have looked at the code in the sender now and I can see that the function SendEmailAsync gets the From address from the settings:

`var from = String.IsNullOrEmpty(_configuration.From) ? _configuration.Login : _configu

[2020-07-28 13:09] ig-sinicyn opened #666 "[AdminApi] PUT /api/Clients/{id} duplicates client claims"
### Describe the bug
HTTP PUT /api/Clients/{id} inserts new claims instead of updating the client claims list.

### To Reproduce
1. Receive client json (we 're using admin api swagger). Example:
[code]
2. Call PUT received json /api/Clients/{id}
3. Call GET/api/Clients/{id}. Claims are duplicated
[code]

[2020-07-28 13:41] aznarepse commented on #664
All right, further debugging here:
The problem is that the code is using the SmtpSettings.Login as 'From' email address and it is hence assuming that it is an email.
However, in my case, the user login name for SMTP is not an email.
Then, if I use an email as user name I have a different exception:

[code]
Which seems the same as this [https://github.com/dotnet/runtime/issues/2174](url), since I a

[2020-07-28 14:40] aznarepse commented on #664
The code in the comment above for SendEmailAsync is from the development branch.
The code in the solution that I am using is:
[code]
Which explicitly uses the Login as From..

[2020-07-29 05:04] khaninejad commented on #555
has same issue

[2020-07-29 07:34] skoruba commented on #555
Please, could you please switch to dev branch and try install project with the newest RC2?
https://github.com/skoruba/IdentityServer4.Admin/tree/dev

[2020-07-29 18:45] ig-sinicyn commented on #625
up. There's possible NRE in the code:
[code]

`clientSecret.HashType.Equals()` will throw if the HashType is null

[2020-07-29 19:04] skoruba commented on #625
@ig-sinicyn - thanks I will check it.

[2020-07-29 19:13] klyse commented on #625
Hi @ig-sinicyn,
thanks for the comment.

@skoruba the code has been refactored already:

[code]

[2020-07-31 03:22] ngaisteve1 opened #667 "How to I access to the Admin?"
### Question
I could start all the 3 projects successfully. All 3 projects can be loaded:

- http://localhost:5001/swagger/index.html
- http://localhost:5000/ (Client)
- http://localhost:9000/ (Admin)

 I access to http://localhost:5000/ (Client) and register new account and it is inserted into database. But for Admin, it first goes to http://localhost:9000/ and later on redirected to http://local

[2020-07-31 08:11] skoruba commented on #667
Yes, for first login - please use your credentials from identitydata.json.
Thanks

[2020-07-31 10:06] skoruba commented on #664
Thank you for your feedback on this. Please tame a loom at dev branch, there was added new field From for Smtp configuration.

[2020-08-01 04:16] khaninejad commented on #555
@skoruba fixed by running this command on windows run:

`Chrome --disable-web-security --user-data-dir=~/ChromeUserData/`

[2020-08-01 12:30] felipeoriani commented on #555
@khaninejad and @skoruba  I have been facing this intermittent problem of IDX21323 with some users and given it is intermittent we are not able to investigate it properly. Is there any User Friendly way to change this configuration the @khaninejad suggested here in Google Chrome or the machine? I want to avoid to ask the users running this command on the prompt as administrator.

@skoruba was it f

[2020-08-01 13:27] jovball opened #670 "Using multiple data providers for different datastores"
I have a business need to separate the IdentityDb datastore onto an Oracle database while the other data stored (Configuration, PersistedGrants, Admin) will be on SQL Server.

I have already created a working project with all of the data stores on Oracle (spoiler alert: future pull request coming later this summer). Can I separate the datastores onto different providers without doing major customi

[2020-08-04 17:09] aznarepse opened #672 "Refresh Token Revocation"
I am implementing a reset password feature in a web application that am developing. I am using your fantastic project as OpenID connect services.

To reset the password, I am using the available end point '/api/Users/ChangePassword' in the API.

I have gone through the code and have even looked at the development branch but I am struggling to assert if a successful request to this end point also r

[2020-08-04 20:18] bravecobra opened #673 "Project tye support"
Microsoft is working on [Project tye](https://github.com/dotnet/tye). It might seem useful to add a `tye.yml` to the root in order to run the complete project this way, fully configured of course.
It should make debugging a bit easier as the projects itself wouldn't have to be dockerized. You would lose the load balancing and reverse proxy options, but just to get a debug-able running instance up

[2020-08-05 07:17] luvssti opened #674 "After login does not redirect to Admin page"
Hi Mr. @skoruba,

I don't know if this is a bug. It was working fine yesterday and did not change any in the settings or configuration. Then suddenly today upon logging in it doesn't redirect to the admin page. Do you have any idea regarding this issue?

Thank You!

[2020-08-05 07:40] skoruba commented on #674
Hi @luvssti
do you get any errors?

[2020-08-05 07:46] lexon0011 commented on #633
I also need a running version for IdendityServer4 V4.0. Is there already a release date for the next version of IdentityServer4.Admin?

[2020-08-05 07:50] skoruba commented on #633
Currently I am preparing the version 1.0.0-RC2 - https://github.com/skoruba/IdentityServer4.Admin/pull/658
- In the next release I will add this upgrade to IS4 version 4, I hope this month. 😊

[2020-08-05 07:58] khaninejad commented on #555
apparently this bug related to Content-Security-Policy.

[2020-08-05 08:07] skoruba commented on #555
@khaninejad - do you have more details about this? Thanks.

[2020-08-05 08:10] luvssti commented on #674
Hi Mr. @skoruba ,

It is working with Microsoft Edge but not in chrome and I also try it on other computer it is working on both browser.. Maybe my google chrome got some problem. I will try to re-install it.

Thank You for the immediate response.

[2020-08-05 10:07] skoruba commented on #674
Could you please switch to dev branch and test it latest RC2? Thanks.

[2020-08-05 12:06] felipeoriani commented on #555
Hey guys,

Considering it is intermittent problem with some users, I have found a way to simulate it. Try to following these steps:

- Go to Chrome
- On url enter with `chrome://flags`
- On the search text look for `Cookies`
- Set the flag `Cookies without SameSite must be secure` to `Disabled`
- Restart chrome

Then if you try to access a client from the project, you will get the error of `IDX213

[2020-08-05 12:52] skoruba commented on #555
Hi @felipeoriani
could you please try latest code from dev branch? I already fixed sime site cookies there and switch solution from http to https.
Thanks.

[2020-08-05 14:10] jovball commented on #670
I've answered this question myself in the best way. I have a working branch that is using Oracle for IdentityDb and SQL Server for the rest. I also have a working branch that is using Oracle for everything. Those will be future pull requests but I'd like to do those after this project is on IdentityServer4 v4.

[2020-08-05 14:13] jovball commented on #633
I am also eager to have this upgrade. Thanks for the time you are putting into this project.

[2020-08-06 00:12] luvssti commented on #674
Hi Mr. @skoruba,

Yes I will try it. Thanks!

[2020-08-06 04:26] fuentco opened #676 "Cannot do login with usename/password in identitydata.json"
Hello, Congratulations for the great project.

I am testing the project but cannot do login with parameter configured in identitydata.json. The username and password should be in Users table or the initial admin login info is in memory?

Thanks

[2020-08-06 05:39] thunguyen1012 commented on #676
You can switch to the dev branch and login successfully.

[2020-08-06 06:01] fuentco commented on #676
Great. Now I can login. Thanks.

[2020-08-06 06:02] #676 closed

[2020-08-06 08:51] b0 commented on #665
@aznarepse I have created #671 which made email senders available in both Admin and API projects. Next, #675 is created which, when merged will make `GeneratePasswordResetToken` functionality from `UserManager` available in Admin and API project.
When these two PRs are merged it will be possible to get and send password reset link through Admin and API projects.

Of course, said functionality alth

[2020-08-06 08:53] b0 commented on #529
As of #671, mail sending is possible from Admin and API projects so I am closing this issue.

Thanks to everyone involved.

Best regards

[2020-08-06 08:53] #529 closed

[2020-08-06 09:13] aznarepse commented on #665
@b() Thank you very much.
I have implemented the logic for the Reset Password token and the email sending in the client back-end. Then, when the resetting flow actually reaches the point where the password is reset, I use the end-point provided by the API project.
I am still in doubt whether the Reset Password end point in the API project revokes any existing refresh token ( see #672) or I have to

[2020-08-06 16:10] phorozan commented on #674
Seems that there was an update on Chrome which blocks cross-site cookies to be set. The error message from the Developer console: "Mark cross-site cookies as Secure to allow setting them in cross-site contexts".

[2020-08-07 07:23] spaasis commented on #570
@pavel-usachev  Thanks, this works! Sorry for the long wait. For some reason phone_number is not instantly mapped in my client application Claims but I see it at the /connect/userinfo endpoint, so I'll close this and try to figure out why every other property (given_name, preferred_username etc.) works out of the box

[2020-08-07 07:23] #570 closed

[2020-08-07 09:44] samBiggs32 commented on #674
Has anyone had any luck with this so far? Also keen for a solution

[2020-08-07 09:56] skoruba commented on #674
Please, try it in dev branch. 😊

[2020-08-07 14:48] phorozan commented on #674
The master branch works with Https. So using the dev branch which provides local Https via nginx should be OK!

[2020-08-07 15:17] samBiggs32 commented on #674
Dev branch is fine, thanks!

[2020-08-07 20:09] skoruba commented on #674
Thanks guys for feedback

[2020-08-08 19:06] skoruba commented on #673
Thanks @bravecobra  for your tip, I will check it. 👍🏼

[2020-08-08 19:19] bravecobra commented on #673
Not much https support yet it seems

[2020-08-09 11:50] #532 closed

[2020-08-09 11:50] #488 closed

[2020-08-09 11:50] #580 closed

[2020-08-10 05:31] skoruba commented on #674
Fixed in master, thanks 👍🏼

[2020-08-10 05:31] #674 closed

[2020-08-10 05:32] skoruba commented on #664
Fixed in master, thanks😊

[2020-08-10 05:32] #664 closed

[2020-08-10 05:33] skoruba commented on #620
Fixed in master, thanks 👍🏼

[2020-08-10 05:33] #620 closed

[2020-08-10 05:34] skoruba commented on #617
Fixed in master, thanks. 😊

[2020-08-10 05:34] #617 closed

[2020-08-10 05:35] skoruba commented on #618
Fixed in master, thanks.

[2020-08-10 05:35] #618 closed

[2020-08-10 05:36] skoruba commented on #590
Merged in master, thanks for your help. 👍🏼

[2020-08-10 05:36] #590 closed

[2020-08-10 05:37] skoruba commented on #586
Fixed in master, thanks.

[2020-08-10 05:37] #586 closed

[2020-08-10 05:38] skoruba commented on #581
Fixed in master. 👍🏼 Thanks

[2020-08-10 05:38] #581 closed

[2020-08-10 05:39] skoruba commented on #560
Fixed in master, thanks 👍🏼

[2020-08-10 05:39] #560 closed

[2020-08-10 05:40] skoruba commented on #554
Fixed in master, thanks for reporting.

[2020-08-10 05:40] #554 closed

[2020-08-10 05:40] skoruba commented on #550
Fixed in master, thanks.

[2020-08-10 05:40] #550 closed

[2020-08-10 05:41] skoruba commented on #545
Fixed in master.

[2020-08-10 05:41] #545 closed

[2020-08-10 05:41] skoruba commented on #572
Fixed in master. Thanks

[2020-08-10 05:41] #572 closed

[2020-08-10 05:44] skoruba commented on #546
Please check new docker compose in master. Thanks

[2020-08-10 05:44] #546 closed

[2020-08-10 05:45] skoruba commented on #544
Merged in master, thanks 👍🏼

[2020-08-10 05:45] #544 closed

[2020-08-10 05:46] skoruba commented on #534
Fixed in master, thanks

[2020-08-10 05:46] #534 closed

[2020-08-10 08:54] bravecobra commented on #673
I recently added [Tye support](https://github.com/bravecobra/identityserver-ui/pull/14) in my repo. Might be useful to take a look.

[2020-08-10 09:39] skoruba commented on #532
Fixed in master branch.

[2020-08-11 00:29] moemura commented on #641
**Configure Resource**
Go to Admin UI.
Click Clients/Resources -> Identity Resources.
Click Add Identity Resource.
Fill the form bellow.
![image](https://user-images.githubusercontent.com/26450395/89842228-3e50ff00-db9f-11ea-885c-fc67ceeb39b7.png)
insert resource name and claims then Save.

**Configure Scope**
Click Clients/Resources -> Clients.
Edit Client
Select Basic Tab
Add additional scope /

[2020-08-12 03:05] cvnfactory opened #677 "Register User"
Hello

Thank you for sharing your work.

There is an error in the register form

https://localhost:44310/Account/Register

1. The button has not the correct text

2. When the user tries to register there is an error:

![image](https://user-images.githubusercontent.com/48703068/89970536-a72b8c00-dc1e-11ea-8d98-5b930a2f06eb.png)

Thanks in advance

[2020-08-12 04:50] skoruba commented on #677
Hi,
What text do you see in button?
Thanks

[2020-08-12 05:34] cvnfactory commented on #677
Hello

Thanks for the response,

it looks like this (my culture is es-CO)

[cid:59b8cfc2-3233-4f1e-8d27-35ad89335af5]

but in the login it is ok

[cid:45bcd815-019b-4fbc-b40a-ecbbfea66be0]
________________________________
From: Jan Škoruba <notifications@github.com>
Sent: Tuesday, August 11, 2020 11:50 PM
To: skoruba/IdentityServer4.Admin <IdentityServer4.Admin@noreply.github.com>
Cc: Stefano Pare

[2020-08-12 05:36] skoruba commented on #677
Could you provide screen? Thanks

[2020-08-12 07:04] skoruba commented on #677
Thanks for reporting, there is a bug, I will fix it.

[2020-08-12 07:10] cvnfactory commented on #677
Thank you

[2020-08-13 10:26] drsmile1001 opened #678 "AuditLog table migration fail while seeding data on MySql (MariaDB 10.5)"
### Describe the bug
Can't use Skoruba.IdentityServer4.Admin to seed data on empty database. It has migration fail.

### To Reproduce
* Host a empty MariaDB 10.5 on localhost.
* Editing `src\Skoruba.IdentityServer4.Admin\appsettings.json`
  * ConnectionStrings replace by `server=localhost;database=IdentityServer4Admin;user=root;password=123456;treattinyasboolean=true`
  * DatabaseProviderConfigura

[2020-08-13 11:23] GitMW opened #679 "beginner’s question , admin web site gets redirected with error."
### Question
Hi
I was hoping someone could help, this is a beginner’s question,
When I try and run the three web site, two get displayed, the api and the Id server, but the Admin website fails to log in and gets redirected to https://localhost:44310/home/error?errorId=.... error Unauthorized_Client.
Looking in the log for STS.Idenity service it has the following error.
Unknown client or not enable

[2020-08-13 12:27] yuft commented on #535
@cculver
thanks a lot for this. I was having infinite redirect with Chrome only and I have TLS termination at Ingress. you solution made Chrome happy!

[2020-08-13 15:15] moemura commented on #678
I did the same workaround for MySQL 8.0.
It's look like bug in Pomelo for dropping primary key without drop autoincrement attribute.

[2020-08-13 15:17] skoruba commented on #678
Hi guys, thanks for reporting this issue - could you please send your solution via a PR?
Thanks.

[2020-08-13 15:19] moemura commented on #679
Did you run => dotnet run /seed on Admin project or uncomment DbMigrationHelpers.EnsureSeedData(host).
It's in the readme.
Most likely it's not seeded.

[2020-08-13 16:52] skoruba commented on #679
Now it is possible to configure seed and db migrations from appsettings.json

[2020-08-14 14:47] GitMW commented on #679
It was a database permissions issue in the end. Thank you for your help,

[2020-08-18 11:11] richieto commented on #501
We are also looking at using this UI but we only need the IdentityServer. Any update?

I think for most of the people looking for this scenario is because they already have an implementation that they would benefit to add a UI on top of. So I would say, drop the seeding considerations. If anyone needs that (starting from scratch without ASP Identity), they could get the quickstart directly from Id

[2020-08-18 15:04] ahmedabdelkafy opened #681 "Forgot your password fails when RequireUniqueEmail is false"
### When we set RequireUniqueEmail = false in the appsettings.json and allow users to repeat the email with different accounts then "Forgot your password" page with "Email" option not sending any email.
I think "User Name" as textbox must added with the "Email" Textbox in this case or email option must be disabled.

### To Reproduce
1- Change RequireUniqueEmail in the appsettings.json of Admin UI

[2020-08-18 22:05] mike-rowley opened #682 "SignOut Causes Cors Error"
This is a great project, thank you for maintaining it and taking the time to look at this question.

I have spent most of the day trying to get SignOut to work on my ASP.Net Core 3.1 Razor project.  Currently running in development off of localhost.

Here is the SignOut call:
`            return new SignOutResult(new[] { "oidc", "Cookies" });
`
I have also tried and about two dozen other vague sug

[2020-08-19 12:36] bravecobra opened #683 "Event Extensibility through hooks"
Suppose we want to extend the ProfileService, but we don't want to recompile the source code and just use the existing docker image made from this repo. How can we extend functionality, like adding extra claims to the access token coming from an external service, without having to recompile?

Typically you would write a new class in C# to extend the ProfileService and recompile, like [this example

[2020-08-20 09:20] skoruba commented on #501
@richieto - I will do it, but later, I do not have a time for this feature now.
I will put all my free time for updating IS4 to version 4.

The PR for this issue is welcome fore sure. 😊

Thank you for your interest and I hope that somebody will help.  👍

[2020-08-20 09:22] skoruba commented on #681
@ahmedabdelkafy - thanks for reporting this issue, I will check it.

[2020-08-20 09:41] skoruba commented on #683
@bravecobra - thanks for your idea - I think it is really interesting - I will explore more details.

[2020-08-20 13:57] DaleyKD commented on #633
Thanks for all you do!

We went to IdS4 v4 in production this week, meaning we had to leave this project behind for a while.  Looking forward to it getting caught up.

[2020-08-20 18:12] archiebunclt opened #684 "Unexpected behavior from AddClientSecretAsync compared to AddClientAsync in ClientRepository"
AddClientAsync returns the id of the client that was created while AddClientSecretAsync returns the result of calling AutoSaveChangesAsync. In my case I am always seeing a secretId of 1 since that is the number of items I am adding to the database.

Creating a custom ClientRepository and overriding AddClientSecretAsync has solved my issue, but I did have to duplicate the AutoSaveChangesAsync metho

[2020-08-22 10:09] carlblanchard opened #685 "Admin site on a test server with self generated SSL certificate."
### Question
I have set up (published via dev-ops release) RC2 on a local test server using IIS and when accessing the admin site I get this error.
[code]

The identity service is working fine behind SSL I was wondering that's because in STS you can set invalid certificates?
 "CertificateValidOnly": false,

When I run the healthcheck on the admin domain, I get this value

"Identity Server": {
"dat

[2020-08-24 09:46] luvssti opened #686 "How to Add new properties in Profile"
Hi Mr. @skoruba ,

I already read this https://github.com/skoruba/IdentityServer4.Admin/issues/308 but got problem.

Can you please guide me?

I already added my new property SysUId and EmployeeID in IndexViewModel
But when I click save button it doesn't add or update.

How to save and add it to my token?

Thank You!

[2020-08-24 14:07] justmatt25 commented on #685
I am encountering a similar issue using the latest release the docker-compose file and self-signed certs. I can navigate to the sts service just fine but when I attempt to navigate to the admin-ui I get the following error:
![image](https://user-images.githubusercontent.com/28732959/91053880-7d487100-e5f1-11ea-8ea4-6c63bf913eb7.png)

The odd thing is that I can successfully navigate directly to th

[2020-08-24 14:13] carlblanchard commented on #685
I am so glad I'm not the only one then, I've been pulling my hair out for the past few days.
I think I have tried pretty much everything, apart from buying a real certificate.

[2020-08-24 14:59] skoruba commented on #685
Hi guys,
I have solved some similar issue when I worked on docker stuff with self-signed ssl cert.
The key point was that I had to add CA cert to the each part container. Check this one: https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Program.cs#L22
And configuration here:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/docker-comp

[2020-08-24 15:19] justmatt25 commented on #685
Ok so my problem seems to have been that when I added the self-signed certs and the CA certs I didn't name the ca certs the exact correct value of cacerts.pem and cacerts.crt so it couldn't find it

[2020-08-24 16:53] carlblanchard commented on #685
@skoruba I am trying to deploy directly to IIS away from docker.
@justmatt25 Out of interest how are you generating your certs? I used PowerShell
[code]

[2020-08-24 17:12] justmatt25 commented on #685
@carlblanchard I used mkcert per the documentation in the readme.md file of the project.

I am also using a wildcard cert so I don't think that is the issue. The key step that I didn't do correctly the first time was that although I exported the certs I didn't correctly export the CA cert. I just had to search through my filesystem to find the CA cert since it autosaved to an obscure location.

[2020-08-24 22:11] carlblanchard commented on #685
I've tried. I've tried so hard. I used MKCERT to no avail. I just gave up and purchased a certificate. boom, everything works perfectly now. Should have done that three days ago lol

[2020-08-24 22:11] #685 closed

[2020-08-27 04:31] chsword opened #688 "[admin]Allowed Cors Origins should be validate format."
### Describe the bug

Client  - Settings - Token -Allowed Cors Origins
 When an illegal domain name is entered ，eg:        www.xxxx.com
This will result in an error in the entire client authentication, and identityserver4 will not prompt the details of the error

[2020-08-27 05:49] skoruba commented on #688
Could you send a PR for this? Thx

[2020-08-27 06:01] chsword commented on #688
@skoruba OK

[2020-08-27 11:24] skoruba commented on #688
It would be perfect add validator through library - (https://fluentvalidation.net) - and create for example new Validator called ClientValidator. 😊
Thanks

[2020-08-27 11:30] skoruba commented on #684
Hi @archiebunclt
thanks for your points. The ideas was - for some cases I returned entity Id and for some cases I return 1/0 according to result from AutoSaveChanges.
If the result is 0, it is necessary to call SaveChanges manually. 😊
But I wondered about this implementation and I will update all methods and return entity id, which is much more clear.
Thanks

[2020-08-27 12:35] maqeelqureshi opened #689 "AutoMapperMappingException: Missing type map configuration or unsupported mapping."
Following Mapping types are missing,

UserIdentityRoleClaim -> RoleClaimDto`1

PagedList`1 -> IdentityRoleClaimsDto

PagedList`1 -> IdentityRoleClaimsDto

### To Reproduce
Clone code,
Run migration and seed
Add Role claims

[2020-08-27 12:47] skoruba commented on #689
Thanks for reporting this issue, did you faced this issue with latest version from master?
Thanks

[2020-08-27 13:10] maqeelqureshi commented on #689
Yes, its is producible on master branch.

[2020-08-27 13:19] skoruba commented on #689
Ok, let me check it. Can you send a PR with your fix? Thanks

[2020-08-27 13:43] maqeelqureshi commented on #689
Not sure how to create pull request from source-tree.

Adding following mapping to IdentityServer4.Admin\src\Skoruba.IdentityServer4.Admin.BusinessLogic.Identity\Mappers\IdentityMapperProfile.cs resolves this issue,
            CreateMap<UserIdentityRoleClaim, RoleClaimDto<TKey>>(MemberList.Source);
            CreateMap<RoleClaimDto<TKey>, UserIdentityRoleClaim>(MemberList.Source);
            Cr

[2020-08-27 15:04] skoruba commented on #689
Oki, I will add it manualy. Thank you @maqeelqureshi  👍

[2020-08-28 11:22] zinkpad opened #690 "Error deleting logs and auditlogs"
On dev branch I cant delete auditlogs and logs by date because datepicker locale for spanish language 'es' is not included in gulpfile.js and dateformat is in english format, but the AspNetCore culture is established  as spanish, then the viewmodel cant be validated on controller and always show an error due wrong date format.

To avoid this issue I just added this line to gulp file:

function pro

[2020-08-29 06:26] skoruba commented on #690
Thanks for reporting this issue, could you please send a PR with this fix?

[2020-08-29 08:27] zinkpad commented on #690
Yes, sure... you can check it at https://github.com/skoruba/IdentityServer4.Admin/pull/691

Thanks.

[2020-08-31 18:12] evandronecnat commented on #183
Chinaq resolution resolve my problem. In IDS.STS.Identity -> Startup.cs

            app.UseStaticFiles();
            app.UseCookiePolicy(new CookiePolicyOptions { MinimumSameSitePolicy = SameSiteMode.Lax });
            UseAuthentication(app);
            app.UseMvcLocalizationServices();

[2020-08-31 19:17] tojosmarce opened #692 "Skoruba problem with Google Chrome"
Hi,

I have a IdentityServer4 template with Skoruba. This work very good with Firefox, Opera, Edge; however, when I use Google Chrome an have problems.

I run the application and the login page and I write username and password and nothing happen. I don't get principal page Skroruba or an authentication error message.

What could be the problem?

[2020-08-31 19:50] fuentco commented on #689
Hello,

Could you point me in the direction to solve this issue? I see that UserIdentityRoleClaim class (Skoruba.IdentityServer4.Admin.EntityFramework.Shared.Entities.Identity) is empty.

Regards,

erick

[2020-08-31 20:18] skoruba commented on #692
Hi, do you use latest version from master branch?
Thanks

[2020-08-31 20:32] tojosmarce commented on #692
I used this sentence to create: dotnet new -i Skoruba.IdentityServer4.Admin.Templates::1.0.0-rc1-update2

[2020-08-31 20:34] skoruba commented on #692
Please, try use following latest version:
dotnet new -i Skoruba.IdentityServer4.Admin.Templates::1.0.0-rc2-update1

[2020-08-31 20:36] tojosmarce commented on #692
Thank you. I am going to try that.

[2020-08-31 21:35] tojosmarce commented on #692
It works! Maybe, do you know what differences there are between code in Skoruba.IdentityServer4.Admin.Templates::1.0.0-rc1-update2 and Skoruba.IdentityServer4.Admin.Templates::1.0.0-rc2-update1 to make these changes in my initial solution?

[2020-09-01 17:41] berajkumar12 opened #693 "API Error : Missing type map configuration"
### Describe the bug
User/PostChangePassword,
on this line:

var userChangePasswordDto = _mapper.Map < TUserChangePasswordDto > (password);

UserChangePasswordApiDto < TUserDtoKey > to UserChangePasswordDto < TUserDtoKey >

### Relevant parts of the log file

AutoMapper.AutoMapperMappingException: Missing type map configuration or unsupported mapping.

Mapping types:
UserChangePasswordApiDto`1 ->

[2020-09-01 17:43] skoruba commented on #693
I will check it, are you able to send a PR?
Thanks

[2020-09-01 17:46] berajkumar12 commented on #693
Not able to find fix.

[2020-09-01 17:47] skoruba commented on #693
Oki, I will find it and fix it. Thanks for reporting

[2020-09-01 18:54] berajkumar12 commented on #693
I temporarily fixed on my application by creating UserChangePasswordDto < TUserDtoKey > object directly instead of Mapper. Please do share fix for mapper.
or
tips to fix where i can raise PR

[2020-09-03 05:43] jaryway commented on #183
I also have the same problem. if using https everything is fine. but using http login will redirecting back to login page!

[2020-09-03 06:38] skoruba commented on #183
For sure, https is required. 😊

[2020-09-04 17:12] berajkumar12 opened #694 "LoginConfiguration as Email is not working for Password Grant flow"
### Describe the bug
I made LoginConfiguration as Email to login with Email instead of username.
Implicit flow or hybrid  flow through authorize works fine. it does not allow to login with username
But Password grant flow is not working. I mean token end point.
It does not allow to login via email.

I checked
[https://github.com/skoruba/IdentityServer4.Admin/pull/152](#152 )

Those changes more re

[2020-09-10 09:44] carlblanchard opened #695 "SonarCloud code review"
Hi Mr Skoruba.  This is not a dig or in any way trying to be detrimental to the project.
I love the work that's been done here. I have a SonarCloud review of my code base which also includes this project.
This morning I've reviewed the what's showing up and I was wondering how I could make this information useful to you and your team. Is this something of interest to you?

![image](https://user-im

[2020-09-10 11:10] cyril-iselin commented on #692
Im not sure, may this change is related ?

https://github.com/skoruba/IdentityServer4.Admin/blame/master/src/Skoruba.IdentityServer4.Shared/Authentication/AuthenticationHelpers.cs

[2020-09-10 11:12] zinkpad commented on #689
Hi,

I added these lines to IdentityMapperProfile.cs to resolve automapper exceptions with UserLoginInfo -> UserProviderDto (when you list user providers) and RoleClaimDto exceptions:

`            // Fix user providers error
            CreateMap<UserLoginInfo, UserProviderDto<TKey>>(MemberList.Destination);

            // Fix role claims
            CreateMap<IdentityRoleClaim<TKey>, RoleClaimD

[2020-09-10 11:17] skoruba commented on #695
Hi @carlblanchard - thank you for you feedback, I appritiate any improvements - I will check it. :-)
Honestly I do not know this tool and it looks very interesting. I will scan this solution as well and go through the warrnings.

[2020-09-10 11:22] carlblanchard commented on #695
The service I use is SonarCloud.io as this project is a public project you'd be able to get it for free.   https://sonarcloud.io/pricing

[2020-09-10 12:40] skoruba commented on #692
Yes, this is related fix. 👍

[2020-09-10 12:41] skoruba commented on #695
Thanks for your tip, I will check it.

[2020-09-10 15:52] Felipefuji opened #696 "Help with external provider connection Azure AD"
Hello, I have made the connection adding the OIC configurations, but when I click on the button generated on the login page, it returns this error. Attached images of the code and the error.

![Captura](https://user-images.githubusercontent.com/33207748/92757489-13b8b880-f38e-11ea-85a6-e18007257a7b.PNG)

![Anotación 2020-09-10 174518](https://user-images.githubusercontent.com/33207748/92757493-145

[2020-09-10 16:04] Walid-Abdulrazik opened #697 "RegisterWithoutUsername view bug after form Post, if ModelState have errors."
### Describe the bug
RegisterWithoutUsername view have a bug after form Post, if ModelState have errors, the form throws an exception because after failed register action the error is passed to the view along with the wrong model type

trying to return to RegisterWithoutUsername View with a RegisterViewModel instead of RegisterWithoutUsernameViewModel

### To Reproduce
Steps to reproduce the behav

[2020-09-10 16:44] Walid-Abdulrazik commented on #677
I have a proposed fix

https://github.com/skoruba/IdentityServer4.Admin/pull/698

sorry for the repeated issue https://github.com/skoruba/IdentityServer4.Admin/issues/697 , i did not see this issue untill i posted mine ...

[2020-09-10 17:05] Walid-Abdulrazik opened #699 "RegisterWithoutUsername view has a localization Bug"
### Describe the bug
Localization bug
all labels show english code names for all translations

### To Reproduce
Steps to reproduce the behavior:
just open the form after setting the appsettings.json ResolutionPolicy = Email

### Relevant parts of the log file

[code]

[2020-09-10 17:52] tojosmarce commented on #692
Hi Skoruba. I used dotnet new -i Skoruba.IdentityServer4.Admin.Templates::1.0.0-rc2-update1 and it works correctly to login within Skoruba; however I created a client for a web application and it works in Edge and Firefox , but I continue with problems Chrome and now in Opera.

1. Chrome: I get an error after login page (error 500): http://localhost:3000/signin-oidc
2. Opera: I dont get the login

[2020-09-10 20:26] Felipefuji opened #701 "Help with external provider connection Azure AD"
Hello, I have made the connection adding the OIC configurations, but when I click on the button generated on the login page, it returns this error. Attached images of the code and the error.

![Captura](https://user-images.githubusercontent.com/33207748/92757489-13b8b880-f38e-11ea-85a6-e18007257a7b.PNG)

![Anotación 2020-09-10 174518](https://user-images.githubusercontent.com/33207748/92757493-145

[2020-09-10 21:46] eugv86 commented on #73
using UseRowNumberForPaging() does not seem to work anymore. Any Ideas? @skoruba @MikhailKrasnobaev

[2020-09-11 05:07] spaasis commented on #570
Followup: Had to add this to the my ASP app to get the mapping to work:
[code]

[2020-09-11 13:59] cyril-iselin commented on #692
@tojosmarce
We get similar behaivor in **chrome** when you create the cookie on identyserver which is runnig under **HTTPS** and your Application then is running under Localhost **(HTTP)**

(When you do this, you have to disable in chrome the security option **"cookies-without-same-site-must-be-secure"**)
-> This will affect all sites not only localhost (...)

[2020-09-11 15:44] tojosmarce commented on #692
Thank you cyril-iselin.

When we use Skoruba with https and our application with https too, it works correctlty. The problem is when Skoruba runs with https and our application with http. Any idea how can I configurate this? Or How do I do when Skoruba runs on http too?

[2020-09-11 16:19] cyril-iselin commented on #692
May I'm wrong, but I think this is related to the security setting of the browser. Chrome does not allow transfer cookies from HTTPS to HTTP per default (see my comment about _cookies-without-same-site-must-be-secure_) . I don't think you can handle this within your code.

I think http to http should not be an issue (never tested it).

[2020-09-11 16:40] skoruba commented on #692
@tojosmarce - why do you need http? Thanks

[2020-09-12 09:20] skoruba commented on #666
Thanks for reporting this issue:
for updating ClientClaims is special endpoint called: api/ClientClaims/

[2020-09-12 12:18] #678 closed

[2020-09-12 12:19] skoruba commented on #699
Thank you! Fixed in 1.0.0-rc3 #703

[2020-09-12 12:19] #699 closed

[2020-09-12 12:20] skoruba commented on #697
Thank you! Fixed in 1.0.0-rc3 #703

[2020-09-12 12:20] #697 closed

[2020-09-12 12:20] skoruba commented on #693
Please, check master branch - I tested this feature and everything works great.

[2020-09-12 12:20] #693 closed

[2020-09-12 12:20] skoruba commented on #690
Thank you! Fixed in 1.0.0-rc3 #703

[2020-09-12 12:20] #690 closed

[2020-09-12 12:21] skoruba commented on #689
Thank you! Fixed in 1.0.0-rc3 #703

[2020-09-12 12:21] #689 closed

[2020-09-12 12:21] skoruba commented on #681
Thank you! Fixed in 1.0.0-rc3 #703

[2020-09-12 12:21] #681 closed

[2020-09-12 12:21] skoruba commented on #677
Thank you! Fixed in 1.0.0-rc3 #703

[2020-09-12 12:21] #677 closed

[2020-09-12 16:24] tojosmarce commented on #692
We app had some problems with docker and https, however I am making some changes for https.

[2020-09-13 17:14] DavidDury opened #704 "Projects purpose"
Hi,

Thanks a lot for this excellent work. I am trying to learn more and more about IdentityServer and this whole concept so please bear with me. I have some hard time understanding the purpose of the following projects:
- Skoruba.IdentityServer4.Admin.Api
- Skoruba.IdentityServer4.Admin.Api
- Skoruba.IdentityServer4.STS.Identity

Can somebody clarify that to me?

[2020-09-13 17:47] skoruba commented on #704
https://github.com/skoruba/IdentityServer4.Admin#solution-structure Please check solution structure

[2020-09-13 17:58] DavidDury commented on #704
Sorry for wasting your time mate! My fault here!

[2020-09-13 17:58] #704 closed

[2020-09-13 17:58] DavidDury commented on #704
Solved

[2020-09-13 17:59] skoruba commented on #701
Please check this article - how to setup azure ad: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp

[2020-09-13 18:00] skoruba commented on #704
No problem, if you will have any issue, let me know.

[2020-09-13 18:03] skoruba commented on #694
If you switch to login via email - the idea was that after registration will be used email as username.

[2020-09-13 18:10] skoruba commented on #679
Thank you for your feedback.

[2020-09-13 18:10] #679 closed

[2020-09-13 18:11] skoruba commented on #667
I am closing this issue, feel free to reopen. Thnx

[2020-09-13 18:11] #667 closed

[2020-09-13 18:12] skoruba commented on #670
This is interesting idea, I will think about it, it should be absolutely possible to extent current setup around db providers.

[2020-09-14 13:28] KiritoStudio opened #705 "How to get the username in access token"
### Question

Hi, I'm new in identityserver4. My request is like the following below:

![image](https://user-images.githubusercontent.com/553215/93091585-e42ce780-f6d0-11ea-8cfc-7c74c70c4a8c.png)

I know the sub is the userid, but I could not get the username. Is there anyway I can get the username or even email or mobile in access token without send http request to the userinfo endpoint?

[2020-09-14 15:47] DavidDury opened #706 "Guidance"
For the following scenario:

I have an API with two endpoints, how can I protected them using your solution, and how can I grant access to one user to one endpoint only and to another user to the second endpoint?

And what is the purpose of a consent here?

Please bear with me I might ask stupid questions but I am trying to understand this concept.

[2020-09-15 08:52] Felipefuji commented on #701
If I use the integration specified in the associated documentation, the _singInManager.GetExternalLoginInfoAsync () method always returns null.

[2020-09-15 09:54] mitirazvan commented on #701
Hi, in our case we have the following configuration:
![image](https://user-images.githubusercontent.com/18382083/93193980-36611d80-f750-11ea-8873-1c0dfc5b6bb9.png)
And in the appsettings.json we have this configuration:
![image](https://user-images.githubusercontent.com/18382083/93194141-6b6d7000-f750-11ea-8239-0dc49bd07249.png)

We had some issues with the creation of the external user (AutoProvi

[2020-09-15 10:44] Felipefuji commented on #701
I am finally using this code. With it I have been able to solve the problem of _signInManager.ExternalLoginSignInAsync ().
I don't know if it's the best option but it worked for me.

`

`

[2020-09-15 18:23] vicentt commented on #706
This is a general Authorization/Authentication question.
I will try to explain how you can aproach. If you are using Asp.Net authentication and authorization  or other OAuth an OpenId based system you should use politics or role based authorization to grant access to users to diferent places of your app.

This project provides you with what you need to have an identity system and its complementary

[2020-09-16 17:51] vicentt commented on #705
you can add your custom claims to your access token. Something like this
[https://community.auth0.com/t/is-there-a-way-to-include-username-as-a-claim-using-resource-owner-password-grant-access-tokens/18769](url)

[2020-09-20 15:00] #705 closed

[2020-09-21 20:48] RioloGiuseppe opened #709 "Configure register and logout callback"
I'm using skoruba as identity server for my application.
I made a client with following configuration
- Require Pkce
- Allow Access Token Via Browser
- Allowed Scopes: [ openid. profile, `api-scope`]
- Redirect Uris to localhost (login)
- Allowed Grant Types: [implicit]
- Front Channel Logout Session Required
- Back Channel Logout Session Required
- Enable Local Login
- Post Logout Redirect Uris t

[2020-09-24 07:18] cossth opened #710 "Error during migration generation in Linux based machines"
### Description
add-migrations Script is creating folder with forward slash in linux machines.
Linux Supports file names with special characters like Colon or Forward Slash. When We are adding Migrations first migration is successful. All consequitive migrations fails.
Here is the log to support the issue.
[code]

### To Reproduce
Steps to reproduce the behavior:
(On a linux machine)
* Use [Powers

[2020-09-24 07:25] cossth commented on #710
I tried replacing Backwards Slash (\) with Forward Slash(/) in `build/add-migrations.ps1` . It worked in both Linux and Windows. Sorry I can't test on mac.

Updated code looks like this.
[code]

I can create a PR after reviewing other scripts.

[2020-09-24 07:34] skoruba commented on #710
@cossth - thank you for reporting this issue on linux

[2020-09-26 01:12] alifaaz opened #712 "how Search using custom field at aspNetUsers"
### Question
hi team so much appreciation for yr effort on this awsome project.

Iam extending the current search to search new field for users like #userHomeTown i add this field to #Skoruba.IdentityServer4.Admin.EntityFramework.Identity but cant access it from here
`           Expression<Func<TUser, bool>> searchCondition = x => x.UserName.Contains(search) || x.Email.Contains(search)||x.PhoneNum

[2020-09-26 10:57] skoruba commented on #622
Solved in master branch. 😉👍

[2020-09-26 10:57] #622 closed

[2020-09-26 10:58] skoruba commented on #647
I am closing now, feel free reopen. Thank you

[2020-09-26 10:58] #647 closed

[2020-09-26 10:59] skoruba commented on #636
I am closing now this issue, feel free reopen. Thanks

[2020-09-26 10:59] #636 closed

[2020-09-26 11:01] skoruba commented on #583
This is solved in master branch. Thank you 😉👍

[2020-09-26 11:01] #583 closed

[2020-09-27 06:18] skoruba commented on #557
I am closing this. Feel free reopen. Thank yoh

[2020-09-27 06:18] #557 closed

[2020-09-27 06:19] skoruba commented on #541
Fixed in master. Thanks👍🏼

[2020-09-27 06:19] #541 closed

[2020-09-27 06:21] skoruba commented on #527
I am closing this, feel free reopen. Thank you.

[2020-09-27 06:21] #527 closed

[2020-09-27 06:22] skoruba commented on #522
I am closing this for now, feel free reopen. Thank you.

[2020-09-27 06:22] #522 closed

[2020-09-27 06:24] skoruba commented on #474
This was rewritten - please check master branch. Thank you.

[2020-09-27 06:24] #474 closed

[2020-09-27 06:26] skoruba commented on #413
Done in master.

[2020-09-27 06:26] #413 closed

[2020-09-27 09:44] RioloGiuseppe opened #713 "CORS allow * not working"
Using `*`or `'*'` as Allowed Cors Origins in Token tab in client configuration i have in browser:

`Access to XMLHttpRequest at 'https://login.********.com/connect/token' from origin 'http://localhost' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

![image](https://user-images.githubusercontent.com/6390660/94361687-8c21b800-00b6-11e

[2020-09-28 10:04] skoruba commented on #258
Done in master. Thx

[2020-09-28 10:04] #258 closed

[2020-09-28 10:05] skoruba commented on #202
Done in master. Thx

[2020-09-28 10:05] #202 closed

[2020-09-28 10:05] #158 closed

[2020-09-28 16:14] ev100 commented on #633
Hi, we are also kind of waiting for this new release, when do you think this will be ready?

[2020-09-28 17:38] skoruba commented on #633
Hi guys, I am finishing release 1.0.0. which is prerequisite for this update. I will start working on this update next month, there is a lot of things to do. 😊👍🏼 sorry for delay, but I was busy. 😎 thanks for your interest. I will send some preview ASAP. 🙋🏻‍♂️

[2020-09-28 17:46] ev100 commented on #633
No worries I was just wondering. Thanks for replying!

[2020-09-29 19:37] AksharX opened #714 "External Provider (AAD) Logout Loop"
When logging with a Provider that supports Sign-out, we are running into an infinite loop of prompting logging in and logging out. I initiate a logout from my SPA. It does not show the logoutPrompt, it sees that the user is Authenticated so it signs out of Identity Server and the following is called:

`await _signInManager.SignOutAsync(); `
`await _events.RaiseAsync(new UserLogoutSuccessEvent(User

[2020-09-29 19:49] gzinger commented on #714
Just to add to the point, in the following code:
`...
	[HttpGet]
        public async Task<IActionResult> Logout(string logoutId)
        {
            // build a model so the logout page knows what to display
            var vm = await BuildLogoutViewModelAsync(logoutId);

            if (vm.ShowLogoutPrompt == false)
            {
...`
the BuildLogoutViewModelAsync(logoutId)  call checks if user

[2020-09-30 19:22] skoruba commented on #714
Hi guys,
Thanks for your reporting. I think it is similar issue which solved @zinkpad in #707 - I will test it and send back the feedback.

[2020-10-01 06:49] martinussuherman opened #716 "Add Delegation Flow/Grant Type"
**Is your feature request related to a problem? Please describe.**
- I have front end client that calls an API. This API (API 1) needs to call another API (API 2) on behalf of the interactive user . This will require a Delegation Grant Type for API 1 to call API 2.

**Describe the solution you'd like**
- Enable the use of Delegation Grant Type for client(s).  Reference: https://identityserver4.rea

[2020-10-01 15:31] martinussuherman commented on #695
@skoruba fyi  https://github.blog/2020-09-30-code-scanning-is-now-available/

[2020-10-01 16:43] skoruba commented on #716
Merged and prepared for RC4. Thank you 😊👍🏼

[2020-10-01 17:36] weedkiller opened #718 "Options to Admin from Identity Server"
Hello there was a major announcement today that IdentityServer its **no longer free** going forward.

I work for mom and pops stores who cant afford to be in this position. There was a huge commitment to using your framework and lot of work has gone in by @skoruba  and others here.

So, for the health of the project we need to see an option to use a different backend other than Identity Server. I

[2020-10-01 18:46] aykutkaskaya commented on #602
Hi @skoruba and @murattdogan
Is there any update about Turkish Localizations?

[2020-10-01 23:31] skoruba commented on #718
I think it won’t be an issue, it will be possible to use IS but you will need buy the license according to your requirements.
I will observe the details around this update and I will see what will be possible to do. 😊

[2020-10-02 10:56] martinussuherman commented on #716
Closing since already merged to dev branch. Thanks @skoruba

[2020-10-02 10:56] #716 closed

[2020-10-02 11:06] marisks opened #719 "JWT tokens for Information Exchange"
### Question

Does Identity Server and IdentityServer4.Admin support JWT tokens for Information Exchange?

We need to use a 3rd party service that expects our application to send a request with a JWT token that is signed with our private key. The 3rd party service will then validate that the request is issued by us - it will locate a public key in JSON Web Key Sets at our site and then verify the

[2020-10-02 11:14] martinussuherman commented on #718
@weedkiller I think IdentityServer4 will still be free, cmiiw.
This is what [their github](https://github.com/IdentityServer/IdentityServer4) says (emphasis added): As of Oct 1st 2020, we started a new company. All new feature work will happen in our new organization. **The new Duende IdentityServer** is available under both a FOSS (RPL) and a commercial license.

[2020-10-02 14:51] DaleyKD opened #720 "Heads up: Future of IdentityServer"
https://leastprivilege.com/2020/10/01/the-future-of-identityserver/

IdentityServer 5 will be licensed.  I just thought you should know in case you missed it.

[2020-10-02 16:44] selangley-wa opened #721 "Paging through search-filtered results does not retain the filter"
### Describe the bug
After entering a search value, if the number of results spans more than one page, advancing to a subsequent page does maintain the search filter.

### To Reproduce
Steps to reproduce the behavior:
1. Go to a screen such as Roles and add enough entries containing a particular search string such that the total number of entries span more than one page.
2. Enter the search string

[2020-10-02 18:39] Sephit commented on #718
It is expensive as it sounds with 1,500 USD /year, i believe the price tag is for SaaS right?  If anyone work (like me) in small projects, this price will be a real problem. Is there any "low" alternative for small business?

[2020-10-02 19:10] larsfjerm commented on #718
What about an integration with https://github.com/openiddict/openiddict-core ?

[2020-10-02 19:18] skoruba commented on #720
@DaleyKD - Thank you for your info.

[2020-10-02 19:53] skoruba commented on #718
Hi guys,

thank you for your tips/ideas.

The IdentityServer4 is amazing project and that was the reason why I built this AdminUI, because I wanted to help others with setup and offer something also free for managing IS4 through the UI.

I totally understand why the creators moved to the comercial licensing, it absolutely makes sense, because maintenance of OSS projects is very difficult and every

[2020-10-02 19:54] skoruba commented on #720
We discuss this topic here #718

[2020-10-02 19:57] DaleyKD commented on #720
-eyeroll- at myself.  I TRIED to look before I logged.

[2020-10-02 19:57] #720 closed

[2020-10-02 20:03] skoruba commented on #720
No problem. 👍

[2020-10-03 03:03] weedkiller commented on #718
We are requesting a `proxy`/`interface` or a `DI pattern` or something similar, so we can inject [openiddict-core](https://github.com/openiddict/openiddict-core) to replace Ident Svr.

PLEASE Let the developer [reuse your UI](https://github.com/openiddict/openiddict-core/issues/1111#issuecomment-703033865) work in other frameworks like openid-dict please.

### We will do the integration work if Sk

[2020-10-03 07:03] skoruba commented on #718
@weedkiller - I've checked the openiddict-core - especially ef store and entities are for sure absolutely diferent, so it is not easy way how to port this UI (which is strictly connected to IS) to openiddict-core, some rewrite will be required.

[2020-10-03 22:48] clooge commented on #718
Hi @skoruba FYI - its being used in Orchard which is forever free.

Can I also chime in, going forward can you please consider other frameworks to use and tie into your GUI easily, give us a mechanism to do so. Just play some level of abstraction so we can have some integration. After all, Open ID is a standards based framework!

[2020-10-04 17:02] ioxFR commented on #701
Hi all,

Is it planned to integrate this configurable possibility to the main repo?
For people who use built docker image it can be interesting i think.
What do you think about that ? @skoruba
In my case, i using built docker images rc3 and infact i would like to integrate azureAD authentication.
I can implement in my side this configurable part and propose as PR if you want.

Valentin

[2020-10-04 17:42] skoruba commented on #701
Good idea, could you please send a PR?
Thanksx.

[2020-10-05 08:22] ioxFR commented on #701
@skoruba sure, i currently testing it on my side.
I send PR this week for that :)

[2020-10-05 14:46] maldworth commented on #718
I think that Duende IdentityServer will be dual license commercial + RPL). So if this project remains free and open source, then you can still use Duende IdentityServer, and continue updating with it.

It just means anybody here using and wanting to move past .net core 3.1 (.net 5 +), will need to pay the license. I understand that's a separate issue, but remember that EoL for .net core 3.1 is alm

[2020-10-06 15:36] clooge commented on #718
Hello Maldworth, please the/read the fine print again. As of _October any future development is commercial_ and updated versions are commercial purchases, there was a post on it but it was deleted.

In effect it does not matter if Skoruba is free it simply useless unless we buy Identity Svr or make all our code open source. We run a community web site which only takes donations so the mid range pr

[2020-10-07 18:05] sgebhardt opened #728 "Why are there EnvironmentVariables in the web.config in project Skoruba.IdentityServer4.Admin?"
### Question
I have set the ASPNETCORE_ENVIRONMENT variable system-wide on a server. And I was surprised that this was not used.
I found out that this is set to "Development" in the web.config. Is there a reason for that?

The other two environment variables also seem to be unnecessary in the web.config.

### Relevant parts of the log file

https://github.com/sgebhardt/IdentityServer4.Admin/commit

[2020-10-07 21:12] maldworth commented on #718
@clooge Oh I get it, the licencing that they have proposed is untenable for many small shops. I still have some hopes that they will get enough community feedback and relax that, or perhaps work with smaller shops on a case by case basis (it can't hurt to fire them an e-mail and give them your situation, I'm sure alternative enterprise pricing options can be worked out).

But on their main page in

[2020-10-08 21:08] ailtonbueno commented on #209
Hi

I have the problem. When my token expires and I try to access the system, I am redirected to the identity login page, but the page appears completely empty.

I got the same code for UseSecurityHeaders, including "app.UseXfo (options => options.SameOrigin ());" from IdentityServer.admin and put into STS.Identity.
Than, my problem stopped.

But another problem happened to occur. At browser conso

[2020-10-10 06:50] skoruba opened #731 "Add reCaptcha plugin"

[2020-10-10 07:59] martinussuherman commented on #731
@skoruba lol I've been thinking the same ...
What do you think about this one: [DNTCaptcha.Core](https://github.com/VahidN/DNTCaptcha.Core) ?

[2020-10-10 08:02] skoruba commented on #731
I am considering this helper for google reCaptcha: https://github.com/TimothyMeadows/reCAPTCHA.AspNetCore
What do you think?

[2020-10-10 08:34] martinussuherman commented on #731
I personally prefer self hosted alternative, but google reCaptcha probably fine.
Maybe we could make option for which captcha to use ?

[2020-10-10 08:46] skoruba commented on #731
I will check your link, but I think that google has great algorithms how to recognize that user is not a bot and you are not required to put random codes. 😊 But I understand that for some scenarios is better something self-hosted.

[2020-10-10 11:37] ioxFR commented on #728
Hi

I think it's used for local execution during development but not used in production environment.
As application configurations are stored in appsettings...

[2020-10-11 20:48] sgebhardt commented on #728
I created #732 to remove these environment variables.

[2020-10-11 23:43] skoruba commented on #728
Not sure, I think it is some old default scaffolded web.config. Let me check it.

[2020-10-12 10:28] skoruba commented on #728
PR merged, thanks 👍

[2020-10-12 10:28] #728 closed

[2020-10-12 10:29] skoruba commented on #714
Fixed in dev branch, it will be a part of 1.0.0.-RC4.

Thanks 👍

[2020-10-12 14:26] woeterman94 opened #734 "Force Two Factor Authentication?"
Is there a way to force all users to setup Two Factor Authentication?

[2020-10-12 15:16] skoruba commented on #734
When do you want to force 2FA? Can you please describe your scenario?

[2020-10-13 05:44] woeterman94 commented on #734
For extra security. Force all users to set-up two factor authentication when they register or login. (Similar like in outlook, office 365,...)

[2020-10-13 09:08] OblivionSY commented on #384
Just a note for completion. I had the same issue, was 99% sure the app was configured correctly. It was, but I needed to clear cookies to make it work.

[2020-10-14 01:27] omikolaj opened #735 "Unable to save AllowedScopes"
### Describe the bug
Unable to save AllowedScopes in the Admin section. Everytime I hit save the post request comes in with blank AllowedScopes list.

### To Reproduce
Steps to reproduce the behavior:
Login to https://localhost:44303. Add a new client and attempt to add AllowedScopes, it will not save the entered value.

### Relevant parts of the log file

[code]

[2020-10-14 06:33] artyom-p opened #736 "Database update question"
### Question
We have a beta-7 version running for some time already. Now we decided to upgrade IS to the latest template (RC-3), but we are facing some issues with DB migrations, it looks like initial migrations are different and were regenerated comparing to beta-7.
Is there any way to make an update possible?

[2020-10-15 20:07] skoruba commented on #735
Hi, could you please send a screen of your page? It sounds like the taghelper is not loaded correctly or the item is not selected.

[2020-10-15 20:10] skoruba commented on #736
It is pretty old version what you have installed - a lot of changes were made. Maybe you can delete default init db migation and use your?

[2020-10-15 20:11] skoruba commented on #713
I think you need specify urls. The star is not valid in this case.

Thank

[2020-10-15 23:07] Hens94 opened #737 "UTC Datetime using Postgresql"
### Question

How can I configure UTC using Postgresql database?

**Host time:**  2020-10-15 15:54:08

**time saved in the PersistedGrants table**

**CreationTime :** 2020-10-15 21:54:08

**Expiration :** 2020-10-15 21:59:08

this causes the access token to be invalid

### Relevant parts of the log file

[code]

[2020-10-18 10:48] abodehq opened #738 "Multi tenant support"
Guys i really need your help.

we need to implement multitenant ecommerce app where each client has its own users pool .. so is this support by ur library and how can i achieve doing this .

please help me.

[2020-10-18 11:38] skoruba commented on #738
Hi, currently I do not support multitenancy. I am sorry.

[2020-10-19 00:12] Hens94 opened #739 "The parameter 'json' cannot be a 'null'"
### Describe the bug
Identity server was installed on Windows Server 2016 IIS with certified and identity server administration was installed on another Windows Server 2016 IIS, but cannot find the identity server discovery document file.

Help me please.

### Relevant parts of the log file

[code]

[2020-10-19 09:36] hoseinipeyrov opened #740 "client_secret in Skoruba IdentityServer4 Admin Api"
### Question
I just made a clone of the repository. I've left all settings by default and every thing work well.
In 'Skoruba IdentityServer4 Admin Api' what should I write in 'client_secret' input textbox?

[2020-10-19 13:12] abodehq commented on #738
thanks for the quick replay , but i noticed an old project that u implemented this functionality in skoruba, can you let me know what the issue and is it posiible to extend the library to support multi tenant ?

[2020-10-20 19:44] jmhinnen commented on #736
This is also hurting us.  We are implementing this and wanted to update to the latest version but all the migrations were reset.  Now have to figure out how to migrate data over.  I think I am just going to use a tool to create a migration script from Beta 7 to RC and add that into another Migration.  Not sure if there is an easier way to go about it but will let you know if it works out.

[2020-10-21 10:18] poison2k opened #741 "Problem to publish the STS project on production environment"
Hello,

i have a problem to publish the STS Project on production environment and i hope someone can help me.

Short problem description:
I published the STS on the IIS and get an error 500 but i can't find  further information in the EventLogs.

What i have done:
- With Visual Studio i can start the local app without any trouble
- It works on local DB and Production DB on the SQL-Server.
- I chan

[2020-10-21 12:16] #741 closed

[2020-10-21 12:18] zvasilius opened #742 "Localization language change clears QueryString"
I use some query params for user registration or other purposes:
http://localhost:5000/Controller/Action?queryParam=value

After user changed localization language to different, SelectLanguage.cshtml posts
var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}";
back, page will be re-rendered, but without query params:
http://localhost:5000/Controller/Act

[2020-10-22 15:26] nabdelmallek opened #744 "Deploying on IIS"
### Question
I'm deploying both applications on IIS using a self-signed certificate and I communicate with them through a local network. Is there any alternative to make my self-signed certificate trusted without installing it on every machine within my local network?

[2020-10-23 09:08] berendhaan commented on #740
I guess you mean the interface Swagger provides for authenticating? You can proceed without a secret.
The client is configured to not need a (valid) client secret.

[2020-10-26 13:16] alifaaz opened #747 "Extend Client for new column in database"
### Question
hi dear,
I am implementing a new feature and want to update the client table with a new column the dto is worked fine but at auto mapper is the problem how could i make it happen

### Relevant parts of the log file

[code]

[2020-10-26 14:12] mitirazvan commented on #747
Hi, if you name the same your new property/column in both dto and entity then, the mapper should not be a problem.
What you have to do is to create a new Client class that inherits from Client class. eg.: public class ExtendedClient: Client
 - Change the DBSet to use ExtendedClient in IAdminConfigurationDbContext
 - Update ClientRepository to use the new type.
 - In the generated migration make su

[2020-10-26 14:34] skoruba commented on #742
@zvasilius - thank you for reporting this issue, for sure, please you can make a PR. 👍

[2020-10-27 17:34] labtrans-ufsc commented on #236
https://github.com/skoruba/IdentityServer4.Admin/pull/746

[2020-10-28 09:11] woeterman94 commented on #734
Is this something that you would consider adding? We want to be able to force users to setup 2FA.

[2020-10-28 10:11] skoruba commented on #734
Yes, I will consider to add it, but in the future. Right now I am working on migration IS4 to version 4. Or if you are interested in send a PR with this feature, you can for sure. 👍🏼

[2020-10-28 12:47] #589 closed

[2020-10-28 12:47] #742 closed

[2020-10-28 12:50] skoruba commented on #714
Fixed on master.

[2020-10-28 12:50] #714 closed

[2020-10-28 17:28] vpetkovic commented on #741
I had no problems in IIS10.
Since you haven't mentioned - I want to start with a question regarding pools. Under what pool are you trying to run it? It has to be individual app pool. See example. I have app pool for each: admin-api, admin, identity

![image](https://user-images.githubusercontent.com/2244412/97472665-735c2a80-1920-11eb-9074-dd1c76268c6c.png)

[2020-10-29 07:39] Aaltis opened #749 "Integrating external non-standard and old login with skoruba/identityserver"
### I need to use the old username/password external login provider for our project.
I created a code for the login function, and started to look at the next step, and noticed that the user needs some kind of subjectid to sign in for identityserver.
[code]
Do I need to save (new) user somehow to identityserver before I do sign in?
How do i check that the user exists in identityserver?

What would

[2020-10-29 13:56] spaasis commented on #749
To extend on the basic premise:
We have an older legacy system for managing user roles and access to our different systems. We would like to use this legacy service as an external provider, that would function like the "normal" external providers.
The old system uses an email+password-login, and there is a service that takes these parameters and checks the authentication, provides the user's roles

[2020-10-31 19:42] alifaaz commented on #747
@mitirazvan  thanx for your answer now i got this
`MySqlException: Unknown column 'x.Discriminator' in 'field list'

MySqlConnector.Core.ServerSession.TryAsyncContinuation(Task<ArraySegment<byte>> task) in ServerSession.cs, line 1252`

[2020-10-31 19:57] mitirazvan commented on #747
Did you applied the migration on the database?
Is the Discriminator and the new property part of the table dafinition in SQL server?
If not, you have to apply the migration. To do that you have 2 possibilities:
1. Run the seed command. This will update the db.
2. In nuget package manager in Vs you can execute this command: update-database -c ContextName // in your case it should be the configurati

[2020-11-05 03:33] Porco1987 commented on #458
Hey, guys,
Thanks for you great efforts. Because I was striving to have a Identity Service instance recently, too.
And I tried to integrated a Cropper.js front end library to preview and crop the loaded picture as avatar.
A primitive demo here:
https://auth.prime-minister.pub/Identity/Account/Manage
You can use _Email:469655072@qq.com_, _Password:@WSX2wsx_ to login and have a trying to edit the Av

[2020-11-07 00:56] alifaaz commented on #747
things work now thanx @mitirazvan

[2020-11-09 11:23] nobba75 commented on #738
We're building sort of a multitenancy solution based on IdSrv4 and the Skoruba Admin solution (thanks Skoruba :-)).

When deciding on how to manage this we came to the conclusion that it is not worth the risk of having "true" multi-tenancy, since the risk of exposing customer sensitive information is just too high.
Therefore, we decided to go with one database but with a separate DB schema for eac

[2020-11-09 13:54] willisga commented on #744
Hello @nabdelmallek, we deployed the certificate by a GPO in our company.

https://support.securly.com/hc/en-us/articles/206688537-How-to-push-the-Securly-SSL-certificate-with-Active-Directory-GPO-

[2020-11-09 15:27] Brice-xCIT commented on #55
Hi @skoruba and congrats for the v1.0 release. Now that the lib is out there, would there be a way for you to revisit this issue? What are the current plans to simplify integration of the lib?

[2020-11-10 08:11] skoruba commented on #55
Hi @Brice-xCIT - I am glad to see you for long time again. 😊 I agree with you, this is still little-bit harder to upgrade to the newest version, especially UI part. I think - currently good way for some cases could be a docker image which is available. But I will wonder about some another approach. What do you think?

[2020-11-10 10:04] skoruba commented on #633
Hi guys, I am sorry for relay in this task - I am almost done with this update and all progress is currently in this branch: [feature/633-update-is4-to-v4](https://github.com/skoruba/IdentityServer4.Admin/tree/feature/633-update-is4-to-v4). I will publish first preview packages this week.
Thanks!

[2020-11-11 08:52] Brice-xCIT commented on #55
From what I can see, in its current state this project only supports using the app as-is, in a standalone deployment. For this, it's great. What is lacking however is supporting using the app as a library module, not as an app. I believe that is what the various people who have commented on this and other similar issues were going for. In a nutshell, we want to be able to inject the Admin UI into

[2020-11-11 11:41] skoruba commented on #55
I would like to transfer UI part into Razor Class Library, but I remember that I had some issue if I wanted to rewrite existing view, this did not work properly in the past in my case. Currently I am almost done with version 2.0.0 - which will be published as 2.0.0-beta1, because there was a lot of changes and it needs to be more tested. So if you have a time to help me transfer 2.0.0 to Razor Cla

[2020-11-11 17:54] ev100 commented on #633
Thank you Jan!

[2020-11-11 19:46] skoruba commented on #633
@ev100 - could you please clone this branch and test it? - especially DB migrations which affected existing data - it would be great get some feedback 😊👍 Thanks!

[2020-11-12 16:27] tojosmarce opened #751 "docker-compose using PostgreSQL"
Hi,

I have some problems using PostgreSQL, can anyone help me with [docker-compose.ylm](https://github.com/skoruba/IdentityServer4.Admin/blob/master/docker-compose.yml)  using PostgreSQL database?

Thanks for your help.

[2020-11-13 09:57] skoruba commented on #751
Hey, what problem do you have?

[2020-11-13 15:21] tojosmarce commented on #751
I have this sentences in docker-compose:

_...
- 'ConnectionStrings__ConfigurationDbConnection=Server=postgresdb;Port=5430;Database=Auth_InterPro;User Id=postgres;Password=XXXX; SSL Mode=Prefer; Trust Server Certificate=true'
...
postgresdb:
    image: postgres:alpine
    ports:
      - 5430:5432
    container_name: skoruba-identityserver4-db
    environment:
      POSTGRES_USER: postgres
      PO

[2020-11-16 14:25] ingolfurd commented on #633
I tested it and found no problems with it. Everything seems to be working smoothly

[2020-11-16 19:29] skoruba commented on #633
@ingolfurd - thank you for testing it 👍🏼👍🏼

[2020-11-17 11:40] #740 closed

[2020-11-18 00:52] ev100 commented on #633
Here everything smoothly too!

[2020-11-18 03:13] dmarlow commented on #633
Deployed latest (not an upgrade of existing/previous setup) and it worked great.

[2020-11-18 08:19] spaasis opened #754 "Request: add an .editorconfig file"
Hi, and congrats on the 1.0 release!

I was wondering if you could configure an editorconfig file (https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options?view=vs-2019) for the repo to make it easier to work with different editors and formatting settings.

When working with different works etc. I'm constantly having to manually format files since my formatting prefe

[2020-11-20 08:43] realzhaorong opened #755 "Failed to start Docker container."
### Question

I want to run a id4-sts container in Docker, but it can not started, what should I do?

- Image: identityserver4-sts-identity:2.0.0-beta1
- Source: hub.docker.com
- command `docker run -d --name identityserver-sts -p 9980:80 -v ~/docker/volumes/identityserver/sts:/app skoruba/identityserver4-sts-identity:2.0.0-beta1`

### Relevant parts of the log file

[code]

[2020-11-21 23:46] tiago-totti commented on #633
Hi @skoruba , can you provide some brief guidance on how to migrate from V1 to V2? Will be glad to do tests with existing data ;)

[2020-11-24 16:59] dutysok commented on #582
I have Install Templates::1.0.0  ,When I create Project Using  "--dockersupport true"  and run/debuge in Visual Studio 2019, it cann't add admin account to Users table.I try to  Change  identitydata.json  data that password value .it still cann't work

[2020-11-24 20:22] maldworth commented on #633
@tiago-totti They have really good scripts and explanation of the changes here: https://github.com/RockSolidKnowledge/IdentityServer4.Migration.Scripts/tree/CreateScripts

I used those and they work great. I am not using efcore migrations though, so just an FYI.

[2020-11-24 21:04] maldworth commented on #633
Now that I look at the [Migrations](https://github.com/skoruba/IdentityServer4.Admin/blob/release/2.0.0-beta1/src/Skoruba.IdentityServer4.Admin.EntityFramework.SqlServer/Migrations/IdentityServerConfiguration/20201030101938_UpdateIdentityServerToVersion4.cs), it looks like @skoruba put in the data migrations from the link I provided into the EF Migrations. So I think you should be good to go using

[2020-11-24 21:19] skoruba commented on #633
@maldworth - thank you for your link, you are right, I put some of these sql commands into db migration and create also rollback method.

[2020-11-24 21:39] skoruba commented on #633
@tiago-totti I will try to write some guide. 😊 thanks

[2020-11-26 17:39] ruzanowski commented on #521
Hey @skoruba any news on that? I've seen a branch named windows-auth-v2, is it in progress? Just wondering if I could fork from that branch or I should extend this implementation for my own requirements (Active Directory behind IIS) + OpenID Connect + ASPNET Identity base for external users.
Anyway great job, I am impressed by your work and really enjoy this project. I'd like to contribute in the

[2020-11-26 20:05] ruzanowski opened #756 "MVC/API different projects"
What reason lays behind the split API project (Skoruba.IdentityServer4.Admin) and MVC project (Skoruba.IdentityServer4.Admin.Api) and STS? I think I might need to join these three projects altogether to have a single point of deployment instead of 3.

Do you think it's reasonable or it would have limitations? On the other hand, I'd not like to do it, hence it leads to discrepancies between the mas

[2020-11-26 20:10] ruzanowski commented on #755
Try this solution https://stackoverflow.com/a/63103240, maybe you have corrupted the .NET Core SDK image.

[2020-11-27 16:43] ruzanowski commented on #756
Okay, I've seen that we have a script that merges every project into one solution.

[2020-11-27 16:43] #756 closed

[2020-12-03 09:26] UltimatPronin commented on #322
Hello! Any news here? For now, I stuck on this. Can I **easy** add Admin UI in my existing & configured ID4?
Unfortunately, provided info is not enough for me too.

[2020-12-05 19:38] vbjay opened #762 "identityserverdata.json Exporter/Importer or Sync between Deployments"
**Is your feature request related to a problem? Please describe.**

When managing a sys/qat/prod environment, being able to sync from sys to qat and qat to prod specific items would be helpful.

**Describe the solution you'd like**

Few ideas.

1. Provide functionality to generate identityserverdata.json that can be imported into another instance of the app.
1. Add linking functionality to allow u

[2020-12-07 01:56] jovball opened #763 "Base DbContext do not respect"
I am still on RC3 so apologies if this is something that has already been fixed. I am trying to extend the User properties.

I've looked at [#606](https://github.com/skoruba/IdentityServer4.Admin/issues/606).

I am able to add the properties but I also want to rename the columns so that we can use our normal naming conventions. As as an example, the FirstName property would be FIRST_NAME in the Us

[2020-12-07 17:20] Brice-xCIT commented on #55
Thanks @skoruba for your message. I'd be willing to help early next year. However I'm not sure transferring the UI part to an RCL will be enough to solve this issue completely. There also needs to be some easier configuration model for DI (like #255) and possibly some separation of the .Admin and .Admin.API core code into their own libraries (like #225). Does this make sense to you?

[2020-12-08 10:05] inksong commented on #685
Sorry to disturb you, this is a very good project, thank you very much for your work.
The same problem I encountered when trying to deploy the project directly on Debian.
The .well_known url can be accessed directly through the browser,
 but Admin does not seem to be able to recognize the SSL of STS.
I added UseSigningCertificatePfxFile from letsencrypt in the appsettings of STS,
but% openssl s_cl

[2020-12-08 15:56] Franklin89 opened #764 "User Claims not added to token even if Always Include User Claims In IdToken is set"
I have some custom User Claims on a user and I set the `User Claims not added to token even if Always Include User Claims In IdToken` to true. I expected that now these claims will be part of the token. But they are missing.

If I add the claim name (in my case initials) to the Profile Identity Resource I receive the claim in the token.

I have only worked with a ID4 server directly without the Ad

[2020-12-10 00:37] bsheriff opened #766 "Redirecting from my SPA application to the "ChangePassword" action"
Hi, I want the ability to change my password from my single page application.  I redirect to /account/changepassword from my app but that action requires a parameter called "code".  I am not sure what this parameter represents (access token, refresh token, reset password token).  I have tried the first 2 and it returns "invalid".  So my thinking is that I need to pass over a "reset token".  Am I c

[2020-12-10 08:54] pham-hoai-lam opened #767 "How to use device authorization?"
Hi!
I access to "https:/ localhost:44310/Device/" and didn't understand where the user code came from.
Can you please show me how it works

[2020-12-11 00:05] jberg2016 commented on #766
@bsheriff I accomplished this by creating a custom action inside the account controller (which is not anonymous and the user has to be authenticated to access) that acts as a middle man and generates the reset token by calling generatepaswordresettoken method. Then I call the reset password method that already exists, passing in the code. In order to know where to redirect back to after reseting t

[2020-12-11 12:28] ekjuanrejon opened #770 "How to use Admin with exist IdentityServer4"
### Question
Hello, How to use Admin with an existing IdentityServer4

[2020-12-11 18:25] adrianleonmorell opened #771 "Unnecessary static files added to wwwroot in both STS and Admin apps"
### Describe the bug
I have seen that the dependency **Microsoft.AspNetCore.Identity.UI.Services** adds a file that contains static web assets to the publish directory (StaticWebAssets.xml) and when the dotnet publish is performed a bunch of files are added to the wwwroot under the Identity folder. Fool list here:
![MicrosoftTeams-image (11)](https://user-images.githubusercontent.com/17031755/1019

[2020-12-13 22:57] vbjay commented on #754
InteliCode will even infer the editor config for you.  https://andrewlock.net/generating-editorconfig-files-automatically-using-intellicode/

[2020-12-19 09:59] skoruba commented on #754
Hi guys, for sure, we can add this file. Thanks!

[2020-12-19 10:01] skoruba commented on #762
Hey @vbjay - it sounds great to me. I have wondered about something similar. I will add it in our roudmap. Thanks for sharing your idea.

[2020-12-19 10:12] skoruba commented on #55
Hey @Brice-xCIT - yes, I really appreciate your help on this feature. I would like to transfer the UI part into RCL.
My idea is something very similar to your original PR (#225) - Create package - Skoruba.IdentityServer4.Admin.UI - which was contains the views/controllers/styles/js. And in existing project called something like - `services.AddIdentityServer4AdminUI(settings => ...)`.

[2020-12-21 00:00] pfaustinopt commented on #770
I don't if this link [Follow these steps for setup project to use existing IdentityServer4 and Asp.Net Core Identity](https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/Configure-Administration.md)  that shows up on [How to configure the Administration - IdentityServer4 and Asp.Net Core Identity](https://github.com/skoruba/IdentityServer4.Admin#how-to-configure-the-administration---

[2020-12-21 13:48] skoruba commented on #770
Hi guys, yeah, currently following links above are the guide which I have. 👍
I will work on simplification of distribution of whole UI, I would transfer UI into nuget package - it would be easier way how to upgrade UI part. 😊

[2020-12-22 04:40] #767 closed

[2020-12-22 15:19] selangley-wa commented on #633
Hey All.  They announced a free, community edition of Duende's IdentityServer
https://blog.duendesoftware.com/posts/20201210_community_edition/

See if the licensing terms make sense for your environment.

[2020-12-22 15:20] selangley-wa commented on #718
Hey All.  They announced a free, community edition of Duende's IdentityServer
https://blog.duendesoftware.com/posts/20201210_community_edition/

See if the licensing terms make sense for your environment.

[2020-12-22 16:04] skoruba commented on #718
@selangley-wa - Thanks for your information, I will release this Admin UI for Duende IdentityServer next year.

[2020-12-22 16:18] skoruba opened #776 "Duende IdentityServer Admin UI"
I will release this Admin UI for Duende IdentityServer next year. 😊🚀

[2020-12-22 16:20] skoruba commented on #633
@selangley-wa - Thanks for you information, I will release Admin UI for Duende IS next year. 😊 #776

[2021-01-04 10:26] Brice-xCIT commented on #55
Hi @skoruba. I'm starting to take a closer look at this issue, and to double down on my previous comment, I'm struggling to understand how just separating the UI into its own package will be enough to solve this issue. Indeed, an existing application would also need to replicate the startup protocol in Admin:Startup.cs, isn't that right? And in order to do that, it would also need to have access t

[2021-01-04 11:28] skoruba commented on #55
Hey @Brice-xCIT  - My idea is following:
- Create package `Skoruba.IdentityServer4.Admin.UI`, which will contains: *(definitely this should be created from branch `release/2.0.0-beta1`)*
  - Copy folders: Controllers, Views, Resources, wwwroot
  - Modify StartupHelpers which will be part of UI package
    -   I would definitely prefer ship all dependencies with UI and via line `services.AddIdentit

[2021-01-05 17:37] DrQwertySilence commented on #731
We use google reCaptcha in our fork (our security area demanded it). Is pretty easy to implement. I added in in some places (login, change password and delete account pages). I can implement it if you give me all the forms where it should appear.

[2021-01-06 14:18] Brice-xCIT commented on #55
Thanks @skoruba for the clarification. It makes sense to me now. At first glance I think that some other folders may have to move too (Configuration, Scripts?, Styles?). Do you see anything that specifically should not move to UI?

[2021-01-06 17:15] skoruba commented on #55
@Brice-xCIT - I would also move the Configuration, scripts and style into UI package. 👍

[2021-01-07 17:40] Brice-xCIT commented on #55
I think I did most of the work at https://github.com/xcit-lab/IdentityServer4.Admin/tree/feature/extract-ui-package-v2 but I don't think it's completely ready for a PR yet, although all tests pass. (Left for me to do is the possibility to set the migration assemblies.) I had to move a lot of things and did quite a few refactors there and there. In particular, I'm not too sure about some parts of S

[2021-01-07 21:29] skoruba commented on #55
@Brice-xCIT - I have checked your changes and it looks really good. 👌 I think some of things from Startup we will remove from UI package (not sure now) but for start it is more than enough - I am really happy for your work.

[2021-01-08 09:52] Brice-xCIT commented on #55
Thanks for the review! I will tie a few loose ends and submit a PR soon, then.

[2021-01-14 13:08] parrot409 opened #783 "It's possible to register user while it's disabled in configurations"
### Describe the bug
There is a check to see if registration is enabled [here](https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Controllers/AccountController.cs#L582), But it's only for GET requests. There isn't any check for POST requests.

### To Reproduce
Send POST request with required parameters to `/account/Register`.

[2021-01-14 13:28] skoruba commented on #783
Thanks for reporting this issue! I will fix it. 👍

[2021-01-19 16:46] tojosmarce opened #785 "Token is null with Windows 7"
Hi,

I have a problem. I have an windows client:

            var options = new OidcClientOptions
            {
                Authority = http://IP:5000,
                Policy = new Policy { Discovery = new DiscoveryPolicy { RequireHttps = false } },
                ClientId = "I3Client",
                ClientSecret = "secret",
                TokenClientAuthenticationStyle = AuthenticationSty

[2021-01-19 17:14] tojosmarce commented on #785
Now, I can see that I get this error:

Error validating identity token: Microsoft.IdentityModel.Tokens.SecurityTokenNotYetValidException: IDX10222: Lifetime validation failed. The token is not yet valid. ValidFrom: '[PII is hidden by default. Set the 'ShowPII' flag in IdentityModelEventSource.cs to true to reveal it.]', Current time: '[PII is hidden by default. Set the 'ShowPII' flag in IdentityMo

[2021-01-20 12:41] aiscrim commented on #785
The time in your Windows 7 pc is probably lagging behind your Identity Server by more than 5 minutes . Check that, and if for some reason you cannot fix that you could still specify an appropriate ClockSkew in the IdentityTokenValidator parameter (not recommended!)

[2021-01-20 12:48] aiscrim commented on #764
In order to receive the claims in your client you still need an Identity Resource with the custom claims you created and add a scope to your client that matches it. Did you do that? The fact that when you add the claim to an existing Identity Resource it works makes me think you're just missing that step.

[2021-01-20 17:56] tojosmarce commented on #785
Thank you, it is working now.

[2021-01-21 04:28] wv7cherry opened #786 "Client secret validation failed for client"
I have a client with client id and client secret like this:
- Client id: test_client_secret
- Client secret : 1y77og3EfuqzQ50JeDAtSX6tZvCenW2ADGd+NEcv8a0= (SharedSecret)

When I try to get token by authorization_code, the server returns an error message like this:
- Postman respone:
![image](https://user-images.githubusercontent.com/76938198/105279909-3203b000-5bdb-11eb-9ff1-ff2791850946.png)
- De

[2021-01-21 04:40] #786 closed

[2021-01-21 04:42] wv7cherry commented on #786
I used secret which has been hashed on the UI :))

[2021-01-22 04:37] wv7cherry opened #787 "How to get list users include specific claims"
In Admin API, I want to get a list of users where each user has a claims field like Created

[2021-01-24 11:27] Porco1987 opened #789 "Safely expose the User GUID with AES encryption/decryption"
Hi, guys. Skoruma.Admin is really awsome.
Recently I would like to expose user Id (GUID as default) safely. So I want to override certain method to change the "sub" claim required in OpenID Connect. Such as:
`sub: f578ede1-bfa5-43d5-9474-44409c03d9c6`
encrypt into
`sub: dwf3feggr4faedsadwdeggefe`, etc. And vice versa, too.
According to [IdentityServer docs](https://identityserver4.readthedocs.io/e

[2021-01-25 06:30] aarondglover opened #790 "Adding Custom "ClientClaims" and "UserClaims""
My apologies if this has been answered elsewhere - i promise i did search extensively, but I'm not sure if I am using the correct terminology.

During User Login I wish to dynamically set the value of user claims.. Which methods can I override/edit to enable me to do this?

During TOKEN Issuance/Client authentication (consider a scenario where I am using "client_credentials" grant type) I wish to

[2021-01-25 06:48] aarondglover commented on #511
This I believe is as per the OAuth standard.

If no scopes are specifically requested then all Allowed Scopes should be returned.

[2021-01-25 06:53] aarondglover commented on #790
Or is this a question for IdentityServer4 repo?

[2021-01-25 07:38] mitirazvan commented on #511
That's a normal behavior for IdentityServer. Be careful when asking for an access token this way, if your client has some unassigned scopes, (scopes that aren't linked to any Api resource or Identity resource / dummy scopes), your request will fail with "invalid_scope" error.

[2021-01-25 09:59] aarondglover commented on #790
Closing this issue. It's not a concern of this project. Rather I had to implement a custom IProfileService as per IdentityServer4 documentation.

[2021-01-25 09:59] #790 closed

[2021-01-25 12:49] Porco1987 commented on #789
Emmmm...

Found similar issue at #443.
Now I can add my custom `IProfileService` implementation, but the claims seemd only work for additional claims of user.
I guess need to override `IClaimsService` for my purpose.

Right on it.

Just let me know if there is quick guidance.

[2021-01-26 05:40] Porco1987 commented on #789
![temp](https://user-images.githubusercontent.com/34730223/105804898-d884f200-5fdb-11eb-9fd1-c9d0dcb12e3f.png)

Realized by Custom `IClaimsService`. Shall close it.

[2021-01-26 05:40] #789 closed

[2021-01-26 07:28] wv7cherry opened #791 "How to use Audit Log in NoSQL database like Cassandra"
### Question

### Relevant parts of the log file

[code]

[2021-02-04 23:08] cvnfactory opened #794 "Docker Compose Release 1"
### Docker Compose Error (Release Mode)

Docker compose can't build the images, there are errors with the nuget restore

how can I make it work?

Thanks in advance

Error:
Severity	Code	Description	Project	File	Line	Suppression State
Error	DT1001	Service 'skoruba.identityserver4.admin.api' failed to build : The command '/bin/sh -c dotnet restore "src/Skoruba.IdentityServer4.Admin.Api/Skoruba.Ident

[2021-02-07 22:46] LeeStevens318 commented on #794
Looks like it's having trouble downloading the needed packages from nuget.org. Rather nuget was down, or you have internet/firewall issues.

[2021-02-08 07:16] cvnfactory commented on #794
It has to be something else, nuget is up and running I checked the urls, there's no firewall o internet issues. I have a lot of docker images and all work  except skoruba's.
Why does skoruba restore nugets correctly in debug?,  I've been trying for weeks and it doesn't work

Any other ideas?

Thanks in advance
________________________________
From: LeeStevens318 <notifications@github.com>
Sent: Su

[2021-02-08 12:10] cvnfactory commented on #794
I finally solved it, for anyone who is facing the same issue. It has to be with some request throttling in nuget, the solution is modify the docker file and restore nugets using --disable-parallel

[2021-02-08 12:10] #794 closed

[2021-02-11 00:35] daniel-tejeda opened #796 "Updating to latest version after creating from template"
### Question
When installing from template, is there an easy way to get the latest changes from the repo? wondering since I didn't clone the solution and I put some changes already.
Thanks and awesome work!

Daniel

[2021-02-12 19:41] chambersDon opened #797 "Docker admin redirect to STS"
I am running my version of the code in docker (not a downloaded image) and can't seem set the IdentityServerBaseUrl value correct (in the admin project).

From outside of docker, the admin application is reachable at localhost:44303, and the STS projects reachable at localhost:44310.

The admin project throws an error accessing ".well-known/openid-configuration", because it does this in the contai

[2021-02-15 20:29] dithamar commented on #297
I have the same error

[2021-02-16 17:12] agross opened #799 "release/2.0.0: IdentityClaims table is missing"
### Describe the bug

I'm attempting to run `release/2.0.0` (91f1011742134808c3149cb9a2e380b49d3820f0) on docker.

After all services are up I can log in to STS with the provided default credentials of `identitydata.json`. Requesting `/.well-known/openid-configuration` fails with an exception because a table is missing.

### Relevant parts of the log file

It seems that the tables was removed as p

[2021-02-16 21:03] skoruba commented on #799
Hello,
which database provider do you use? Did you have an empty database before starting?
thanks for reporting this issue

[2021-02-16 21:05] agross commented on #799
Hello Jan,

SQL Server 2019 on docker. I started without any data.

Let me know if you need further details.

Alex

[2021-02-16 21:07] skoruba commented on #796
Hello,
I am working on new release which will include everything inside nuget package, I mean especially UI part. This helps with updates. Please check branch release/2.0.0
Thanks

[2021-02-16 21:10] skoruba commented on #791
Hello,
I am sorry for delayed answer, I think you can use like your db provider your nosql db, in your startup you can specify db connection and provider. According to your provider you should generate db migrations.

[2021-02-16 21:11] skoruba commented on #799
Thanks let me check it.

[2021-02-17 22:21] skoruba commented on #799
@agross - I've refresh dockerfile for admin ui there was missing one package. I've tested new fresh instalation through the docker and everything works good. 👍 One thing is that if the database starts for the first time this process takes more time and first run failed because the database is not ready yet. Please, checkout changes from release/2.0.0 and test it. 😊
Thanks

[2021-02-18 09:48] agross commented on #799
Tried after resetting all docker volumes. It's working now!

What's rather strange is that the `IdentityClaims` table is still missing. Is it required after all for version 2.0?

[2021-02-18 09:52] #799 closed

[2021-02-18 09:52] skoruba commented on #799
`IdentityClaims` table was renamed in IS4 v4 to `IdentityResourceClaims`.

[2021-02-18 09:53] agross commented on #799
Alright, thanks!

[2021-02-18 10:04] skoruba commented on #799
Thanks for letting me know. 👋

[2021-02-20 13:20] maiorfi opened #800 "Best practice / pattern for proper configuration of auth entities with multiple sso-enabled client apps"
### Question

Please forgive for such a general question, but I was wondering about proper way to define and configure (without any source-level intervention) Identity.STS service in order to cover following (very common, I guess) scenario:

- Several client applications (say ClientApp1 and ClientApp2) using same Identity.STS instance as authority
- Users taking part to SSO among client applicatio

[2021-02-21 23:56] donhuvy opened #803 "Update to .NET 5 (5.0.3)"
Update to .NET 5 (5.0.3)

[2021-02-24 13:59] XavierMessi opened #804 "localization doesn't work when publish to IIS"
### Question
I used scaffold to generate the templated projects. When I debug the web application in IIS Express, the localization worked well. If I selected different language, the page content will change to the correct language. But when I deployed it to IIS. The localization did not work. If I selected different language, it always show the default English page.

[2021-02-24 14:54] skoruba commented on #804
Hey @XavierMessi - I do not know, IIS should work correctly. Maybe check how do you deploy the app, if there could be some issue. Currently I do not have any suggestion for you.
@aiscrim - Any idea?
Thanks!

[2021-02-24 15:51] aiscrim commented on #804
No idea, I can't think of a reason why the chosen localization wouldn't be honored on IIS... I'd suggest to add some logs to investigate the problem.

[2021-02-24 20:31] vl-bwalocha commented on #756
Hi, have you merged successfully the API, STS and Admin into single solution with 3 areas?
I did separated `IHostingStartup` in each area but have a problem with routing.

[2021-02-24 20:58] ruzanowski commented on #756
Hey,

No. I was not merging API, STS, and Admin after all, as they do
different responsibilities, however, you can put what issue you struggle
with and I'd try to help you out.

Best regards,
Sebastian

śr., 24 lut 2021 o 21:32 vl-bwalocha <notifications@github.com> napisał(a):

[2021-02-25 13:28] XavierMessi commented on #804
@skoruba @aiscrim Thank you for your response. I even did get any error logs. This problem has been bothering me for several days, although the effect is not significant, but I want to solve it.

I haven't made any changes to the code other than the database connection string.

The project's target platform is .NET5.

The publish configurations:

Release - x64
net5.0
framework-dependent
target run

[2021-03-01 17:17] weedkiller commented on #718
How long before the community version goes away when they come with a new version 6???

Its time to start thinking about a decoupled architecture so Skoruba can be leveraged with other frameworks via DI. Just give the developers a chance to implement something... are you design this

[2021-03-02 07:33] skoruba commented on #718
@weedkiller  - I am working on IS4 Admin 2.0.0 and then I will convert version 2.0.0 to Duende IdentityServer.

[2021-03-02 09:32] agross opened #808 "release/2.0.0: API Scopes link points to root URL"
### Describe the bug

The "Api Scopes" link in the "Clients/Resources" menu points to the application's root URL instead of `<root URL>/Configuration/ApiScopes`

Manually entering the URL works.

[2021-03-03 07:19] skoruba commented on #808
@agross - Thanks, I will check it, I am still working on 2.0.0, I've found few things which are necesarry to rewrite. 😊

[2021-03-04 09:21] DureSameen opened #809 "Disable Identity Server Audit Logging Events"
I need to disabled audit logging, How can I do that , please help.

[2021-03-05 07:30] skoruba commented on #809
I tought that I added the Enabled flag, but I did not, so I will add this flag in the next release. 😊

For now you can override this method: `LogEventAsync` and instead of storing into DB, you can you logger or keep it empty. https://github.com/skoruba/AuditLogging/blob/master/src/Skoruba.AuditLogging/Services/AuditEventLogger.cs#L113

Thanks for feedback! 👋

[2021-03-05 07:33] skoruba commented on #797
Did you try to go through this working docker-compose - https://github.com/skoruba/IdentityServer4.Admin/blob/master/docker-compose.yml - I think this should work here correctly.
Thanks and sorry for delay. 😎

[2021-03-06 05:06] Porco1987 commented on #803
Well, can not wait to see that.

[2021-03-08 08:31] skoruba commented on #808
Can you please test it now?
Thanks!

[2021-03-08 12:51] Porco1987 opened #810 "Issues on Ubuntu 18.04 on SDKs target & Project Reference"
### Enviroment
OS: Ubuntu 18.04
Net Core SDK: 3.1.406
Net Core Runtime: 3.1.12
ASPNetCore Runtime: 3.1.12
EF Core: 3.1.12

### EF Core project try to find old version of .Net Core

[code]

### EFCore.PostgreSQL is reported not exist

`dotnet build` in EntityFramework.PostgreSQL is OK without errors, but STS fail to start reporting PostgreSQL does not exist:
[code]

[2021-03-08 14:32] agross commented on #808
It's fixed now, thank you!

[2021-03-08 14:32] #808 closed

[2021-03-08 15:40] skoruba commented on #808
Thanks for testing it! 👍🎈

[2021-03-08 15:54] chambersDon commented on #797
I have tried that but couldn't get it to work.
It requires editing the host files, and I have to push this out to 40+
developers who will not have access to edit that file.   I can edit mine,
and I did, but it still does not load the sites (i can ping them).  I
didn't troubleshoot, because manual host editing can't be my solution.

On Fri, Mar 5, 2021 at 2:33 AM Jan Škoruba <notifications@github.c

[2021-03-09 12:50] poison2k opened #811 "Forbidden 403 on Api to Api Call"
###  Hello, i try to call an api with another api, but whin i use a policy with a specific AoiScope i get a Forbidden 403.
 I think it's a simple misconfiguration but i can't find my vault.

MyApi
[code]

My Call from the Other API:
[code]

On the Identity Server i configured a ApiScope and a Client with Client Credentials, i get the Token from the Identity Server, the ApiScope is included but i g

[2021-03-10 14:55] wojbron opened #812 "Incorrect log path in web.config"
After deploy to Azure and trying to run Admin app, the error appeared:

HTTP Error 500.31 - ANCM Failed to Find Native Dependencies
The specified version of microsoft.netcore.app or microsoft.aspnetcore.app was not found

Looking into logs it showed lack of aspnetcorev2_inprocess.dll file.

The root cause of issue was in web.config where incorrect stdout path is defined: stdoutLogFile=".\log\stdou

[2021-03-11 15:26] papyr commented on #164
Any update on this

[2021-03-11 17:17] skoruba opened #813 "XSS issue in Client Secrets and Api Resource Secrets"
In the views `ClientSecret` and `ApiResourceSecret` is not HTML encoded data attribute `data-secret-value` on the button:

[code]

This data attribute is used in the dialog with secret detail.

Fix:
[code]

I will send this fix asap.

Thanks to Silton Santos for reporting.

[2021-03-12 01:27] Porco1987 commented on #810
We still have
`<PackageReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.3" />`

In

src/Skoruba.IdentityServer4.Admin/Skoruba.IdentityServer4.Admin.csproj
![temp](https://user-images.githubusercontent.com/34730223/110877829-0a94ae00-8315-11eb-86dd-a0ba4146cdc7.png)

Does this need env to install both net core 2.X and 3.1?

[2021-03-12 12:35] BenjaminKeffer commented on #776
Do you have updates on this topic? Would be really nice!

[2021-03-12 13:53] skoruba commented on #776
@BenjaminKeffer - Yep, I am working on it. I need more time to process all details. 😊🎈

[2021-03-16 08:29] BenjaminKeffer commented on #776
Very cool! :) Thank you so much. Do you already know a possible release date?

[2021-03-16 09:26] skoruba commented on #776
I am working on that in my free time, so the release date is not fixed. 😊 I hope this month. 😎

[2021-03-17 15:19] JayJay1989 opened #815 "Cannot update claims with admin api"
### Describe the bug
[This action](https://github.com/skoruba/IdentityServer4.Admin/blob/release/2.0.0/src/Skoruba.IdentityServer4.Admin.Api/Controllers/UsersController.cs#L182) & [this action](https://github.com/skoruba/IdentityServer4.Admin/blob/release/2.0.0/src/Skoruba.IdentityServer4.Admin.Api/Controllers/UsersController.cs#L197) are both checking if the id is a 0 before it executes the query

[2021-03-18 06:18] skoruba commented on #815
I will check it, thanks!

[2021-03-19 11:09] kunleshipo opened #816 "Getting Error "No DbContext named 'AdminIdentityDbContext' was found" when I try to run Migration"
### Describe the bug
Getting Error "No DbContext named 'AdminIdentityDbContext' was found" when I try to run Migration from the Nuget Package Manager Console

### To Reproduce
Steps to reproduce the behavior:

- Create a new project with dotnet new skoruba.is4admin
- Update all connection strings
- Run Add-Migration or Update-Database from the Management Console

### Relevant parts of the log file

[2021-03-19 14:24] skoruba commented on #816
Check this script: https://github.com/skoruba/IdentityServer4.Admin/blob/master/build/add-migrations.ps1

[2021-03-21 16:00] weedkiller commented on #718
Please use a `DI option` to use / swap out with [open-ID-Core](https://github.com/skoruba/IdentityServer4.Admin/issues/718#issuecomment-702909833), if needed as @larsfjerm suggested. We need to plant the seeds so it can give someone in the community the chance to adopt other versions.

[2021-03-22 07:34] skoruba commented on #718
@weedkiller - Unfortunately, I do not have a time for porting this UI to openiddict, you can fork this project and you can start with this rewrite, if you are interested in this migration.
Thanks!

[2021-03-22 13:32] kunleshipo commented on #816
I have run the script and everything works now. Thanks a lot for your help.

[2021-03-22 13:32] #816 closed

[2021-03-22 23:19] jbraun27 commented on #718
@weedkiller  See Kevin Chalet's post about [openIdDict and Identity Server4](https://kevinchalet.com/2020/10/03/using-the-orchardcore-openid-management-feature-with-an-existing-openiddict-deployment/)  You also may want to look into using OrchardCore as a headless CMS in SaaS mode for OpenID auth.

[2021-03-23 22:37] elvishsu66 commented on #633
@skoruba,
Just FYI, we have been using v2 beta1 (Skoruba.IdentityServer4.Admin.Templates::2.0.0-beta1) in production for a few months. Everything works well. I just saw the release/2.0.0 branch. Could you please let us know what has been changed since beta1 in a few words?

[2021-03-24 07:33] skoruba commented on #633
hey @elvishsu66  - I will publish the change log. thanks!

[2021-03-24 14:24] kunleshipo opened #817 "Not updating Database in MySql: Specified key was too long; max key length is 767 bytes"
The application doesn't run the migration on startup. It throws an error about length of key.

### To Reproduce
- Create Application in Visual Studio using the dotnet new command
- Change the Connection strings and ProviderType to point to MySQL
- Change all references to UseInmem to UseMySql
- Run Application

[code]

[2021-03-25 06:56] skoruba commented on #817
Check this issue #256

[2021-03-25 10:30] skoruba commented on #776
🚀😎 Here is the new repository with **Duende IdentityServer Admin UI**:
https://github.com/skoruba/Duende.IdentityServer.Admin

[2021-03-25 10:33] BenjaminKeffer commented on #776
Woow! I'm looking at it right now. Thanks a million!

[2021-03-25 10:34] krishnankuppaswamy commented on #776
I'm looking into this right now 👍

[2021-03-28 09:34] pccai opened #818 "AuditLog View Missing ten languages resx files"
### Question
IdentityServer4.Admin\src\Skoruba.IdentityServer4.Admin\Resources\Views\Log\AuditLog.***.resx
Missing ten languages resx files.

### Relevant parts of the log file

[code]

[2021-03-31 18:13] weedkiller commented on #718
@jbraun27 thanks for sharing that I saw it.

I also like skoruba very much, and if it was developed with an` Interface /DI design`, we could `adopt` do the leg work to make it work with other providers.

[2021-04-05 15:23] mariobuonocore1 opened #821 "Admin ver. 1.0.0 on Docker for Windows: The SSL connection could not be established, see inner exception"
Hi Skoruba, and thanks for this administration tool which I find very interesting. Using IdentityServer4.Admin on Docker for Windows on my computer, the Security Tocken Service (STS) works fine, but when I have to go to the Admin UI I get the following error:

[code]

I state that I have followed all the indications of the README.md file, I have also created the certificates with MkCert, and if I

[2021-04-06 19:00] ccprogetti commented on #821
I had the same issue on Docker Desktop for Windows. I found the problem was related on root certificare creation.

cd shared/nginx/certs
mkcert --install
copy $env:LOCALAPPDATA\mkcert\rootCA-key.pem ./cacerts.pem
copy $env:LOCALAPPDATA\mkcert\rootCA.pem ./cacerts.crt

Please note "rootCA-key.pem" instead of "rootCA.pem" used on the original documentation.

Thanks
Andrea

[2021-04-07 09:06] mariobuonocore1 commented on #821
Hello Andrea, thank you for the answer. I tried to regenerate the certificates and use your solution, but unfortunately the problem is still present:

[code]

This is my "shared\nginx\certs" path:
`C:\Skoruba.IdentityServer4\shared\nginx\certs`

And this is my docker-compose.yml file (it does not change from the template file):

[code]

Maybe I have to change something in docker-compose.yml too?
T

[2021-04-07 16:39] jrCalcopietro opened #822 "using no EF for data access"
Hi guys, is possible to customize Skoruba IDS4 Admin to use repositories coded in a pure "ADO.Net fashion way" or I really need to use EF. Thanks!!!

[2021-04-08 11:02] mariobuonocore1 commented on #821
Hi Andrea,
Thank you! Trying your solution again, it worked in my case too.

My further problem was that using the command:

'copy $env:LOCALAPPDATA\mkcert\rootCA.pem ./cacerts.crt'

Instead of creating a file, in my case it created a folder.

Thank you again!
Mario

[2021-04-08 11:02] #821 closed

[2021-04-08 12:50] skoruba commented on #821
@mariobuonocore1 @ccprogetti - Thanks for reporting this issue and resolution as well, I can update readme file with this hint. 👍

[2021-04-09 09:37] iCoder1 commented on #101
Hi @mperk
Did you manage to solve the Multi tenancy because I am very interested to make it work too!

[2021-04-09 13:49] mperk commented on #101
Hi @iCoder1 ,
Yes, i solved it and i sent a pr here: https://github.com/skoruba/IdentityServer4.Admin/pull/661
It may be old because It didn't merge but it is working on my fork.

[2021-04-14 22:12] fouadgm commented on #821
@skoruba I was trying to get local HTTPS working on MacOS, and had to make these changes:
1. Fix: copy $env:LOCALAPPDATA\mkcert\rootCA.pem ./cacerts.pem -> copy $env:LOCALAPPDATA\mkcert\rootCA-key.pem ./cacerts.pem@ccprogetti
2. Mod: mkcert -pkcs12 skoruba.local.pfx skoruba.local *.skoruba.local -> mkcert -pkcs12 -p12-file skoruba.local.pfx skoruba.local *.skoruba.local
3. Issue: Admin internally

[2021-04-14 22:17] fouadgm commented on #685
@inksong Might be late for this, but my comment [here](https://github.com/skoruba/IdentityServer4.Admin/issues/821#issuecomment-819882019) (#821) might address the issue.

[2021-04-15 00:29] sourabhtewari opened #823 "403 when accessed behind a load balancer"
### Describe the bug
403 response when we access an Identity enabled client behind a load balancer. We haven't added more nodes, so there is only once node behind the ELB which is serving all requests.

### To Reproduce
Steps to reproduce the behavior:

We use an Elastic Load Balancer (AWS) for our needs. There are two scenarios. One is access from corp environment and another from public internet

[2021-04-15 09:33] pprometey commented on #633
It is advisable to upgrade the version to Net 5 (5.0.5) at the moment.

[2021-04-15 14:27] skoruba commented on #633
@pprometey - Yep, I will do it. 😎

[2021-04-19 15:05] ericwscott opened #824 "How to customize CSS styles in 2.0.0 RC versions?"
### Question
In 2.0.0-beta1 I was able to use SASS with Bootstrap to change bootstrap defaults and create a customized bootstrap CSS file based on SASS variables.

With the move to Razor Class Libraries in the RC versions, there seems to be no way to do this because the source files are gone.

Is SASS still supported?  What is the recommended way to customize CSS styles?

[2021-04-20 14:39] ericwscott commented on #824
I was able to make this work by adding a wwwroot folder and the necessary npm packages to the Admin project generated by the 2.0.0-rc3 template.  You can specify the custom css file using the CustomThemeCss property as documented in the Readme.

The downside to this approach is that the standard bootstrap css is always included in the vendor bundle so it is a bit bloated when you include sass gene

[2021-04-20 14:39] #824 closed

[2021-04-21 13:30] ericwscott opened #825 "Unable to edit localization resource files"
### Describe the bug
Unable to edit localization resource files in Admin project.  Filing as a bug report because this functionality existed in previous versions of the template.  In particular, I would like to change the SubTitle value and it is not possible.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new project from the 2.0.0-rc3 version of the skoruba.is4admin template.
2.

[2021-04-21 16:18] akshetty9 opened #826 "Database tables not created"
### Question
I am trying to run the project with PostGreSQL as store. When the application runs, it throws errors related to DataProtectionKeys  tables not being present. Do we need to run the migration manually?

[2021-04-21 16:22] skoruba commented on #825
Hey @ericwscott - you can override existing resources in same path like in Razor Class Library, for example:

in your project you can create folder `Resources and copy files from Razor Class Library and modify them.

Please, give me feedback how it works.

Thanks!

[2021-04-21 16:23] skoruba commented on #824
Hey @ericwscott - thanks for your feedback, it is great that you figure out how to solve it. 👍

[2021-04-21 18:01] #825 closed

[2021-04-23 13:37] sourabhtewari commented on #823
The issue is due to a WAF rule GenericRFI_QUERYARGUMENTS

This blocks implicit grant requests. Any ideas to circumvent this?

[2021-04-24 04:37] miladganji opened #829 "Logout defferent device"
Thanks to the development team
I have a question, suppose user one logs in to program one with the Chrome browser, but at the same time the same user logs in with the previous information in the Firefox browser, how can I log out of the Chrome browser, or can I log in as a user? Log out of all devices?

[2021-04-26 12:50] IvoryWolf opened #832 "Adding Client Token signing algorithms results in Error"
### Describe the bug
An error page is shown when trying to add additional token signing algorithms to a Client.
The selected items are not saved when reloading the client page.

### To Reproduce

1. Create a client.
2. Add any item from from the suggested items. I used ES256, ES384, ES512.
3. Save the client.

![afbeelding](https://user-images.githubusercontent.com/5112678/116084143-c0d20e00-a69d-

[2021-04-26 12:58] skoruba commented on #832
Thanks! I will fix it.

[2021-04-26 13:55] #783 closed

[2021-04-26 15:00] #832 closed

[2021-04-26 15:02] skoruba commented on #832
Fixed in 2.0.1, please check it, thanks 👍

[2021-04-26 15:07] #813 closed

[2021-04-26 15:07] skoruba commented on #813
Fixed

[2021-04-26 15:08] skoruba commented on #633
It is published, you can test it under .NET 5. 😊

[2021-04-26 15:09] skoruba commented on #803
It is ready to use in master branch. 😊🚀

[2021-04-26 15:09] #803 closed

[2021-04-26 15:10] skoruba commented on #796
Now it is possible to easier upgrade UI part via nuget package. 👍 Please check tha latest version from master branch.

[2021-04-26 15:10] #796 closed

[2021-04-26 15:30] IvoryWolf commented on #832
Can confirm everything is working in 2.0.1.
Thanks for the quick response! 👍

[2021-04-26 19:52] pprometey commented on #633
Thank you Jan! Already tested, everything works.

[2021-04-27 05:57] skoruba commented on #633
Thanks @pprometey 👍

[2021-04-27 12:34] LubosVoska opened #835 "Problem with Docker Nginx"
### Question
I have problem with Docker Nginx. No modifications to original docker-compose.yml file. How to fix this problem?

### Relevant parts of the log file

[code]

[2021-04-27 14:21] skeamy opened #836 "iframe cross domain issue"
Hi,
We are migrating several identity based applications to identity server 4 using skoruba admin.
We have however run into a problem regarding iframes. Some of the Applications run certain functionality in the other applications using iframes. If I arrange the Applications in IIS to all be under the same secure (https) web site everything works fine with the iframes

 - MainWebSite
 - -> App1
 -

[2021-04-27 16:15] HannahKiekens opened #837 "MySQL /seed trouble"
### Describe the bug
MySQL migrations fail to run

### To Reproduce
 dotnet run /seed

### Relevant parts of the log file

[code]

[2021-04-27 18:02] #837 closed

[2021-04-28 05:41] skoruba commented on #837
Hey @HannahKiekens - Does is work for your? Did you find out where the issue was?
THanks

[2021-04-28 06:42] HannahKiekens commented on #837
@skoruba
I ended up switching to PostgreSQL and now things work as expected so I closed the issue.
It turns out MySQL & MariaDB do other weird things on a resource constrained Linux VM
Thx for following up!

The issue was for Ubuntu 20.04 + Mysql from ubuntu repo

[2021-04-29 01:50] kristx300 opened #839 "How to install new 2.0.1?"
Hi, I want install new version, and use dotnet new -i Skoruba.IdentityServer4.Admin.Templates::2.0.1 and get exception from TemplatePackageCoordinator

![image](https://user-images.githubusercontent.com/11241838/116492911-11c94880-a8d0-11eb-8b94-100cdc0af0e3.png)
![image](https://user-images.githubusercontent.com/11241838/116493148-a764d800-a8d0-11eb-84c5-59c7bf5ccfaa.png)

[2021-04-29 05:11] akshetty9 commented on #826
My Bad. I figured it out from the documentation. Thanks for the great work.

[2021-04-29 05:11] #826 closed

[2021-04-29 06:45] kristx300 commented on #839
Few days ago, I installed MAUI for test'n'fun.
For now, my current .Net SDK is 6.0 preview.
[Solved](https://stackoverflow.com/a/42078060) example.

[2021-04-29 06:45] #839 closed

[2021-04-29 06:56] skoruba commented on #823
Hi @sourabhtewari - did you find the issue? Thanks!

[2021-04-29 09:54] sourabhtewari commented on #823
@skoruba Found the issue but not the solution . WAF blocks any call with "://" pattern in the query parameters. More info for the WAF (RFI related rules) here https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-list.html

Asked a question https://github.com/IdentityServer/IdentityServer4/issues/5231.

[2021-04-29 09:56] sourabhtewari commented on #823
Opening the issue just @skoruba could help with a solution :)

[2021-04-29 15:06] mothswiller commented on #347
I've tried everything above and I simply cannot access the Admin API from a console application. The above GitHub links do not work. Would really appreciate some help

[2021-04-30 04:30] sourabhtewari commented on #823
@skoruba we have logged a ticket with AWS who will help us set up the WAF. this has nothing to do with Identity. Closing the ticket.

[2021-04-30 04:30] #823 closed

[2021-04-30 06:18] skoruba commented on #823
@sourabhtewari - Thanks for your feedback, I do not have any experience with this issue and AWS in general. 😉

[2021-04-30 06:38] Platonenkov commented on #267
I have resolved this question as follows:
in AccountController (STS project) ->
Method
[code]
I did not find a place where the AutomaticRedirectAfterSignOut is set, but by default it is -false
and if client have in settings Post Logout Redirect Uris -> I set Automatic redirect

[2021-04-30 06:57] krishnankuppaswamy commented on #267
With my experience, don't set the `post_logout_redirect` in the client application (your application outside of IdS). Setting that in Identity Server (IdS) end on Admin portal for a specific client is sufficient.

[2021-04-30 09:23] CxistHans opened #840 "Custom IProfileService: IdentityServer Enter IdentityServer Admin AccessDenied"
### Describe the bug
Completely code initialization data, admin login，Try to enter IdentityServer Admin from IdentityServer

### To Reproduce
Added custom IProfileService, then StartupHelpers:.AddProfileService<ProfileService>(), then start the project, Try to enter IdentityServer Admin from IdentityServer
####  version: Templates::2.0.1
ProfileService:
[code]
### Relevant parts of the log file
[c

[2021-04-30 09:43] CxistHans commented on #840
![image](https://user-images.githubusercontent.com/52312956/116677839-3fe77f00-a9db-11eb-9a05-e74f92360c3f.png)
After comparing the jwt token of the correct and incorrect requests, it is found that the claim: role and user are missing

[2021-04-30 10:48] skoruba commented on #840
You can check the default profile service here: https://github.com/IdentityServer/IdentityServer4/blob/main/src/AspNetIdentity/src/ProfileService.cs

[2021-05-02 01:22] cjaliaga opened #842 "Only force the Redirect Uri on Admin.UI on OpenIdConnect Auth when explicitly defined on configuration"
Currently we are modifying the Redirect Uri when authenticating using the `OpenIdConnect` provider with a value defined in configuration:

https://github.com/skoruba/IdentityServer4.Admin/blob/7023c0c6bb86f0d3c9bd2a5f603d17984c5c5fe3/src/Skoruba.IdentityServer4.Admin.UI/Helpers/StartupHelpers.cs#L420-L425

By default the `OpenIdConnect` provider is able to generate the callback URL based on the cu

[2021-05-02 06:32] skoruba commented on #842
Hey @cjaliaga - this is a good idea, could you please send a PR? 😊

[2021-05-03 05:47] LubosVoska commented on #835
Solution

https://github.com/docker/for-win/issues/1829#issuecomment-376328022

[2021-05-03 05:47] #835 closed

[2021-05-03 09:20] egbertn opened #844 "Applying duende license key"
### Question
It seems that a valid license key is ignored.

    "AdvancedConfiguration": {
        "IssuerUri": "",
        "IdentityServerLicenseKey": "eyJhbG.........................."
    },

(Other options are off)

 "CertificateConfiguration": {

        "UseSigningCertificatePfxFile": true,
        "SigningCertificatePfxFilePath": "./mycerttttttttttttttttttt.pfx",
        "SigningCertificate

[2021-05-03 09:48] skoruba commented on #844
Hello, for Duende IS Admin UI, please use this repo: https://github.com/skoruba/Duende.IdentityServer.Admin
There is option for applying the license key.
Thanks!

[2021-05-03 09:48] #844 closed

[2021-05-04 08:41] Devvox93 opened #845 "Dependency on package(s) with known vulnerabilities (System.Text.Encodings.Web.4.6.0)"
### Describe the bug
There is an (indirect) dependency on System.Text.Encodings.Web version 4.6.0, which is marked as containing critical vulnerabilities on [NuGet](https://www.nuget.org/packages/System.Text.Encodings.Web/4.6.0).

By policy, we cannot get this package from NuGet.
We are using an internal (mirrored) package source.

A workaround is possible by allowing the package in the mirror, bu

[2021-05-04 11:44] #845 closed

[2021-05-05 12:31] dawidkowal opened #846 "SSL certificate validation while debugging"
Would I consider adding a custom server certificate validation callback which will always be correct when debugging ?
` Skoruba.IdentityServer4.Admin.UI.Helpers --  AddAuthenticationServices`
[code]

Due to the company's policy, BasiAuth is forced by us (my opinion on this topic does not count in the company 😅), omitting the address` ../Account/Login `
Maybe a conditional option in the future  :)

[2021-05-05 13:23] hitcSimon commented on #281
How can I add it in your newest IdentityServer version? I can't reach the link above.
Thank's a lot.

[2021-05-06 11:12] maulik-modi commented on #776
@skoruba , thanks a lot. This is awesome, looking forward to 1.0 release

[2021-05-07 21:00] aldinei-sampaio opened #847 "MySQL /seed trouble (#837)"
### Describe the bug
I had the same problem described at issue #837, but in MySql running on Windows.

I just want to share that I worked around the problem changing the MySQL migrations for the IdentityServerConfiguration DbContext. Just looked for "4000" inside the migration files and replaced it for "2147483647".

[2021-05-08 07:43] skoruba commented on #847
Thanks for reporting this, I will take a look at this. 😊

[2021-05-11 09:57] avitryhard commented on #534
I'm using 1.0.0beta7 template version and I'm having the same problem.
I want create a new table that have foreign key to Roles.
And how can I display this field in Role.cshtml. I mean how to custom RoleDto.

[2021-05-18 05:46] shubham-vunet commented on #738
It'll be easy to have table based tenants.

[2021-05-19 12:12] CharKourkoulis commented on #776
Hi @skoruba , I just created a Duende Identity Server solution via the dotnet new skoruba.duende.isadmin  command.
Though, the AdminUI project is not included in the solution (only Admin and Admin.Api are present).
What is the best way to include AdminUI to my already existing solution?
Thank you

[2021-05-19 12:22] skoruba commented on #776
Hey @CharKourkoulis - the AdminUI project is included as nuget package for easier updating for a newer version. ☺

[2021-05-19 13:18] skoruba commented on #776
It is `Skoruba.Duende.IdentityServer.Admin.UI` package. 😎

[2021-05-19 13:20] CharKourkoulis commented on #776
@skoruba  I've installed the nugget package but still cannot see AdminUI project in solution. What else needs to be done? (Sorry for the dummy questions)

[2021-05-19 16:47] mothswiller commented on #347
Just updated to your new net5 version and now all my previously working Client Credential flows are giving an error "invalid scope". Did I miss something?

[2021-05-21 05:53] jimleee opened #855 "how to access virtual host "https://admin.skoruba.local/" from client pc"
### Question
Hi guys,
I am runnig from docker in my pc and it works fine, I can access https://admin.skoruba.local/ successfully.
Now i am wondering how to access the the admin form other computers, definitely access "https://admin.skoruba.local/" in the browser from other computer is not working. I think it's something about virtual host. but i don't known how to deal with it.

### Relevant parts

[2021-05-23 09:21] kunleshipo opened #856 "How can I enable Facebook and Google Login"
### Question
Please I am trying to use this to implement a single sign on solution for my organization, but I can't find my way around configuring it for facebook and google login. Please how can I do this? I also don't mind if you can refer me to relevant resources. Thanks a lot
### Relevant parts of the log file

[code]

[2021-05-25 06:42] jimleee commented on #855
I get it done by myself, thx all the same

[2021-05-25 06:42] #855 closed

[2021-05-28 13:19] CharKourkoulis opened #858 "Trying to compile to .NET 6 preview 4"
Hi @skoruba ,
We are using your project for Authentication/Authorization purposes to a new project and we've changed the target framework to .NET 6 preview 4 (also updated all nuget packages etc). A problem that we encountered is that the nuget package "EntityFramework.Storage" has reference to the "Microsoft.EntityFrameworkCore.Relational 5.0" package resulting to an error.
(It seems that the Mic

[2021-05-30 00:32] bravecobra commented on #847
As I was testing my helm charts for kubernetes adding support for other database, I noticed the same issue. The above trace is exactly the same. The used version is 2.0.1

[2021-06-01 13:09] prashant8891 opened #862 "IdentityServer4.Admin Client Register"
Hi Skoruba,

I am implementing skoruba with Fhir Service (https://github.com/microsoft/fhir-server) I want to register clients dynamically with this service below is my code for client registration but I am getting some dependency injection error please help.

 if (developmentIdentityProviderConfiguration.Enabled)
            {
                var connectionStringBuilder = configuration["SqlServer

[2021-06-01 17:45] agileramblings opened #863 "Current setup for docker-compose does not function correctly with AzureAd turned on"
### Describe the bug
When enabling AzureAd and filling in the required configuration values, External Login goes to AAD login pages, completes authentication, then when returning to complete looking into the STS app, the page simply goes to the login page again. (https://sts.skoruba.local/Account/Login)  The AAD cookie is present to clicking on the `OpenIdConnect` button over and over causes the a

[2021-06-01 17:52] egbertn opened #864 "We need SMTP upgraded support"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Upgrade SMTP component support, use Mailkit.

**Describe alternatives you've considered**
// Copyright (c) Jan Škoruba. All Rights Reserved.
// Licensed under the Apache License, Version 2.0.

using System;
using MailKit.Net.Smtp;
using MailKit.Security;
using System.Threading.Tasks;
using M

[2021-06-02 04:50] prashant8891 opened #865 "IdentityServer4.Admin Client Register"
Hi Skoruba,

I am implementing skoruba with Fhir Service (https://github.com/microsoft/fhir-server) I want to register clients dynamically with this service below is my code for client registration but I am getting some dependency injection error please help.

if (developmentIdentityProviderConfiguration.Enabled)
{
var connectionStringBuilder = configuration["SqlServer:ConnectionString"];
var migr

[2021-06-02 22:50] wggley commented on #532
https://github.com/IdentityModel/oidc-client-js/issues/729

"Keep in mind that some browsers started to reject insecure SameSite=None cookies, i.e Chrome version 85"

[2021-06-03 15:31] bravecobra commented on #847
Any progress on this?

[2021-06-03 19:58] agileramblings commented on #863
Looking in Fiddler at a version of Skoruba that works (pre-v1 instance)

![image](https://user-images.githubusercontent.com/9729653/120704282-a432ae00-c473-11eb-8ca7-9c426fdb175c.png)

and the v2 instance

![image](https://user-images.githubusercontent.com/9729653/120704334-b3b1f700-c473-11eb-9618-dd5a207e2674.png)

I don't understand why the cookies are different. Both are pointing at the same AA

[2021-06-03 21:28] agileramblings commented on #863
I've made this work, but I suspect there is a better way.

I noticed that the fist call after `Account/ExternalLogin?` was different between the two sites. The current v2 of Skoruba called:

![image](https://user-images.githubusercontent.com/9729653/120708967-7fd9d000-c479-11eb-91c8-30b78fa169fd.png)

but the previous version called...

![image](https://user-images.githubusercontent.com/9729653/12

[2021-06-04 03:57] martinussuherman commented on #856
@kunleshipo I also have the same requirement as yours for my next project. I will try to create PR to implement the google and facebook external login to this repository.

@skoruba any thoughts? I think it will add some dependencies.

[2021-06-04 11:07] Shotagog opened #866 "new field parameter is missing"
### Question
I'm using https://github.com/skoruba/IdentityServer4.Admin repository for my project.

I created ViewModel class (public class CreateDateViewModel : IdentityUser) for some custom fields (CreateDate) and inherited it from IdentityUser. After migration (Add-Migration "MigrationName" -Context IdentityServerConfigurationDbContext -o Migrations/IdentityServerConfiguration) and update the d

[2021-06-04 12:38] SDmorgan opened #867 "Username/Email Address"
### Describe the bug
Technically a change request, but could be interpreted as a bug.

When you change the LocalConfiguration/RespolutionPolicy attibute to"Email", the Login screen still states Username. This results in a poor user experience. It should be updated to Email or Email Address.

### To Reproduce
Steps to reproduce the behavior:

1. Change the LocalConfiguration/RespolutionPolicy attib

[2021-06-04 13:51] MaxThom opened #868 "Signature validation failed. Unable to match key"
### Describe the bug
Hi,
thank you for this amazing solution.

My solution is deployed on k8s with Azure. I have an ingress with lets encrypt. I've used the templates so I got admin, adminapi and identity.

I often have this error message in my logs and I have to restart the pod.
Any idea what could cause the issue?

Thank you !

### To Reproduce
Deploy on azure k8s with ingress and letsencrypt fo

[2021-06-04 20:23] S1r-Lanzelot commented on #267
x2 on this one... running into same issue.

[2021-06-05 05:48] kunleshipo commented on #281
Hello, Please I am having same issue here, I have added the api scope but can't see role on the list of claims to add. Please help me.

[2021-06-05 06:01] kunleshipo opened #869 "How can I add Roles Claim to My Access Token?"
### Question
Hello, please I have been struggling with this for the past 24hours and I will appreciate any help I can get. `i have registered a user on the identity 4 server and I can login with the user with the openid flow. But I noticed that the roles claim does not get added to my access token. I created a new api scope and api resource to add the roles claim to the user claims for my client,

[2021-06-05 06:02] kunleshipo commented on #817
Thanks, I have been able to resolve it.

[2021-06-05 06:02] #817 closed

[2021-06-05 08:21] kunleshipo commented on #869
I have been able to resolve it by adding **response_type** **id_token token** to my token request

[2021-06-05 08:21] #869 closed

[2021-06-05 08:23] kunleshipo commented on #856
@martinussuherman thanks for this, it is exactly what I was looking for.

[2021-06-05 08:23] #856 closed

[2021-06-07 13:06] jjjhong91 commented on #751
I have same problem.

[2021-06-07 13:10] jjjhong91 commented on #751
This is my yml
[code]

and then skoruba-identityserver4-admin's log

[code]

[2021-06-08 18:40] zabihrajaie opened #870 "Security issue related to token saved in browser cookie"
I'm using Identity Server 4 version 3.1.2. I logged in with a user information in Chrome and with another user information in Firefox in the same computer. If I copy the first user token saved in Chrome Cookies and paste it to the Firefox Cookies (replace with second user token) and refresh Firefox (pressing F5), Firefox logged in user will be changed to Chrome user and it is a security issue. Wha

[2021-06-09 16:15] pbros opened #872 "IdentityBuilderAction should be added to the AdminUI AddIdentityServer4AdminUI extension"
Hello,

I am currently upgrading a project from v1.0.0 to v2.0.1 and noticed that the most of the code in the Admin web project has been moved to the Skoruba.IdentityServer4.Admin.UI library.

One thing that seems to be missing is to hook into the IdentityBuilder in the AddIdentityServer4AdminUI -> AddAuthenticationServices method.

Previously I was using the call to `services.AddIdentity<>()` to

[2021-06-10 13:23] ChristianAVisma commented on #868
We are seeing the same issue, but with a different hosting env.
We do however experience the same issue, and we think the loadbalancer is the issue.
We haven't been able to confirm this 100% though.

[2021-06-10 13:41] MaxThom commented on #868
ok, for my loadbalancer I used nginx with sticky session. I also have 2 replicas for the identity, admin and api. Here is my yaml for the ingress:

[code]

Hope it helps! Gl :)

[2021-06-17 12:12] neh1897 opened #874 "Is it possible that roles not relevant to the client are not added to the token?"
Is it possible to attach only client-specific roles to the token for a user. (E.g. by a prefix that points to a particular client).
I am using a single instance of IS4 and STS for many different clients, as the many client apps grows the length of the roles branch in the token increases, the user may have access to all clients.

I was considering an approach where in STS I will keep only roles res

[2021-06-18 05:34] Matthew-J-Spencer commented on #278
Sorry to necro. We're still experiencing a cors issue after 'dynamically' creating a client. We add the url in AllowedCorsOrigins and it actually performs the authentication, but is then rejected on the /connect/userinfo call after redirecting to the callback page.

I can get it working by manually setting cors like so:
`app.UseCors(o => o.AllowAnyHeader().AllowAnyMethod().WithOrigins("http://loca