[2019-07-08 07:07] skoruba commented on #307
Thanks for your feedback. I am happy that it works. :)

[2019-07-08 07:09] skoruba commented on #309
Where did you get this error? It looks like you selected implicit and hybrid flow for one client which is not possible?

[2019-07-08 09:07] skoruba commented on #308
If you need retrieve these new additional claims in tokens - you need define resource for it and then this scope ask in your client side.

[2019-07-08 09:17] #307 closed

[2019-07-09 01:29] Danni-Ke commented on #309
@skoruba  Hi, I am new to the IdentityServer4, I got this since I add new grant type for  skoruba_identity_admin_api_swaggerui, which means I selected implicit and hybrid flow for one client at the same time. I am not quite sure what causes this.

[2019-07-09 01:31] jcf0419 opened #310 "Accept Cookie notification not showing on all broswers and then prevents redirect to AdminUI"
I noticed something funny after hosting local the Admin and STS.Identity projects..
When logging into localhost:5001 - everything seems fine then I would then click the IdentityServer Admin button.. and receive an error.
"ERR_SSL_PROTOCOL_ERROR"

I tried this is multiple browsers until finally on initial login to localhost:5001 identity server I was presented with accept cookie notification - then

[2019-07-09 05:40] skoruba commented on #309
You need to choose implicit or hybrid flow for this client, not both. What do you want to achieve?

[2019-07-10 07:54] Danni-Ke commented on #309
@skoruba actually I just mistakenly added both of the ways of authorization. Nevermind, : ). Again, thanks for replying, after I delete one of them, it works normally.

[2019-07-10 07:55] #309 closed

[2019-07-10 20:07] skoruba commented on #308
May I close it?
Thanks

[2019-07-10 22:32] bsheriff commented on #308
Yes, you may close this.  Thank you very much for the help.  This is an amazing solution, it has helped me out immensely.

[2019-07-10 22:40] skoruba commented on #308
If you will have any questions, let me know. :)

[2019-07-10 22:40] #308 closed

[2019-07-11 21:43] cmiller0352 opened #311 "IdentityController.cs parameter TRoleDto cannot implicitly convert type..."
IdentityController.cs
`[HttpGet]
        public async Task<IActionResult> UserRolesDelete(TUserDtoKey id, TRoleDtoKey roleId)
        {
            await _identityService.ExistsUserAsync(id.ToString());
            await _identityService.ExistsRoleAsync(roleId.ToString());

            var userDto = await _identityService.GetUserAsync(id.ToString());
            var roles = await _identityService.

[2019-07-11 21:44] cmiller0352 commented on #311
I havent touched these files, just updated nuget packets to new versions and now get this error

[2019-07-11 21:51] cmiller0352 opened #312 "Getting Invalid Column Name 'Created'"
I have verified that the column exists and is set up in SSMS correctly. I have full functions of adminUI connected to an existing identity server, with this exception. I cannot edit or delete Clients from the adminUI without getting an error ==> Invalid Column Name 'Created'

**ConfigurationController.cs**
`        [HttpGet]
        [Route("[controller]/[action]")]
        [Route("[controller]/[ac

[2019-07-12 10:20] skoruba commented on #312
Did you correctly apply new db changes via migrations?

[2019-07-12 10:41] skoruba commented on #311
You need use correct namespace for object SelectItem probable, what I can see from error message. I move this object to another project.

[2019-07-12 14:08] cmiller0352 commented on #312
I did. I ran updates hoping this would correct the issue, and it did not. I have verified that I can create new records into the db, delete, update, etc.. just not for clients.

I used the Debug>Windows>Exception Settings> Common Language Runtime Exceptions checked on and was getting breaks due to cannot find 'dbo.logs' which is where I am currently inspecting why this is. I used a different schem

[2019-07-12 14:10] cmiller0352 commented on #311
Thanks! Ill look for those changes.

[2019-07-12 14:10] #311 closed

[2019-07-12 17:28] Peperud opened #313 "Persisted Grants - allow deleting individual grants"
The GUI only allows to delete all grants. This is rather limiting IMO. It seems that more often than not, you'd want to delete a particular grant only, perhaps a set of grants, but not all of them.

[2019-07-12 17:31] skoruba commented on #313
You can delete a specific one, check list of grants and in table is button for deleting only one specific row.

[2019-07-12 18:10] Peperud commented on #313
My bad. The screen was apparently getting cut off and I didn't notice the scroll bar down there. I'm sorry.
On a different note - clicking on the details button on an _individual_ grant takes you to a screen where _all_ grants for that subject are listed.
Seems a bit odd. Perhaps either take it to the individual grant details, or group the grants per subject on the previous screen.

[2019-07-12 20:11] cmiller0352 commented on #312
as soon as it hits the line
`var client = await _clientService.GetClientAsync(id);
            client = _clientService.BuildClientViewModel(client);

            return View(client);`
it breaks. I have confirmed that it knows the id of the client.

[2019-07-12 21:04] cmiller0352 commented on #312
I tried adding a client to see if in the db, there was a record in the Created Column.
When I hit the Save button to create a new client, I get the invalid column name error,
however, when i look in the db, the client i tried to create is there, with a value in the Created column.
and when I run the adminUI again, the created client is there..

[2019-07-13 02:32] pigwing opened #314 "upgrade to ids 2.5 version and automapper 8.1.1 crash"
when i open the url http://localhost:9000/Configuration/Clients
and throw an unhandled exception
it is automapper 8.1.1 version problem

MissingMethodException: Method not found: 'AutoMapper.IMappingExpression`2<!0,!1> AutoMapper.IMappingExpression`2.ConstructUsing(System.Linq.Expressions.Expression`1<System.Func`2<!0,!1>>)'.
Skoruba.IdentityServer4.Admin.BusinessLogic.Mappers.ClientMapperProfile.

[2019-07-15 05:34] #314 closed

[2019-07-15 07:36] skoruba commented on #314
How did you solve this issue?
Thanks.

[2019-07-16 08:48] cszczotka opened #315 "How far you are from official 1.0.0 release ?"
Hi,
We are considering usage "Skoruba IdentityServer4" on production env. Currently only beta version is available. How far you are from official 1.0.0 release ? Do you recommend usage beta version on production ?
Thanks,
Czeslaw

[2019-07-16 14:53] chadbengen opened #316 "Is api integrated?"
@skoruba, it does not appear that the admin ui uses the api.  Is that true?

[2019-07-16 16:00] aiscrim commented on #251
Please have a look at this pull request I just opened: #317

[2019-07-16 17:41] skoruba commented on #315
Hi, I think that AdminUI and STS are pretty solid, currently I am still collecting the feedback, if everything works fine. 👍🏼😊
Before 1.0.0 - I want to improve API - there are missing some validations (#304)
BTW: We are using latest beta version in production and looks good, but as I mentioned - feedback is still welcome.

[2019-07-16 17:43] skoruba commented on #316
API is separated from AdminUI and AdminUI uses BusinessLogic directly, not via API. 😊

[2019-07-17 05:18] pseudorasbora commented on #183
I also have the same problem, it does not work in chrome when logging in , but in IE well.

[2019-07-17 15:39] cmiller0352 commented on #312
Solved: I had an existing identity server, with custom schema, and not all the tables had the columns the adminUI was expecting. Needed to add a 'Created' column in ClientSecrets and ApiSecrets, but was able to get everything up and running.

Thanks for the help!

[2019-07-17 15:39] #312 closed

[2019-07-17 15:58] skoruba commented on #312
Thanks for your feedback.

[2019-07-17 21:52] devchild opened #320 "swagger ui"
Hi I started a new project using following command:
`dotnet new skoruba.is4admin --name MyProject --title MyProject --adminrole MyRole --adminclientid MyClientId --adminclientsecret MyClientSecret`

The documentation seem to suggest that there should be a swagger ui somewhere.
But there's not reference to any swagger library.

Should I add this myself, or am I missing something

[2019-07-18 04:10] pigwing commented on #283
@skoruba it is idsvr4 problem,current idsvr4 version 2.5 solve this problem,can you upgrade the dll to idsvr 2.5 version?^_^

[2019-07-18 13:15] devchild commented on #320
![image](https://user-images.githubusercontent.com/6022889/61460332-cc43c180-a96e-11e9-8bf9-4f8b68af3842.png)
Seems like the api isn't generated. Do I need to use another switch?

[2019-07-18 13:20] devchild commented on #320
Never mind, seems like I have an old template installed

[2019-07-18 14:11] skoruba commented on #320
Yes, you have old template, please check the new one. I have added the API in latest beta version. 😊
Thanks!

[2019-07-19 14:05] epoyraz commented on #86
@skoruba we can edit the redirect urls. but it doesn't persist the edited urls.
After pressing on "save client" i still see my old redirect url

[2019-07-19 14:10] skoruba commented on #86
Please, check latest version from master, there was a bug. 😊

[2019-07-21 17:04] skoruba opened #321 "Demo of Admin UI"
- Create demo instance of Admin UI.

[2019-07-22 08:02] HasdrubalTn commented on #289
Hello, It happen on dev/localhost and you have to click twice on the logout button to redirect you back to the login page.

[2019-07-24 08:01] Burgyn opened #322 "Question: My own IdentityServer like STS"
Hi,
I'm looking for some texts (blog / tutorial / youtube video / whatever) about how configure AdminUI in my own existing IdentityServer (I need merge all in one service).

I know how link my IdentityServer and `Admin` project, but I don't know how replace your `Admin.STS.Identity` services with my IdentityServer.

Exist any documentation?

[unfortunately these is not enough for me](https://githu

[2019-07-24 08:38] skoruba commented on #322
Hi,
This is great question, I know that something more detailed is missing, but unfortunately, I have not time to write some detailed guide yet. 😊 I will work on it ASAP. 😉
I am currently on vacation.
Thanks!

[2019-07-24 09:24] Burgyn commented on #322
Hi, thanks for your reply.
If you give me some basic steps in the future, I will be happy to help you write the documentation.

Enjoy your vacation.

[2019-07-25 09:45] jsabic opened #323 "AdminConfiguration not configured properly from appSettings.json"
In file AdminConfiguration.cs

[code]
Some properties are missing public set, so they can't be overridden by ones in appSettings.json.

[2019-07-25 17:14] StasPerekrestov commented on #314
https://github.com/AutoMapper/AutoMapper/issues/3117

[2019-07-25 18:00] skoruba commented on #314
Thanks 👍🏼

[2019-07-25 18:02] skoruba commented on #323
Thanks for reporting this, I will change it.

[2019-07-25 19:53] StasPerekrestov commented on #314
I suppose if you upgrade ids to 2.5.0 and Automapper to 8.1.1 (this version is in the dependencies here https://www.nuget.org/packages/IdentityServer4.EntityFramework.Storage/), it should resolve the issue

[2019-07-30 09:55] StasPerekrestov commented on #314
Even more, it's discussed here https://github.com/IdentityServer/IdentityServer4/issues/3227 and the issue is part of Release Notes https://github.com/IdentityServer/IdentityServer4/releases

[2019-07-30 15:10] jordyvaneijk opened #326 "UserLockout support"
Am i right to say that the IUserLockoutStore is not implemented? Or are we doing something wrong? We want to lockout / disable users but the question is how can we do this?

Some help would be great.

[2019-07-31 17:02] carlosomarcp opened #329 "Add Spanish (es) Localization"
I'm willing to create the Spanish localization.
This would be my first contrib in github, so I want to confirm:

1. I fork the repository to my account.
2. then create a branch in my repository (in the forked one)
3. commit and push in my repo,
4. then PR to your repo,

Is that correct?

Edit:
what branch should I base my change? dev?

[2019-07-31 20:04] #316 closed

[2019-07-31 21:55] skoruba commented on #329
Hello,
yes, this is absolutely correct way. 👍🏼
Please, check out dev branch and from dev you can create a PR with your translations.

Thank you for your interest! 😊

[2019-07-31 21:58] skoruba commented on #326
Hello, if you need implement permanent disabling of users, you can add new extra property in UserIdentity object.

Look at this: https://stackoverflow.com/a/35310691/943403

Thanks!

[2019-08-05 08:24] Aegide opened #330 "Add French (fr) localization"
I'm willing to create the French localization.

Currently i'm working on setting up everything correctly before the PR.

[2019-08-05 09:46] skoruba commented on #330
Perfect, thanks! 😊

[2019-08-05 12:47] Aegide commented on #330
Thanks for the fast answer!

Do you think it would be pertinent to keep the english names for the OAuth concepts or use the  french microsoft translations ?

The devs arround me suggest that i keep english names.

Examples :

**Api scope** => [**Étendue de l'Api**](https://docs.microsoft.com/fr-fr/azure/active-directory/develop/v2-permissions-and-consent)
**Client claim** => [**Revendication clien

[2019-08-05 15:03] skoruba commented on #330
This is really good question. I've checked the our current translations and we are using this types of translation like you mentioned: **Api scope => Étendue de l'Api**. Maybe it would be great - create same style of translation. :)

Thanks!

[2019-08-05 15:38] Aegide commented on #330
For most words i can find an equivalent but there are cases where i have absolutely no idea.
And if i translated them directly it would feel weird.

- Subject ID
- Persisted Grant
- Device Authorization Flow
- Client/User claim
- Identity resource

Thanks for the insight, i will see what i can adapt !

[2019-08-05 16:07] skoruba commented on #330
For sure, if you don’t have an equivalent, please use english term, this is absolutely fine. 👍🏼 Thanks!

[2019-08-06 03:30] liminany opened #331 "Split Admin Project to two project"
for example:

admin: controllers/all views/pages/Global Resources/static resourcesetc....
admin.Core: all config/help class etc ...(also include the views/controllers,is't it?)

and then, admin.Core as a nuget pakg,we can update.

the custom/Extension code we can add admin project，dot't need update.
also,we can Merge the admin project with ID4 Server project ,just one web application.

[2019-08-07 18:50] skoruba commented on #331
This is possible, but for me in the future. I want to achieve stable current version and after that I will allocate my free time for this task.
Thanks. 👍🏼

[2019-08-08 00:19] cculver opened #335 "Docker deployment login loop"
I've got an issue where I'm trying to deploy the Admin UI and the STS server. The process works fine locally, but once deployed to production through docker and put up behind a reverse proxy providing TLS offloading, the process gets stuck in a loop. I've been all over the internet trying to figure this out, have modified my nginx configuration extensively to try and get this working, have incorpo

[2019-08-08 22:04] gabrieligbastos opened #336 "Doubt about project"
Just a quick doubt about it...
Is this also the identity server? Or a admin gui that i can point and connect to my identity server?

[2019-08-08 22:04] gabrieligbastos commented on #336
Nevermind, i think this alreadyd answer.
sorry

https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/Configure-Administration.md

[2019-08-08 22:05] #336 closed

[2019-08-09 04:34] cculver commented on #335
Some additional info from tonight's debug run. When running on localhost and comparing verbose log messages against production's, I see three log messages that are missing when running in production. These messages are:

1) Augmenting SignInContext
RequestPath: /connect/authorize/callback
SourceContext: IdentityServer4.Hosting.IdentityServerAuthenticationService

2) Performing protect operation to

[2019-08-09 08:35] curtisconner commented on #283
Upgraded to the idsvr 2.5 but still have the same issue.
IdentityServer4 - v2.5.2
IdentityServer4.EntityFramework v2.5.2
Skoruba.IdentityServer4.Admin.BusinessLogic v1.0.0-beta7
Skoruba.IdentityServer4.Admin.BusinessLogic.Identity v1.0.0-beta7

checked to see every package is the newest but still get the error.

thanks. if I can send you more information just let me know. Also using EF and SQL Ser

[2019-08-09 09:55] Aegide commented on #330
Translation done (118 fr.resx files and 2 culture files).

I'll double check my work and test it before PR.

[2019-08-09 14:04] Aegide opened #337 "Broken link "ready to use samples" on the Welcome page ?"
There are two links to GitHub on the **Welcome page**.
- [source code repository](https://github.com/identityserver/IdentityServer4)
- **[ready to use samples](https://github.com/identityserver/IdentityServer4.Samples)**

But the second link returns an error 404.
I initially thought i would be redirected to one of those three links :
- https://github.com/IdentityServer/IdentityServer4/tree/master/

[2019-08-09 15:03] skoruba commented on #337
Good catch, can you please send a PR? 😊
Thanks!

[2019-08-09 15:34] Aegide commented on #337
I'm struggling to create a new branch `dev/fix-link` in my fork with the current files from the official branch `dev`.
Currently my `dev` is filled with commits of another issue and i need to create a clean branch but i can't clone my own `dev in that state` xd .

[2019-08-10 07:14] skoruba commented on #337
Thanks! 😊

[2019-08-10 07:20] skoruba commented on #335
@xmichaelx - any idea with this issue? I think you have similar docker setup. Thanks!

[2019-08-10 16:45] cculver commented on #335
Just a note from debugging today. I attempted to get my local configuration as close to what would be running in docker as possible, getting rid of anything IIS related and making sure the .net framework versions were exactly equal. I didn't see any change in behavior, but I did notice that the three log messages I mentioned were missing are there now. I'm not sure anything I did had any reason to

[2019-08-10 16:46] cculver commented on #335
One final note, if I didn't mention before. I haven't changed anything at all from the defaults with respect to CORS. Could this have an effect?

[2019-08-10 18:52] skoruba commented on #335
BTW: Which configuration for Docker do you use? From some PR in this repo or yours? I have currently trouble with docker in general, therefore I can not provide useful advice for you. Maybe someone will help us with this issue. 😊

[2019-08-10 19:00] cculver commented on #335
I'm using docker-compose, which as I'm sure you know sits on top of docker and uses a yaml file to specify options. The script is as simple as possible and in each of the two services, the build context refers to a dockerfile that simply contains the dockerfile. In each docker file the only command is FROM <server>/<my docker image>. I build the docker images locally and push them out to a contain

[2019-08-11 16:36] #335 closed

[2019-08-11 17:25] skoruba commented on #335
How did you solve this issue? 😊

[2019-08-11 18:25] cculver commented on #335
Somewhat embarassingly given the amount of time I've put into this: more careful inspection of the headers being returned upon the first 302 redirect from the admin server. Before I explain, I want to say that I appreciate now everything this project is doing. I've been through the code up and down and through debugging it I now have a good understanding of how much time goes into making something

[2019-08-11 19:32] skoruba commented on #335
Thank you very much for your feedback, I will put this information into some docs - I don’t use linux and nginx, that is currently out of my scope of knowledge. 😊 I am able to test everything on windows only, so I happy for your info. 👍🏼 If you will have any information for deploy on linux, please share it with us. 😎

[2019-08-11 21:45] justki03 opened #338 "Question: Restricting a Client to a User"
Hi,

Is it possible to restrict a Client to a User.
I'm looking for a way to limit a User A to use only Client A. If User A tries to use Client B, I like to throw a unauthorized message.

[2019-08-12 01:18] skoruba commented on #338
Hi,
What do you mean with use client B? Do you mean to access from Admin and change settings of this client? So adding of additional authorization stuff on Admin part?

Thanks.

[2019-08-12 02:34] justki03 commented on #338
Hi Skoruba,
On the admin page, I would like to restrict User A to only modify/access Client A's information and can not modify/access other Client. Is there a way to do that?

Thanks.

[2019-08-12 07:03] skoruba commented on #338
For this use case you need implement some extra policy with your requirements - something like this:
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-2.2

For example: You can bind the access for some specific client_id for maybe some role name or create your own logic. 😊

[2019-08-12 08:40] Aegide opened #341 "Minor translation oddities"
1°)
https://github.com/skoruba/IdentityServer4.Admin/tree/master/src/Skoruba.IdentityServer4.STS.Identity/Resources/Views/Account

- **RegisterFailure.resx** could be renamed **RegisterFailure.en.resx**
- **RegisterFailure.ru.resx** do no exist

2°)
https://github.com/skoruba/IdentityServer4.Admin/tree/dev/src/Skoruba.IdentityServer4.Admin/Resources/Views/Configuration/Client/Section
- The equival

[2019-08-12 12:16] hgmauri opened #342 "Login return token access"
Hello

I have an Android app that needs to log in to Identity Server 4 and return the access token that will be used in all other requets.

Which route could I use in the Skoruba project to login?

[2019-08-12 19:45] skoruba commented on #342
Hi, I think it would be great to find some library which helps you with adding the OpenId Connect provider. 😊

[2019-08-13 18:05] #342 closed

[2019-08-14 13:34] nlz242 commented on #330
Question: Did you encounter issues with ModelBinding using the Delete logs feature?
On my side, it works if i set the UI to English, but it fails when i set it to French because MM/dd/yyyy is not a valid french date format.
Seems like the DateTime Picker used in this page doesn't change locale to match selected language

[2019-08-14 13:57] nlz242 opened #343 "DatePicker's locale doesn't change when switching language"
In the admin UI, in the logs page, the DatePicker's language is always english (ignores the selected language).

For example, if i select Russian, the calendar still shows "August" and all the abreviated days in english:

![image](https://user-images.githubusercontent.com/3332745/63026645-8ef12780-be79-11e9-98a6-c58c8ba8ad4b.png)

The calendar comes with Locales for most cultures and they can be f

[2019-08-14 13:59] nlz242 commented on #330
#343

[2019-08-14 14:35] Aegide commented on #330
I didnt test the `Delete logs feature`.

Nice finding about the DatePicker !

[2019-08-14 15:50] nlz242 commented on #330
I fixed it in PR #344

[2019-08-16 17:08] gzinger opened #347 "How to use Admin Api"
I am trying to call Admin API from another API, which is very common scenario. Usually, one uses Client-Credentials-flow in such chase. This is what I trying to do (for a week already) - I am calling token endpoint passing client_id and client secret and the scope of the adminapi. I got my access token and it validates correctly, but in the last step when I am actually calling the Admin API (to ge

[2019-08-16 19:27] skoruba commented on #347
Please, try this scenario:
- Add client claim into your client - role and value which is requered in API
- Then you will receive the claim in your api called - “client_role” so you need extend the default authorization for additional check for client_role. Please check in Client object the collection claims and clientclaimsprefix.
Give me pls info if it is good direction for your use case.
Thanks

[2019-08-16 21:21] gzinger commented on #347
Thank you Jan. I actually was able to get trough with the "Password" flow. I created and API user and pass that user's credentials in the PasswordTokenRequest. That works.

Now, I also created an additional admin API method to get user's role's claims. Would I be able to PR it into your main repo or you are not interested in this type of functionality?

[2019-08-19 15:30] Aegide opened #349 "Updating dotnet template (question)"
If i get the project by doing :
 `dotnet new -i Skoruba.IdentityServer4.Admin.Templates::1.0.0-beta7`.

The nugget packages can be updated easily, but how can i update my project if new features are added ?

[2019-08-19 16:04] skoruba commented on #349
Business Logic and EF layers are nuget packages as well, so you can update them, but changes regarding to UI you should update manually.

[2019-08-19 19:55] skoruba commented on #349
Any idea how to improve this? 😊

[2019-08-20 09:23] Aegide commented on #349
For my case, the only solution i see to "get updates" from your project would be to fork your `master` into our gitlab server and use an upstream.

If i do this i can get any modification you add with master, but i can't use anymore nuget packages.

But because we're gonna use a custom version of your solution, we're going to have to watch over how the new updates affect our current modifications.

[2019-08-22 08:34] gnsilence opened #350 "In the Api interface,How to Expand User Information"
In the API project, Is it possible to expand user information?
I've found that what I'm currently using is IdentityUser
I need to add some additional information.

[2019-08-22 09:02] aiscrim opened #351 "Error management when editing profile"
When something wrong happens in the ManageController/Index action (e.g. the user changes the email address but it's already in use by another user) an exception is thrown, resulting in a 500 response. Moreover, the details of the error are not clear enough, even locally: in the 'email address already in use' example above, all I get is:

And nothing goes to the logs, so there's no way of understan

[2019-08-22 10:41] skoruba commented on #350
Please, check this issue: #308

[2019-08-22 10:45] skoruba commented on #351
Please, open a PR if you can, because I am currently busy.
Do you try to setup email which is used for another user? I'll be happy for any fix/details on this. 😊
Thanks!

[2019-08-22 10:47] skoruba commented on #351
I think this line is your issue: https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Controllers/ManageController.cs#L80
Please, check the result in this line.
Thanks.

[2019-08-22 12:33] aiscrim commented on #351
Yes, exactly, and as you see when that call fails an exception is thrown. Instead I think it will be better to return a user-friendly message. I'll do it!

[2019-08-22 13:16] skoruba commented on #351
You are right, in this case will be better to have some nice message. :)
Thanks @aiscrim

[2019-08-23 10:25] aiscrim commented on #351
Working on the fix I discovered a few other related flaws in the ManageController:

- [Here](https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Views/Manage/_StatusMessage.cshtml#L5), the way StatusMessage is classified as success or danger is wrong: not all the errors start with the word "Error" (actually, most of the errors start with "Unexpecte

[2019-08-23 13:08] jordyvaneijk opened #352 "No JWKS endpoint (Unable to load PFX file?)"
After moving our identityserver from development to production we cannot sign the JWT tokens using PFX file anymore. We can login but when we try to connect through the admin we get the following exception:

[code]

I understand that this exception comes from IdentityServer4 but i was wondering whan can cause this problem. If i change the path to the PFX file to something that doesn't exist it wil

[2019-08-26 01:24] cculver opened #353 "IOS Issues"
I've got a public deployment using Beta 7 set up and everything's working great on windows. I went to show functionality to a colleague while using my ios 12 iphone and it seems that the redirect from /connect/authorize is not happening. It seems like all required elements have been provided and logs indicate that each time I reload, a token is issued. It's just not redirecting. I am using SameSit

[2019-08-27 08:54] aiscrim commented on #352
Take a look into the identity server logs. I guess some error arose when trying to add the signing credentials, so you should see something like "There was an error adding the key file - during the creation of the signing key" and some more details about the error.

[2019-08-28 07:06] jordyvaneijk commented on #352
I looked in the logs but saw nothing. After changing the log i could see. it. After some tweaking of the logging i found it. the exact logline was
`There was an error adding the key file - during the creation of the signing key The system cannot find the file specified` which had to do with the apppool setting `Load User Profile` which was false and needed to be `true`

[2019-08-29 13:06] skoruba commented on #353
I will try it. Do you have any additional logs?
Thanks.

[2019-08-29 13:07] skoruba commented on #352
Thanks for your feedback and @aiscrim for help. 😊

[2019-08-29 13:07] #352 closed

[2019-09-06 12:34] ailtonbueno opened #355 "To posibility add new properties into DTOs"
Recentilly I needed insert new property into ClientDTO.

I think if DTOs classes was Patial Class should better when we to need add new properties.

I resolved my problema adding new class inheriting  from ClientDto, others changes was necessary, but if DTOs classes should was Patial Class this changes should not necessary.

[2019-09-07 16:09] omikolaj opened #356 "Why do we store Admin ClientID and ClientSecret in AuthenticationConsts ?"
This is a question at this point more so than an issue. I was wondering what was the reason for storing ClientID and ClientSecret in AuthenticationConsts? I see that it is used as default when no ClientID or Client Secret have been set in appsettings.json file, but it exposes the risk of it being 'accidentally' checked into source control.

Also, is it safe to store ClientID and ClientSecret in th

[2019-09-08 13:48] skoruba commented on #356
You can for sure change this settings for your secure vault for production. What implementation do you suggest for production environment? I think it is specific according to deployment environment, like azure key vault etc.
Thanks.

[2019-09-08 15:29] omikolaj commented on #356
I agree with you that this setting is specific to production deployment strategy. My only suggestion would be to not hard coding the `--adminclientsecret` value in `AuthenticationConsts`. I understand this serves the purpose of a fall back mechanism in case the `appsettings.json` file does not have `ClientSecret` value specified. I believe the use of Secret Manager should be encouraged instead. Pe

[2019-09-09 12:31] carlospence commented on #227
Any update on this feature

[2019-09-09 13:11] skoruba commented on #227
Do you need remove asp.net core identity from project?

[2019-09-09 19:55] carlospence commented on #227
Yes, I need to remove Asp.net core Identity from the project. I want to use my own User store bt still able to manage the clients

[2019-09-09 20:06] carlospence opened #357 "Decouple User Management from IS4 Admin UI"
Is it possible to decouple User management form IS4 Admin UI. Would love to use it on an existing project that has its own user and roles management but just want to use your project for IdentityServer Admin management only such as Client, API & Identity Resources, Persistent Grants etc.

If it is possible, what are the steps I can take to decouple it? Thanks

[2019-09-10 15:56] cossth commented on #357
IS4 Admin uses Identity server and you can use connection string to point existing database.

Or you can
- Hide some UI elements
- Delete controllers and Views for User Management

You are ready to rock.

[2019-09-10 19:24] skoruba commented on #357
It would be perfect. 👍🏼
Thank you

[2019-09-10 20:07] carlospence commented on #357
@cossth , Let me know your final result.

[2019-09-10 23:50] cossth commented on #357
@skoruba
1. We can create two applications for each task.
2. We can have different roles in single application.

I think later option is better.

[2019-09-13 10:18] RagingKore commented on #135
First and foremost, congrats on the project as it seems very interesting and a lot of hard work was put into it.

But actually @xmichaelx any document database is, in my opinion, at least 10x better than a relational one for this. Incredibly simple to use and maintain the total opposite of a relational database.

Anyway, I'm atm evaluating the project to see how simple it is too abstract all stora

[2019-09-13 11:24] skoruba commented on #135
@RagingKore - For sure, if you can explore more details about mongo, feel free send some feedback or even PR. 😊
Thanks!

[2019-09-13 14:30] skoruba commented on #135
Yeah, that is my task, merge all PRs, currently I am busy for reviews, but I will work on it ASAP. :)

Is it docker for you also important?

[2019-09-14 12:50] BalintBanyasz opened #358 "Generated resource file names are too long during build"
Building project `Skoruba.IdentityServer4.STS.Identity` fails  with error code `AL1065`:

Windows 10 - Visual Studio Community 2019 v16.2.5

The resource file names generated during build are way too long (the path in the build error is 139 characters) and the 260 character limitation is easily exceeded in common scenarios (e.g. in this case the project resides under the default project location `

[2019-09-14 13:31] skoruba commented on #358
Please, consider move project into C:\ and some shorter folder name :) I know that the path is long but the prefix for project it is necessary.

[2019-09-14 14:04] BalintBanyasz commented on #358
@skoruba Yes, that works of course :) I just wanted to highlight that building the solutions would fail  if someone used the default VS projects location. I'm actually surprised to be the first to run into this issue.

Thank you by the way for this awesome project!

[2019-09-14 14:04] #358 closed

[2019-09-14 15:21] skoruba commented on #358
For sure, I faced this issue, but you know I need add this prefix because it is requirement from IS4 - if you want to write some libraries regarding to IS4, it is necessary to use own prefix, which totally makes sense - it is not official IS4 library but contribution only. :)

[2019-09-15 15:02] messaddek opened #359 "Connect with Xamarin.Forms application"
Hello,

I've implemented the skoruba solution on my application. I need to connect both Angular SPA APP, Xamarin and API with the IdentityServer authentication SSO.
Both (admin and sts) are deployed on azure.
When i tried to achieve connection, i've created xamarin client, the login page is shown, but there is error redirection with remote authentication exception (obtained from log section in the

[2019-09-15 20:55] skoruba commented on #359
Can you please share error message? Thanks

[2019-09-16 10:26] skoruba commented on #330
Done on dev branch. :)
Thanks for your work guys! 👍
I will merge it to master.

[2019-09-16 10:57] skoruba commented on #357
My main idea was create flag for dotnet template and this flag will exlude all things regarding to Identity. So maybe if you have list of dependencies regarding to Identity, it would be helpful. :)

[2019-09-16 15:02] skoruba opened #360 "Update to .NET Core 3.0"

[2019-09-18 10:28] esofar opened #362 "IdentityServer4.Admin encountered an error while starting."
[code]

[2019-09-19 20:41] skoruba opened #363 "Add logging into API"

[2019-09-20 01:52] esofar commented on #362
solved. It is a problem with my network.

[2019-09-20 01:52] #362 closed

[2019-09-20 12:40] messaddek commented on #359
Hello, i've resolved the problem, the problem was with endpoint urls.

All is working correctly right now

[2019-09-20 12:40] #359 closed

[2019-09-20 17:22] pbros commented on #360
Is beta7 the last version that will run on .NET Core 2.x? Any chance the beta8 or first release will still be compatible with .NET Core 2.x?

[2019-09-20 19:07] skoruba commented on #360
Is not possible to update to .Net Core 3.0 for your scenario?

[2019-09-20 19:17] pbros commented on #360
Unfortunately not. I have some hard dependencies on a NuGet package that won't be upgraded to .NET Core 3 for a few months.

Do you expect to have to do many changes to move to .NET Core 3.0?

[2019-09-20 19:34] skoruba commented on #360
I will explore .NET Core 3.0 next week, so I send some details. But thanks for feedback, I will consider how to manage this update.

[2019-09-23 12:58] cerginio commented on #97
[IdentityServer4.Admin.UITests project](https://github.com/cerginio/IdentityServer4.Admin.UITests/tree/master/src/IdentityServer4.Admin.UITests)
Initial development is done 11m ago.
beta7 fixes required.

[2019-09-23 17:17] skoruba commented on #97
Sure, thanks - I will check it later. Currently this has lower priority. ;-)

[2019-09-27 01:40] cehui0303 opened #366 "How to login in AdminUI"
I Have Seed the data by your readme, is there no user account? I Register an account , but when i open the admin website,it show that 'http://localhost:9000/Account/AccessDenied?ReturnUrl=%2F'  Access Denied!
    I Can't login in the admin ,so i can't set anything.

[2019-09-27 05:28] skoruba commented on #366
Here is default admin user account:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin/Configuration/Identity/Users.cs
Thanks

[2019-09-27 06:18] cehui0303 commented on #366
thanks

[2019-09-28 06:41] skoruba commented on #366
May I close it? Thx

[2019-09-28 11:51] cehui0303 commented on #366
OK &nbsp;close it

发自我的iPhone

------------------ Original ------------------
From: Jan Škoruba <notifications@github.com&gt;
Date: Sat,Sep 28,2019 2:41 PM
To: skoruba/IdentityServer4.Admin <IdentityServer4.Admin@noreply.github.com&gt;
Cc: cehui0303 <450380306@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [skoruba/IdentityServer4.Admin] How to login in AdminUI (#366)

May I close

[2019-09-28 14:28] #366 closed

[2019-09-29 18:29] imranahmedkhan commented on #360
Any update on when you'd upgrade to .NET Core 3.0 ?

[2019-09-29 19:43] skoruba commented on #360
I am working on it, but I have another PRs which are necessary to review and merge - after that I will upgrade to .Net Core 3.0 😊👍🏼 Thanks

[2019-10-02 13:12] DrQwertySilence commented on #329
Are you still working on it?
I have one for prev-7 (missing some messages of the admin project) that I need to update now so I can make a pull request later (2 days max I think).

[2019-10-02 15:20] pbros commented on #360
Looks like the packages I need will be upgraded to .NET Core soon, so it should not be blocking after all.

[2019-10-03 16:58] carlosomarcp commented on #329
I've been working on this, but only have the Skoruba.IdentityServer4.STS.Identity project ready. I haven´t had free time =(
If you have a translation, just PR. I don't know when I could finish this.

[2019-10-05 13:09] mayankgaur opened #369 "Add tenant manangement Or Other Management in API"
I want to Add Some more APIs to Admin Panel, API can I add that.
For Example I have Application Management and Tenant management in API and those are having different db Context can I do that?

[2019-10-05 13:18] mayankgaur commented on #369
Hi I want to know one more thing that why you have added AddIdentity in AdminAPI
![image](https://user-images.githubusercontent.com/5146368/66255403-b5a84c00-e7a0-11e9-93db-d922ad0f56da.png)

[2019-10-05 17:20] skoruba commented on #329
@DrQwertySilence - Great work, I merged it into dev. 👍
Thanks!

[2019-10-06 20:33] skoruba commented on #369
You can absolutely extend the API endpoints. I’ve added Identity middleware because it is necessary to have available all of dependencies for Identity.

[2019-10-06 20:35] skoruba commented on #350
I am closing it, feel free reopen. Thanks.

[2019-10-06 20:35] #350 closed

[2019-10-06 20:43] skoruba commented on #356
On dev branch - I removed default secret from AuthenticationConsts.cs and kept it available only in appsettings.json, there is possible to change it or for production scenario use another safer storage.
Thanks for your ideas. 👍🏼

[2019-10-06 20:43] #356 closed

[2019-10-06 20:44] skoruba commented on #338
I am closing it, feel free reopen.
Thanks

[2019-10-06 20:44] #338 closed

[2019-10-06 20:45] skoruba commented on #320
I am closing it, feel free reopen it.
Thanks

[2019-10-06 20:45] #320 closed

[2019-10-06 20:47] skoruba commented on #239
I am closing it, feel free reopen it.
Thanks

[2019-10-06 20:47] #239 closed

[2019-10-07 06:23] tsangian commented on #108
Hi Skoruba,

I have no problem running on local and then I tried to deploy to Azure App Service using Visual Studio Publish feature. Before deploying I followed the [documentation](https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/Configure-Azure-Deploy.md), but then it shows "Internal Server Error: An error occurred while starting the application." when I tried to access the STS.I

[2019-10-07 08:19] tsangian commented on #108
Found out the issue. I changed ASPNETCORE_ENVIRONMENT to Development (It was Production) and the error message shows up. Seems like the it can't find the certificate with the thumbprint provided from App Service TLS/SSL settings page. I'm still trying to figure out a solution for this.

Any help appreciated.

[2019-10-07 08:59] tsangian commented on #108
Anyone having the same problem with me, you should add an app setting with name `WEBSITE_LOAD_CERTIFICATES` and value `*` to make your certificates accessible from the app.

Reference: https://azure.microsoft.com/en-us/blog/using-certificates-in-azure-websites-applications/

[2019-10-07 22:06] ganmuru opened #373 "isAuthenticated = false all the time"
Hi,

I setup the repo and it is working fine. I added a new client and trying to authenticate the client. The login works fine but after login the AuthenticationType is always NULL and isAuthenticated = false.

What am I missing?

My new client configuration in Startup.cs

services.AddAuthentication(options =>
			{
				options.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;

[2019-10-10 09:19] IwanSumpena opened #375 "Example client"
how to make an example of a client that can be connected

[2019-10-12 14:54] skoruba opened #376 "Configure database provider using configuration file"
By default it is used mssql database, it would be nice - be able to configure database provider through the appsettings.json

[2019-10-12 17:33] skoruba commented on #375
Please check these samples of clients:
https://github.com/IdentityServer/IdentityServer4/tree/master/samples/Clients

In admin UI you can in clients section - add new clients. You can use template for client according to application type (spa, mobile etc.) 🙂

[2019-10-12 17:34] skoruba commented on #373
Please check list of samples of clients here:
https://github.com/IdentityServer/IdentityServer4/tree/master/samples/Clients

Please check log for more details about this issue. 🙂

[2019-10-14 03:45] IwanSumpena commented on #375
okay thanks for the response

My newbee I tried to make a client console with a configuration like this but i get response invalid scope .is there anything lacking in the configuration
![clientConsole](https://user-images.githubusercontent.com/29264028/66728478-73050480-ee6f-11e9-8825-21ca83a170ae.PNG)

![name](https://user-images.githubusercontent.com/29264028/66728493-81ebb700-ee6f-11e9-968a-e0d

[2019-10-15 08:20] b0 opened #377 "LoginConfiguration.ResolutionPolicy and Register new user flow"
Hi @skoruba and @xmichaelx

When setting ResolutionPolicy to "Email" _Login view_ is changed to ask for _Email_ instead of Username and that is all great and expected.
I was reviewing https://github.com/skoruba/IdentityServer4.Admin/pull/152 which introduced relevant configuration feature and changed how _Login view_ is shown.

I am interested in _Register view_ and is it expected to still have _U

[2019-10-15 09:53] skoruba commented on #377
Hi @b0 - you are right, in registration form - this is missing, we need add this logic here as well. Thanks for your point.
Are you interested in sending PR for this issue? 😊

[2019-10-15 12:15] b0 commented on #377
Sure, what kind of solution would you have in mind?

Currently, because of [Required] attribute on UserName property on RegisterViewModel.cs which can't be set dynamically I would propose adding one more view RegisterWithoutUsername.html, and ViewModel RegisterWithoutUserNameViewModel.cs and returning specific one from AccountController regarding of ResolutionPolicy  value.

Do you have some other

[2019-10-15 12:54] yildirims commented on #375
Hi @IwanSumpena ,
Have you ever tried to add "api1" to AllowedScoped section in exampleClient configuration.

![api1](https://user-images.githubusercontent.com/42366798/66833202-0ddf0b00-ef64-11e9-893c-7585f8e26360.png)

[2019-10-17 13:44] b0 commented on #347
Hi @gzinger, @skoruba

could you please elaborate your "Password" flow a bit more?
I am also trying to call Admin.API let's say /api/ApiResources but I am unable to get token for my client. How could I set up my client to call that api? What did you do?

@skoruba
Is there a sample "console app" for calling Admin.API ? Or some code with relevant configuration for it to work?

Thank you

[2019-10-18 18:50] skoruba commented on #347
https://github.com/IdentityServer/IdentityServer4/blob/master/samples/Quickstarts/2_ResourceOwnerPasswords/src/IdentityServer/Config.cs#L71 - here is the configuration which you probable are looking for. You need register new client for your console app and use api name for property called - allowedscopes. Then in your console app you need call api like in this file: https://github.com/IdentitySer

[2019-10-19 06:25] b0 commented on #347
Hi Jan,

is it possible to enable GitHub [Wiki ](https://help.github.com/en/articles/adding-or-editing-wiki-pages)on this repository?
I would like to add some info about how to setup client and use it for others to see...

Thank you

[2019-10-19 08:11] skoruba commented on #347
Please, you can add new markdown file into folder called docs. I will convert folder docs into readthedocs instead of wiki. :-)
Thank you.

[2019-10-19 09:01] b0 commented on #347
Sure.

My I suggest you open a gitter community like let's say https://gitter.im/dotnet/home so we talk a bit easier then here. I don't want to "pollute" issues to much ;)

[2019-10-19 11:18] skoruba commented on #347
For sure, we already have it - https://gitter.im/skoruba/IdentityServer4.Admin?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2019-10-19 11:42] #377 closed

[2019-10-20 23:57] vijay2358 opened #379 "migration/ef not creating table"
invalid clients, identity resources etc

[2019-10-21 04:48] IwanSumpena commented on #375
@yildirims  yes I have added "api1" to the scope
and i modified clientID and secret
i get log error

![image](https://user-images.githubusercontent.com/29264028/67177397-8debf180-f3f8-11e9-8a24-c6cfb4c1a4c7.png)

[2019-10-21 06:56] skoruba commented on #379
You need generate migrations before. Check please section - https://github.com/skoruba/IdentityServer4.Admin/blob/master/README.md#ef-core--data-access

[2019-10-23 04:48] mayankgaur commented on #369
@skoruba I have inhereted MyDBContext(Having my POCO Classes) in IAdminConfiguration like below.
![image](https://user-images.githubusercontent.com/5146368/67358192-3d51d100-f57d-11e9-86f6-5c2565948a05.png)

And then implemented IdentityServerConfigurationDbContext like below
![image](https://user-images.githubusercontent.com/5146368/67358345-c10bbd80-f57d-11e9-8635-75b825e4aa4f.png)

I have diffe

[2019-10-23 09:08] #375 closed

[2019-10-23 09:30] b0 opened #382 "API methods for creating entities doesn't return Id of newly created entity"
When calling API for adding Users/Roles, controller returns 200(ok) without any data, but should return 201(created) with at least Id of new entity.

I have created PR that resolves these issue. #381

[2019-10-23 10:56] #369 closed

[2019-10-25 07:19] skoruba opened #383 "Add Api tests"

[2019-10-25 15:22] imranahmedkhan commented on #360
Hey @skoruba , any update on this ?

[2019-10-25 23:35] jrodolforios opened #384 "Skoruba admin returnin "Access Denied!" after login"
Hi!
Every time when I try to login on Skoruba admin I redirected to a page with "Access Denied!" message inside h1 tag, the only tacktrace I found is above:

2019-10-25 18:23:48.124 -03:00 [ERR] An unhandled exception has occurred while executing the request.
System.Exception: An error was encountered while handling the remote login. ---> System.Exception: Correlation failed.
   --- End of inner e

[2019-10-26 05:58] skoruba commented on #384
Hi, do you have admin role in your claims? Do you use default authorization setup?

[2019-10-26 05:59] skoruba commented on #360
Not yet. :) Did you try update this solution?

[2019-10-30 07:41] IwanSumpena opened #385 "How to configure deploy to IIS local pc"
![image](https://user-images.githubusercontent.com/29264028/67838168-4580b200-fb23-11e9-932c-47d40be5f6f5.png)

I don't know what configuration is lacking.

[2019-10-31 07:54] skoruba commented on #385
I can see that you have only one site with port 5008, did you change ports and another configuration? By default it is port 5000 for STS.
Thanks!

[2019-11-01 02:39] SinoMiles opened #387 "how to change to MySql database"
how to change to MySql database

[2019-11-01 19:14] skoruba commented on #387
Please, check this guide: https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/EFMigration.md#mysql-and-mariadb

[2019-11-04 01:49] IwanSumpena commented on #385
sorry I forgot to change the permissions in the application pool. Issue solved

[2019-11-04 01:49] #385 closed

[2019-11-04 07:51] skoruba commented on #387
Does it work for you?

[2019-11-04 07:56] SinoMiles commented on #387
@skoruba Thanks.

[2019-11-04 07:56] #387 closed

[2019-11-04 12:55] murattdogan opened #388 "IdentityServer.LdapExtension"
ldap authentication  IdentityServer.LdapExtension

[2019-11-05 01:01] maldworth commented on #360
Just like to add that we'd also like a -beta8 package which targets the last IdentityServer4 -> 2.5.3, before upgrading to core 3.0.

Our ability to upgrade to core 3.0 is still a few months out.

[2019-11-05 05:46] murattdogan commented on #388
https://github.com/Nordes/IdentityServer4.LdapExtension
If we integrate this project in Github to your project, auth is provided with Ldap or Open Ldap. And how do I add it to your project?
Where should I add the following codes in your project.
// ... Code ...
services.addıdentityserv is ()
     .adddevelopersigningcredential ()
     //. Addsigningcredential (...)
     .addınmemoryıdentityresourc

[2019-11-06 11:47] aiscrim opened #389 "External login and 2FA or lockout"
I just discovered a bug in the external login callback when the user has configured 2FA or has been locked out. In those cases, the ExternalLoginCallback assumes that the user does not exist, so it tries to create the user again (and it fails because the email is already taken).
The same code in the Login method that redirects to LoginWith2FA or to Lockout should be used in the ExternalLoginCallba

[2019-11-06 11:48] skoruba commented on #389
I'll check it. Did you fix it?
Thanks.

[2019-11-06 14:12] aiscrim commented on #389
Yes, just copying the lines of code I referred to above, but probably a better approach would be to refactor a bit the methods so that there is no duplication and maybe add some unit tests.
Now I have only the time for the dirty fix, that's why I didn't open a PR for this one.

[2019-11-06 16:25] skoruba commented on #360
Here is updated version to .NET Core 3.0 - #390
Please, you can try it.
Thanks.

[2019-11-06 16:38] skoruba commented on #389
Thanks @aiscrim

[2019-11-06 17:44] skoruba commented on #61
Done in #391

[2019-11-07 03:09] pigwing opened #392 "about cookies consent"
hi, i found that some one's browser not click the sts.identity page, cookies consent got it button the mvc client will throw oidc OnRemoteFailure event, like

.AspNetCore.Correlation.oidc.U-CitDWPr6xppcS1puHxXqcWetzVOof5svEJJgnqBu0' cookie not found.

images: https://photo.weibo.com/1680918907/wbphotos/large/mid/4435948752080211/pid/6430c97bgy1g8pasa8hbtj21h9025dfu

![image](https://photo.weibo.co

[2019-11-08 09:50] erossini opened #393 "UI design"
I should change the design of the UI to align it to other applications. What is the best practice for that?

[2019-11-08 11:15] jrodolforios commented on #384
Hi! Sorry for the late reponse.

Yes, I exists the "Roles" claim on authentication.

[2019-11-08 11:47] jrodolforios commented on #384
Only appears this screen after login... there's anyway to show detailed error?
(https://user-images.githubusercontent.com/1894950/68474467-375a2200-0204-11ea-88ac-4224f2b60677.png)

[2019-11-08 16:08] skoruba commented on #393
This project uses bootstrap4, so you can use styles from there and rewrite original classes with your custom implementation. :-) There are some gulp commands which helps you with compiling sass files to the css files. Please check folder Styles and everything else is bootstrap4. Give me please some feedback. Thanks

[2019-11-10 21:12] bh2v3sh commented on #384
@skoruba I'm also having the same issue. Every time I log into the AdminUI, I get "Access Denied" message. I have separate IdentityServer4 (version 2.3) and database. I updated connection string in the AdminUI project to point to that. Below are the setup details:

Have "roles" in the IdentityResources
Have "testuser" in AspNetUsers
Have "SkorubaIdentityAdminAdministrator" in AspNetRoles
Added the

[2019-11-11 08:09] zengxinle opened #396 "Build Error : MSB3086"
错误	MSB3086	任务未能使用 SdkToolsPath“”或注册表项“HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SDKs\NETFXSDK\4.7.2\WinSDK-NetFx40Tools-x86”找到“al.exe”。请确保已设置 SdkToolsPath，在 SdkToolsPath 之下的相应处理器特定位置存在该工具，并且已安装 Microsoft Windows SDK	Skoruba.IdentityServer4.Admin	C:\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets	3639

[2019-11-11 11:14] aiscrim opened #397 "AuditLog not recorded in case of role added to user"
First of all thanks a lot for adding the audit logs, that's a great new feature!

I just noticed this small problem: when I add a role to a user, it does not get recorded in the Audit Log. That's because the LogEventAsync is called after the method CreateUserRoleAsync exits in case of success in this line:

https://github.com/skoruba/IdentityServer4.Admin/blob/e02dcaa31d41ab2829821b3cd665762f653df

[2019-11-11 15:01] skoruba commented on #397
Thanks @aiscrim - great catch, I will fix it. 👍

[2019-11-11 21:24] skoruba commented on #384
Hi guys, can you please check User’s claims? This looks like your current user do not have correct claims and authorization failed.

[2019-11-11 21:26] skoruba commented on #396
Check this please: https://stackoverflow.com/questions/32602414/error-could-not-find-al-exe-using-sdktoolspath

[2019-11-11 21:27] skoruba commented on #379
Does it work for you?

[2019-11-11 22:35] bravecobra opened #398 "Compiler Warning CS0618 usage of IStringLocalizer.WithCulture"
The current dev branch outputs warning regarding the deprecated usage of WithCulture as documented here: <https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.localization.istringlocalizer.withculture?view=dotnet-plat-ext-3.0>

This warning popped up due to the upgrade to .NET Core 3.0.

In [this StackOverflow article](https://stackoverflow.com/questions/58316533/net-core-3-istringloca

[2019-11-11 23:03] bravecobra opened #399 "CI/CD pipeline with Github actions and Github Package Registry"
I was granted access to the beta of both [Github Actions](https://github.com/features/actions) and [GitHub Package Registry](https://help.github.com/en/github/managing-packages-with-github-package-registry/about-github-package-registry).

So I built a [Github Actions](https://github.com/features/actions) pipeline that

1. generates the EF migrations for SQL Server on linux
2. builds the source cod

[2019-11-12 07:44] skoruba commented on #398
Thanks, I will fix it. 👍🏼

[2019-11-12 13:48] pigwing commented on #392
find the solution https://github.com/IdentityServer/IdentityServer4/pull/3617

[2019-11-12 13:48] #392 closed

[2019-11-12 17:14] tanure opened #400 "Problem with Swagger Client"
Hi everyone.

I have the following situation:

### API
I created a .net core 3 API with my business logic and then I created a resource, in the Identity Server, and his name its **ApiBackend**.

The Startup class of this api its:
[code]

**This Resource has a scope named ApiBackend.**

### Clinent

I created a client and his name is ApiBackend_Swagger.

The principal configurations of this client

[2019-11-13 07:51] skoruba commented on #400
Did you try match the configuration of your swagger ui with swagger ui in admin ui? I think it should help you. Definitely please check the log for detailed error message.
Thanks

[2019-11-13 21:17] sathoril opened #402 "Accessing Admin UI running on docker"
Hello guys.

I've been trying to make this application to run inside multiple docker containers.
I have already managed to do it but only with the Admin.Api project and the STS.Identity project, but I'm having problems with the Admin.UI project.

Everytime I try to access the url (http://localhost:9000) it shows this error:

Microsoft.IdentityModel.Protocols.HttpDocumentRetriever.GetDocumentAsync(

[2019-11-13 21:30] skoruba commented on #402
Could you please check dev branch - https://github.com/skoruba/IdentityServer4.Admin/tree/dev?files=1 - there is prepared working version with docker.
Give me please feedback :-)
Thanks

[2019-11-13 21:36] skoruba commented on #399
It looks really awesome, thanks for your help 👍🏼 I will try github actions and setup for this repo as well, according to your fork.

[2019-11-14 09:35] sathoril commented on #402
Hey!

Thanks for the reply, I've already tried to run the application using that branch, mas I got the same error, here is a screenshot:

![image](https://user-images.githubusercontent.com/29286540/68844659-e71e0c80-06a8-11ea-8b88-1e0f42c5c463.png)

Is it that branch really working?

[2019-11-14 10:25] skoruba commented on #402
@bravecobra - any idea with this issue?

[2019-11-14 19:35] sathoril commented on #402
Just to update the issue, now I'm having this error page:

![image](https://user-images.githubusercontent.com/29286540/68889921-a8b23d00-06fc-11ea-9e92-ac56295f5562.png)

But, when I try to make the same request, from inside the container, it works.

![image](https://user-images.githubusercontent.com/29286540/68889964-bd8ed080-06fc-11ea-8312-35030cd64061.png)

[2019-11-14 21:33] ekjuanrejon opened #404 "ProfileService"
How to add a custom ProfileService to STS?

[2019-11-15 07:48] skoruba commented on #404
Here: https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Helpers/StartupHelpers.cs#L243
You can add extension method .AddProfileService<>()

[2019-11-15 07:50] skoruba commented on #402
I will test it at the weekend. 😊

[2019-11-15 13:46] ekjuanrejon commented on #404
How to do that if using the nupkgs?

[2019-11-15 13:48] #404 closed

[2019-11-16 01:30] zengxinle opened #406 "'Update-Database -context AdminIdentityDbContext' produce a Error"
SqlServerValueGenerationStrategy
SqlServerValueGenerationStrategy.IdentityColumn    ?

1>------ 已启动生成: 项目: Skoruba.IdentityServer4.Admin.EntityFramework.Shared, 配置: Debug Any CPU ------
1>Data\Migrations\Identity\AdminIdentityDbContextModelSnapshot.cs(20,69,20,101): error CS0103: 当前上下文中不存在名称“SqlServerValueGenerationStrategy”
1>Data\Migrations\Identity\AdminIdentityDbContextModelSnapshot.cs(119,77,

[2019-11-16 01:34] zengxinle commented on #406
Install-Package Microsoft.EntityFrameworkCore.SqlServer   ?

[2019-11-16 05:47] #406 closed

[2019-11-16 05:48] #396 closed

[2019-11-16 05:49] zengxinle commented on #396
After  I  install .net 4.7.2,   so  it's OK.

[2019-11-16 12:22] skoruba commented on #402
STS works correctly, but I can not run MSSQL Server, so I need expore more details around docker in general. I have prepared a few changes regarding to db providers, wich will be possible to change d provider from appsettings.json.
Does SqlServer work for you?
Thanks

[2019-11-16 17:40] bravecobra commented on #402
I think we have a case here of misunderstanding how docker and docker-compose works on a network level, together with the working of xip.io DNS resolving.
Docker-compose basically starts up a mini virtual network.

[code]

Each container can be considered as a tiny machine with its own IP address inside that network. If you want those little machine to work together you can refer to them by the na

[2019-11-16 17:55] bravecobra commented on #399
As github actions are based on Azure-Pipelines under the hood, this would close #138 as well.

[2019-11-16 18:41] skoruba commented on #402
Thanks for your explanation, maybe what do you think about my use case, I've used your configuration of docker-compose, but I always get following error:

ExtendedSocketException: Name or service not known
System.Net.Dns.InternalGetHostByName(string hostName)
[code]
I cannot figure out, how to connect to sql server. I have the ef migrations in my project as well.

Any idea? :-)
Thanks

[2019-11-16 20:23] bravecobra commented on #402
Do you have a sql server running on your host machine as well? In the `docker-compose.yml` file the sql server is exposed on the host machine on port 1433. That might conflict with an existing sql server. You could choose a different port by changing that port and expose it differently like this:
[code]
Now you should be able to connect to the sql server instance with SSMS on localhost:1434, even

[2019-11-16 20:37] bravecobra commented on #402
@skoruba  btw, if you want, I might do a live stream on twitch demonstrating the docker-compose setup as well a kubernetes configuration.

[2019-11-16 21:25] bravecobra opened #407 "Template generation needs updating for AdminAuditLogDbContext"
During the template generation we're missing the generation of the `AdminAuditLogDbContext` at  https://github.com/skoruba/IdentityServer4.Admin/blob/dev/templates/1-template-prepare-content.ps1#L50

[2019-11-16 21:41] bravecobra opened #408 "Adding support for multiple DbProviders"
I noticed lots of issues being reports regarded missing database migrations.

In EF Core it is possible add migrations for multiple DbProviders: <https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/providers?tabs=dotnet-core-cli>

So instead/on top of having the end-user having to generate the migrations for him/herself, we can provide those migrations already and allow for choosi

[2019-11-16 21:47] bravecobra opened #409 "Allow for an extensible UI through overrides"
Looking at how you can extend the UI for Identity, I would suggest using a similar approach.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-3.0#customize-the-model

This code is then to provide a UI nuget package, adding the default UI, but the user is able to override that UI in their own projects without having to hack customization

[2019-11-16 21:51] skoruba commented on #408
I am glad that you suggest this idea, because I am working on this locally currently. I will add the ef migrations into source control for multiple db providers, because it will help for a lot of use cases.
It will be possible to switch among db providers from appsettings.json.

[2019-11-16 21:52] bravecobra commented on #185
We used [RazorLight](https://github.com/toddams/RazorLight) recently in a .NET Core project to generate email content.

[2019-11-16 21:53] skoruba commented on #407
Thanks @bravecobra I will upgrade these scripts. 👍🏼

[2019-11-16 22:04] skoruba commented on #402
@bravecobra Thanks for your tips, I will test it and report back the result. For sure, I want to watch your stream about these topics. Please let me know. 😊👍🏼

[2019-11-17 10:07] skoruba commented on #402
I am getting stil same error:

I did these steps:
1) Clone dev branch
2) Generate migrations
3) Change port 1433 to another, because I already have SQL Server
4) Exec command `docker-compose up`
5) I am able to show web site on `http://127.0.0.1.xip.io` but without access to DB.

I use this on my computer with Windows 10 Enterprise.
I am able to connect to SQL Server from SSMS.

I tried some procc

[2019-11-17 11:05] bravecobra commented on #402
So sql server is up and running as you are able to connect the changed port instance, right? Apart from the port no changes to the docker-compose file. What's the output of `docker-compose ps`? Internally there should no firewalls.

[2019-11-18 14:27] sathoril commented on #402
@bravecobra Thanks for the explanation about whot the docker-compose works, that helped a lot.

I tried at home using the dev branch configuration and everything works fine!! BUT, at work unfortunately I get the same error that I mentioned above (The "Connection Refused" error). And I did everything the same way.

Now, I'm thinking that is some configuration on the company's network or the compute

[2019-11-18 14:53] tanure commented on #400
I tried to do exactly the same. But my API is on .NET Core 3. It only worked with the following settings:

[code]
And this:

[code]

[2019-11-18 14:53] #400 closed

[2019-11-18 14:54] tanure commented on #400
This code, **c.OAuth2RedirectUrl**, was important to the operation. Without the definition of Redirect Url always received an invalid client message.

[2019-11-18 23:52] bravecobra commented on #402
Try adding `network_mode: bridge` to each of the containers in `docker-compose.yml`.
One thing I can think of is that docker-compose does not place the containers in the same "network", because another container already exists with the name name and it restarts that one instead of booting up a new one.
https://docs.docker.com/compose/compose-file/#network_mode
We use the default network here, mayb

[2019-11-19 02:05] gzinger commented on #347
BTW, the way I was able to get around the issue to create both client and
user credentials and passing them both to create an access token.
Is that what you did or you found some more elegant approach?

On Thu, Oct 17, 2019 at 12:07 PM b0 <notifications@github.com> wrote:

[2019-11-19 07:26] maxrev17 commented on #408
As a newbie to this repo I've been working through getting this to run in docker and have stumbled with the migrations as my machine is bare and I'm relying on docker for .net etc. This would be an awesome change to speed up getting it up and running out of the box :).

[2019-11-19 10:41] aiscrim opened #412 "Possibility to filter and order logs"
It should be possible - at least - to order logs by date, and filter them by level, date, and possibly by message.

[2019-11-19 16:39] skoruba opened #413 "Add Shared project among Admin UI, Api and STS"

[2019-11-20 16:53] skoruba commented on #347
@gzinger - Yes, I implemented this with client credentials flow, please check dev branch and authorization stuff in API. You can use client credentials flow and `client_role` claim.

[2019-11-21 06:00] kamalraturi opened #415 "Always get Bad Request - Request Too Long"
I hosted the all applications(Dev branch) in server, where Identity server is working as expected but when IS4 admin makes the request for authentication it is authenticated and after "Consent" step the error comes as "Bad Request - Request Too Long". **HTTP Error 400. The size of the request headers is too long.** . FYI I could see in browser status bar that requests are circular for admin app an

[2019-11-21 07:39] skoruba commented on #415
The issue is probable SSL mode from cloudflare, because in this mode is not https covered on server. Look at this: https://iserver.racybit.com/.well-known/openid-configuration - all urls are http only.

[2019-11-21 08:04] skoruba commented on #415
You can verify this issue on test environment with this code snippet - try it in `Startup.cs` in section - `Configure`:
[code]

[2019-11-21 10:39] kamalraturi commented on #415
Yes, that is. What can I do to make them https..

[2019-11-21 11:07] kamalraturi commented on #415
This did the trick. Working now.. I use the code.

[2019-11-21 20:58] jrodolforios commented on #384
Ok, Witch Claims the Skoruba Admin require to have a normal login and function?

[2019-11-22 08:06] skoruba commented on #384
This role name - "SkorubaIdentityAdminAdministrator".

[2019-11-23 13:11] #415 closed

[2019-11-24 13:31] skoruba commented on #402
I finally figure out, where it was problem in my case, the file `docker-compose.override.yml` - loaded the connectionstrings from my secrets.
If I use - `docker-compose -f docker-compose.yml up` - and change port of MSSQL from 1433 to another, it works. 👍
@bravecobra - Now I am considering how to use `docker-compose.override` and `docker-compose.vs.debug` in Visual Studio. Is it necessary to have

[2019-11-24 19:08] skoruba opened #417 "How to solve logging for multiple db providers"
I have to figure out how to use logging into database via multiple db providers.
Currently it is used Serilog - MsSql Sink, but I cannot found any official version of db Sinks for MySql and PostgreSql.

Any idea? 😊

[2019-11-25 21:14] bravecobra commented on #402
It had to be something like that.
No  there is no absolute need to have them in source control, however they do provide a works-out-of-the-box experience without any negative impact. I'd leave them in.
No fixed date planned yet for a stream. I suggest we talk about that somewhere else than in github issues.

[2019-11-25 21:21] skoruba commented on #402
For sure @bravecobra - can you mail/send me some contact? Thx

[2019-11-26 05:40] raminassar opened #419 "Permission base authorization"
First this is a request and open for discussion.

I went through an article by Jon Smith (https://www.thereformedprogrammer.net/a-better-way-to-handle-authorization-in-asp-net-core/) about permission base authorization, I think this will be useful to be added by extending ASP.NET Identity in your project while most of the developer nowadays are looking for more flexibility on how to manage the rol

[2019-11-26 12:33] kamalraturi commented on #415
Can you please remove the weblink, if possible? ;)

[2019-11-26 12:36] kamalraturi commented on #415
Can you please remove my website link, if possible? ;)

[2019-11-26 12:51] skoruba commented on #415
Deleted.

[2019-11-26 14:39] fatalistt commented on #417
Hi!
What do you mean "official version"? From Serilog or from Microsoft/PostgreSQL/Oracle?
PostgreSQL - [Serilog.Sinks.PostgreSQL](https://github.com/b00ted/serilog-sinks-postgresql) (from [Serilog Wiki](https://github.com/serilog/serilog/wiki/Provided-Sinks))
Unfortunately, they're not mentioning MySql in their wiki, but there is package [Serilog.Sinks.MySql](https://www.nuget.org/packages/Serilo

[2019-11-26 21:13] skoruba commented on #419
Thanks for tip, I will check it. I did the authorization simple as much as possible - with one super admin role - which is able to do everything. It is up to you how you will extend it. Maybe I will extend it in the future. 🙂

[2019-11-26 21:40] skoruba commented on #417
I meant that mssql sink is provided from official Serilog repository, but these sinks for mysql and postgresql unfortunately not. I will test these package as well. 🙂Thanks
@TomasHubelbauer - what do you think?

[2019-11-26 21:42] skoruba commented on #412
I have already implemented something similar in audit logging, but without sorting. Any tip for sorting - how to do it? Some dynamic solution as well 🙂

[2019-11-27 03:00] Varorbc opened #424 "Can you add managing module for the table DeviceCodes"

[2019-11-27 03:44] #424 closed

[2019-11-27 09:57] aiscrim commented on #412
For the dynamic sorting you could try something like what's suggested here: https://stackoverflow.com/a/233505. I did something similar years ago and it worked fine. You could also check this project https://github.com/StefH/System.Linq.Dynamic.Core.

Another option that I personally like a lot is using OData, but that would require a quite big change in the client side too.

[2019-11-27 15:49] raminassar commented on #419
One question, I noticed dev branch is way ahead of your master branch.
I noticed another branch "windows-auth" which is very useful, I would like to clone but wondering about the stability.
When you are planing to do the merge & update the templates?

[2019-11-28 15:56] nlz242 opened #426 "Deleting logs fails on .NET Core 3.0 (EF Core 3.0)"
Since EF Core 3.0, implicit client evaluation has been disabled by default (and it is a good thing, imo).
The query used to get the log entries to delete used to work using implicit client evaluation.
This now causes an exception :
[code]
Fixing it requires avoiding anything that cannot be interpreted as SQL. In this case, using the column directly instead of going thru type conversions.

Pull req

[2019-11-29 03:11] Varorbc opened #428 "suggest Guid instead of String"
https://github.com/skoruba/IdentityServer4.Admin/blob/2ab6bc0cf6f9346c997900e3761b96a4f7ceaf86/src/Skoruba.IdentityServer4.Admin.EntityFramework.Shared/DbContexts/AdminIdentityDbContext.cs#L8

[2019-11-29 11:36] skoruba commented on #428
Why do you suggest guid? In database is guid generated with string as well.

[2019-11-29 11:44] Varorbc commented on #428
Because the guid type supports self growth

[2019-11-29 19:08] raminassar commented on #419
Any answer?

[2019-11-29 20:49] skoruba commented on #419
Sorry for delay, next month, according to my free time. It needs some time to polish everything and create new release.

[2019-11-29 20:50] skoruba commented on #428
I prefer the default value, which is string, you can switch to guid in your fork. 🙂👍🏼

[2019-11-29 20:51] skoruba commented on #426
Thank you, merged in dev branch. 👍🏼

[2019-11-29 23:43] Varorbc commented on #428
In addition, guid supports orderly numbering, which string cannot do

[2019-11-30 06:22] raminassar commented on #419
Shall I wait then before using the template in a new project or it will be an easy upgrade?!

[2019-11-30 13:40] skoruba commented on #428
Thanks for tip, currently is not my top priority, which you understand for sure 🙂 I had int like a primary key, but community asked for default string which is current state. 👍🏼

[2019-11-30 13:41] skoruba commented on #419
You can use fork right now. 👍🏼🙂 because fork will be easier to update before final release for sure.

[2019-11-30 23:57] Varorbc commented on #428
If you agree with my plan, I will open pr

[2019-12-01 09:46] skoruba commented on #428
Maybe in next release, because I need finalize this release where I want to keep string for now. Thanks @Varorbc

[2019-12-01 11:52] Varorbc commented on #428
When will this version be released

[2019-12-01 13:39] skoruba commented on #428
I’d like release new version this month.

[2019-12-02 20:54] #382 closed

[2019-12-02 20:56] skoruba commented on #382
Thanks @b0 for your great work on this issue.

[2019-12-02 21:05] b0 commented on #382
Thank you. I hope to contribute more...
BR

[2019-12-03 10:37] fatalistt opened #430 "Very complex configuration"
In `Startup.ConfigureServices` of Admin and AdminApi projects there are lots of Type parameters (_[Admin, for example](https://github.com/skoruba/IdentityServer4.Admin/blob/119b1f611ad956be50b834c19b6754e1954dd016/src/Skoruba.IdentityServer4.Admin/Startup.cs#L49-L66)_).
It's very difficult to understand, which parameter user should to change if he want to change something.
I suppose to create a bu

[2019-12-03 10:55] skoruba commented on #430
You are right, this configuration is maybe too complex.
Yes, `TKey` and `TUserKey` must be same type. I like your approach, we can rewrite this, if you can send some PR, it would be great.

[2019-12-03 11:23] fatalistt commented on #430
Yes, I will make a PR later when i finished it.
If `TKey` and `TUserKey` (and `TRoleKey`) must be the same type, why do we need `TUserKey` and `TRoleKey` ever?

[2019-12-03 11:53] skoruba commented on #430
This is great question, I would prefer separate keys for User and Role, maybe we can remove `TKey` at all and keep only `TUserKey` and `TRoleKey`. What do you think?

[2019-12-03 12:17] fatalistt commented on #430
Yes, it's better to remove `TKey`, but what about the keys in `TUserClaim`, `TUserRole`, `TUserLogin`, `TRoleClaim` and `TUserToken`? Which keys they should to use? I didn't work with ASP.Net Identity so deep before, so I know nothing about these keys.

[2019-12-03 12:54] skoruba commented on #430
These objects are connected with `TUserKey` and `TRoleKey`. For example: `TUserClaim` is object which uses `TUserKey`. You are not able to specify primary key for `TUserClaim` but you can specify primary key for User which is used in `TUserClaim`. Does it make sense for you?

[2019-12-03 13:13] fatalistt commented on #430
Yes, I think, it does. But after looking to sources of Identity there are some questions.
`IdentityUserClaim<TUserKey>`, `IdentityUserLogin<TUserKey>`, `IdentityRoleClaim<TRoleKey>` and `IdentityUserToken<TUserKey>` are contains only one of [`TUserKey UserId`, `TRoleKey RoleId`].
But `IdentityUserClaim<TKey>` contains both `TKey RoleId` and `TKey UserId`, which means that `TUserKey` and `TRoleKey`

[2019-12-03 20:45] skoruba commented on #430
Can you send me which part do you mean?

[2019-12-04 09:18] fatalistt commented on #430
Yes, of course.
[IdentityRoleClaim<TKey>](https://github.com/aspnet/AspNetCore/blob/3b7cdc166aa3c9733fa60b56d91fc0fff9b11652/src/Identity/Extensions.Stores/src/IdentityUserRole.cs#L12)

[2019-12-04 10:30] skoruba commented on #430
You are right, thanks for this point. We should use only one key - TKey, becuase of this limitation.

[2019-12-05 02:45] willisga opened #431 "¿When you release version 1.0.0-beta8?"
Hello @skoruba

¿When you release version 1.0.0-beta8?

I'm sorry for my English, it's not very good.

They added very interesting features that I plan to use in a business project.

Thank you for this project, it is very complete and stable for productive environments.

Note: https://github.com/skoruba/IdentityServer4.Admin/issues/125

[2019-12-05 06:43] skoruba commented on #431
Hello, I hope this month, according to my free time. 😊

[2019-12-05 06:49] skoruba commented on #379
I am closing it, feel free reopen

[2019-12-05 06:49] #379 closed

[2019-12-05 06:52] #353 closed

[2019-12-05 06:53] skoruba commented on #353
Feel free reopen

[2019-12-05 06:55] skoruba commented on #373
I am closing, feel free reopen

[2019-12-05 06:55] #373 closed

[2019-12-05 09:57] JoelKap opened #432 "CreateUserRoleAsync"
Hi,

Thanks for the library, really great guys!! am loving it.
I would like to ask why didn't you create a method for CreateUserRolesAsync.
Am sure people would find it useful to be in a position of adding multiple roles for a user.

Thanks

[2019-12-05 14:48] #431 closed

[2019-12-05 14:48] willisga commented on #431
Thanks you

[2019-12-05 18:40] skoruba commented on #432
Hi, can you send a PR for this?
Thanks

[2019-12-05 19:38] mikeandersun opened #433 "Why there in not any implimentation of IProfileService?!"
I Expect an implementation of `IProfileService  ` interface.
What is the alternative of it?

[2019-12-05 20:15] skoruba commented on #433
I can use your implementation of ProfileService, there is used default `IProfileService` for Asp.Net Core Identity.
Here is the place for adding your profileservice:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Helpers/StartupHelpers.cs#L243 - add method `.AddProfileService<>()`.

[2019-12-07 07:21] #433 closed

[2019-12-10 19:48] bravecobra opened #435 "Add the option to log to the console"
Add the sink to let Serilog log to the console: `Serilog.Sinks.Console`. This is especially useful in environments like Kubernetes where you want to do logshipping/distributed logging. It can be off by default, although that would not be my preference.

The recently added logging to the DB is definitely not my preferred way to keep logs. You lose the option to do structured logging as well. I woul

[2019-12-10 20:38] skoruba commented on #435
For sure, we can add logging into console as well. Which other logging packages do you suggest by default? It is necessary to add specific packages into solution.
Thanks

[2019-12-11 20:34] b0 opened #437 "Unable to cleanly add additional MVC configuration in ConfigureServices"
Hi,

I have need to add additional controllers and views to STS.Identity but since ASP.NET Core support controllers and views in separate library I went that route. I have created new library, added my controllers and views and created an extension method to register everything in STS.Identity but  `IMvcBuilder`is not available in ConfigureServices.

Usualy it's normal that `IMvcBuilder` is availa

[2019-12-11 21:39] b0 commented on #437
Thank you @skoruba

[2019-12-11 21:39] #437 closed

[2019-12-13 16:54] maldworth commented on #360
at this point, it might just make sense to skip 3.0 and go to 3.1 (which is LTS).  You'd just need to wait for Ids4 to release their preview branch: https://www.nuget.org/packages/IdentityServer4/3.1.0-preview.1.4

[2019-12-14 15:23] krejcimichael opened #441 "Hosting on Docker Swarm with Traefik"
Dear,

I try to host the dev version (.net core 3 and docker support) on Docker Swarm with Traefik, you can find more information about the environment here : https://dockerswarm.rocks/traefik/
Both STS and the API (Swagger) work well but I'm facing an error when I access the Admin that I don't understand :

I don't really now where to search ?

Thanks

[2019-12-15 11:21] skoruba commented on #441
Hi, can you send detailed trace? From this message you got 401, but I don’t know why. More details will be perfect.

[2019-12-15 11:32] krejcimichael commented on #441
Hi,

Here the trace that I have in the table "Log"

[2019-12-15 13:09] skoruba commented on #441
Did you change configuration of admin authentication? Is it default configuration?

[2019-12-16 14:22] krejcimichael commented on #441
Hi,

I have just adapted the default configuration in the docker-compose  :

[2019-12-16 16:23] marcusmleite opened #442 "I am getting error 401 when I have client machine with wrong date"
I am getting error 401 when I have client machine with wrong date compared to server date. After I correct the date on the client machine I have authorized the token. Is there any configuration in Skoruba that I can eliminate this delay

[2019-12-17 09:10] skoruba commented on #360
@maldworth - thanks 👍

[2019-12-17 11:40] pfaustinopt commented on #433
I'm trying to use `IResourceOwnerPasswordValidator` along with `IProfileService` to authenticate the users on a different database from the one used by `IdentityServer` but I can't get it working.

I've added the method `AddProfileService<>()` where you pointed, but when I try to authenticate my user with grant_type `password`, I always get the message `User has been disabled`.

[code]

If I make

[2019-12-17 12:42] pfaustinopt commented on #433
@mikeandersun did you managed to create your own IProfileService?

[2019-12-17 13:45] skoruba commented on #433
@pfaustinopt Do you have some issue with this?

[2019-12-17 13:52] pfaustinopt commented on #433
@skoruba I was having some difficulties, but I saw this example https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/blob/master/src/ProfileService.cs and made it.

[2019-12-17 15:29] hugodeco opened #443 "Custom Role Management"
How can i implement a custom role management like this scenario ?

My Web Application uses roles to define on SiteMap what pages the users can access and view.
And we use Claims to security individual functions. Like :

. AddWishListItem
. RemoveWishListItem
. UpdateWishListItem

But before i use the IdentityServer, the users roles was automatic defined by these directves.
Like, if a users has any

[2019-12-17 19:18] skoruba commented on #442
Which token do you mean?

[2019-12-17 21:31] marcusmleite commented on #442
access_token

[2019-12-18 08:40] b0 opened #445 "Unable to configure IdentityServer without modifying private methods"
Hi @skoruba ,

currently it's not possible to configure `IdentityServer` from STS project without going into `StartupHelpers` and modifying private methods.

I have made PR that fixes that issue by exposing `IIdentityServerBuilder` back to `ConfigureServices`
PR #444

Thank you

[2019-12-18 10:05] skoruba commented on #445
Hi @b0
thanks, it is merged. 👍

[2019-12-18 10:21] b0 commented on #445
Thank you @skoruba

[2019-12-18 10:21] #445 closed

[2019-12-18 19:15] skoruba commented on #442
Access token for Api or do you mean cookie for admin ui?

[2019-12-18 19:17] skoruba commented on #441
I have to test it, but localy with docker-compose this settings works fine.

Any idea @bravecobra @xmichaelx ?

[2019-12-18 19:24] skoruba commented on #443
Hi,
what do you exactly mean with sitemap?

I think you can achieve this using policies in .Net Core:
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-3.1

PolicyServer is good example how to extend policies as well: https://github.com/PolicyServer/PolicyServer.Local

You can define list of policies and according to user’s claims it is possible to grant

[2019-12-18 20:52] hugodeco commented on #443
No, it doesnt help.
Policies is what i use today to control internal functions, my directives that i mention.
Forget about SiteMap its only a exemple.
I need to customize roles filter;

When clients uses 'httpcontext.user.isInRole("xxxx")' i need to bring to then roles that are not in the database but, based on their claims and policies (custom code).

[2019-12-19 07:59] rizky1204 opened #446 "Forbidden access to API"
hello  , when i use token from  grant type client credentials . i got the response 403
i'm using postman for test , so where is the problem ?
thanks

[2019-12-19 14:13] marcusmleite commented on #442
Hi! Good morning!
My problem is with authentication! When the client side clock has a time or date ahead the identity server does not allow authentication! Is there any setting for the identity server to bypass client-side clock time checking. This is the browser console message for an angular application:

validate_id_token_iat_max_offset: 3553777 < 3000
authorizedCallback Validation, iat rejecte

[2019-12-20 12:31] bravecobra commented on #441
Is `identity.octopus.dev.naxosit.com` resolvable from both inside (by the container running the admin) and outside the swarm network?

[2019-12-20 12:56] krejcimichael commented on #441
Hi, yes I have tried from the inside of the container and it works, also from the outside.

![image](https://user-images.githubusercontent.com/40592263/71256117-2be43580-2330-11ea-9d72-6fcdd107e9b2.png)

[2019-12-20 12:58] skoruba commented on #441
Look at this: https://identity.octopus.dev.naxosit.com/.well-known/openid-configuration
- all urls are without https, this causes this issue probable.

[2019-12-20 13:09] krejcimichael commented on #441
Good point, so IdentityServer doesn't know that he is hosted on https.
I will take a look at the forwaded headers.

[2019-12-20 13:47] krejcimichael commented on #441
Ok, it was the reason, now it works.
Thanks for pointing the problem.
So I have updated the startup, in the method Configure() :

` public void Configure(IApplicationBuilder app, IWebHostEnvironment env)
        {
            app.UseForwardedHeaders();`

And in the method ConfigureServices() :

`services.Configure<ForwardedHeadersOptions>(options =>
            {
                options.ForwardedH

[2019-12-20 14:16] skoruba commented on #441
Thanks for your feedback 👍🏼

[2019-12-20 16:24] skoruba commented on #360
https://www.nuget.org/packages/IdentityServer4/ - new release of IS4 is available, I will update to .Net Core 3.1 👍🏼😊

[2019-12-21 09:39] skoruba commented on #446
Hi, for client credential flow you need update your authorization, because there is missing probable admin role. Please check dev branch, I have already did it there.

[2019-12-22 00:45] mandrepont commented on #388
I am confused as to what you are asking, this project is heavily coupled with ASP.NET Core Identity so sadly it is not so easy to just drop another user store in as some of the pages might be broken. (Ex: Users and Roles)

However, to answer your question, it seems you would want to put that code in the STS project in Startup.cs.

[2019-12-22 07:23] skoruba commented on #388
I agree with @mandrepont

[2019-12-22 13:17] #441 closed

[2019-12-23 20:11] bravecobra commented on #435
I wouldn't want to add dependencies that are opinionated and stick to the basics ones. We don't want to impose any preference but leave open the option to add more by just referencing the sink required and changing the configuration. Actually, I'd leave the console to be the only one enabled. Any other option as logging is a very opinionated topic. As mentioned before even file logging might not b

[2019-12-23 20:22] bravecobra commented on #435
We should make distributed tracing like OpenTracing/Jaeger a separate issue. Same goes for structured logging, as that would involve changing the log statements everywhere where applicable.

[2019-12-23 21:46] skoruba commented on #435
I definitely agree with you, I will do it according to your suggestion. 👍🏼

[2019-12-27 12:49] skoruba opened #448 "How to add .dcproj into solution via dotnet template"
I am preparing new dotnet template for new release which contains support for docker.
We have the project called: `docker-compose.dcproj` which is necessary to add into solution during the instalation of whole solution.

I have tried the command like this:
`dotnet sln MyProject.sln add docker-compose.dcproj`

I got this error:

Posted here: https://github.com/dotnet/sdk/issues/4100

Any idea @brav

[2020-01-01 17:09] alvarovalle opened #449 "Which token would I use ?"
Hi

I am experiencing micro-service scenario, and I would like to know what is the propper use of Jwt token when diving in to cross micro-service communication. like the picture below

![image](https://user-images.githubusercontent.com/5870264/71643992-ef092e80-2c9f-11ea-8c59-2ebb2369d995.png)

My user got a token, but he only can talk to microservice A.
In the other hand, microservice A are allow

[2020-01-01 18:51] skoruba commented on #435
According to @bravecobra PR added into dev.

[2020-01-01 18:51] #435 closed

[2020-01-03 09:15] skoruba commented on #449
Please, look at this docs: http://docs.identityserver.io/en/latest/topics/extension_grants.html
I think this is exactly what you want 🙂

[2020-01-03 14:56] alvarovalle commented on #449
Thank you very much

[2020-01-03 15:02] alvarovalle commented on #108
Hi, I am having problems even after have been followed the step by step guide

[here](https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/Configure-Azure-Deploy.md)

![image](https://user-images.githubusercontent.com/5870264/71730317-99a85b00-2e20-11ea-99ca-12d27c4f4f38.png)

here is my code

![image](https://user-images.githubusercontent.com/5870264/71730436-e7bd5e80-2e20-11ea-80c0-

[2020-01-05 09:08] skoruba commented on #321
I would like to publish demo instance of Admin UI for preview, probable via docker.
Do you have any tip for hosting? - @bravecobra @ekjuanrejon

I think - now it is possible to use docker-compose which is already done and after polishing of kubernetes, I can switch to kubernetes #436

It would be perfect to use github actions to create docker images, publish them into the docker hub and deploy the

[2020-01-05 20:16] bravecobra commented on #321
There are a couple of things we need to consider setting this up:
1. Choosing the cloud provider: One of the cheapest kubernetes hosting is probably something like DigitalOcean, unless you already have access to one of the major cloud providers like AWS, Azure or Google. Keep in mind that it'll never be completely free.
1. Make sure we can run on HTTPS. On kubernetes that means we'll need an certi

[2020-01-07 17:52] ImaginaryDevelopment commented on #402
I've been using
[code]
 at the top of the docker-compose

then each container that needs db access has to be in that network (and possibly more for other container-container direct contact outside of this compose.
[code]

no fqdn, and other docker containers outside that network have been able to ID4 interop. This is a private docker network, putting the skoruba stuff in a private network with the

[2020-01-07 18:45] skoruba commented on #448
I solved this issue with preparing of another solution which has .dcproj already included.
Done in dev branch.

[2020-01-07 18:45] #448 closed

[2020-01-09 14:01] brinehart commented on #121
So it looks like this functionality was merged. Should the main readme be updated to check off the Docker Support box and add instructions to run the project with Docker?

[2020-01-09 14:12] skoruba commented on #121
For sure, I am working on it.

[2020-01-09 14:14] brinehart commented on #121
Please let me know if you would like any help on that.

[2020-01-10 21:10] MaxThom commented on #360
Hi,
thank you for your great AdminUI. We were wondering if you will provide a guide to upgrade AdminUI from core 2.2 to 3.1 ?

[2020-01-10 21:14] skoruba commented on #360
Hey, for sure - check dev branch. The final version is almost prepared. I am polishing docker support. 👍🏼

[2020-01-14 08:21] saeedrahimi opened #455 "dev: Authorize problem in Api"
Hi, Thank you for this great project.
I've just faced a problem with Api authorization in `dev` branch.

Steps to reproduce:
1. clone `dev` branch of repository.
2. run Admin, Api, Sts
3. navigate to swagger in > `http://localhost:5001/swagger/index.html`
4. authenticate with swagger ui successfully (token is available).
5. execute an api.
6. return 302 with `http://localhost:5001/Account/Login?re

[2020-01-14 09:02] skoruba commented on #455
Hi @saeedrahimi
thanks for reporting this, after your PR, this still doesn't work for me.
I need to figure out, where it is issue.
Thanks!

[2020-01-14 10:01] gnsilence opened #458 "Avatar is Non editable"
First of all, this project is really excellent. I've been using it for a long time
There is a small problem,Avatar is Non editable,When editing personal information

[2020-01-14 11:44] skoruba commented on #455
@saeedrahimi - Please, check latest dev branch, it should work. 👍 Thanks for reporting this, I didn't notice this issue.

[2020-01-14 11:52] skoruba commented on #458
@gnsilence - Thanks for your feedback - this is great idea - I think @aiscrim something similar did in the branch with windows auth. I will add this feature in the future.

[2020-01-14 12:36] saeedrahimi commented on #455
Works like a charm 👍

[2020-01-14 12:37] #455 closed

[2020-01-14 13:15] skoruba commented on #458
BTW: Avatar is currently connected to https://en.gravatar.com/ - @gnsilence

[2020-01-14 13:38] aiscrim commented on #458
What I did was substituting the gravatar image with the picture coming from Active Directory, but I didn't give the user the option to change it. That would be a valuable new feature indeed.

[2020-01-14 14:08] skoruba commented on #458
@gnsilence - Do you want to upload file or post URL for image?
@TomasHubelbauer - Any idea about profile picture?
Thanks!

[2020-01-14 14:17] skoruba commented on #458
We can add some input for profile picture url, which is stored in claim like [oidc specs says](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims).

[2020-01-14 14:19] TomasHubelbauer commented on #458
I think there could be a flow where if AD is used and the picture is present, take that, if not and the user uploaded a picture file, use that and if not then fallback to Gravatar. That way if you're in AD, it is authoritative, which is most likely what's intended and to change your picture you can talk to your AD admin and if you're not, you can switch between your own picture and the Gravatar on

[2020-01-14 14:20] TomasHubelbauer commented on #458
In addition, we could offer file upload and set the claim value to the URL of the uploaded file. I think that might work and provide nice UX (no need to self host the picture or use a service which allows hot linking images)

[2020-01-14 15:10] aiscrim commented on #458
@TomasHubelbauer Totally agree with you. In the AD scenario I am storing as picture claim the data URI (base64) representation of the picture, which could be an alternative too for the general picture upload. If we go for the hosted pictures instead, then it's probably a good idea to also change the AD picture saving accordingly.

[2020-01-15 01:28] gnsilence commented on #458
I have two options in mind:
1. The avatar is uploaded to the system and then saved URL through adminapi
2. Users upload pictures locally
The first way is too coupled.
Third party login avatar is not necessary, because there are many ways for the third party login, I think the simplest and most effective is to let the user upload the local, the user's information is maintained by the user as far as

[2020-01-15 03:16] danielmeza opened #459 "Provide a visual studio Project template"
This issue is for track support to the visual studio project template
![image](https://user-images.githubusercontent.com/16217470/72401950-88fabd80-371b-11ea-8dfa-8156d7183312.png)

[2020-01-15 13:05] danielmeza opened #460 "Migration add-migrations.ps1 is broken when run donet ef migrations"
This happen to me when I run the powershell script even before I restore the package and before I double check that the Microsoft.EntityFrameworkCore.Tools package was installed in the Admin project.

To solve this had to add the followin two lines in the add-migrations.ps1 file.
[code]
With it make is update the dotnet ef tools and ensure to install it in a global folder.

[2020-01-15 13:41] danielmeza commented on #459
@skoruba What do you think about this?

[2020-01-15 13:46] danielmeza opened #462 "Implement docfx"
As docfx 3.0 will provide full integration with docs.microsfot.com we can simplify the process of ship docs, it has grate support for api , static and dynamic documentation.

We can has a page like this https://dotnet.github.io/docfx/tutorial/walkthrough/walkthrough_overview.html
and when the 3.0 version come we can jun easily to docs.microsoft.com

[2020-01-15 13:56] skoruba commented on #459
@danielmeza - It looks good - I have to explore more details about it. Currently I think dotnet template it pretty similar solution - what do you think? :-) Did you try dotnet template?

[2020-01-15 15:02] danielmeza commented on #459
the donet new way is great to start, most for user how love the CLI but will be great if we include support for the project creator dialog.
We can use this extension https://marketplace.visualstudio.com/items?itemName=MadsKristensen.TemplateCreator that simple add the template for each approach (CLI,project dialog).

[2020-01-15 16:11] skoruba commented on #459
Yes, I prefer CLI solution because it is cross platform. :-)
I will take a look at this VS template also, but it has lower priority.
Thanks for your feedback. 👍

[2020-01-15 19:58] danielmeza commented on #459
@skoruba  perfect, perhaps we should wait until vsteam propagate the current template system to the IDs

[2020-01-16 22:27] killerrin commented on #458
Just to have my two cents. If we are allowing image uploads, there should probably be a Config option that allows you to disable them.

But regardless, I would like it if the Gravitar fallback to remained. Just to provide the option. In fact, this could even just be a Config item that lets you specify Image Upload, Gravitar or AD

[2020-01-17 03:53] gnsilence commented on #458
That's a good idea

[2020-01-17 08:41] gnsilence opened #464 "admin API 404 not found"
I created the project with the template 1.0rc1.
I have changed the DefaultAuthenticateScheme and DefaultChallengeScheme.

 services.AddAuthentication(options =>
                {
                    options.DefaultAuthenticateScheme = IdentityServerAuthenticationDefaults.AuthenticationScheme;
                    options.DefaultChallengeScheme = IdentityServerAuthenticationDefaults.AuthenticationSc

[2020-01-17 08:55] gnsilence commented on #464
I have solved the problem , because EntityFrameworkStores were added last.

[2020-01-17 09:02] skoruba commented on #464
Please use rc1-update1 - we fixed it. 🙂 thanks

[2020-01-17 19:57] #464 closed

[2020-01-17 19:58] skoruba commented on #464
Thanks for reporting this

[2020-01-22 01:13] narbit commented on #55
Hi Jan (@skoruba),

What is the current recommended way to integrate with existing instance of IdP (backed by Asp.Net Identity) using rc1?

I've been going over @Brice-xCIT comments and your joint PR activity but can't figure out where to start. In particular, I really liked Brice's "what I would have liked to do" steps that mention pulling NuGet package and registering services.AddIdentityServerA

[2020-01-22 07:25] rizky1204 commented on #446
many thanks sir.

[2020-01-22 07:25] #446 closed

[2020-01-22 17:44] aiscrim opened #467 "Show on Identity Server home page link to all clients"
I think it would be very practical for users to be able to access the Identity Server and, after being logged in, being presented all the clients, or - it would be even better - all the clients they have access to.
I can open a (low priority) PR for that, but I'd like to ask you for your approval, and also have some suggestion: how would you read the list of clients? Using the Admin.Api? Reading t

[2020-01-22 20:50] skoruba commented on #467
What do you mean with presenting of all available clients? What do you want to show to the users - configuration of clients?

[2020-01-22 23:07] aiscrim commented on #467
No, sorry for not being clear enough, I meant the links to the clients themselves, like the way it’s done for the Admin client, but generalized to every client (so instead of putting the links in the top menu I’d put them in the home page).
That way users could be given just the link to the Identity Server and from there they would be able to navigate to all the applications they have access to. D

[2020-01-23 02:40] danielmeza commented on #460
Fixed by #461

[2020-01-23 02:40] #460 closed

[2020-01-23 11:41] HrDahl opened #468 "Understanding DeleteUserClaimsAsync"
Hi,

Could you please explain how the method `DeleteUserClaimsAsync` in `IdentityRepository.cs` actually deletes multiple claim**s**?

When looking at the flow it is being used by `IdentityService.cs` as such:
[code]

And the actual implementation of `DeleteUserClaimsAsync`:

[code]

I see that the `TUserClaimsDto ` does have a property called `Claims` but it is not being used in the `DeleteUserCl

[2020-01-23 11:47] HrDahl commented on #467
I would say it only makes sense if I am interested in the other Clients (projects).

E.g. for our specific project we do actually have a list of links to all our other clients on the landing page of the IdP but that is primarily because all the other clients (projects) are developed inhouse and we want to make users aware about all the different possibilities our other products/projects can offer

[2020-01-23 13:19] aiscrim commented on #467
@HrDahl yes, this is exactly my use case too. If you already implemented it, could you share that code with us? Then we can decide if leaving it by default or upon the setting of an appsetting parameter if you think that not everybody could be interested in it. My point of view is that if an application is integrated then it is of interest to the end user (at least if the user has access to it), r

[2020-01-23 13:28] skoruba commented on #468
Hi @HrDahl - thanks for your message, the method `DeleteUserClaimsAsync` has incorrect name, because as you said, this method is allowed delete only one single claim.

[2020-01-23 14:06] HrDahl commented on #468
Hi @skoruba, alright so it was what I assumed :)

If I can find some time in between my deadlines, I will make a PR that has new functions to delete all UserClaims associated with an user id. I'll probably include a function to do the same for UserRoles

[2020-01-23 14:12] HrDahl commented on #467
@aiscrim I see some cases where I would not be interested in getting links/information about certain Clients, so making it optional via an appsettings parameter seems like a good idea.
Let me see if I can find some time to make a PR with source code.

[2020-01-23 14:43] skoruba commented on #468
Thanks @HrDahl - PR is welcome ;-)

[2020-01-23 17:49] HrDahl commented on #443
I find it hard to understand exactly what it is that you want. But I would recommend reading about middleware filters:
[.NET Core Filters](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.1)

[2020-01-23 20:02] skoruba commented on #467
@aiscrim - if you want - you can mail me your contact where we can discuss details

[2020-01-24 06:17] danielmeza commented on #419
There is two simple way to do this one is create a convention based on Claims something like

1. **Define a claim convention name:**
 Name: permission.{permision-name}
 Value: true

2. Then make a scope called permissions to link the claims that start with permission.*, this way the application can request the scope and the apis can make it mandatory.

3. Create a permission provider how configure

[2020-01-24 08:46] #389 closed

[2020-01-24 08:46] #397 closed

[2020-01-24 09:29] aiscrim commented on #467
Ok, you got mail! :-)

[2020-01-24 19:18] skoruba commented on #121
I am closing this issue, it was released in master branch.

[2020-01-24 19:18] #121 closed

[2020-01-24 19:18] skoruba commented on #61
I am closing this issue, it was released in master branch.

[2020-01-24 19:18] #61 closed

[2020-01-24 19:19] skoruba commented on #426
I am closing this issue, it was released in master branch.

[2020-01-24 19:19] #426 closed

[2020-01-24 19:20] skoruba commented on #408
I am closing this issue, it was released in master branch.

[2020-01-24 19:20] #408 closed

[2020-01-24 19:20] skoruba commented on #407
I am closing this issue, it was released in master branch.

[2020-01-24 19:20] #407 closed

[2020-01-24 19:21] skoruba commented on #383
I am closing this issue, it was released in master branch.

[2020-01-24 19:21] #383 closed

[2020-01-24 19:21] skoruba commented on #376
I am closing this issue, it was released in master branch.

[2020-01-24 19:21] #376 closed

[2020-01-24 19:23] skoruba commented on #360
I am closing this issue, it was released in master branch.

[2020-01-24 19:23] #360 closed

[2020-01-24 19:23] skoruba commented on #363
I am closing this issue, it was released in master branch.

[2020-01-24 19:23] #363 closed

[2020-01-24 19:27] skoruba commented on #398
I am closing this issue, it was released in master branch.

[2020-01-24 19:27] #398 closed

[2020-01-24 20:03] skoruba commented on #343
I am closing this issue, it was released in master branch.

[2020-01-24 20:03] #343 closed

[2020-01-24 20:04] skoruba commented on #341
I am closing this issue, it was released in master branch.

[2020-01-24 20:04] #341 closed

[2020-01-24 20:04] skoruba commented on #337
I am closing this issue, it was released in master branch.

[2020-01-24 20:04] #337 closed

[2020-01-24 20:13] skoruba commented on #330
I am closing this issue, it was released in master branch. Thank you 👍🏼

[2020-01-24 20:13] #330 closed

[2020-01-24 20:14] skoruba commented on #329
I am closing this issue, it was released in master branch. Thank you. 👍🏼

[2020-01-24 20:14] #329 closed

[2020-01-24 20:18] skoruba commented on #315
Today it was released 1.0.0-rc1. Please take a look at the latest changes.

[2020-01-24 20:18] #315 closed

[2020-01-24 20:19] skoruba commented on #304
Done in master.

[2020-01-24 20:19] #304 closed

[2020-01-24 20:21] skoruba commented on #283
Fixed and available in master

[2020-01-24 20:21] #283 closed

[2020-01-24 20:22] skoruba commented on #228
Done n the master branch

[2020-01-24 20:22] #228 closed

[2020-01-24 20:23] skoruba commented on #142
Done in the master branch - you can specify logo, favicon and site name from appsettings.json

[2020-01-24 22:09] bravecobra commented on #417
I might have mentioned this before but I don't believe in putting logs in a database in the first place.

[2020-01-24 22:11] bravecobra commented on #402
@ImaginaryDevelopment yep, that can work perfectly!

[2020-01-24 22:11] skoruba commented on #417
Agree, I am closing this. Thx

[2020-01-24 22:11] #417 closed

[2020-01-25 13:42] skoruba commented on #449
I am closing this issue, feel free reopen.

[2020-01-25 13:42] #449 closed

[2020-01-25 13:45] skoruba commented on #428
I am closing this issue. I want to keep string as primary key for now. Thanks

[2020-01-25 13:45] #428 closed

[2020-01-25 13:47] skoruba commented on #388
I do not plan to implement this library for now. Thanks for tip.

[2020-01-25 13:47] #388 closed

[2020-01-25 13:48] skoruba commented on #347
I am closing this issue for now, feel free reopen. Thanks

[2020-01-25 13:48] #347 closed

[2020-01-25 13:48] skoruba commented on #323
Done in master branch, thanks.

[2020-01-25 13:48] #323 closed

[2020-01-25 13:52] skoruba commented on #95
Mysql sink is not part of this solution. Thanks

[2020-01-25 13:52] #95 closed

[2020-01-25 13:53] skoruba commented on #384
I am closing this issue, feel free to reopen.

[2020-01-25 13:53] #384 closed

[2020-01-25 13:55] skoruba commented on #393
I am closing this issue, feel free reopen.

[2020-01-25 13:55] #393 closed

[2020-01-25 13:55] skoruba commented on #313
I am closing this issue. Thanks

[2020-01-25 13:55] #313 closed

[2020-01-25 13:57] skoruba commented on #235
Currently it is possible to use in production. Thanks

[2020-01-25 13:57] #235 closed

[2020-01-25 13:58] skoruba commented on #184
Done in master - take a loot at new features

[2020-01-25 13:58] #184 closed

[2020-01-25 18:02] ChristianRiedl opened #469 "Using HTTP.sys and running as windows service"
I would like to run  your 3 web apps using HTTP.sys and as windows service sharing the standard http and https ports.

Using your latest ASPnet core 3.1 version it was easy to make some modifications in program.cs and now it runs
on

- http://<domain>/identity
- http://<domain>/identity.api
- http://<domain>/identity.admin

It only requires to add two packages :

- Microsoft.Extensions.Hosting.Win

[2020-01-25 19:23] skoruba commented on #469
Hi, why do you prefer windows service?

[2020-01-25 19:31] ChristianRiedl commented on #469
In my opinion it is the standard way to run services (= background tasks, = demons) on a Windows Server.
It is only a server for my private use (smart home, media). I use OpenId Connect auth only to combine hobby with learning :-).
All my AspNetCore sites are running as Windows Service. I think I am not the only man on world running windows services.

[2020-01-25 20:39] skoruba commented on #469
I see, I will check some details about http.sys in general, I have never used this before.

[2020-01-25 20:45] ChristianRiedl commented on #469
Fine. I show you the provisional changes I made in  Program.cs. GetCurrentDirectory is not possible in a windows service.

[code]

[2020-01-26 12:40] ChristianRiedl opened #471 "Seeding from JSON files - propose cleanup parameter"
Seeding from json files is a nice feature. I propose to add a /cleanup parameter to Identity.Admin.
It would make it easier to repeat importing from json files.

[2020-01-27 16:22] danielmeza opened #472 "Claims from roles should be flushed when assign roles to client"
If a role has claims like:

- role.claim1:rvalue1
- role.claim2:rvalue2

Those claims should be flushed to the client when a role is assigned to it?
The Clients claim should look like..

- client.claim1:cvalue1
- client.claim2:cvalue2
- **role.claim1:rvalue1**
- **role.claim2:rvalue2**

This is a expected behavior?
If yes, should this behavior been provided by the role claims flush or by the [Prof

[2020-01-27 16:38] pbros opened #473 "Account Controller Logout GET should AllowAnonymous"
Hello,

In the `AccountController.cs`, the Logout GET method should `AllowAnonymous` as it does in the IdentityServer4 QuickStart (in the Quickstart, the whole controller is `AllowAnonymous`, so by default the Logout method is as well).

The logic in the `BuildLogoutViewModelAsync` already supports the fact that the user might not be authenticated.

The following scenario was causing us issues.

-

[2020-01-28 13:01] danielmeza opened #474 "The docker-compose file not meet the network topology."
The docker compose define port 5000 for the Admin Api but the admin api is configure to use 5001 port, and also put the 80 port to the STS site, it should use 5001 for Api and 5000 for STS

[2020-01-28 14:23] skoruba commented on #474
I have checked the docker-compose and everything looks good. What do you think with network topology? Thanks.

[2020-01-28 14:24] skoruba commented on #471
Thanks, I will add it into backlog. :-)

[2020-01-28 14:25] skoruba commented on #473
Hi @pbros - thanks, I will check it.

[2020-01-28 14:27] skoruba commented on #472
We use default Profile Service for Asp.Net Core Identity. I will check it.

[2020-01-28 14:51] b0 opened #476 "Find users by Claim in Admin.API"
Hi @skoruba

currently it's not possible to find users having some claim by using API.

Let's say i have 200 users having claim "EyeColor":"Blue". Currently you can find them only by getting all 200 users and then asking for claims for every user. That's 200 requests.

I have created PR #475  that solves this issues. Thank you

Best regards

[2020-01-28 14:54] skoruba commented on #476
Hi @b0 - thanks for your PR, I will check it. 👍

[2020-01-28 20:50] danielmeza commented on #474
When we run the solution with iis express the site has the following addresses:

- localhost:5000 for STS
- localhost:9000 for admin
- localhost:5001 for admin api

But in docker has:

- localhost:5000 for admin api
- localhost:80 for STS
- localhost:9000 for admin

It should keep the same address to simplify configuration and maintenance?

[2020-01-28 22:15] bravecobra commented on #476
Is that not a security issue? I don't think that is the responsibility of identityserver. You want an event published whenever someone gets that claim and record that in some other service where you can query it.

[2020-01-29 07:03] b0 commented on #476
So, idea is to remove event publishing?

[2020-01-29 08:39] b0 commented on #476
I have read your comment again. I don't see any security issue here because the added code is in the API project. To access the API the user already needs to have the Admin role.
Also, as we _now have_ an API for accessing the Resources, Clients, Roles, adding UserClaims etc. over REST it seams ok to have the ability to query  those same UserClaims back via REST.
Or there is some other issues? Can

[2020-01-29 23:18] bravecobra commented on #476
@b0 no, with the suggested rest call, you would be able to list users that have a claim. Listing the users is the security issue here. The only other way to list users is in the [UsersController](https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin.Api/Controllers/UsersController.cs#L82). What you suggest here is a further filter on claims. What better too

[2020-01-30 07:04] karensy opened #477 "code challenge is missing"
Hello. I get below error messages everytime when I try to connect to AdminUI. I don't know what's the problem. My admin account has a Admin role and I logged-in already at STS identityserver.

1월 30 15:54:19 mariadb ES-IS4-IS4[24384]: [15:54:19 ERR] code_challenge is missing
 1월 30 15:54:19 mariadb ES-IS4-IS4[24384]: {"ClientId": "AdminUI", "ClientName": "AdminUI", "RedirectUri": "http://somewhere

[2020-01-30 08:30] skoruba opened #478 "Connect Admin Api to the Admin UI"
Currently, the Admin UI is connected to services directly from the controllers.

I am considering using Admin Api from Admin UI.

It will required some rewrite, but it should be cleaner solution.

Feedback is welcome. 👍

Thanks

[2020-01-30 08:37] skoruba opened #479 "Add windows authentication"
Currently, preview of windows authentication is prepared in this branch - [feature/windows-auth](https://github.com/skoruba/IdentityServer4.Admin/tree/feature/windows-auth) which is based on PR from @aiscrim

[2020-01-30 09:24] b0 commented on #476
Hi @bravecobra

This data is **already available** to someone with malicious intent.

The point is that going through the `/Users` you can get all the user ids. You don't even need to use "search" in that GET request.
After that looping through the `/User/{id}/Claims` you can get all the users information.

This information is already available to anyone that has **access to the API,** be it an **

[2020-01-30 10:36] #477 closed

[2020-01-30 10:37] karensy commented on #477
When I did a fresh install, all the problems went away.

[2020-01-30 10:59] petarkekez commented on #476
Hi, we are also having a similar issue and this API would help us.
We are using claims to store user’s tenancy information.

Because the search by claims is missing in the API we are connecting directly to Identity database and querying the user tables.

We would benefit greatly if the search by claims is added to API project.

[2020-01-30 20:11] danielmeza commented on #478
That's great! This allow us to reduce the maintenance effort and will propagate new features across all system. Remember to use HttpClientFactory and Polly for reduce HTTP connection issues.

[2020-01-30 20:15] danielmeza commented on #469
This look like another template for the host, we can separate all the web stuff from the host project and have several host environments to avoid use compiler variables. Or perhaps just making serveral programs files template an selectin in the dotnet new command

[2020-01-30 20:33] skoruba commented on #478
Can you describe your idea with Polly?

[2020-01-30 21:05] bravecobra commented on #476
Looking at the [source](https://github.com/skoruba/IdentityServer4.Admin/blob/be6fc55a61d890378dd21f9110c2850e963a487f/src/Skoruba.IdentityServer4.Admin.EntityFramework.Identity/Repositories/IdentityRepository.cs#L86), it would indeed be possible to list all users when leaving the search string empty. Tnx for identifying that security hole! I don't believe we should allow this.

[2020-01-30 21:44] skoruba commented on #476
@bravecobra - the Admin Api is protected, for this endpoint you need have the admin role. If you need list of users, this is valid solution.
What is your idea - how to implement this method if you want to show a list of users in admin ui?

[2020-01-30 21:53] bravecobra commented on #476
I would limit the search criteria at which the GET request would return any results. So either you know the email address or you know at least a partial username (with a minimum of x amount of letters). Empty search criteria should just return an empty collection. Don't consider the GET request as a list of users, but as a collection of search results, so you would need at least some form of searc

[2020-01-31 09:36] b0 commented on #476
Hi,

I may be mistaken but this project is called IdentityServer4.**Admin**. Admin is short of Administration. So, you can't administer if you can't get to data or if you limit searching and filtering of data.

Even IdentityServer4 has official [AdminUI](https://www.identityserver.com/products/adminui) for administering users and you can clearly see on included screenshot of their product list of

[2020-01-31 09:43] skoruba commented on #476
Hi guys,
I understand what @bravecobra meant, but I fully agree with @b0 - this endpoint is not security issue. As we discussed, auth0 has similar endpoint as well - https://auth0.com/docs/api/management/v2#!/Users/get_users

[2020-01-31 14:44] bravecobra commented on #476
Sure, no problem then. I just wanted to point out that adding extra functionality should always be paired with the security consequence. The fact that we had the discussion and came to a conclusion, means we did consider the implication and that is the most important part.

[2020-01-31 15:52] ChristianRiedl commented on #469
I don't think compiler variables are bad in every case. As far as HTTP.sys and Windows service is concerned, I suggest waiting to see if other people would like that too. The effort is not worth it for me alone. Maybe you mark the issue with "feature request". Is there a possibility in github to "vote" for features ?

[2020-02-03 06:19] IwanSumpena commented on #209
can i do that at STS.Identity? what is the impact if I use it. I can't use Javascript because of csp issues.

[2020-02-03 06:25] skoruba commented on #209
Can you use js in external file in STS?

[2020-02-03 08:21] #476 closed

[2020-02-03 10:34] IwanSumpena commented on #209
The JS doesn't work and always comes out "Refused to apply inline style because it violates the following Content Security Policy directive:" style-src 'self' ... "
But when using the above configuration is OK. what is the impact if use it .

[2020-02-04 14:31] mavado83 commented on #419
An IdentityServer should not contain Permission logic. See this article from the creator of IdentityServer:
https://leastprivilege.com/2016/12/16/identity-vs-permissions/

I did also need permission based authorization. So I created a configuration where I can bind a permission to a role in my application. Using attributes I can now decorate controllers to gain access to a resource or not. Using t

[2020-02-04 15:53] b0 opened #483 "HSTS is improperly configured"
Hi @skoruba ,

there is a problem with HSTS implementation both in STS and Admin project https://github.com/skoruba/IdentityServer4.Admin/blob/7ec3b94cef55ffa5e6b677e2be8ab68287d21439/src/Skoruba.IdentityServer4.STS.Identity/Helpers/StartupHelpers.cs#L99

Both cases use HSTS regardless if code is running in development mode or not; while [documentation ](https://docs.microsoft.com/en-us/aspnet/cor

[2020-02-04 20:23] danielmeza commented on #419
@mavado83 The creator sale a solutions called PolicyServer and AdminUI, say that, this project should not also exists. This project is for cover the gap between the IdentityServer OIDC implementation and the administration of all the resource involved in the ODIC, so IdentityServer will remain clean wile this project can fill the gap between.
Your solution is great, but It will be awesome if we pr

[2020-02-05 01:34] danielmeza commented on #472
@skoruba as update: I have reading the docs on OpendID Connect and does not say noting about roles cause its relay on claims, so is up to us.
We can put this as an on/off behavior and flush claims using the ProfileService, but since there is only one ProfileService we shall use OCP principle of SOLID so the end user can extend the functionality, we can use an conventions based on strategy pattern

[2020-02-05 07:09] jwilliamsnephos commented on #174
@skoruba

I need this and am willing to work towards making it happen.  Perhaps it can be introduced passively via a button on the admin?  This would also allow other account details to be set up in advance by an admin, such as roles, and could even serve as a "password reset" initiated from the admin?

**User Story:**
As an admin over a private identity server without public registration, I would

[2020-02-05 07:13] mavado83 commented on #419
@danielmeza I do think this project is a great addition. But I don't think that permissions should be part of the identityserver/asp.net core identity combination. If we can add a separate project were permission based authorization is added as an example it would be great.

[2020-02-05 08:52] thisIsTheFoxe opened #485 "[API] Configure role claim"
Hi,

While implementing I noticed that `TokenValidationClaimRole` is only available in the Admin-UI Project.

The API authorization looks like [this](https://github.com/skoruba/IdentityServer4.Admin/blob/be6fc55a61d890378dd21f9110c2850e963a487f/src/Skoruba.IdentityServer4.Admin.Api/Helpers/StartupHelpers.cs#L240) where `JwtClaimTypes.Role` defaults to "role". In many cases, however, the actual rol

[2020-02-05 10:14] skoruba commented on #483
Hi @b0 - thanks for reporting this, I agree with you, it should not be used for dev.

[2020-02-05 10:22] #483 closed

[2020-02-05 12:54] b0 commented on #478
@skoruba count on me when time comes for this rewrite...

Thank you

[2020-02-05 13:15] danielmeza commented on #419
We can decoupled the authorization strategy, this way we can choose between Role base, Permission or just caims, note that all authorization we provide are just a set of standardized handle of Claim since OIDC only know about Claims.

Its let to the end user decide witch strategy will chose, since permission are full integrated with roles they both can coexist, we just need to apply convention ove

[2020-02-05 18:09] alexdresko commented on #174
Just some thoughts:

I would create a new table to store this temporary information (including the temporary "password".. I'd probably call it a PIN).  If the invited user clicks the registration link in the email, you'd allow the user to register. That way you don't have to create a user that only has an email address.

Related to that: Is there a way for the system to send an email to administra

[2020-02-06 06:00] mihaimyh opened #487 "Upgrade to new release"
Hi,

As this project gets more and more updates how we should handle them? For example I've installed it using the templates provided by the dotnet cli.

It is enough just to update the nuget packages Skoruba.IdentityServer4* whenever a new version is published?

Best regards.

[2020-02-06 06:00] anthonynewlineinfo opened #488 "API error - /api/Users/{id}/RoleClaims"
Hi,

![image](https://user-images.githubusercontent.com/28350118/73909870-bcbca380-48d3-11ea-8d04-c6dfd522bb10.png)

Requested to fetch Role claims using user Id, it showing mapper error
![image](https://user-images.githubusercontent.com/28350118/73909980-02796c00-48d4-11ea-8b77-742df10311ef.png)

[2020-02-06 06:28] skoruba commented on #488
Hi,
Thanks for reporting this issue, I will check it.

[2020-02-06 06:29] skoruba commented on #488
Do you use the latest version of Admin UI?

[2020-02-06 06:37] anthonynewlineinfo commented on #488
I'm using - New release 1.0.0-rc1

[2020-02-06 06:38] skoruba commented on #488
Thanks, let me check it

[2020-02-06 07:05] jwilliamsnephos commented on #174
I'm taking a stab at it.  See the fork off of this projects dev branch at (https://github.com/NephosIntegration/IdentityServer4.Admin/tree/InviteUser).

From the user profile page under admin, I've added a new "dark" button between "Audit Log" and "Change Password" labled "Invite User".

The best solution as I'm seeing it, is if you "Invite the user", it should generate a password reset token (sim

[2020-02-06 07:13] skoruba commented on #174
@jwilliamsnephos - thanks for your work on this issue, I will check your fork.
You are right, I am considering create new project for shared parts of whole solution: #413 - if you want to help me with this shared project, it would be perfect - but I would like to create separate PR for shared stuff and invitation functionality as well. What do you think?

[2020-02-06 14:03] aznarepse opened #489 "Cannot build"
I have been trying for the last two days to build and cannot find the way. When trying to load the solution:
Nuget cannot restore the packages. Hence, hundred of errors straight away.
C:\Program Files\dotnet\sdk\3.1.101\NuGet.targets(123,5): error : Root element is missing.
This message for every project.

First, I tried following the dotnet commands for installing the template and then for creati

[2020-02-06 14:06] aznarepse commented on #489
Quick add on to the info above:
the xml files for the projects seem fine to me and they pass validation on any xml parser.
So does the nuget.targets file and the line 123 column 5 is fine.

[2020-02-06 14:32] aznarepse commented on #489
Right, typical... I just managed to build it (just before jumping out of the window due to frustration...)
In case some else got bitten:
**Tools > Nuget Package Manager > Package Manager Settings > General > Clear all Nuget Caches**

Don't know why, but something in the cache did not like this solution.

[2020-02-06 14:33] #489 closed

[2020-02-06 17:58] jwilliamsnephos commented on #174
Oh, my branch is not really ready for a review yet.. Just putting it out there that I'm willing and wanting to work on it.. :)

Yes, I would love to help with "shared parts".   And agree they are separate issues with separate branches.  I'll take a look at the other ticket you referenced when I get off of work tonight.

[2020-02-06 18:03] jwilliamsnephos commented on #413
Do you have a branch you have started on this, or have figured out the namespace and references?

The particular "shared part" I'm the most interested in right now is e-mail capabilities from the Admin (currently exists in STS).  Which currently has two dependencies...  Sendgrid, and Identity.UI for IEmailSender interface.

How did you want to handle the Identity.UI.. I was assuming it wouldn't be

[2020-02-07 10:35] Brice-xCIT commented on #55
Hi @narbit, the easy service registration you mention is available in the branch extract-ui-package. Sadly it had not been merged into rc1 yet (and is now lagging far behind master). This being said it works and this is how I use it:

[code]

and

[code]

with in appsettings.json:

[code]

with `MyApplicationDbContext` and `MyApplicationUser` being the extended ASP.Net Core Identity context and us

[2020-02-07 18:33] narbit commented on #55
Hi @Brice-xCIT , thank you for sharing! Unfortunately after spending couple of days on this and not making progress I had to get moving and went with this project [https://github.com/brunohbrito/JPProject.IdentityServer4.AdminUI]() instead. Which had its own challenges but overall was much easier to adapt to with an existing IdP setup.

[2020-02-07 18:42] skoruba commented on #55
Hi guys, thanks for feedback on this. I will improve docs for this use case - how to connect to existing IS4.
@Brice-xCIT - unfortunately I did not have a time to adapt your PR with latest version. I will reviewed your PR and consider how to continue on your great work.

[2020-02-09 06:27] jwilliamsnephos commented on #174
Decided to keep working on this until I hear back on https://github.com/skoruba/IdentityServer4.Admin/issues/413

The process I'm coming up with is.. Upon user invite, it creates an "invitation_token" claim on the user and sends them an e-mail, directing them to "Finish the registration" process.  On the STS Identity, there is a new page the "RegisterByInvitation".  A user is valid to "complete re

[2020-02-09 13:06] CoreDX9 opened #490 "Client admin error, "RedirectUris" will be lost on save client."
on get client data

![01](https://user-images.githubusercontent.com/26616055/74102366-e698f300-4b7d-11ea-8a08-6fad50b301d8.png)

web page show nothing

![02](https://user-images.githubusercontent.com/26616055/74102383-03352b00-4b7e-11ea-8d0f-5ea8950c4f14.png)

DevTools Sources
![03](https://user-images.githubusercontent.com/26616055/74102425-5f984a80-4b7e-11ea-8875-6d4311f1862e.png)

on save clien

[2020-02-10 07:20] sbn111 opened #491 "Integrate with ASP.Net core"
How to integrate identity server 4 with ASP.NET Core.

[2020-02-10 07:49] skoruba commented on #491
What do you mean exactly?

[2020-02-10 07:51] sbn111 commented on #491
How to use your Identity server on my asp.net core web application project.
I mean how to integrate with asp.net core. Can u get it?

On Mon, Feb 10, 2020 at 1:19 PM Jan Škoruba <notifications@github.com>
wrote:

--

[image: NLI round.png]

Thanks & Regards,

Saravanabavan Subbarayalu

Trainee Developer

0413 - 2295626 | Skype: saravanabavans@outlook.com

saravanabavans@newlineinfo.com <thilip@new

[2020-02-10 07:54] skoruba commented on #491
You can install project via dotnet new template, please check read me.
Maybe describe what do you want to achieve?
Thx

[2020-02-10 08:04] sbn111 commented on #491
Sorry for asking once again.  Can you send me a reference to more clear to
understand.
I used "dotnet new -i
Skoruba.IdentityServer4.Admin.Templates::1.0.0-rc1-update2" the link.
But no success.

[image: image.png]

On Mon, Feb 10, 2020 at 1:24 PM Jan Škoruba <notifications@github.com>
wrote:

--

[image: NLI round.png]

Thanks & Regards,

Saravanabavan Subbarayalu

Trainee Developer

0413 - 22956

[2020-02-10 09:39] CoreDX9 commented on #488
@skoruba @anthonynewlineinfo If you use AutoMapper with DI like ```services.AddAutoMapper()```, mapper error will heppen. I have encountered this error and use custom servive code solved this problem.
[sample code](https://github.com/CoreDX9/IdentityServerDemo)

[2020-02-11 02:00] jwilliamsnephos commented on #174
I pushed my branch into an environment and it was shown to some users.. They liked it.. So I'm ready to incorporate this into your project if you are willing and want too (see https://github.com/NephosIntegration/IdentityServer4.Admin/tree/InviteUser).

So here are the steps.

1.  Administrator creates user with as much or as little detail as they desire.
2. Administrator clicks the "Invite User"

[2020-02-11 06:15] sbn111 opened #493 "How to use identity server with asp.net"
How to use identity server with asp.net. I already have my project and I want to know how to implement your identity server project on my asp.net core web application. Kindly briefly explain how to do that. I already saw readme but it cant understandable.
Thanks,
Waiting for your replay...

[2020-02-11 06:49] skoruba commented on #491
Did you figure out how to install it? Thx

[2020-02-11 06:53] sbn111 commented on #491
No, I dont know how to install it. I need a clear documentation for that.
Can u make it?
Thank you

On Tue, Feb 11, 2020 at 12:19 PM Jan Škoruba <notifications@github.com>
wrote:

--

Saravanabavan Subbarayalu,

Trainee Developer, Newlineinfo Corp

Skype: .cid.f556a42cf7331e84

www.newlineinfo.com

Confidentiality Note: This email may contain confidential and/ or private
information and is intende

[2020-02-12 16:53] devployment commented on #478
Would that mean in general, staying with MVC or going down the SPA route? If SPA would be an option, any thoughts on the frontend stack? Maybe it would be nice to bring some love to https://aurelia.io/

IMHO they deserve being used by great projects to showcase their stuff. :)

I have not too much experience with Aurelia, but would love to get my hands dirty if the time comes.

[2020-02-12 17:04] skoruba commented on #478
I want to work still with MVC. Thanks

[2020-02-12 21:44] danielmeza commented on #478
@devployment I have a lot of experience with aurelia, and it is a awesome JS framework, but it is JS. Although since the project is oriented to rest noting stop us to build a different UI stack. Personally I will chose something closed to the .net world like Blazor, but for now MVC is just fine.

[2020-02-12 21:51] skoruba commented on #478
I agree with you @danielmeza - thanks for feedback. Maybe I will consider some rewrite but in the future, current solution with MVC is stable. 👍🏼

[2020-02-13 10:18] b0 opened #494 "String length on password field's is not the same as on Password.RequiredLength"
Hi,

when adding AspNet Identity default password policy is applied that
[reads](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?view=aspnetcore-3.1):

All forms(ViewModels) that contains password filed have this
`        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
`
As you can see

[2020-02-13 13:23] skoruba commented on #494
Hi @b0 - thanks!

[2020-02-13 13:23] #494 closed

[2020-02-13 14:30] brattpurrie opened #496 "How to forward claims from Azure AD through IS4"
When using IS4 combined with AzureAD, I would like that when a user logs in from a SPA client, he receives the AzureAD email address. Currently, there is an in-between screen that requires the user to insert an email address again. is there a way to map claims from azureAD to IS4?

requested scope: openid profile email

IS4 asking to fill in the email address:
![image](https://user-images.githubus

[2020-02-13 19:46] DaleyKD opened #497 "Consider an Alpine dockerfile"
The normal aspnet-buster is all good, for sure.  We've converted to using aspnet-alpine for our stuff, and it reduces the size of the docker image.

[2020-02-13 19:52] DaleyKD opened #498 "Include Idempotent scripts for each release"
To continue on the ideas of #55 , I was able to get this to work with my existing local IdS setup.  I plugged a reference to the docker image into my docker-compose and added a bunch of necessary overrides to get it working.

The biggest downfall for me was that the /seed switch wants to seed all 5 DbContexts, when in reality, I only need 2 or 3.  I don't want it to try and seed my IdS tables; the

[2020-02-13 21:00] tomadj commented on #496
Hello,

I do like this :

[code]

[2020-02-13 21:02] skoruba commented on #498
Thanks for your feedback, I will think about this use case. Do you use asp.net core identity?

[2020-02-14 08:45] #496 closed

[2020-02-14 09:07] skoruba commented on #496
Thanks @tomadj 👍

[2020-02-14 13:23] daconglee commented on #387
https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/EFMigration.md#mysql-and-mariadb
404

[2020-02-14 14:33] DaleyKD commented on #498
I appreciate the consideration.

We don't use Asp.Net Core Identity with IdS, but using it with IdentityServer4.Admin would not be a huge issue.  Obviously, I'd prefer to NOT use it, but that's not a deal breaker.

My eventual goal would be to just "spin this up" in Azure so that we can access it privately (not exposed to the public) to help with a few minor administration tasks.  Doing that with

[2020-02-14 17:50] skoruba commented on #497
Thanks for tip, I will check it

[2020-02-14 17:53] skoruba commented on #490
Sorry for late response, did you figure out where the issue was? I notices similar issue i  the that taghelpers were not loaded correctly. Any js errrors in console?

[2020-02-14 17:55] skoruba commented on #485
Hey, do you mean this one? -
https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin.Api/appsettings.json#L16

[2020-02-14 17:56] skoruba commented on #491
#493 we can continue here, thanks

[2020-02-14 17:56] #491 closed

[2020-02-14 17:58] skoruba commented on #493
Did you try use dot net new template? This operation generates whole project under solution. You can move this projects under your solution which is already exist.

[2020-02-14 18:02] skoruba commented on #487
Hi, this is great question, I will find the best way how to update UI part, because nuget pckages are easy to update. Update UI is currently little bit complicated, especially if somebody did some own customizations.

Feedback and ideas are welcome. 👍🏼

[2020-02-14 18:10] NelsonReis commented on #487
That could be a good use case for Razor Class Libraries (RCL):
https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.1&tabs=visual-studio

The package would include the default views and partials, updated accordingly. Those could then be overridden by custom implementations.

[2020-02-14 18:20] skoruba commented on #487
Thanks @NelsonReis - RCL is great advice, it will take a look at current features. It will be required some rewrite probable, I remember that UI must be implemented like an area, maybe currently not. I will check it.

[2020-02-14 19:46] CoreDX9 commented on #490
Sorry. This error occurred because I forgot to include the tag helper in the code. After your reminder, I have fixed the error. thank you for your reply.

[2020-02-14 19:46] #490 closed

[2020-02-14 20:14] Shotagog opened #500 "Additional field on the registration page"
@skoruba hello.
Is it possible to add an additional field on the registration page, fill it automatically with some value that I will get from the client, and save it in DB?

[2020-02-14 20:24] skoruba commented on #500
Hey, do you want to extend registration form? It is definitely possible - you have full access to registration view. What do you want to add - can you specify more details?

[2020-02-15 06:44] Shotagog commented on #500
Sure. On the client-side user will fill some fields and then click on the registration button. After that, the client must be able to redirect directly to the user registration page on the identity server. The client will send specific data that was filled by the user and it must be shown in fields (bellow username, email, password and confirm password fields) on the identity server's registration

[2020-02-15 10:29] sbn111 commented on #493
Hi sir,
I am a beginner. I don't know much about Docker and Asp.net. With dot net new template command I got the whole project. But I don't know which file I need to include in my solution. I am having asp.net core web application project on my computer. I want to use your Identity Server for my project. Kindly explain more clearly with my requirements. This would be used for everyone who needs th

[2020-02-15 22:31] thylux commented on #121
Hi, I'm trying to run a demo from source using docker compose on Visual Studio but I can't login because login on database failed.
Isn't this supposed to work without changing configuration?

If not maybe I can help to complement the documentation for that.

![image](https://user-images.githubusercontent.com/1215984/74596119-cb792800-5042-11ea-8d9c-673a7ceef68e.png)

[2020-02-15 23:20] thylux commented on #121
So far I can see that there is connectivity between the 3 docker instances and that the login settings all match up.

![image](https://user-images.githubusercontent.com/1215984/74596607-8f959100-5049-11ea-9618-90ecbf9252ae.png)

![image](https://user-images.githubusercontent.com/1215984/74596611-9c19e980-5049-11ea-955d-8302822ca40d.png)

![image](https://user-images.githubusercontent.com/1215984/7

[2020-02-16 10:23] skoruba opened #501 "Add option for Admin UI without Asp.Net Core Identity"
I am wondering how to modify the solution for use case if it is not required to use Asp.Net Core Identity. From my point of view is possible to do these things:

- Add some configuration parameters into appsettings.json and hide all functionalities which are related to Asp.Net Core Identity

- Create some variables which will be used during creation of solution via command -dotnet new template and

[2020-02-16 10:35] skoruba opened #502 "Redesign seeding of database"
For some use case is necessary to be able choose which db context is required for migration and seeding as well.

I am wondering about these modifications:

- Add some parameters into AppSettings.json:
   - RunSeed
   - RunMigrationIdentityServerConfiguration
   -RunMigrationIdentityServerPersistedGrants
   - RunMigrationIdentity
   - RunMigrationAuditLogging
   - RunMigrationLogging

Final tables

[2020-02-16 14:09] b0 commented on #430
Hi @skoruba and @fatalistt,

I was looking at this issue and associated PR and me too find that configuration is a bit complex and definitively there is TRoleKey and TUserKey type params too much.

I find PR maybe a bit too big so maybe it's possible to split it in two, one for TRoleKey and TUserKey removal and another for simplified configuration?

What do you think?

Thank you

[2020-02-16 14:19] skoruba commented on #430
Hi @b0 I definitely agree with you, I am happy for this PR, but it is too complex - splitting would be perfect.

[2020-02-17 07:36] danghung-dev commented on #433
The code was changed. Could you tell where should I put the code?

I try to put code here, but it not working.
`
var builder = services.AddIdentityServer(options =>
                {
                    options.Events.RaiseErrorEvents = true;
                    options.Events.RaiseInformationEvents = true;
                    options.Events.RaiseFailureEvents = true;
                    options.E

[2020-02-17 08:20] danghung-dev commented on #433
I also try to remove TKey like this example https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/blob/master/src/ProfileService.cs, but no luck

![image](https://user-images.githubusercontent.com/5670932/74635567-dcd44880-5198-11ea-8013-af483121c58e.png)

[2020-02-17 08:28] danghung-dev commented on #433
Ok, I have change ProfileService like this, the error is gone
![image](https://user-images.githubusercontent.com/5670932/74636160-0772d100-519a-11ea-9c3b-6a027aad757a.png)

But, I got new error. I cannot access Email field from user. How can I access them?

[2020-02-17 08:38] aznarepse opened #503 "ErrorLog and AuditLog views ignored in VS gitignore when using template"
When creating a solution from the template, Visual Studio creates a default .gitignore with "[Ll]og/".
This excludes the views and the resources of those two pages from the Admin project.
Hence, when the project is built in a CI pipeline as release, those files aren't present from the git clone.

Worked around it by writing in .gitignore
[Ll]og/*
!src/adminproject/Log/

[2020-02-17 08:44] danghung-dev commented on #433
I deleted TUser to make code run.
![image](https://user-images.githubusercontent.com/5670932/74637202-178bb000-519c-11ea-884d-7221e23a76e3.png)

It compiled but show error in run time.
[code]

I don't know what I should do now?
Can you help me?

[2020-02-17 09:23] thisIsTheFoxe commented on #485
Exactly, but that only let’s you define the role-value.. the name (or key) of the role claim is `JwtClaimTypes.Role` which is the constant string "role".

Then again if #478 is the current idea, you would probably just have **one** setting file where you can specify both the role-claim and the actual role-value.. just as in the Admin project. ^^

[2020-02-17 09:59] danghung-dev commented on #433
Finally, I have solved problem
This is my code for anyone have problem like me.

![image](https://user-images.githubusercontent.com/5670932/74643123-caf9a200-51a6-11ea-87d5-4fcb24af8250.png)

![image](https://user-images.githubusercontent.com/5670932/74643148-d4830a00-51a6-11ea-86d1-274137f42884.png)

[2020-02-17 10:19] thylux commented on #121
Well, I tried again today and without any change all is working!

![Off and On again](https://media.giphy.com/media/F7yLXA5fJ5sLC/giphy.gif)

[2020-02-17 13:37] EricHerlitz opened #504 "Migrations failing"
I'm trying to run some migrations but it all fails, my current versions are
MigrationId: 20181023124204_DbInit
ProductVersion: 2.1.4-rtm-31024

[code]

x

[2020-02-20 10:05] skoruba commented on #503
Thanks for reporting this, I will check it.

[2020-02-20 10:06] skoruba commented on #504
Hi @EricHerlitz
thanks for reporting this - which version of admin ui do you use?
Did you get some error message?

[2020-02-21 11:48] aiscrim commented on #504
Here it's the build that is failing, not the migrations themselves. Can you successfully build and run the project from Visual Studio?

[2020-02-21 11:52] aiscrim commented on #502
I suggest you to start from the DbMigrator that was already implemented in the multi tenant PR: #470

[2020-02-22 13:22] aiscrim commented on #258
I am developing a PR to deal with this and other issues related to load balancing configurations. Stay tuned! :)

[2020-02-22 13:26] skoruba commented on #258
Thanks @aiscrim

[2020-02-24 08:01] spaasis commented on #501
This would be a great addition! We'd be interested in implementing this Admin UI but only plan on using it for external identity providers, so internal user management is unnecessary for our use case.

[2020-02-25 01:27] yiskang commented on #493
Here are some materials from the IdentityServer4 Documentation:

 -  User authentication: http://docs.identityserver.io/en/stable/topics/signin.html
 - Api protection: http://docs.identityserver.io/en/stable/topics/apis.html

The only one thing you have to care about is changing the URL of the Authority property to your STS server. Besides, to take advantage of this project, you have to install th

[2020-02-25 01:41] yiskang opened #511 "STS.Identity will return an access token with all scopes if we don't assign any scope in the request payload while requesting a token"
Hi,

Not sure if this is an issue of the identity server 4 or this project. Please kindly guide me to the right one. Recently, I found the STS server will give me an access token with all supported scopes in the client if I don't' set any scope while fetching the token with the token endpoint. Could anyone shed me lights what happened?

[code]

[code]

Thanks,

Eason Kang

[2020-02-25 08:47] rezafx opened #512 "change default language problem"
i've changed default culture to 'fa' and it didn't work.
how can i change default culture???

[2020-02-25 15:11] sheng-jie opened #513 "Deploying behind a reverse proxy"
I got an issue when I tried to deploy STS.Identity to Nginx. After research I got the same issue  [Deploying behind a reverse proxy](https://github.com/IdentityServer/IdentityServer4/issues/324#issuecomment-392129635).

So it's better to add `IdentityServerBaseUrl` options for STS.Identity project so that developer can specified it when deploying the project under reverse proxy such as Nginx.

If

[2020-02-26 07:25] inbarbarkai opened #514 "PostgreSQL health check failure"
Hi,
I've initialized the docker-compose environment with PostgreSQL.
Checking the admin health endpoint, I've seen failure `42P01: relation \"apiresources\" does not exist` on all tables.

This is because PostgreSQL is case sensitive and the table that is created is: `ApiResources`.
Maybe the migration should create the table in lower case?
Maybe the health check is missing `"` around the table na

[2020-02-26 07:55] skoruba commented on #514
Hi @aiscrim - can you help with this please? 😊 thanks

[2020-02-26 08:31] inbarbarkai commented on #514
Create PR #515

[2020-02-26 08:57] aiscrim commented on #514
It seems that @inbarbarkai solved it faster than me. :)

[2020-02-26 09:00] skoruba commented on #514
Thanks guys! 👍

[2020-02-26 09:08] inbarbarkai commented on #514
I aim to please 😄.

[2020-02-26 11:10] skoruba commented on #513
Please, check this PR from @aiscrim  - #510 - Is this PR cover your issue?
Thanks.

[2020-02-26 11:11] skoruba commented on #512
I will check it, thanks.

Did you try to setup this via appsettings.json, right?

[2020-02-26 11:13] skoruba commented on #511
Hi @yiskang
let me check it. I will send update.
Thanks

[2020-02-26 22:34] koo9 opened #518 "refresh token failed"
here's the log
`Microsoft.EntityFrameworkCore.Infrastructure:Information: Entity Framework Core 2.2.4-servicing-10062 initialized 'IdentityServerPersistedGrantDbContext' using provider 'Microsoft.EntityFrameworkCore.SqlServer' with options: MigrationsAssembly=IdsAdmin.STS.Identity
Microsoft.EntityFrameworkCore.Database.Command:Information: Executed DbCommand (7ms) [Parameters=[@__key_0='?' (Size =

[2020-02-27 05:19] sheng-jie commented on #513
yes, it is.

[2020-02-27 05:19] #513 closed

[2020-02-27 13:59] raukomor opened #519 "API and Swagger return 404"
I'm trying to access Swagger or access any API endpoint, but the API 404 response for both. I am using the default configuration of the API and other solutions. To acess Swagger i'm trying to use:

`http://localhost:5001/swagger/`

but not working. Do I need to do any other configuration to access the API?

This is my appsettings.json of Admin.Api
`{
    "ConnectionStrings": {
        "Configurati

[2020-02-29 01:57] daconglee commented on #519
https://localhost:5001/  or http://localhost:5001/

[2020-02-29 01:57] terah commented on #402
Hi guys,

I've been trying to get this working for a couple of days now and I'm out of ideas.  I think the issue is the same as that experienced in this issue and I think it's a simple configuration issue.  I'm setting this up on my mac with the plan to move it to a linux server once I've got it working.

I've replaced my FQD with example.com and I created a real DNS entry for that domain name res

[2020-02-29 02:00] daconglee opened #520 "login and not return http://localhost:9000"
stop login page

URL:
http://localhost:5000/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fresponse_type%3Dtoken%26client_id%3Dskoruba_identity_admin_api_swaggerui%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A5001%252Fswagger%252Foauth2-redirect.html%26scope%3Dskoruba_identity_admin_api%26state%3DU2F0IEZlYiAyOSAyMDIwIDA5OjQwOjI5IEdNVCswODAwICjkuK3lm73moIflh4bml7bpl7Qp

[2020-02-29 02:46] daconglee commented on #520
appsettings.json
"IdentityServerBaseUrl": "https://localhost:5001/",

is ok

[2020-02-29 02:46] #520 closed

[2020-02-29 09:35] rezafx commented on #512
No,I dont know how it is ? can you give me any example please

[2020-02-29 10:01] rezafx commented on #512
I changed :

var options = app.ApplicationServices.GetService<IOptions<RequestLocalizationOptions>>();
app.UseRequestLocalization(options.Value);

to this  :

 var options = app.ApplicationServices.GetService<IOptions<RequestLocalizationOptions>>();
            var cookieProvider = options.Value.RequestCultureProviders.OfType<CookieRequestCultureProvider>().First();

            var urlProvider =

[2020-02-29 19:01] aiscrim commented on #518
There could be several reasons behind this error.
But my main concern here is, is the client really a spa as its name suggests? Because if that’s the case it’s a very insecure configuration, you should replace the refresh token with a silent renew.

[2020-02-29 20:35] koo9 commented on #518
@aiscrim yea it's a spa app. example quick example on angular spa silent renew?

[2020-03-02 10:51] omidghorbani opened #521 "Add LDAP support"
please add LDAP support for connecting to Windows Active Directory.

https://github.com/Nordes/IdentityServer4.LdapExtension

thanks a lot ;)

[2020-03-02 12:03] raukomor commented on #519
@daconglee http://localhost:5001/, sorry.

[2020-03-02 16:30] feanor91 opened #522 "Error 404 when launching server"
Hello,

Whatever I tried, I face this error message when launching IdentityServer4.admin :
IOException: IDX20807: Unable to retrieve document from: 'http://localhost:5005/.well-known/openid-configuration'. HttpResponseMessage: 'StatusCode: 404, ReasonPhrase: 'Not Found', Version: 1.1, Content

server is running on http://localhost:5005/

Could you help?

[2020-03-02 19:20] skoruba commented on #522
Did you change the default ports? I think default port for sts is 5000.
Thanks

[2020-03-02 19:49] feanor91 commented on #522
I try to change it, but it changes nothing so I go back to default port, I think it is a kind of SSL problem, but I'm not able to find it

[2020-03-05 12:30] spaasis opened #523 "serilog file logging ioexception"
Hi,

I noticed that there is something fishy going on with the default logging configuration.

Steps to reproduce:

1. Fresh clone
2. Add this to STS.Identity project's Startup: `Serilog.Debugging.SelfLog.Enable(msg => Debug.WriteLine(msg));`
3. Run STS.Identity
4. See this exception in the debug output:
```Unable to open file sink for Log\skoruba_admin.txt: System.IO.IOException: The process cann

[2020-03-07 14:48] skoruba opened #526 "Add support for FIDO2 MFA"
Consider add support for FIDO2 MFA:
- Check the latest version of STS template from @damienbod - https://github.com/damienbod/IdentityServer4AspNetCoreIdentityTemplate/releases/tag/release_4_0_1

[2020-03-08 15:29] skoruba commented on #523
W

[2020-03-08 22:33] jack1232 opened #527 "external login with google and twitter"
How to use Google and Twitter to log in?

In the original IdentityServer4, we can easily add the following code to do it:

services.AddAuthentication()
    .AddGoogle(googleOptions => { ... })
    .AddTwitter(twitterOptions => { ... });

Thanks

Jack

[2020-03-09 11:16] b0 opened #529 "Can't send email from Admin and Admin.Api projects"
Hi @skoruba,

as you know, current implementation of mail sending and mail sending configuration is in STS so it's not reusable.

Where would you put configuration and three interface implementations so all is reusable?
I am not really sure new project just for this is needed, can it be moved to some of already existing ones?

What do you think?

Thank you

[2020-03-09 11:54] b0 commented on #529
Just to say if not clear, I am willing to implement it. Looking for your input, how and where...

Thank you

[2020-03-09 12:41] skoruba commented on #529
Hi @b0 - thanks for opening this issue.
I think it is connected to issue: #413.

My idea:
I would create new project called:
Skoruba.IdentityServer4.Shared

And this project will be for shared things like email service, maybe some shared configuration?

Please, tell me what do you think about it?
Or even we can create new project for email service, but I think one Shared project should be enough.

[2020-03-09 13:03] b0 commented on #529
Yup. Definitely connected to #413.

I agree, new Skoruba.IdentityServer4.Shared project is fine.
I will create it, move mail sending and configuration there, make appropriate refactoring to STS and make a PR.

Thank you

[2020-03-09 13:38] raukomor commented on #519
I think i'm found the Issue. On appsettings.json the AdminApiConfiguration.ApiBaseUrl by default is "http:localhost:5001", but api use the port 5002. I change the port to 5002 and works. I dont know if this is the right way, but works...

[2020-03-09 13:38] #519 closed

[2020-03-09 13:43] skoruba commented on #529
Thank you, it would be great. 👍🏼

[2020-03-09 14:04] skoruba commented on #519
Thanks for reporting back your solution.

[2020-03-09 14:27] skoruba commented on #529
BTW: @b0 - can you send me your contact to my email - I'd like to discuss some details with you, if you agree. :) Thank you.

[2020-03-10 13:54] bsheriff opened #532 "SameSite Cookie Changes Issue"
I have a Single page web application with consists of the following

 1. Angular 8 Front End
 2. .Net Core Web Api Back End
 3. .Net Core Identity Server Authentication Server (Skoruba Admin .NET Core 2.2)

I recently started to see a few warnings in my console which reads - "A cookie associated with a cross-site resource at "" was set without the 'SameSite' attribute. A future release of Chrome w

[2020-03-10 13:57] TomasHubelbauer commented on #532
I came across the same issue using Puppeteer (Chromium based) on Windows today, so I think it is only a matter of time before this new restriction is rolled out for Windows as well. It was in an unrelated project though, so I can't comment on what it means for this project.

[2020-03-11 10:49] skoruba opened #533 "Add support for loading signing key from Azure Key Vault"
Add support for loading signing key from Azure Key Vault

Check this sample code:
https://github.com/damienbod/IdentityServer4AspNetCoreIdentityTemplate/issues/30

[2020-03-11 11:11] elavanya opened #534 "Add Custom Field in Role"
I have added customer field in role
       `public class UserIdentityRole : IdentityRole
	{
		public bool isPredefined { get; set; }
	}`

in GetRoleAsync() Function I did not get isPredefined column and value
How to get the isPredefined column in GetRoleAsync() Function

[2020-03-11 22:55] alvarovalle opened #535 "System.Exception: Correlation failed."
Hi Skoruba, I am having the following problem, when I run the band new version, from the scratch.

I ve followed all those steps in [https://github.com/skoruba/IdentityServer4.Admin](https://github.com/skoruba/IdentityServer4.Admin) and however it runs :
I am running two apps
**http://localhost:9000** for \IdentityServer4.Admin\src\Skoruba.IdentityServer4.Admin
**http://localhost:5000** for \Ident

[2020-03-12 05:37] RiccoYuan opened #536 "After upgrade identityserver4 from 2.2 to 3.1, GetClientAsync is too slow in EFCore3.x"
This is too slow for me，and it's run well before upgrade.

        {
            return DbContext.Clients
                .Include(x => x.AllowedGrantTypes)
                .Include(x => x.RedirectUris)
                .Include(x => x.PostLogoutRedirectUris)
                .Include(x => x.AllowedScopes)
                .Include(x => x.ClientSecrets)
                .Include(x => x.Claims)

[2020-03-12 05:38] RiccoYuan commented on #536
As i known, it's EFCore3.x problerm~Just record it for people who have the same problem
https://stackoverflow.com/questions/58677119/ef-core-3-0-include-does-not-work-as-expected-and-super-slow

[2020-03-12 08:30] skoruba commented on #536
Thanks for reporting this, I have to fix it.
Please check this code:
https://github.com/IdentityServer/IdentityServer4/blob/master/src/EntityFramework.Storage/src/Stores/ClientStore.cs#L54-L71

This is right way, how to fix it. :)

[2020-03-12 08:37] skoruba commented on #535
Hi @alvarovalle
did you change the default configuration? :)
Please, check detailed log.

[2020-03-12 08:38] skoruba commented on #534
Hi @elavanya
Did you create the db migration?
Do you want to use this new field in form as well - or is it something internal flag?
Thanks

[2020-03-12 08:40] skoruba commented on #518
@koo9 - check please this sample - https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow

[2020-03-12 09:10] skoruba commented on #527
Hi @jack1232
you can add another external providers here:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Helpers/StartupHelpers.cs#L307

Thank you

[2020-03-12 09:11] skoruba commented on #521
Hi @omidghorbani
thanks for tip, I will check it and consider add to road map.

[2020-03-12 09:12] skoruba commented on #512
In appsettings.json you can add default language here:
[code]
If you will have any question, let me know.
Thanks

[2020-03-12 09:12] #512 closed

[2020-03-12 10:57] skoruba commented on #532
Hi @bsheriff
Thanks for reporting this, I will check it.

[2020-03-12 12:42] alvarovalle commented on #535
nops.

by the way, I am running out of container.

I am just running dotnet run over both of them.

[2020-03-12 13:36] fahaad05 commented on #535
I have the same issue, and I'm pretty sure that it's linked to SameSite cookie changes issue. In fact I had no problem with Mozilla

[2020-03-12 14:34] skoruba commented on #535
Thanks guys for reporting this. I will fix it.

[2020-03-12 16:17] jmlaurenti opened #538 "Issue with fresh install and MS Edge Chromium"
Hi,
After cloning locally the project, and following the documentation, I had an issue to login into the application, both using the predefined admin credentials, or using a newly registered user (registration of a new user was working fine).

Using MS Edge Chromium (latest release 80.0.361.66, but not beta version), and despite successful authentication (if I'm entering a wrong password, there is

[2020-03-12 16:50] skoruba commented on #538
Hi @jmlaurenti
It is maybe related to #532 - it is hard to tell. :-)
I need explore more detail around this issue.
Thanks.

[2020-03-13 01:35] bsheriff commented on #532
Hi, thank you for the swift response.  @skoruba any timetable on a fix to this (we are currently using this in a production environment and we have a few users mention this issue).  The fix you will make will go against the current .NET Core 3 codebase?

Thanks again

[2020-03-13 01:57] bsheriff commented on #532
Also, I have tried to use the newer version of your software (.NET Core 3) and am having the same issue.  I am unable to login to the Admin Site and am receiving the following error when attempting to login.

<img width="1023" alt="Screen Shot 2020-03-12 at 9 48 52 PM" src="https://user-images.githubusercontent.com/20213332/76582045-94642e00-64ab-11ea-8c22-056a8443b98f.png">

This is a consequence

[2020-03-13 04:13] sbn111 commented on #493
Thank you. It worked for me. And one more doubt, can I add custom field in the role and how to get custom field values.

[2020-03-13 06:44] elavanya commented on #534
yes i done migration, want to get column name in GetRoleAsync()

[2020-03-13 06:44] skoruba commented on #532
@bsheriff - I will check it probable at the weekend and send fix.
Thanks.

[2020-03-13 06:46] skoruba commented on #534
Do you use project installed from template or full fork?

[2020-03-13 06:47] elavanya commented on #534
full

[2020-03-13 06:48] elavanya commented on #534
i have admin. adminApi, adminEntitiyFrameworkShared, STSIdentity

[2020-03-13 07:18] skoruba commented on #534
OK, if you have full clone of this project, you can easily add this column into:
`UserIdentityRole` and `RoleDto`.
Then you can add this new field into form - `Role.cshtml`.
You need update method `UpdateRoleAsync` in IdentityRepository - because there is manual mapping of properties. This is by the way place where I need add automatical mapping via Automapper, but for your use case is fine.

[2020-03-13 07:46] skoruba commented on #532
I added the fix into dev branch - can you please verify this fix?
Thanks.

[2020-03-13 07:49] skoruba commented on #534
Please, check this commit - https://github.com/skoruba/IdentityServer4.Admin/commit/e8185817a4a4a1c05cb7e2280841ff1807063745 - I added automatical mapping via automapper.
In this place is currently manual mapping like this:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin.EntityFramework.Identity/Repositories/IdentityRepository.cs#L151

[2020-03-13 08:11] elavanya commented on #534
Sorry I installed from template
I cant edit UserIdentityRole and RoleDto

[2020-03-13 08:17] skoruba commented on #534
OK, for template I have to write some guide and merge issue mapping above. :)

[2020-03-13 08:59] elavanya commented on #534
ok

[2020-03-13 10:32] jmlaurenti commented on #538
Thanks ! again, if you need more info to reproduce, do not hesitate :-)

[2020-03-13 16:15] jack1232 opened #540 "Admin API access"
I created a MVC client, from which I want to access the user claims from /api/Users/{id}/Claims. It works when I log in as the user with admin role. However, it returns 403 forbidden error if the user without the admin role. I just want to know this is by design or I miss something here? The user should be able to access his own claims even that user does not have the admin role.

Thanks
Jack

[2020-03-13 16:17] skoruba commented on #540
It is by design, enpoints of AdminUI is able to access only admin. But you can change it according to your requirements.

[2020-03-13 17:37] jberg2016 opened #541 "Localization verbiage issue with RegisterWithoutUsername View"
I noticed when displaying the "return View("RegisterWithoutUsername")" view, localization was not being applied correctly.

I believe this is due to the "RegisterWithoutUsername.en" file missing?

When I added that to the project it fixed the language translation issue on that page.

Just wanted to add this incase anyone else experience similar issues.

Thanks

[2020-03-13 18:27] alvarovalle commented on #535
@fahaad05  that is it.
I ve tryed in mozilla firefox and that worked on it.

but what makes me think is that my costumers will want to run on chrome browser.

so I am not sure if it has o be hot-fixed in [skoruba](https://github.com/skoruba/IdentityServer4.Admin)
or in [https://identityserver.io/](https://identityserver.io/)

What do you suggest mr @skoruba ?

[2020-03-13 18:47] skoruba commented on #535
Hi, I fixed this issue here: https://github.com/skoruba/IdentityServer4.Admin/commit/12f62d9dc12c76056ec5811c42b8d43a20465a4d - please try clone dev branch and verify this fix. Thanks.

[2020-03-14 01:48] bsheriff commented on #532
Excellent,

Thank you so much for your assistance.  I will test over the weekend and let you know.

[2020-03-14 15:17] jack1232 commented on #540
Great. Thanks

[2020-03-14 15:29] jack1232 opened #544 "Update User Claim"
How to update the user claims from Admin API?

I see that there are the UpdateUserAsync and UpdateRoleAsync interface methods in the Skoruba.IdentityServer4.Admin.BusinessLogic.Identity.Dtos.Identity assembly, but there is no UpdateClaimAsync method. Sometimes, user just want to update a specified claim value rather than to create a new claim. It will be useful to add the UpdateClaimAsync method t

[2020-03-14 16:17] skoruba commented on #544
Good idea, can you add it this method and send a PR?
Thanks

[2020-03-14 16:24] skoruba commented on #541
Great catch! 👍🏼
You can copy all resx files called Register.cshtml and rename then to RegisterWithoutUsername.

Can you send a PR for this?

Thanks

[2020-03-14 21:06] jberg2016 commented on #532
@skoruba  I happen to be experiencing the same issues as @bsheriff,

I tried applying your fix to my local branch, however, it did not seem to fix my issue. I am still trying to get a grasp on this issue as well.

It is my understanding that this new update to chrome requires the cookies (at least for chrome browser) to be set to "SameSite=None" and "Secure" in order for it to be read by another d

[2020-03-14 21:23] skoruba commented on #532
Can you please send me some steps, how do you test it this use case?

[2020-03-14 22:09] jberg2016 commented on #532
OS : Windows Parallels
Browser : Chrome Version 80.0.3987.132 with Chrome feature flag SameSite set as "default"

I am running your latest release and applied your fixes.

Steps:

1. I start up Visual Studio Debug IISExpress running both the Admin and STS Identity projects on their respective ports http://localhost:5000 and http://localhost:9000

2. The Admin application then correctly redirects t

[2020-03-14 22:22] skoruba commented on #532
Thanks, let me check it.

[2020-03-14 22:52] skoruba opened #545 "Update client templates according to oauth2 best practice"
https://oauth.net/2/oauth-best-practice/
https://tools.ietf.org/html/draft-ietf-oauth-security-topics-14

[2020-03-15 02:00] bsheriff commented on #532
@skoruba I am working on a windows machine and am able to login successfully to the Admin application and to my custom SPA application using your STS Server.  The only thing that worries me a bit is that I still notice that I am still receiving the following warning:

![image](https://user-images.githubusercontent.com/20213332/76693621-b641ea00-663e-11ea-8193-665359239c69.png)

I was under the ass

[2020-03-15 09:17] jmlaurenti commented on #538
Hi,
I have not been able to reproduce the issue on another Win10 workstation/Latest Edge Chromium, so it might be a machine related problem.
Might be better to not spend time on that issue for the moment... :-)

I'll keep you posted.
Thanks,
JML

[2020-03-15 09:21] skoruba commented on #538
Thanks for message

[2020-03-15 10:13] skoruba commented on #532
This is because we do not have https on dev environment - if you configure https - you will see that cookie is set to "Secure".

[2020-03-15 12:22] bsheriff commented on #532
Ok I will give that a try, thank you.  I guess the only issue is with users using a Mac.  I happen to also own a Mac and I am indeed seeing the same issues that @jberg2016 is running into. Windows machines are good.  So there still exists some strange issues with Mac either using parallels or MacOS.  Were you able to reproduce that issue @skoruba?

[2020-03-15 16:06] skoruba commented on #532
Can you please clone latest dev branch, verify solution on macOS? I do not have macOS unfortunately.

[2020-03-16 03:23] jack1232 commented on #544
In my project, I installed the IdentityServer4.Admin following your instruction given in the READ.me file.  Thus, implementing the UpdateClaimAsync method will involve changes in the binary assemblies. Here I simply use a temporary solution by first calling DELETE /api/Users/{id}/Claims to remove old claims and then calling POST /api/Users/Claims to add new claims to database.

[2020-03-16 08:28] skoruba commented on #532
I updated dev branch with `CookieSecurePolicy to SameAsRequest` - can you please verify this change on your enviornment? thank you.

[2020-03-17 13:04] mitirazvan commented on #532
Hi, I had an issue with the "Correlation failed" and all the hints suggested that it was a problem with the cookies. The fix for me was to add in the DisallowsSameSiteNone method a check for "Chrome/8" userAgent. After this, everything worked.
Thank you for your help!

[2020-03-17 13:40] pfaustinopt commented on #535
Hello, this is still happening on chrome (version 80.0.3987.132).

![2020-03-17 13_36_00-Window](https://user-images.githubusercontent.com/5471232/76861372-65a3da00-6854-11ea-9a7d-be51776a406a.png)

Just like @alvarovalle said, on firefox it works correctly. However, for curiosity I've tried to http://localhost:9000/signin-oidc directly on it and got the same error (I don't know if this is the nor

[2020-03-17 22:02] skoruba commented on #535
Hi, did you use latest dev? Thx

[2020-03-18 02:38] bsheriff commented on #532
Hi @skoruba everything seems to be working just fine, I am able to log into the Admin Site and I am also able to login/logout of my SPA application using your STS Identity Project.  However, I am still seeing the warning on my developer console which reads "A cookie associated with a cross-site resource at <url of sts server> was set without the 'SameSite' attribute.  It has been blocked, as Chrom

[2020-03-18 03:15] bsheriff commented on #532
Hi, @skoruba, my SPA client application has a silent-renew.html file which sends over requests in an iframe behind the scenes to the STS Identity Server.  With these new changes implemented I am receiving this error in the console:

"Refused to display 'https://<url of sts server>/home/error?errorId=etc....' in a frame because an ancestor violates the following Content Security Policy directive: "

[2020-03-18 04:47] myesn commented on #535
Google Chrome: Version 80.0.3987.149 (official version) (64-bit)

I found that many people have problems after updating chrome recently, the dev version still reports an error

My error message is the same as above

[2020-03-18 08:06] CaminGui commented on #535
Hello,

Just to share what was done on my side to make it works (I'm still on the beta7 due to the number of changes).
First of all, you can read this: https://www.thinktecture.com/en/identity/samesite/prepare-your-identityserver/?fbclid=IwAR2nIi3CBKLZ-JJLSGVfXLTW_2oQQCSgTpxm80UDNjkiJBD_5tiTN9YikyM
with almost the same code as Skoruba already have done in 3 différents commits:
https://github.com/s

[2020-03-18 10:19] myesn commented on #535
@CaminGui Hi, I have read this article you provided before, and I also modified my other applications in accordance with the practices in the article, but the Conrrelation failed error still appears above, and I found a strange thing, the same version of Chrome Browser, my colleague can log in normally, but not my computer.

[2020-03-18 11:17] pfaustinopt commented on #535
I applied the commit `12f62d9` on my project, which is based on your `master` branch.

[2020-03-18 11:18] skoruba commented on #535
Please check all changes in dev.

[2020-03-18 11:19] pfaustinopt commented on #535
Ok, I'll try it now and report it back to you.

[2020-03-18 11:20] CaminGui commented on #535
@myesn, Can you try to disable this chrome://flags/#cookies-without-same-site-must-be-secure, you should be able to login and then take a look on your cookies, they should be SameSite = None and Secure.

![cookies](https://user-images.githubusercontent.com/43059571/76955301-35bb0c00-6912-11ea-808b-0638d82615d4.png)

Untill this is not the case it will not work with the cookies-without-same-site-mu

[2020-03-18 12:21] myesn commented on #535
@CaminGui Thank you, now he can work normally

[2020-03-18 12:25] pfaustinopt commented on #535
@skoruba I keeps happening on the `dev` branch. However, the solution provided by @CaminGui is working!

[2020-03-18 12:29] myesn commented on #535
@pfaustinopt IdentityServer4 author has reported issues to aspnetcore official

https://github.com/IdentityServer/IdentityServer4/issues/4170
https://github.com/dotnet/aspnetcore/issues/19939

[2020-03-18 12:40] blowdart commented on #535
And we won't be "fixing" it. It's by design. You should be running over https, especially for identity server installations

[2020-03-19 16:16] gzinger commented on #532
Hi @skoruba , I understand that this issue is only happening on non-secure (http vs https) setups. Unfortunately, all our Dev and Qa environments are not secure. And now, with this policy change from Chrome, nobody can login to the STS. Setting the SameSite to None is actually creates the problem (not solves it). So, when you say that you fixed it on Dev branch, what exactly did you change to fix

[2020-03-20 18:55] jomendoza84 opened #546 "Docker STS port"
Hi there!

I tried to use a custom port for sts:

This url works fine on the browser:

http://127.0.0.1.xip.io:9002/.well-known/openid-configuration

But when the admin tries to do the same request throws this exc:

More details:

Maybe this happens because inside a container you can only call the port 80 of the other containers.

Just to confirm I opened a bash console on the admin's container an

[2020-03-23 12:30] nobba75 opened #547 "Custom styling"
Hi,

what would be the easiest way to customize the Admin site according to my preferred coloring scheme etc?

[2020-03-23 14:40] forgottenMan commented on #183
hi guys
so now i have this problem with identity server 4 and as i realized the pull request for solving this problem has been closed
do you have any other solutions for this?
thanks in advance

[2020-03-23 14:51] forgottenMan commented on #183
hi guys
so now i have this problem with identity server 4 and as i realized the pull request for solving this problem has been closed
do you have any other solutions for this?
thanks in advance

[2020-03-24 04:29] huanbd commented on #183
Hi, I have same problem in chrome. In other browser Edge chromium, Firefox run ok.
I think the problem related to cookie, but I've deleted with chrome://settings/clearBrowserData, but It's still not run.

**_This is my log when login use Edge chromium browser_**
[code]
**_This is my log when login use Chrome browser_**

[code]

[2020-03-24 13:20] SamLangTen commented on #546
Same problem when I use NGINX to proxy pass admin ui and sts. I set a domain in local hosts file, which means that programs in container can't access this domain.

[2020-03-25 07:23] ViRuSTriNiTy opened #549 "Serilog setup does not include environment specific configuration files"
Hi there,

i would like to add environment specific configuration files like `serilog.Development.json` or `serilog.Staging.json`. Currently only `serilog.json` is added hence environment specific configuration files cannot be used.

I can provide a PR. What do you say?

So lonG
Daniel

[2020-03-25 07:31] skoruba commented on #549
Hi, please check dev branch, I added this.
Thanks

[2020-03-25 08:00] ViRuSTriNiTy commented on #549
Hi @skoruba, thx for the fast reply. I cannot find the code that adds this functionality. Would you please provide a link to relevant commit? So lonG

[2020-03-25 08:50] skoruba commented on #549
Sorry, I added support for loading configuration from secrets. I am wondering about this one, I tought that this is build in default configuration, did you test it?
Thanks!

[2020-03-25 08:51] skoruba commented on #549
I added this: https://github.com/skoruba/IdentityServer4.Admin/commit/76a0181702bafedc03f6004ccb8ad6f5dbae2e45

[2020-03-25 09:04] b0 commented on #549
Hi @skoruba,

I was thinking the same way as you. Since AddJsonFile magicaly loads appstettings.{environment}.json I was thinking that is true for all files - but it is not.  [configuration](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#default-configuration)

`
            .AddJsonFile("appsettings.json", optional: true, reloadOnChange: true)

[2020-03-25 09:16] ViRuSTriNiTy commented on #549
@b0, @skoruba

AddJsonFile() does **not** load appstettings.{environment}.json magically. This is a implementation detail in the DefaultBuilder, see https://github.com/dotnet/aspnetcore/blob/master/src/DefaultBuilder/src/WebHost.cs#L170

My PR would add some lines according to the WebHost implementation like

    configApp.AddJsonFile("serilog.json", optional: true, reloadOnChange: true);

    //

[2020-03-25 09:20] skoruba commented on #549
For sure, please send a PR. :)
Thanks

[2020-03-25 09:24] ViRuSTriNiTy commented on #549
@skoruba Which branch is the default target for a PR in your repo?

[2020-03-25 09:27] skoruba opened #550 "Switch to HTTPS for dev environment"
It is necesarry to switch dev environment to https: [some tips here](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1&tabs=visual-studio).

I will need test it on windows, linux and macOS and also configure for the docker as well.

These changes will require reconfigure the urls for IS4.

Help with this issue is really welcome. 👍

[2020-03-25 09:27] skoruba commented on #549
dev

[2020-03-25 09:43] skoruba commented on #535
I will switch dev environment to https #550.

[2020-03-25 09:47] skoruba commented on #532
Hi @gzinger - I will switch dev environment to https, because this is probable only valid solution for this issue. Cookie which is marked like `SameSite=None` needs to be `Secure` (in the latest version of Chrome), therefore switching to https will be necesarry - #550

[2020-03-25 09:51] xaviergxf commented on #479
@skoruba, what is missing to have windows authentication? Why the pr wasn't merged?

[2020-03-25 09:54] skoruba commented on #479
I need more time to test it. ;-) Currently it is necesarry to merge this PR with latest dev and verify that everything work corretly. Can you help with this?
Thx

[2020-03-25 10:08] ViRuSTriNiTy commented on #549
@skoruba PR is ready, please review it. I'm sorry for the additional clean-up commits. My VS converts the files automatically to Windows line endings and without UTF-8 BOM on save.

[2020-03-25 10:16] xaviergxf commented on #479
i'll have a look.

[2020-03-25 11:02] xaviergxf commented on #479
I'm new to the project, how can i:
1. Create the db? dotnet ef database update?
2. Shoud i merge with dev branch to be on .net core 3.1?

Thanks

[2020-03-25 14:27] ViRuSTriNiTy opened #552 "IdentityServer4.Admin uses skoruba-ico.png although all other views use favicon.ico"
Hi there,

i was reworking the fav icons and stumpeled upon `skoruba-ico.png` which is still used in `IdentityServer4.Admin.AccountController.AccessDenied`. All other views already use favicon.ico which is configurable via the `appsettings.json`.

I think we can safely replace / remove `skoruba-ico.png`.

I can provide a PR. What do you say?

So lonG
Daniel

[2020-03-25 15:12] ViRuSTriNiTy commented on #547
Hi there,

imho you have two options right now:

a) use custom CSS rules in your own `css` file to override the styles applied by `bundle.css` and `web.css`

or

b) modify the existing `scss` files

To easily customize colors the projects would need to use [Bootstrap Sass Theming](https://getbootstrap.com/docs/4.4/getting-started/theming) which should be easy to integrate as there is already a gul

[2020-03-25 17:59] skoruba commented on #552
Hi, this favicon should be defined in appsettings.json, for sure you can send PR. Thanks 👍🏼

[2020-03-25 18:07] skoruba commented on #547
@ViRuSTriNiTy described details about styles really good. 👍🏼
A PR for improvements around styles is welcome, especially find some way how to easily create new theme - but I used bootstrap, so modification should be easy I hope. :)

[2020-03-26 04:52] #514 closed

[2020-03-26 05:24] inbarbarkai commented on #550
I understand the need but I really wish it would be possible to still run it without HTTPS.

[2020-03-26 06:29] ViRuSTriNiTy commented on #550
@inbarbarkai But isn't this just a matter of the URL configuration and perhaps making some flags like `RequireHttpsMetadata` configurable? At least these were the parameters i changes when switching to HTTPS ...

[2020-03-26 06:38] inbarbarkai commented on #550
When I wanted to switch to HTTPS, my first attempt (which was successful) was a pure configuration one.
In .NET Core 2.2 it was possible to define HTTPS via appsettings.json. Maybe it is still possible.
Today I'm just running it behind NGINX like recommended by [Microsoft](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1).
It's simpler configuration and

[2020-03-26 06:41] inbarbarkai commented on #550
It is still possible:
[code]

[2020-03-26 07:50] skoruba commented on #546
Hi guys, I will test it this docker stuff later. @bravecobra - any suggestion on this issue?
Thx.

[2020-03-26 15:08] nobba75 commented on #547
Thank you for your answers!

[2020-03-26 15:08] #547 closed

[2020-03-27 00:14] bravecobra commented on #546
Seems like the same network topology issue in #402
For this to work you'll need the internal addresses to be fqdn as well. That's where most configs fail.

[2020-03-27 00:16] bravecobra commented on #550
Have a look at https://github.com/FiloSottile/mkcert for creating local certificates.

[2020-03-27 10:14] ViRuSTriNiTy opened #553 "_Layout applies right margin instead of left margin for right aligned menu items"
Hi there,

i want to extend the menu items by adding a menu item that is always visible. Menu items are right aligned hence a margin on the left side makes more sense. With a left margin approach you can simply add items and the visible ones would right align to the upper right corner correctly.

I can provide a simple PR. What do you say?

So lonG
Daniel

[2020-03-27 10:55] nk-cmd opened #554 "Execute multiple Projects (STS, Admin and API)"
Hello,

Great respect for the work in your repo so far!
I'm currently testing the repo and I noticed that you can't run the projects STS (IdentityServer), Admin and API at the same time. Apparently STS starts on the same port as the API?

API
     "ApiBaseUrl": "http://localhost:5001",
     "IdentityServerBaseUrl": "http://localhost:5000",

Admin
    "IdentityAdminRedirectUri": "http://localhost:9

[2020-03-27 10:57] skoruba commented on #553
Hi @ViRuSTriNiTy - can you please provide some screen - what do you exactly mean?
Thx.

[2020-03-27 11:01] ViRuSTriNiTy commented on #554
Yes that`s true. The default configuration of each project needs manual tweeking before this works. For example, my configuration looks like

STS.Identity HTTPS 44300, HTTP 44200
Admin HTTPS 44301, HTTP 44201
Admin.Api HTTPS 44302, HTTP 44202

[2020-03-27 11:14] skoruba commented on #554
It looks like that there is a colision in ports for Kestrel configuration, I will check it and fix it.
Sorry for that I use IIS Express by default. ;-)

STS starts for HTTPS on 5001 same like API on this port for HTTP.
For now you can fix it manually in `launchSettings.json` - in STS project, remove https://localhost:5001 and keep only http://localhost:5000.

Or like @ViRuSTriNiTy suggested use yo

[2020-03-27 12:30] felipeoriani opened #555 "IDP4 and MVC 5.0, ProtocolValidator.RequireNonce error on Google Chrome"
Hey guys. We have an application made with ASP.NET MVC 5 that will be part of a solution to authenticate using a Single Sign On made with Identity Server 4 and the Skoruba implementation with Asp.Net Core 2.2. It is working on Microsoft Edge and Firefox but on the Google Chrome we are getting the error message with

I as searching on web about the error and I have seen that Chrome is not able to r

[2020-03-27 17:19] ahmedrz commented on #546
the problem is that there are two ways to contact the STS project ,
the internal way which the admin and admin api projects use internally to conatct the sts which is the discovery endpoint for example and there is the public one which the urls sent to the browser for redirection
so to solve this there is two options :
one is to use the host ip address for these endpoints where the container is no

[2020-03-28 01:24] cculver commented on #535
We recently ran into an issue on another project that seems similar to this. We found that google seems to be selectively deploying new requirements to browsers to adhere to the cookie behavior where samesite=none must be accompanied by the secure flag. The fact that they're deploying it selectively to some clients but not others (with the same version) might be making this more confusing. I mean,

[2020-03-28 01:27] cculver commented on #535
Additionally, I should add that there are definitely installations that run over http behind a reverse proxy or on kubernetes in a private environment and don't encrypt the backend traffic. I agree that best practice should be to run over https, but there are certain exceptions that are acceptable

[2020-03-30 08:58] berajkumar12 opened #557 "Azure app : STS : 500 internal server error while redirect back to connect/authorize/callback"
I followed steps mentioned [https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/Configure-Azure-Deploy.md](azure deploy) but instead of certificate thumbprint(uploading pfx file in azure app service) i tried to load pfx file directly.

I published my cert file to 'wwwroot' and it is available.

I did configuration changes as below,
`"CertificateConfiguration": {

        "UseTemporar

[2020-03-30 09:08] berajkumar12 commented on #557
Also i tried  to check log file in log\skoruba_admin.txt in azure app service. I am seeing file is empty. I dont know why log is not happnening.

My serilog config,
`{
                "Name": "Console"
            },
            {
                "Name": "File",
                "Args": {
                    "path": "Log\\skoruba_admin.txt",
                    "rollingInterval": "Day"

[2020-03-30 18:29] tancevsasa opened #560 "Problem with HomePageLogoUri when deploying STS project as Virtual Application on IIS"
When I tried to publish **STS.Identity** project as Virtual Application as ***/auth** subdomain of existing website  **/images/skoruba-icon.png** image defined under **HomePageLogoUri** parameter in appsettings.json is not shown properly in **Home/Index.cshtml** page.

Note: I deployed STS project under **\auth** virtual appliciation

After reviewing rendered HTML `h1` element is rendered as:
`<im

[2020-03-30 18:33] skoruba commented on #560
Hi, can you please send PR for this? :-)

Thanks

[2020-03-31 07:31] ViRuSTriNiTy commented on #553
@skoruba Here is a screenshot showing a left margin instead of a right margin to ensure items added to the menu bar have a margin to its sibling on the right side.

![image](https://user-images.githubusercontent.com/12170676/77998917-208ea600-7332-11ea-9b1a-ff83fa28951f.png)

[2020-03-31 10:47] nagarajanmm opened #563 "Help Needed - In Skoruba.IdentityServer4.STS.Identity - How to add new Identity Providers like Azure AD, ADFS?"
Help Needed - In Skoruba.IdentityServer4.STS.Identity - How to add new Identity Providers like Azure AD, ADFS?

Any code reference would be helpful.

[2020-04-01 03:17] ToanHT commented on #488
Hi @anthonynewlineinfo,
You can fix it temporarily by adding code below in IdentityMapperProfile.cs
  CreateMap<TRoleClaimsDto, RoleClaimsApiDto<TRoleDtoKey>>(MemberList.Source);
  CreateMap<TRoleClaimDto, RoleClaimApiDto<TRoleDtoKey>>(MemberList.Destination);
  CreateMap<TRoleClaimsDto, RoleClaimApiDto<TRoleDtoKey>>(MemberList.Destination);
 Thanks!

[2020-04-01 07:00] skoruba commented on #488
Thanks for reminder for this, I will add it into next release.

[2020-04-01 10:30] mehyaa commented on #478
In my opinion Admin and Admin Api projects can be merged.

Connecting Admin to Api will cause unnecessary navigation, auth steps. That will cause unnecessary delay and complexity. Merging two projects into one and execute all the business logic in common services will be more simple.

Api endpoints can serve under a logical route base name like "/Api/*".

[2020-04-01 10:35] skoruba commented on #478
@mehyaa I agree with you. This merge will required bigger rewrite, so I will work on this issue in Q3 of this year - help with this is really welcome. 👍

[2020-04-01 14:10] steamprodz opened #565 "Admin launching with ERR_SSL_PROTOCOL_ERROR"
Hi!

When I try to launch an Admin project, it gives me errors in both Chrome or Edge about site isn't secure.
However, in Edge when I change address from https://localhost to http://localhost, it gives me the exception:
`SocketException: No connection could be made because the target machine actively refused it.
System.Net.Http.ConnectHelper.ConnectAsync(string host, int port, CancellationToken c

[2020-04-01 15:20] xaviergxf commented on #281
Hi @skoruba , i'm trying to include roles into the access token but i can't. Can you provide an example?

Thanks

[2020-04-02 02:49] chinaq commented on #183
It worked on my machine by setting `app.UseCookiePolicy(new CookiePolicyOptions { MinimumSameSitePolicy = SameSiteMode.Lax });`

[Identity server is keep showing “Showing login: User is not authenticated” in /connect/authorize/callback](https://stackoverflow.com/questions/51912757/identity-server-is-keep-showing-showing-login-user-is-not-authenticated-in-c)

[2020-04-02 05:55] WeihanLi opened #566 "Associated with existing account when login using external login provider"
for now, we could create account only , if someone registered before using the same email he could not create an account with the same email again

[2020-04-02 06:15] WeihanLi commented on #563
you can do this like `Github`

details here:
<https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Helpers/StartupHelpers.cs#L307>

[2020-04-02 21:12] #555 closed

[2020-04-03 05:05] skoruba commented on #555
Hi @felipeoriani - sorry for delay, how did you fix it? Everything work?
Thx

[2020-04-03 12:05] felipeoriani commented on #555
Hi @skoruba, yes, we have added https on the client (asp.net mvc 5) and now it works, but we still have a problem in Chrome, we can't logout, even on the admin panel. If we click at logout button, the application just login again. The same happen for client apps. On the other browsers it works (Edge and Firefox).

Is there any way to fix it on the STS application?

[2020-04-03 14:18] andrejohansson commented on #142
Does this work in the docker images?

- I deployed docker images from https://hub.docker.com/u/skoruba to an Azure webapp.
- Then configured the variable ``AdminConfiguration__HomePageLogoUri`` in settings and set the value to: ``https://www.bokamera.se/logo.png``.

But when I refresh my page and check the value I get this in the html:
![image](https://user-images.githubusercontent.com/2828428/783

[2020-04-03 17:27] skoruba commented on #142
Thanks for your feedback, I reopen this issue and I will check it.

[2020-04-04 19:29] ondrejspilka commented on #402
Just to give you proper solution...I am using PostgreSQL...works as expected.
Someone has nicely described `xip.io` concept of DNS.
Analogically, you have to declare all other dependant  compose services using the same concept, especially database:
[code]

[2020-04-07 02:25] cculver opened #568 "How do I implement m2m client credentials flow in api?"
I'd like to code against the api from another web service (e.g. to create a user programmatically and assign it roles) and I'm just trying to understand how to get this going. I'm pretty certain by this point that I need to do the client credentials flow, but the admin api seems to require the Administration Role on the client (StartupHelpers.cs:243). Since there's no user, I'm not sure how to get

[2020-04-07 14:46] #568 closed

[2020-04-07 15:27] mMarcos208 opened #569 "It's possible to configure skoruba only with docker images using docker-compose?"
I have docker-compose with Identity Server and other applications.
I would like to add skoruba images from docker hub in my docker compose.

How can I modify the port of `identityserver4-sts-identity:rc1` and to add admin login and password for admin UI?

What I need to modify in my configurations?

Code:
[code]

[2020-04-07 19:51] skoruba commented on #568
Hey,
Did you figure out how to achieve this?
Thanks

[2020-04-07 20:49] cculver commented on #568
I finally found the client claims and added the right value to it. I haven't gotten around to querying /token for the token and submitting it to the api server yet. Is there a dedicated client available that wraps the calls to the api server?

[2020-04-07 21:03] skoruba commented on #568
What do you mean with dedicated client? By default this type of client is not created during the initial seed. :-)

[2020-04-08 01:44] cculver commented on #568
Yes, probably bad wording given the nomenclature surrounding identity. What I mean to ask is this: is there a project/dll/nuget package that wraps the calls to the admin api such that we can use that instead of writing raw calls with HttpClient. If I have the wrong idea about the admin api, tell me, but it seems that there is a better way to do this than to manually go out and hit /token, get and

[2020-04-08 07:10] ViRuSTriNiTy commented on #553
@skoruba Bump, please have a look at my last post. Thanks.

[2020-04-09 10:58] spaasis opened #570 "How to map user phone number to claim?"
Hi,

In the user profile page there is a field for a phone number, but it seems that by default this is not mapped to any claim. How could this mapping be done so that I won't have to manually add this claim to every user?

[2020-04-10 10:26] chriscastlework opened #571 "Can not build locally or in azure pipeline Error : Your Docker server host is configured for 'Windows',"
I am having this same issue on my local
Using visual studio I can only get this project running by selecting multiple projects

When trying to use the docker-compose I get this error

Error : Your Docker server host is configured for 'Windows',

I could delete the docker file but I should really learn how to make this work properly

Thanks in advance for the help

[2020-04-11 16:28] zd-dalibor opened #572 "Upgrade Skoruba.AuditLogging.EntityFramework to 1.0.0-beta8 brakes admin app"
After upgrade Skoruba.AuditLogging.EntityFramework to 1.0.0-beta8 I got this exceptions:

[code]

[2020-04-13 00:01] HashTagDotNet commented on #557
My log\skoruba_admin text is also empty

[2020-04-13 19:57] skoruba commented on #572
I updated primary key of AuditLog table from int to long, because it could be a limit. You need upgrade AuditLog.cs and AuditLogDto.cs, then run db migrations - before applying migrations, I can recommend backup audit table.
I will describe this change in next release, currently it is in progress in dev branch.
Thanks.

[2020-04-13 20:02] skoruba commented on #571
Hi,
Is it like this issue?
https://stackoverflow.com/questions/46779911/asp-net-core-docker-build-error
Thanks