[2018-02-27 16:03] skoruba opened #12 "Consider use the Gulp for generation of the sass files instead of plugin in VS 2017"

[2018-03-21 16:16] skoruba opened #13 "Consider revision of HTML template - rewrite to bootstrap 4"

[2018-05-10 18:22] #13 closed, assigned to skoruba

[2018-05-10 18:22] #12 closed, assigned to skoruba

[2018-05-28 11:16] skoruba opened #25 "Update gulp-sass"
It is necessary update gulp-sass after new release because of this issue: https://github.com/dlmanning/gulp-sass/issues/687

[2018-05-28 11:28] skoruba opened #26 "Update project to .NET Core 2.1."

[2018-06-01 07:02] skoruba commented on #26
Wait for update .NET Core 2.1. SDK on appveyor - https://github.com/appveyor/ci/issues/2373

[2018-06-04 07:10] skoruba opened #27 "Consider using IHtmlHelper.PartialAsync"
Warning MVC1000: Use of IHtmlHelper.Partial may result in application deadlocks. Consider using <partial> Tag Helper or IHtmlHelper.PartialAsync.

Recommendation for this issue: https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot?view=aspnetcore-2.1#use-of-ihtmlhelperpartial-may-result-in-application-deadlocks

[2018-06-04 11:44] snys98 opened #28 "encapsulate project to injectable part"
I'm wondering if it is possible to change the structure of this project to two different project(nuget package).

- **IdentityServer4.Admin**
this project will register all operations to a specific endpoint(like "/identity-server-admin") as a rest api.

- **IdentityServer4.Admin.UI**
this project will register all default page to a specific endpoint(like "/identity-server-admin-ui") and it would b

[2018-06-04 12:02] skoruba commented on #28
Great idea @snys98.

I think it's absolutely possible. I want to prepare the REST api like you mentioned.

What do you suggest with UI part?

Thank you for your feedback. :)

[2018-06-04 13:10] snys98 commented on #28
I used to modify [something](https://github.com/microexs/Microex.Swagger) of injecting a UI.

Here register the middleware which serves the index.html and enable directory browse into the assembly(where we can put pages there):
https://github.com/microexs/Microex.Swagger/blob/8159f6ac84c9672ea938a0f1d760035436641e62/Microex.Swagger/SwaggerUI/SwaggerUIBuilderExtensions.cs#L19

And here to inject th

[2018-06-06 07:12] skoruba commented on #28
I am working on REST api, but I am wondering how distribute the set of controllers as nuget package - what do you think about it @snys98?

I think - it is possible to add into nuget package some repositories and services that are connected with database model but what about api endpoints? :)

[2018-06-07 12:21] snys98 commented on #28
Maybe we should forget about the MVC pattern but try to implement a middleware instead.

all these could be done with a single line in the pipeline, like:
[code]
Then api endpoint("/identity-admin") should deal with all the request that has the url prefix of  "identity-admin" then map the sub-urls to corresponding handler functions.

[2018-06-08 16:57] skoruba commented on #28
I've found the solution, that it's possible to add controllers from another assembly like this:

[code]

[This post](https://stackoverflow.com/questions/42364745/dynamic-route-prefix-for-controllers-in-separate-library?rq=1) describes how to implement dynamic routing with another assembly.

I've built extension method like this:
[code]

In `Startup.cs`:

[code]
What do you think about it?

I've wo

[2018-06-12 05:43] snys98 commented on #28
@skoruba
That's great. It's actually the way of `Microsoft.AspNetCore.Identity.UI`. I know little about this kind of  implemention. But I guess these may help when dealing with razor pages:
[code]

[2018-06-15 08:32] skoruba commented on #28
@snys98 Great point.  I am working on it but I can't find any solution how to share the resources for localization. Razor class library provides great posibilities how to share UI across among multiple projects, but all available samples are without localization. Any idea? :)

[2018-06-19 10:18] xmichaelx opened #30 "Connecting sample IS to database managed by IdentityServer4.Admin"
Hello,

First of all, big thanks for doing this. You saved me a tremendous amount of work.

Why haven't you connected IdentityServer4 to the database modified by Admin panel? I understand that you could've done for the sake of simplicity and that's why you've opted for in memory stores but I'm curious if there's any other reason.

 I'm working on having IS from `Skoruba.IdentityServer4` connected

[2018-06-19 11:11] skoruba commented on #30
Hello @xmichaelx

I really appreciate your feedback.

You are right, the in-memory users / clients in `Skoruba.IdentityServer4` are for simplicity.

I will be happy for any pull request from you. I will consider your idea.

It's possible to follow this sample for doing that - https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Quickstarts/Combined_AspNetIdentity_and_EntityFramew

[2018-06-19 11:41] skoruba commented on #28
Similiar use case with sharing resx files from class library - https://github.com/aspnet/Localization/issues/328

[2018-06-19 11:58] xmichaelx commented on #30
Certainly, it would be nice to have a nuget package. Add to that some ability for branding with additional powered by <here your credentials> and you have a very nice, generic solution.

[2018-06-19 12:10] xmichaelx commented on #30
Right now I'm trying to reference `AdminDbContext `but for that I need to reference dll with Skoruba.IdentityServer4.Admin. Unfortunately this creates situation where I reference another MVC project and I fail because of:

`InvalidOperationException: The AuthorizationPolicy named: 'RequireAdministratorRole' was not found.`

As I understand this policy is present on controllers in the `Skoruba.Iden

[2018-06-19 12:17] skoruba commented on #30
It's interesting. I think it's time to split the project into two parts - UI and Services.

Thank you - I'll check it and create some fix for this use case. :)

[2018-06-19 12:29] skoruba commented on #30
I see. :) I think, splitting of the solution will be better approach - but good quick workaround.

[2018-06-19 13:10] xmichaelx commented on #30
I agree, splitting solution will be much better.

[2018-06-20 10:23] xmichaelx opened #33 "Planned support for OAuth Device Flow"
Device flow will be added in next release of IdentityServer4 and is currently developed:
https://github.com/scottbrady91/IdentityServer4/tree/device-flow

Blog post describing the flow:
http://www.identityserver.com/articles/an-introduction-to-the-oauth-device-flow/

Would you consider adding this flow? I'm willing to help with that since I'll be using that flow a lot.

[2018-06-20 10:57] skoruba commented on #33
Absolutely, device flow is on my radar as well. :)

I will be happy for your help with implementation of device flow.

[2018-06-21 09:47] snys98 commented on #28
@skoruba
Sorry, I had a busy time in the last few days. Sounds like you've solved it. Congratulations.

[2018-06-22 07:02] xmichaelx opened #35 "Using SQLite as default database engine"
A modest suggestion. By default Admin uses SqlServer which has to be separately installed for anyone who doesn't use Visual Studio daily.

Required changes would be pretty small:

`UseSqlServer` -> `UseSqlite` in StartupHelpers.cs and adding SQLite provider package for EntityFramework.Core.

I myself use PostgreSQL (works great), but for demonstration purposes I think SQLite would the best choice.

[2018-06-22 07:52] skoruba commented on #26
DONE.

[2018-06-22 07:52] #26 closed

[2018-06-22 07:52] skoruba commented on #27
DONE.

[2018-06-22 07:52] #27 closed

[2018-06-22 09:06] xmichaelx commented on #35
No, I'm using VS. But I've used VS Code for other .net core projects before and I could test if that works.

[2018-06-22 09:13] skoruba commented on #35
I'll check the possibilities how to combine more configuration of different databases like PostgreSQL, MySQL, SQLite etc.

[2018-06-22 09:20] xmichaelx commented on #35
I think that you could have it added to your migration documentation (where to change provider and what packages to add). Info on how you can use different providers (sqlserver, postgresql, sqlite) with default sqlite provider.

[2018-06-22 21:07] xmichaelx commented on #35
GH-37

[2018-06-22 21:38] #35 closed

[2018-06-23 07:44] skoruba commented on #28
@snys98 Yes, it seems the combination of Razor Class Library and Resources for localization working well.

I am currently working on splitting the solution into three parts:
- UI
- EntityFramework
- Services (or Business Logic)
After that I'll create some nuget packages.

Again - thank you for your good ideas.

[2018-07-12 06:57] skoruba commented on #30
#41 - splitting solution, next step will be switching the inmemory store to the database.

[2018-07-24 10:37] skoruba commented on #30
DONE.

[2018-07-24 10:37] #30 closed

[2018-07-25 07:20] edmundhuang opened #44 "How can I login?"
It seems there is no default admin/admin user or something else like for login page.
Follow the step,
1. add-migrations
2. datebase update
3. uncomment seeddata

Then I start IDS4 at localhost:5000, and IDS4 admin at localhost:9000.
Where I open http://localhost:9000, the website redirect me to localhost:5000 login page.
But I don't have a username and password for login.
User table is empty when

[2018-07-25 07:32] skoruba commented on #44
Good point. 👍

I will add some default admin user into IDS4 with Asp.Net Identity.

Now you can run project `Skoruba.IdentityServer4` - that contains inmemory admin user - bob/password - then you can create some new users/roles and switch back to `Skoruba.IdentityServer4.AspNetIdentity`.

[2018-07-25 07:43] edmundhuang commented on #44
The key problem is: there is no default user interface for create new users/roles in IDS4.

[2018-07-25 15:15] skoruba commented on #44
I've added to the `dev` branch updated seed data.
Please, take a look - [here](https://github.com/skoruba/IdentityServer4.Admin/blob/dev/src/Skoruba.IdentityServer4.Admin/Helpers/DbMigrationHelpers.cs#L32-L76).

[2018-07-25 18:32] skoruba commented on #44
#45

[2018-07-26 17:18] #44 closed

[2018-07-26 22:51] chrisgate opened #48 "Can you consider writting of blog or do a youtube on integrating it"
Dear @skoruba ,
  Thanks for this work here,
Can you consider writing a blog or do a YouTube on integrating it.

I am still thinking how to customize it and make it fit well with a new solution or existing solutions.

Thanks in anticipations.

Chris

[2018-07-27 11:41] skoruba commented on #48
Hi @chrisgate ,

good idea, I will create some detailed post or video - step by step - how to run this solution and how to change some part of the administration.

We are working on a more suitable version that will be able to install the whole solution as a nuget package. The biggest challenge is how to distribute the UI. :)

[2018-07-29 07:37] chrisgate commented on #48
To put this into perspective, with what we have here we wont need **https://github.com/IdentityServer/IdentityServer4.Quickstart.UI** in our project right?

Thanks

[2018-07-29 16:09] skoruba commented on #48
What do you mean with - wont need IDS4 Quickstart UI?

[2018-08-03 14:46] chrisgate commented on #48
Dont mind i got it now.
but u can distribute the UI the same way identityserver4 quickstart is distributed thru powershell download.

Cheers

[2018-08-03 15:02] skoruba commented on #48
@chrisgate You are right, I consider it because I think it is a very flexible way for future modifications such as Views/Controllers etc.

BTW: We are working on the video as you mentioned above. I will let you know. :)

Thanks!

[2018-08-03 16:24] chrisgate commented on #48
Thanks for your team work.

We shall be waiting to see the video............cheers

[2018-08-07 17:03] skoruba opened #51 "Consider create project template for dotnet new"
https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates

[2018-08-14 02:22] pigwing opened #54 "it has some issues by update clients Redirect Uris"
dtos have not values

[2018-08-14 02:32] pigwing commented on #54
oh i see must selected

[2018-08-14 07:07] skoruba commented on #54
@pigwing does it work for you?

[2018-08-15 20:16] TomasHubelbauer commented on #54
Can you add screenshot or code snippet? From your description I don't understand where the issue is @pigwing.

[2018-08-15 20:38] ruant opened #55 "Use in existing IdentityServer setup"
For people having identity server running already, any plans on making a guide on how to get this awesome Admin UI to work?

Maybe there has to be some work done with exposing setup options like naming, using existing dbcontexts etc.

[2018-08-16 03:58] pigwing commented on #54
yes it work,add completed and must click it ,it will be selected status

[2018-08-16 13:06] ruant commented on #55
Especially if it's planned to release this UI as a simple injectable middleware as issue #28 is about.

[2018-08-16 16:17] skoruba commented on #55
@ruant Sure, I will add this use case to the upcoming video tutorial. It's a great idea. 👍

We are currently working on a project template for dotnet cli. It will be possible to use like this:
`dotnet new skoruba.is4admin`. #51
I think - it might be useful for the better customization. You can define your administration name, default admin role name etc.

After that I want to create the nuget pack

[2018-08-16 16:30] skoruba commented on #54
@pigwing I know, what you mean. I've recieved same type of the issue. I will consider creating maybe better UI design of the picker. I'll discuss it with @TomasHubelbauer.

Thanks for your report.

[2018-08-18 08:53] skoruba opened #56 "Consider moving Asp.Net Identity into the separate projects"
I'd like to create the project template via `dotnet new` that doesn't include the part with AspNet Identity therefore I'd like to move Asp.Net Identity into the separate projects.

**BusinessLogic:**
- Skoruba.IdentityServer4.Admin.BusinessLogic
- Skoruba.IdentityServer4.Admin.BusinessLogic.AspNetIdentity

**EntityFramework:**
- Skoruba.IdentityServer4.Admin.EntityFramework
- Skoruba.IdentityServe

[2018-08-18 15:40] pigwing commented on #54
@skoruba THX

[2018-08-21 07:24] skoruba opened #58 "Create generic services/repositories which are connected with Asp.Net Identity"
To simplify using of different Asp.Net Identity model, especially another type of key - it will be necessary to rework the services, repositories and mapping which are connected with Asp.Net Identity.

[2018-08-23 12:32] cerginio opened #60 "Introduce AppSettings based on IOptions aspnetcore feature"
Actually AdminUI IdSrv4 intergation and authorization params  configured in  AuthorizationConsts:

[code]

I would suggest  to use AppSettings class for that, which mapped to appsettings section in appsettings.JSON and IAppSettings rigistered as dependency in DI container.

Detailed about `IOptions<TSettings>` aspnetcore feature here:
https://joonasw.net/view/asp-net-core-1-configuration-deep-dive

[2018-08-23 14:49] skoruba commented on #60
@cerginio Please, can you specify what you specifically suggest? I'll be happy for some detail.

[2018-08-24 07:56] skoruba commented on #60
Hi @cerginio,

I'll be happy for your help and pull requests! :)
If you have any ideas, please share them with us.

Thank you.

[2018-08-24 08:41] cerginio opened #61 "Add audit tables to track IdSrv configuration data changes"
During administration clients, scopes, users, roles may be important to have control on it's history.

One of the cheap way to get changes history could be SQL server Track Data Changes feature.
1. Add feature for SQL server
https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/enable-and-disable-change-data-capture-sql-server?view=sql-server-2017
2. Add views to read tracking ch

[2018-08-24 08:47] cerginio commented on #56
There is need to separate AdminDbContext to AspnetIdentityDb, ConfigurationDb, OperationalStorageDb.
In our solution we aim to keep them separately in different databases to backup only configuration db. When using AdminUI component AdminDbContext is forces to use single Db for all 3 contexts.

[2018-08-24 09:05] cerginio opened #62 "Serilog integration"
IdentityServer4 authors "kind of recommend" to use Serilog  http://docs.identityserver.io/en/release/topics/logging.html
https://github.com/serilog

Serilog has basic sinks for
File (https://github.com/serilog/serilog-sinks-file)
Database (https://github.com/serilog/serilog-sinks-mssqlserver)
and enterprise level sinks for Splunk, Azure AppInsights, ElasticSearch etc.

Also Enrichers concept allow

[2018-08-24 09:29] cerginio opened #63 "Extended user authorization per Application"
Actually Admin UI has only one level of authorization:
[code]

There is need to provide access to Admin UI for users on Client Applicatiion level.
UserA has access to administrate App1, App2
UserB has access to administrate App3, App4, App5

Authorization must restrict user access in views to see only related to his application Client configurations, Stored Grants, Logs, Audit info etc.
What to do

[2018-08-24 12:00] cerginio opened #64 "Add IdentityServer4.Admin.Common project"
Add IdentityServer4.Admin.Common project for common interfaces, constants, DTOs, AppSettings.
Move non specific for App, DAL and BLL constants and DTOs to Common project.

Might be must have refactoring for #56

[2018-08-25 18:47] ruant commented on #61
I would like to see it not bound to MSSQL, that way people can choose what SQL technology they want to run themselves.

[2018-08-25 19:37] skoruba commented on #61
I agree with @cerginio - audit log is very important. I'll check some details about the implementation that mentioned @ruant - it will be nice to use the implementation independent of the database engine.

[2018-08-26 21:06] chrisgate commented on #48
any hope on this?

[2018-08-26 22:09] skoruba commented on #48
@chrisgate Sorry for the delay, I am working on some improvements that I want to add into video tutorial as well. :) Thx

[2018-08-27 08:30] chrisgate commented on #48
Thanks @skoruba Please mark the improvements u want to add and once u have it then add it to the video.
I said this bcoz improvements can never stop,i have seen a great framework/library that kept adding improvements and kept saying when we are done we will do videos on it,then .Net Standard came along another re-written of the framework/library and improvements stories continue and we never have

[2018-08-27 08:51] skoruba commented on #48
@chrisgate You are right. I got your points and I agree with them.
I will continue on creating the video for current beta version. New improvements will be part of some next video.
Thank you for your points, I really appreciated it. :)

[2018-08-28 06:51] RiccoYuan opened #67 "Fix that "Allowed Scopes" and "Allowed Grant Types" cannot be displayed properly in Client Basics when published as an application"
Hello, I am very glad that you have developed this system. I think it is perfect to improve it here

change
[code]
to
[code]

NOT PERFECT: url="/Configuration/SearchScopes?scope"
PERFECT: url="@Url.Action("SearchScopes","Configuration")?scope"

There are a few other places I didn't list

[2018-08-28 07:37] skoruba commented on #67
Hello @RiccoYuan

Nice! 👍 I will change it in other places.

If you have any other suggestions, please let me know. :)

Thank you.

[2018-08-29 11:44] cerginio opened #70 "Bug: Log paging must show reasonable amount of page links"
Log paging shows all existing links - NOK

![image](https://user-images.githubusercontent.com/2261603/44785465-a916f480-ab99-11e8-91d2-5ed5923ec694.png)

[2018-08-29 11:56] skoruba commented on #70
I'll fix it.

Thanks for reporting!

[2018-08-30 11:15] skoruba commented on #70
Fix it. Please, you can try it from `dev` branch.
Thx.

[2018-09-01 08:29] skoruba commented on #58
I push these changes to branch `feature/extensible-aspnet-identity`: https://github.com/skoruba/IdentityServer4.Admin/tree/feature/extensible-aspnet-identity

[2018-09-06 15:59] skoruba commented on #70
Done on `master`.

[2018-09-06 15:59] #70 closed

[2018-09-17 09:59] MikhailKrasnobaev opened #73 "Problem when using mssql server 2008"
Good day,

had a problem using Admin pages, none of them opened, had to add  .UseRowNumberForPaging()

[code]

It is a known problem of EF core.

Best regards and thanks fore the project!

[2018-09-18 10:59] maythamfahmi opened #76 "Add/Edit problem, Client Redirect Uris"
In Admin UI under client Basic settings, Adding or Editing Redirect Uris does not work.

Similar problem with other field of same where adding Uri or Editing is not working.

Keep it up.
![error](https://user-images.githubusercontent.com/9260645/45683094-b7c24d00-bb42-11e8-813d-08ccb061ba8a.png)

[2018-09-18 12:01] skoruba commented on #76
Hi @maythamfahmi

I'll check it, thanks for reporting! :)

[2018-09-19 10:29] skoruba commented on #76
@maythamfahmi Thanks! If you have any issues or questions, please let me know. :)

[2018-09-20 13:15] mjisaak commented on #54
Any updates on this issue? If I seed the test data I won't see any redirect URIs for the skoruba_identity_admin client in the UI (but they are present in the database). If I try to add a redirect URI and save that, all redirect URIs for that client gets deleted in the db and I won't be able to use the admin UI anymore (invalid redirect uri).

[2018-09-20 13:22] mjisaak opened #77 "Unable to assign multiple scopes to a client"
I try to add multiple scopes to a client but I can only add one:

![image](https://user-images.githubusercontent.com/8446917/45821169-d5c9b200-bce8-11e8-955c-d1211fa7984e.png)

Any suggestions?

[2018-09-20 13:37] skoruba commented on #54
@mjisaak - if you are trying to add new redirect uri - do you click on the uri in the search result? That was an issue, which @pigwing mentioned.

BTW: Any javascript error in console?

Thanks!

[2018-09-20 13:38] skoruba commented on #77
I'll check it. Thanks!

[2018-09-20 13:45] mjisaak commented on #77
Thanks a lot skoruba, looking forward to hear from you. BTW, did you noticed that Identity Server will be directly integrated to #aspnetcore 2.x ? Here is announcement: https://twitter.com/leastprivilege/status/1042311196924432384
Your awesome admin ui will probably get much more users ;-). Well done!

[2018-09-20 14:00] skoruba commented on #77
Yes, it is great announcement. 👍

I will be happy, if this project helps others. :-)

[2018-09-20 14:54] skoruba commented on #77
@mjisaak I can't reproduce this issue. Tested in IE, Chrome, FF. :)
What happens if you click on the "Profile" in the section "Search Result"?

Thanks!

[2018-09-20 15:16] skoruba commented on #73
@MikhailKrasnobaev Does your dbcontext setting work? Do you have any problems with MS SQL Server 2008? or just recommendation?

[2018-09-20 15:20] mjisaak commented on #77
Then one scope gets added. But as soon I try to add another scope, the previously selected scope gets replaced:

![adding_scopes](https://user-images.githubusercontent.com/8446917/45828707-83dd5800-bcf9-11e8-96ea-7567dba6d46e.gif)

[2018-09-20 16:09] mjisaak commented on #77
Yes, I get plenty of the following java script errors, but I don't think that they cause the issue:

`2:1 Refused to load the font 'data:font/woff;base64,d09GRgABAAAAAGVUABEAAAAAxuQAAQABAAAAAAAAAAAAAAAAAAAAAAAAAABHREVGAAABgAAAAC4AAAA0ArgC7UdQT1MAAAGwAAAQ6AAALgxKsqRTR1NVQgAAEpgAAAH3AAAELqI5y+RPUy8yAAAUkAAAAE8AAABgaGyBu2NtYXAAABTgAAABlAAAAkQkRATXY3Z0IAAAFnQAAABeAAAAugDsQf1mcGdtAAAW1AAABZcAAAvNb3/BHG

[2018-09-20 16:27] mjisaak commented on #77
I just tried the latest version and that seems to work, I will check whether I changed something in the code but I think you can close this.

[2018-09-20 17:21] skoruba commented on #77
Maybe missing property `multiple-select="true"`?

Anytime, please, if you have any issues, let me know. :)

Thanks!

[2018-09-20 17:21] #77 closed

[2018-09-21 04:57] mperk opened #78 "Some const field can read *.settings.json"
Some information changes in environments.
For example;

        public const string IdentityAdminCookieName = "IdentityServerAdmin";
        public const string IdentityAdminRedirectUri = "http://localhost:9000/signin-oidc";
        public const string IdentityServerBaseUrl = "https://devauth.thyteknik.com.tr";
        public const string IdentityAdminBaseUrl = "http://localhost:9000";

The applic

[2018-09-21 06:06] skoruba commented on #78
Please, take a look here: https://github.com/skoruba/IdentityServer4.Admin/tree/feature/extensible-aspnet-identity - on `feature/extensible-aspnet-identity` branch - I moved some consts into `settings.json` - it's based on @cerginio PR. I'll merge these settings.json changes into `master`.

[2018-09-21 06:18] mperk commented on #78
Ok good job, Thank you.

[2018-09-24 16:59] skoruba commented on #64
Add `Shared` project in `feature/extensible-aspnet-identity`.

[2018-09-26 16:00] skoruba commented on #51
First version of dotnet new template:
Install dotnet template:
`dotnet new -i Skoruba.IdentityServer4.Admin.Templates::1.0.0-beta3`

Install new project:
`dotnet new skoruba.is4admin --name MyProject --title MyProject --adminrole MyRole --adminclientid MyClientId`

[2018-09-26 16:05] skoruba opened #79 "Add flag for exluding Asp.Net Core Identity from dotnet new template"
Currently dotnet new template contains following params:
[code]

It's necesarry to add the flag `--exludeAspNetIdentity` for exluding Asp.Net Core Identity from template.

[2018-09-26 16:13] skoruba opened #80 "Create a documentation"
Consider:

- How to create a documentation - what document format to use

- Use Github or some external tool

[2018-09-26 17:03] skoruba commented on #61
@cerginio - Any suggestions about that?

[2018-09-26 17:35] skoruba commented on #80
Consider using: https://readthedocs.org/

[2018-09-27 09:01] mperk opened #81 "redirect to the client details after a client is edit"
Api Resources work like a client work
and other manageable areas

[2018-09-27 09:06] skoruba commented on #81
I think - it's good idea, I will change it.

[2018-09-27 20:02] houssam-saissi opened #82 "Refresh Token after User Changes Role"
Hi,
First, thank you for this great job I appreciate it a lot :) . My question is :
The user remains logged in and accesses AdminUI when I delete the Role, How to block access or redirect to an error page?
Thank you :)

[2018-09-27 20:27] skoruba commented on #82
Hi @houssam-saissi
It's great question.

You can use your implementation of method - `ValidatePrincipal` and check information about user/roles from cookie like this:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-2.1&tabs=aspnetcore2x#react-to-back-end-changes

If user has invalid role for administration you can reject access:
[code]
I hope it will hel

[2018-09-28 04:39] mperk opened #83 "Add Breadcrumb in Layout"
If you are client editting page, you don't go back client list. Maybe breadcrumb is good for the project.

[2018-09-28 11:28] engbibi opened #84 "No binding between pickers and ViewModels"
I can't find any connection between MVC ViewModel and your KO pickers. params.hiddenId is undefined.

    <div class="form-group row">
			<label asp-for="AllowedCorsOrigins" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "AllowedCorsOrigins")
			</label>
		    <div class="col-sm-9">
		        <picker param="multipleSelect=true; hiddenId=AllowedCordOrigins" id

[2018-09-28 11:52] skoruba commented on #84
Please, take a look at - `Scripts/App/components/Picker.js` (https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin/Scripts/App/components/Picker.js), there is `ViewModel` - that contains the list of parameters which are bound with ko properties.
Check method `sync` that writes current selected item/s to hidden field. - https://github.com/skoruba/IdentitySer

[2018-09-29 10:34] houssam-saissi commented on #82
Hi @skoruba ,

Hum i see ^_^ thanks for the solution. However, i am confused between claims and permissions uses. i want to use identiyserver for access limit operations data. For example : grant user CRUD or denied it without logged out. It is rather how to use a combination between Identityserver and Aspnet.Identity.

Thank you :)

[2018-09-29 11:05] skoruba opened #85 "Add missing Chinese Localization Resources"
I've added new localization for Picker component.

@Seaear @zhulige @snys98 - Please, can you help me with these missing localization resources?

In this commit is list of missing resources: https://github.com/skoruba/IdentityServer4.Admin/commit/2a67acd23ba3a7fbe6e08fe03e4e6185c20fd640

Here is a file that contains all new resources:
https://github.com/skoruba/IdentityServer4.Admin/blob/feature/e

[2018-09-29 11:59] skoruba commented on #81
Done on `feature/extensible-aspnet-identity` branch - https://github.com/skoruba/IdentityServer4.Admin/commit/546e711e513dc7b0696fa1199f16a24692444df6
I'll merge it into dev/master later.

[2018-09-29 12:00] skoruba commented on #83
Done on `feature/extensible-aspnet-identity` branch - https://github.com/skoruba/IdentityServer4.Admin/commit/546e711e513dc7b0696fa1199f16a24692444df6
I'll merge it into dev/master later.

[2018-10-01 05:40] engbibi commented on #84
There was a typo in my imports and the tag helper was not used at all. It works now, thank you.

[2018-10-01 05:40] #84 closed

[2018-10-01 10:36] mperk opened #86 "Redirect Uris and Post Logout Redirect Uris is editable text"
Hi again :)
I have long redirectUri and logoutUri. I don't edit the texts. Only I can remove it and add again.
Can you make the texts is editable?

[2018-10-01 11:58] skoruba commented on #86
Hi @mperk

The Picker component is not designed to edit the selected items currently.

I will consider it, but maybe in the future.

I think, as a workaround - it's easy to copy and paste correct value, isn't it? :)

Thanks!

[2018-10-01 12:02] skoruba commented on #82
Hi @houssam-saissi
can you please describe specific situation? :) I need more context.
Thanks!

[2018-10-01 13:55] NorDroN opened #87 "Run Admin in Staging"
Hi!
I've tried to run app Admin in staging, but i always see that app try to redirect to /Account/Login. I think problem in this method:

[code]
App Admin does't contain definition for OpenIdConnect for Staging and I think it use default authentication methods. But app Admin doesn't contain Login page.

[2018-10-01 14:59] skoruba commented on #87
Hi @NorDroN

I've used the `Staging` environment for the integration tests:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/tests/Skoruba.IdentityServer4.Admin.IntegrationTests/Common/TestFixture.cs#L20

`/Account/Login` - It's fake url for testing purposes:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/tests/Skoruba.IdentityServer4.Admin.IntegrationTests/Tests/Configur

[2018-10-02 06:45] cerginio commented on #61
I would chose application level logging based on EF handlers. Defenetely we must store in each row for each history table username from bearer token. I would use change tracker state and save row before change into history table. That tables should be defined in separate audit db context.
But how to achieve that with clean code is a big question, taking into account that we reuse ids4 entity model

[2018-10-02 06:46] cerginio commented on #61
I would chose application level logging based on EF handlers. Defenetely we must store in each row for each history table username from bearer token. I would use change tracker state and save row before change into history table. That tables should be defined in separate audit db context.
But how to achieve that with clean code is a big question, taking into account that we reuse ids4 entity model

[2018-10-02 07:06] mperk commented on #86
I can not copy/past. The area is cleaning when I click it.
Please, can you check the area? Unable to copy
Thank you for your interest.

[2018-10-02 16:44] marcrib opened #88 "Add ScopeClaim support"
ScopeClaim support

[2018-10-02 18:10] marcrib commented on #88
@skoruba oh sorry. ScopeClaim is removed in IDSRV 4. Thanks

[2018-10-02 18:16] skoruba commented on #88
I can found it in IS4 EF Core entity model. Can you please send more centext about it?
Thanks!

[2018-10-02 19:33] Brice-xCIT commented on #55
Hi! This issue to me should be priority number one. After spending several hours in the code I still don't see how to use this with an existing installation. Somehow the code forces consumers to use its own EF migration and database schema, which bundles ASP.NET Core Identity and IdentityServer4.EntityFramework models into one single DB and DbContext. I tried to decouple both of these things to bi

[2018-10-02 19:55] skoruba commented on #55
Hi,
I absolutely understand your requirements, I will create a documentation for that.
Please for now - take a look at this branch - ´feature/extensible-aspnet-identity´ -
https://github.com/skoruba/IdentityServer4.Admin/tree/feature/extensible-aspnet-identity
Currently, I am working on better using of this administration with the existing instance of the IS4.
Do you want to use the administration

[2018-10-02 20:14] Brice-xCIT commented on #55
Thanks for your message and responsiveness, @skoruba!
I found out about the branch right after writing the message, and although it definitely goes into the right direction, as far as I can see AdminDbContext still wraps the three stores.
IS4+Asp.Net Core Identity is what I'm after, and truthfully I could even consider using AdminDbContext's integrated DB migration instead of the IS4 quickstart's

[2018-10-02 20:42] skoruba commented on #55
It’s absolutely possible to split the AdminDbContext into more DbContexts like you mentioned with IS4 quickstart sample.
The repositories/services are designed for generic DbContext and you can choose an approach of one or more dbcontexts.
Please take a look at Startup class for extension method that added into DI the repositories and services - AddAdminServices - there you can specify one or more

[2018-10-03 14:58] MikhailKrasnobaev commented on #73
Hi,
missed the thread update notification.
Yes, it is just a recommendation, if somebody runs in such a problem with mssql server 2008.

Best regards.

[2018-10-03 15:40] MikhailKrasnobaev opened #89 "PasswordHash is set to NULL when saving user settings"
Hi,

ran into a bug, when saving user settings from /Identity/UserProfile/X  - password of a user is set to NULL (PasswordHash field in dbo.Users). Everything else saves normally.
Maybe some mapping issue?

Best regards.

[2018-10-04 17:43] skoruba commented on #89
Hi @MikhailKrasnobaev

which version of IS4 Admin have you used? Latest version from `master` branch or via dotnet new template?

I will try to reproduce this issue.

Thanks!

[2018-10-05 08:02] MikhailKrasnobaev commented on #89
Hi @skoruba

yes, it was the latest master at that time https://github.com/skoruba/IdentityServer4.Admin/tree/d62891609ba167d6b4b0cb27aaeaf7cfd8e0a189

Best regards.

[2018-10-09 15:32] #88 closed

[2018-10-11 09:57] skoruba commented on #85
@gebiWangshushu - can you help me with this translation above?

[2018-10-12 08:19] zhulige commented on #85
<data name="PickerItemAlreadySelectedTitle" xml:space="preserve">
    <value>已经选中项</value>
  </data>
  <data name="PickerNoItemSelectedTitle" xml:space="preserve">
    <value>没有选中项</value>
  </data>
  <data name="PickerRequiredMessage" xml:space="preserve">
    <value>必填“类型”</value>
  </data>
  <data name="PickerSearchItemPlaceholder" xml:space="preserve">
    <value>输入2个以上字符</value>
  </data>
  <

[2018-10-12 08:55] skoruba commented on #85
@zhulige Thank you for you translation - may I ask you - can you split following text into rows? I don't know how to use it. :)

[2018-10-12 09:02] skoruba commented on #85
Maybe like this @zhulige :
已经选中项
没有选中项
必填“类型”
输入2个以上字符
搜索结果:(点击选择)
选择:
更多...
建议事项：

Is it correct? :)

[2018-10-12 10:44] zhulige commented on #85
@skoruba yes, no problem.

[2018-10-13 13:34] mperk opened #92 "Client Secret Key can a Guid"
Can you develop this feature?
When I click a button then guid generate and set in secret key textbox

[2018-10-14 10:36] mperk commented on #92
Is that the strong secret key generated automatically ?

[2018-10-15 05:53] mperk commented on #92
Ex secret key:
Guid.NewGuid() = dbe55dc8-0ce3-4464-bba1-8c625eb2474a

[2018-10-15 20:03] skoruba commented on #92
@mperk Of course - you can definitely use guid as the value for secret and create a hash from it.
Is it your request - create a button for generating new random guid as the value for secret?

[2018-10-16 16:14] PKrause79 commented on #55
I have the same requirement: I want to enhance my existing SSO service (C#/Core 2.1, Identity Server 4, ASP.NET Identity, Sqlite, Kestrel webserver) with your great Admin UI.

But I don´t know how to do!

I have seen in the "official" IdentityServer4 - AdminUI tool from Rock Solid, that you can add "UseAdminUI" in the startup.cs and then an additional admin-url is available... that is very easy in

[2018-10-17 06:08] ymind commented on #85
'.zh-cn.resx' is should be '.zh-CN.resx'.
Use lowercase, will can not find the resources under linux/macOS.

[2018-10-17 07:11] skoruba commented on #85
@ymind - I will check it.
Thanks!

[2018-10-17 07:13] skoruba commented on #55
@PKrause79 I will update the README with getting started guide - probable this week :)
Thanks!

[2018-10-18 20:43] ekjuanrejon opened #95 "Use mysql when using template"
Hello

I am following the instructions to create a brand new project using the templates.

My problem is that I want to be able to use MySql. How can I change Log.cs

[2018-10-19 07:19] skoruba commented on #95
Hello @ekjuanrejon
It's great question - please take a look here: https://github.com/saleem-mirza/serilog-sinks-mysql
What error did you get?

I think you need change logging here: https://github.com/skoruba/IdentityServer4.Admin/blob/feature/extensible-aspnet-identity/src/Skoruba.IdentityServer4.Admin/Helpers/StartupHelpers.cs#L139-L142

@xmichaelx @svendu - can you help us with settings of mysql

[2018-10-19 20:32] svendu commented on #95
Hello @ekjuanrejon,

sadly the documentation is not up to date, yet and there is one incompatibility with mysql yet wich has to be fixed. I tried it myself.

[2018-10-20 13:21] skoruba opened #97 "Add UI tests"

[2018-10-20 21:33] PKrause79 commented on #55
I am thinking, why you have separated (standalone) services for IDS4, ASP.NET Identity and your Admin-service? What are the reasons for that? Maybe your appraoch is better and its not a good design to integrate all the 3 artefacts as a "SSO-application" in only one service - what do you think?

[2018-10-21 07:48] skoruba commented on #55
I have created two separated web apps - one for IS4 with Asp.Net Core Identity and AdminUI - I think it is up to you - how you will design this project structure - I prefer this approach. :)

[2018-10-21 17:32] skoruba commented on #95
@ekjuanrejon Have you tried to use MySQL sink? Does it work for you?

Thanks!

[2018-10-22 09:19] skoruba commented on #85
@ymind - I have change all resources to `.zh-CN.resx` - please - can you check it?
Thanks!

[2018-10-23 19:03] #89 closed

[2018-10-23 19:11] skoruba commented on #83
Done in #99 .

[2018-10-23 19:11] #83 closed

[2018-10-23 19:12] skoruba commented on #81
Done on master - #99

[2018-10-23 19:12] #81 closed

[2018-10-23 19:13] skoruba commented on #78
Done on master - #99

[2018-10-23 19:13] #78 closed

[2018-10-23 19:13] skoruba commented on #64
Done on master - #99

[2018-10-23 19:13] #64 closed

[2018-10-23 19:14] skoruba commented on #60
Done on master - #99

[2018-10-23 19:14] #60 closed

[2018-10-23 19:14] skoruba commented on #58
Done on master - #99

[2018-10-23 19:14] #58 closed

[2018-10-23 19:15] skoruba commented on #51
Done on master - #99

[2018-10-23 19:15] #51 closed

[2018-10-23 19:15] skoruba commented on #56
Done on master - #99

[2018-10-23 19:15] #56 closed

[2018-10-23 19:21] skoruba commented on #54
It seems that works correctly - if you have any issue about it - please feel free to reopen.

[2018-10-23 19:21] #54 closed

[2018-10-23 19:22] skoruba commented on #25
Done on master #99

[2018-10-23 19:22] #25 closed

[2018-10-24 06:57] skoruba commented on #87
@NorDroN - I have added the comment about Staging environment into [README](https://github.com/skoruba/IdentityServer4.Admin#tests)
- BTW: Currently constants are available from `appsettings.json` as I mentioned above.
Thanks!

[2018-10-24 06:57] #87 closed

[2018-10-24 06:58] skoruba commented on #86
@mperk I will create this feature in this beta version, I will contact you. :)

[2018-10-24 07:00] skoruba commented on #55
@PKrause79 - I have updated the `master` branch with some information how to use current solution with existing IdentityServer4 instance.
Please take a look, thanks!

[2018-10-24 07:10] Seaear commented on #85
@skoruba
I tested in Ubuntu 18.04, use '.zh-CN.resx' or '.zh-cn.resx' can not find the resource file, but changed to '.zh.resx' can be found, my browser Accept-Language: zh-CN,zh;q=0.9,zh-HK;q=0.8,zh-TW;q=0.7,en;q=0.6

[2018-10-24 07:12] skoruba commented on #85
@Seaear - OK, is it necessary to change all resource files to '.zh.resx'?
Thanks!

[2018-10-24 08:49] Seaear commented on #85
@skoruba
It is best not to change to '.zh.resx', I am translated Simplified Chinese, mainly used in mainland China, there is a big difference between translations in other regions.

[2018-10-24 08:51] skoruba commented on #85
@Seaear - I see, what do you suggest?
Thanks!

[2018-10-24 09:53] Seaear commented on #85
@skoruba
I don't have any good suggestions for the time being, or wait for me to study the problems under Linux in a few days, or wait for someone who knows Linux to solve them.

[2018-10-24 10:17] skoruba commented on #85
@Seaear I will be happy for any feedback from you. I'll be waiting - thanks!

[2018-10-24 18:20] houssam-saissi commented on #82
Hello @skoruba,
Yes, on `StartupHelpers.cs`, I changed:
`context.Properties.ExpiresUtc = new DateTimeOffset (DateTime.Now.AddHours (1));` and the token refreshes every hour so all permissions and roles are up to date ^_^

[2018-10-24 19:11] houssam-saissi opened #100 "How to use Multiple DbContexts ?"
Hi @skoruba ,

How  to use Multiple DbContexts with multiple Databases ?  I want to use :
- 1 database for Clients, ApiScopes, ApiResources, PersistedGrants ...
- 1 database for Users, Roles, UserClaims ...

I have created a new DbContext (AuthDbContext) but i'm confused how to get it work :/

Any idea ? ^_^

[2018-10-25 10:31] skoruba commented on #100
Hi @houssam-saissi
Great question, I will try this use case and I will send some example for you.

Thanks!

[2018-10-25 16:09] dpoblacion opened #101 "Multitenant support"
Hello,

First of all, nice job. Really useful and clear admin UI for IS4.

Any plan to support multi-tenant identity strategies? I know that is not an easy architecture, but it has become very popular concept (and we use it in our service model :) )

Would you consider adding this feature?

I would be willing to help.

[2018-10-26 09:53] skoruba commented on #101
Hi @dpoblacion
great question, currently - I don't have any experience with multitenant support and I have to explore more details about it, but if you are able to provide some details/PR - feel free to do it. :)

Thanks!

[2018-10-26 10:37] BenWolstencroft opened #102 "'xml' Column Type on 'Log' entity incompatible with EntityFramework MySql"
Hi

First off - great project...

.. but there's a but... We'd prefer to use MySql for the backend database, however the use of the 'xml' column type in the model annotations forces the use of an underlying database engine that supports that specific column type.

For now i've got around this by overriding the AdminDbContext with my own which replaces the xml column type with one compatible with M

[2018-10-26 10:47] skoruba commented on #102
Hi @BenWolstencroft

You are right, unfortunatly - MySQL doesn't know anything about xml column, but you are solved very elegant. :)

Please take a look at - https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin/Helpers/StartupHelpers.cs#L139

- It is probable necessary to replace this sink with MySQL sink as well (https://github.com/skoruba/IdentityServer4

[2018-10-29 10:13] benedict1986 opened #103 "Table 'ApiResources' already exists"
Thanks for such a great project.

I have an issue while migrating database.

First of all, I followed the instruction in [EFMigration.md](https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/EFMigration.md) and [Issue102](https://github.com/skoruba/IdentityServer4.Admin/issues/102) to use MySQL. When I run `Update-Database -context AdminDbContext`, I got

`PM> dotnet ef database updat

[2018-10-29 10:20] skoruba commented on #103
@benedict1986 - Have you tried create a clone of project or via `dotnet new template`?
Thanks!

[2018-10-29 10:40] benedict1986 commented on #103
Hi skoruba,

Thanks for such a quick reply. I tried it. But I need to use Skoruba.IdentityServer4.Admin.EntityFramework.DbContexts.dll with the modification mentioned in [Issue102](https://github.com/skoruba/IdentityServer4.Admin/issues/102)

[2018-10-29 10:47] skoruba commented on #103
Hi @benedict1986 - I see, you need to create your own DbContext - where you can inherit from original DbContext - but you will override the method - `OnModelCreating` - as is mentioned in #102
BTW: Please follow these steps for changing DbContext - [steps](https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/Configure-To-Existing-IS4.md)

I will consider easier approach for MySQL.

[2018-10-29 11:35] benedict1986 commented on #103
Hi @skoruba ,

Good suggestion. Now I created my own DbContext which inherent from the AdminDbContext and applied it in Startup.cs. However, it does not solve the `Table 'ApiResources' already exists` issue. I ran the migrate commands

`dotnet ef migrations add DbInit -c AdminDbContext -o Data/Migrations
dotnet ef database update -c AdminDbContext`

But still get the error.  Not sure if we can ski

[2018-10-29 11:45] skoruba commented on #103
Hi @benedict1986

please, check your database - which migrations were applied - if you are create some changes in model - you can create another migrations - `dotnet ef migrations add ChangeToMySql -c AdminDbContext -o Data/Migrations` - BTW: if you have created your solution via `dotnet new template` - the migrations are part of the solution and were probable applied in first run of application.

[2018-10-30 08:36] skoruba commented on #103
Hi @benedict1986 - you are welcome - if you have any question - please let me know.
Thanks!

[2018-11-01 07:55] skoruba opened #105 "Add new project with API management"
Add new project - `Skoruba.IdentityServer4.Admin.Api`:
- Create a list of API controllers - for managing of the `IdentityServer4` and `Asp.Net Core Identity`
- Add swagger support

[2018-11-02 10:14] EricHerlitz opened #106 "Request: Add the user provision to the DI pipeline"
I'd like to see the methods to provision users (i.e. `AutoProvisionUserAsync` etc) in a separate implementation having the Skoruba-implementation as default but allowing us to replace it when needed. It is rather impractical having to modify the `AccountController` after every update.

[2018-11-02 10:17] skoruba commented on #106
Hi @EricHerlitz
I will check it.
Thanks.

[2018-11-04 23:20] renatoferreirarenatoferreira opened #107 "InvalidOperationException accessing Persisted Grants page"
Hi,

I am receiving the following error while accessing the Persisted Grants page (/Grant/PersistedGrants):

This is the useful stack trace information:

![image](https://user-images.githubusercontent.com/12613085/47971245-d2ab3b00-e076-11e8-83e7-064e261ae2df.png)

I have changed only 2 things:
- The project configuration to run it without IIS Express
- The database related code to run using SQLit

[2018-11-05 08:18] skoruba commented on #107
Hi @renatoferreirarenatoferreira
I will check it, thanks for reporting!

[2018-11-05 16:55] fudgeboy2000 commented on #79
This project is awesome - many thanks for all your efforts!  We have an existing IS4 implementation for SSO purposes which doesn't use .NET Identity, so this flag would be the magic bullet for adding Admin to our solution as things stand.

[2018-11-05 18:54] FrankDoersam opened #108 "Host IdentityServer4.Admin on Azure"
Hello,

the project looks really great. How should I do that the service is hosted in Azure?

Yours sincerely
Frank

[2018-11-05 18:58] skoruba commented on #108
Hi Frank,
I will prepare the guide - how to create the “production” release. :)
I will contact you.

Thanks!

[2018-11-05 19:03] FrankDoersam commented on #108
Hello skoruba,

thank you for the fast feedback. I would really appreciate it if you could show how to fully publish the IdentityService in Azure. I wanted to use this for an Alexa skill :).

Yours sincerely
Frank

[2018-11-05 19:42] Munde opened #109 "How to handle multiple roles for same user and Authorize an api"
Hello Skoruba ,
Thanks for this nice project  it helps a lot

But am having  two issues
1. is how can allow multiple roles for a single user , this comes i hand when i have more than one application where user can be able to share the login i tried to implement but it ends up in access denied page failing to authorize the user

2. what are the best way to authorize the API, i tried to implement bu

[2018-11-06 16:21] skoruba commented on #107
Hey, which primary key do you use for UserIdentity? Int as default?
Have you used the latest version from master branch?
Thanks!

[2018-11-06 16:27] skoruba commented on #100
Hi @houssam-saissi,

Sorry for the delay. Currently you need to consider if you want to show the userName and some other information about user in view c
alled PersistedGrants, because this view is bound with Asp.Net Core Identity. Or you can use Services/Repositories of PersistedGrants without relationship to Asp.Net Core Identity and show for example only SubjectId which is part of PersistedGran

[2018-11-06 16:38] skoruba commented on #80
Hey @NTurakulov,

It will be great - please feel free to send PR. I will be happy for that. :)

Maybe - is it necesarry to prepare some environment from me?
Thanks!

[2018-11-06 16:47] skoruba commented on #109
Hey @Munde,
1.) Have you inspect the token - if the token contains a list of roles as you requested from IS4? Btw: did you mean - add more roles to single user via view - /Identity/UserRoles?
2.) I can highly recommend take a look at Samples of IdentityServer4 - there are a lot of great example how to work with API.

[2018-11-06 16:48] skoruba commented on #109
Here: https://github.com/IdentityServer/IdentityServer4.Samples
Sorry

[2018-11-06 17:41] Munde commented on #109
yes i mean multiple roles via identity/UserRoles yes like a may posses two or more roles and i can authorize using one or more roles in the application,
like
[Authorize(Roles="SkorubaAdministrator,SuperAdmin,Customer")]
when i assign more than one role to the user i end up getting this error
![roles](https://user-images.githubusercontent.com/2358895/48082573-0a93b900-e204-11e8-8701-a3c4d5560769.pn

[2018-11-06 18:20] skoruba commented on #109
Could you please check the User object and claims - if the roles are part of these claims?
Does your client ask for roles in scope?
Thanks!

[2018-11-06 18:37] skoruba commented on #109
Btw: take a look here https://github.com/IdentityServer/IdentityServer4/issues/1786#issuecomment-381117764

[2018-11-07 06:04] Munde commented on #109
Yes my client ask role as a part of its scope, when i do assign single role it works as expected but when i add multiple roles to same user i end up i  getting this error
![internal server error](https://user-images.githubusercontent.com/2358895/48113108-6b55dc80-e26a-11e8-9dba-1572ae4468e7.png)

and this are the setting in my AddOpenId
![capture](https://user-images.githubusercontent.com/2358895/

[2018-11-07 07:51] Robban1980 commented on #61
I think an important part here is not also not bind this functionality to a specific storage type, like EventStore.
Raise an audit event and if subscribed to, the implementer can decide what they want to do with it. Be it  storing it in MSSQL, PostgreSQL, EventStore etc.

[2018-11-08 11:38] OculiViridi commented on #55
@skoruba Hi! I'm also trying to add your AdminUI on my existing IS4 instance, but by following the readme I'm not really sure about how to make them works together...

This is my actual IS4 configuration.

**DbContext**

[code]
**Startup class**

[code]

What am I supposed to do on `MyProject.AuthAdminUI.STS.Identity` and `MyProject.AuthAdminUI.Admin` projects?

[2018-11-09 06:30] weedkiller opened #111 "Manage View in Admin"
Hi, I was looking for a view to manager, users/roles and users in roles, roles with users etc.

But when I went here [it said access denied](https://github.com/skoruba/IdentityServer4.Admin/tree/master/src/Skoruba.IdentityServer4.Admin/Views/Account), can you please tell me if there is a different view to accomplish this?

[2018-11-09 09:55] skoruba commented on #111
Hey @weedkiller

Please take a look at https://github.com/skoruba/IdentityServer4.Admin/tree/master/src/Skoruba.IdentityServer4.Admin/Views/Identity

But you have figured out one interesting point - there are not any view where is possible to show a list of users from one specific role - it could be useful as well.

Other views are available above.

Thanks!

[2018-11-09 12:02] gwinnem opened #112 "Newbee question :)"
Tnxs for a super project.
I am just starting playing around with it but i have 1 question.
My start screen in the admin project is not the same as in the readme section.
Am i missing something ?
![image](https://user-images.githubusercontent.com/6427120/48261551-c11fb580-e41f-11e8-8fbf-623fcf8ead65.png)

[2018-11-09 12:18] skoruba commented on #112
Hi @gwinnem
Please - try to Set Startup projects in Visual Studio:
- Skoruba.IdentityServer4.Admin
- Skoruba.IdentityServer4.STS.Identity

And then run it and try to access Admin UI on http://localhost:9000 - you should be redirected to IdentityServer4 instance - it is the screenshot as you have posted above.
And there you will be ask for putting the username and password. :)
Please take a look at

[2018-11-09 14:19] gwinnem commented on #112
Thank you for the quick reply.

[2018-11-09 14:55] gwinnem commented on #112
Another question, sorry for this
I am logged in but getting this error msg. I have not done anything to the database exept running the seed.
![image](https://user-images.githubusercontent.com/6427120/48269395-c4bf3680-e437-11e8-99d4-f5dba2072a2a.png)

[2018-11-09 15:11] gwinnem commented on #112
As far as i managed to see, both of the values are http://localhost:9000/signin-oidc

[2018-11-09 15:16] skoruba commented on #112
Thas is correct. ClientId for Admin is set as a default? skoruba_identity_admin? If I remember correctly :))
Maybe please try run STS in console app and check the console log for this error.
Thanks!

[2018-11-09 15:20] gwinnem commented on #112
Found the issue, the IdentityAdminRedirectUri in appsettings was wrong. :) Pointing to port 5000 instead of 9000

[2018-11-09 15:21] skoruba commented on #112
Great catch! :)

[2018-11-09 15:29] gwinnem commented on #112
Another tip, if someone do not want to see the identityserver page, set
**"launchBrowser": false,**
In the Skoruba.IdentityServer4.STS.Identity launchSettings.json

[2018-11-09 15:31] skoruba commented on #112
Good tip, I didn’t know it :)

[2018-11-09 15:31] gwinnem commented on #112
Then the server launches without launching the browser :)

[2018-11-09 15:40] gwinnem commented on #112
Is there a easy way to use email instead of username as login ?

[2018-11-09 17:38] weedkiller commented on #111
Thanks for sharing the link, very nice work 👏 🏅

Your solution is the only truly full spectrum admin from what I can tell. I am trying to help/share some ideas and UI's from around so we can collect that under one view.
Ideas/Examples -
Claims --
![image](https://user-images.githubusercontent.com/21086190/48278739-633d9e80-e41c-11e8-9e37-38ec33a3ae15.png)
__________
roles
![image](https://user-ima

[2018-11-09 19:55] Hens94 opened #113 "Login button doesn't work on Internet Explorer"
When I try to login on Login view using internet explorer, the login button doesn't work. I tried with other browser and this issue doesn't happen

Regards

[2018-11-09 20:38] skoruba commented on #113
Hey,
I will check it, thanks!

[2018-11-10 15:00] wally666 opened #114 "AddAdminAspNetIdentityServices and DbContexts from IdentityServer4"
Hi Skoruba,

I have PersistedGrantDbContext defined in IdentityServer4 project. I have extended the context with your IAdminPersistedGrantDbContext interface and current it looks like following:

`public class PersistedGrantDbContext : IdentityServer4.EntityFramework.DbContexts.PersistedGrantDbContext<PersistedGrantDbContext>,
        IAdminPersistedGrantDbContext
    {
        public PersistedGra

[2018-11-10 16:57] wally666 commented on #114
On the IdentityServer side I have 3xDbContext:
1. DatabaseContext inherited from IdentityDbContext and registered with my impelmentation of user:

services.AddIdentity<ApplicationUser, IdentityRole>()
                  .AddEntityFrameworkStores<DatabaseContext>()
                  .AddDefaultTokenProviders();

2.  ConfigurationDbContext registered by AddConfigurationStore
3. PersistedGrantDbContex

[2018-11-10 18:48] skoruba commented on #114
OK, I see your requirement, but currently is necessary to implement DbContext like you mentioned above, because some view which are bound with Identity and PersistedGrants.
I will consider to create an alternative overload and remove this required inheritents.
Thank you for your great feedback!

[2018-11-10 19:42] cerginio opened #115 "Upgrade db schema to Ids4 2.3"
Consider to upgrade admin tool to the latest IdentityServer4.EntityFramework preview version.

 https://github.com/IdentityServer/IdentityServer4/releases/tag/nuget_2.3.0-preview2
https://github.com/IdentityServer/IdentityServer4.EntityFramework/releases/tag/nuget_2.3.0-preview2
Those versions tested and i find them  as very mature despite on preview status.
From critical improvements from adminis

[2018-11-10 19:50] cerginio opened #116 "Add fork of UI tests to CI pipeline"
Initially created UI tests for Admin tool.
Work in progress, welcome to contribute.
https://github.com/cerginio/IdentityServer4.Admin.UITests

They already covers client creation and validation scenario and resource creation and validation.
Developed Steps allows to setup clients and resources (scopes) by specification via admin UI.

Soon will be added integration tests to validate client id_token

[2018-11-10 20:32] skoruba commented on #115
I will create new branch for this update to IS4 - 2.3
Thanks!

[2018-11-10 22:05] papyr commented on #112
hi, whats the default user name and password after uncommenting the `seed` function in startup. I did not find that in the docs.

[2018-11-10 22:20] papyr opened #117 "Initial clone and run, fails IOException: IDX20804:"
Hi, I downloaded the full SRC repo from Github. Updated to latest Nugets (unit tests project has one issue on `ShouldBeAbleTo`(), fixed that)

- [ ] Then uncommented Seed - not sure what the demo/default user/pass are, do I need to register.
- [ ] The ran migrations (which project should we run this migration under) I assumed .Admin as per the set startup project docs

Below is the error, I double

[2018-11-10 22:48] papyr commented on #117
never mind... jhunted through code and comments to close out..

[2018-11-10 22:48] #117 closed

[2018-11-11 11:08] gwinnem opened #118 "Question. How to extend user role and user details."
I am working on extending the user and role details is there an easy way of doing this ?
I thought it was enough to update the role and user details in the classes and then extend the repository update functions.
But i was not able to do that.
Btw I have extended all the views and Dto's so it is only the Create and Update functions im not able to change.

[2018-11-11 11:11] gwinnem commented on #80
Maybe check out where the documentation for Identityserver4 is being built as a reference ?
I will be using this project in our production applications and would be happy to contribute with howtos etc during the process.

[2018-11-12 01:15] chenchunyunneo opened #119 "What is the use of persisted grants?"

[2018-11-12 02:41] papyr commented on #111
Hi @skoruba , I wanted to share that your solution is the only non-selfish, yet beautiful and well written one!

1. Please consider adding a donate button. For e.g. in most cases big companies have an army of engineers. But really it help a lot lot lot, small free lancers, could also use this solution. Majority are direct user/role/administration for single ASP MVC or core applications, so
2. Stro

[2018-11-12 07:11] NTurakulov commented on #80
Good idea! Checked it - and yes, they use Read The Docs =)

[2018-11-12 09:03] skoruba commented on #118
Hi @gwinnem
Have you tried to use project via template or clone? :)
You can try to create your own implementation of `UserIdentity` and `UserDto` and these objects pass into generic repositories/services - BTW - you should start with `AddAdminAspNetIdentityServices` in Startup class and `IdentityController` as well.
Thanks!

[2018-11-12 09:04] skoruba commented on #119
Hey, what do you mean? Could you send more context?
Thanks.

[2018-11-12 09:06] skoruba commented on #80
I have to figure out - how to connect Read the docs to Github repo - for automatic build/publish. :)

[2018-11-12 09:31] chenchunyunneo commented on #119
Can I provide a UI manual to introduce all the functions?

[2018-11-12 09:35] gwinnem commented on #80
Just pop me an email when you have something up and running.

[2018-11-12 09:37] gwinnem commented on #118
Hi @skoruba
I suppose it is enough to replace all the Identity and Identity role references with a AppUser inheriting from the IdentityUser and a AppRole inheriting from the IdentityRole. Will try that later today and let you know if it worked.

[2018-11-12 12:10] cerginio commented on #115
I would keep preview in separate branch while 2.3 preview 2  it is not released as stable 2.3.3.
And also i would add tag Ids4.2.2 for current master to match Admin versions against Identity Server versions. Or even to have Ids4 version branches to explicitly provide compatibility for 3 recent ids4 versions.

[2018-11-13 14:41] RobCodemonkey commented on #80
Likewise - I'll be working with this so would love to contribute. Docs and/or code :)

[2018-11-15 18:16] renatoferreirarenatoferreira commented on #107
Yes, int as default. I think so, as I haven't changed it.

I was using the IdentityServer4.Admin-1.0.0-beta4 downloaded from releases page.

I tried again cloning the master branch and I received a different stack, but the problem is still there:

![image](https://user-images.githubusercontent.com/12613085/48572748-6ab7e880-e8f1-11e8-8804-c93a0d5303fb.png)

Isn't it something related to SQLite? I

[2018-11-16 14:30] RobCodemonkey commented on #80
@skoruba It looks like it's fairly simple to set up the integration with gitbug and readthedocs:
https://github.com/rtfd/readthedocs.org

[2018-11-18 12:44] skoruba commented on #80
Thanks for these details - I will check it. :)

[2018-11-18 14:50] Seaear commented on #85
@ymind @skoruba
This issue has nothing to do with uppercase and lowercase. This is an msbuild bug.
https://github.com/dotnet/coreclr/issues/20388
https://github.com/Microsoft/msbuild/issues/3897

[2018-11-20 20:55] skoruba commented on #115
Currently available final version of IdentityServer4 - 2.3.0 - https://github.com/IdentityServer/IdentityServer4/releases/tag/2.3.0

[2018-11-23 12:01] NTurakulov opened #121 "Docker support"
Hey guys!
I tried to pack the project into docker to make it easy to deploy and faced some problems, maybe some one could help here. Changes published to [docker branch](https://github.com/NTurakulov/IdentityServer4.Admin/tree/docker)

**Requirement**
Make it easy to deploy Identity Server Admin to use it in different apps as a part of micro service architecture. I saw somewhere in the feed that @

[2018-11-23 12:02] NTurakulov commented on #121
Accidentally I pushed changes into branch in my fork. I guess there should be a way to cherry pick them here?

[2018-11-24 13:39] Sindrenj commented on #112
I guess you could fill in the email as the username in the username-field. That should work.

[2018-11-25 22:34] papyr opened #123 "Install option with two recipes - simple integrated for web app, standalone server"
Hello @skoruba this has much broader application to many of us and much broader use.

For those of us, who dont need a full fledged server just for identity can you also provide a simple recipe, that can be housed internal to the web app. Here, an install option with two recipes - simple integrated for web app, standalone server.

Also for those of us learning from your server implementation, can

[2018-11-26 16:50] Munde commented on #109
We have been able to solve it by adding this piece of code on option.Events
`OnUserInformationReceived = async context =>
                        {
                            if (context.User.TryGetValue(JwtClaimTypes.Role, out JToken role))
                            {
                                var claims = new List<Claim>();
                                if (role.Type != JTokenType.Arr

[2018-11-27 13:52] RobCodemonkey commented on #123
Hi @papyr - are you talking about an executable installer or a guide?

[2018-11-27 14:14] skoruba commented on #121
Hi @NTurakulov
Thank you for your effort to run this admin in docker. I don't have any experience with docker yet.
How can I help you with better preparing this project to running in docker?
Thanks!

[2018-11-30 01:43] pigwing opened #124 "now change the password not work"
when i change the password it display successed but actually the password is old value

[2018-11-30 01:55] #124 closed

[2018-12-01 13:30] murattdogan opened #125 "When will the first release be released"

[2018-12-01 14:51] skoruba commented on #123
@papyr - Could you please specify - what do you recommend to add/modify? What properties do you suggest to put into the configuration file?
Thanks!

[2018-12-01 15:01] skoruba commented on #125
Hi @murattdogan - Currently, I am working on upgrade to IS4 2.3., after that I have to add the audit logging.
I would like to do it this month, maybe next month, according my free time. :)
Thanks!

[2018-12-02 16:39] #125 closed

[2018-12-04 09:56] NielsOldenburg commented on #121
Hey Guys,
we are on the verge of trying something similar. Unfortunately i'm just starting to work with docker, so right now i might not be the best judge for this, but our software architect told me that splitting your solution in two different repos would make it easier to put the id4 server and the administration service in two different docker containers.

So far i have forked your repo and sp

[2018-12-05 10:23] Ylvur opened #126 "Picker not working"
Hi!

I have just set up the AdminGui but none of the pickers is working for me.
Textboxes and checkboxes works fine.

First: it is only possible to enter one in the gui, for example scope. The next one we enter replace the first one in the gui even though multiple-select="true".

Second: Noting is saved to the database, all list are empty in the inparam to the controller (ClientDto).

Third: If I

[2018-12-05 12:38] smellogrand opened #127 "Numeric Ids vs Guids"
Great work, really appreciate it.
One suggestion, as many old timers using IS3/IS4 in real life projects I have used Guids for ids on entities and was somehow surprised  in seeing that your base implemantation is instead using numeric Ids.
Of course you have provided good documentation on how to change things to support Guids, thank you for that, but, as I assume you and colleagues also have exper

[2018-12-05 12:49] skoruba commented on #127
@smellogrand Thanks for you suggestion, I will consider to use guid as default.

[2018-12-05 14:34] Seaear commented on #127
@smellogrand
https://github.com/Seaear/IdentityServer4.Admin/tree/pk-guid

[2018-12-07 16:36] ekjuanrejon opened #128 "UserIdentity"
Hello

How to extend UserIdentity when using the nuget packages. The IoC does not seem to play nice

[2018-12-11 09:24] tiwari-abhishek commented on #115
This is a blocker. Please fix asap.

[2018-12-11 11:37] skoruba commented on #115
@tiwari-abhishek Yes :)

[2018-12-11 14:08] FieldMarshallVague commented on #114
@wally666 Did you manage to get this working?  I am having the same problem (using an existing IS4 instance with AspNetIdentity).  I'd really appreciate a code example or some guidance in making this change).

[2018-12-12 12:34] FieldMarshallVague commented on #119
This is more of an IdentityServer question, which is covered a bit by this issue on the IS4 repo:

https://github.com/IdentityServer/IdentityServer4/issues/414

Basically, the persisted grants are tokens and other data that the STS server generates from authenticated user interactions that need to be stored for some time (generally longer than an access token's lifespan, which is why access tokens

[2018-12-12 14:39] FieldMarshallVague commented on #114
@skoruba When you say "but currently is necessary to implement DbContext like you mentioned above", do you mean that you can implement this by:
`where TPersistedGrantDbContext : DbContext`
Or were you saying that it is not a simple change and would need a new overload to make this work?

[2018-12-13 08:04] skoruba commented on #126
Hi @Ylvur
have you tried to click on item in search block?
Thanks!

[2018-12-13 08:57] Ylvur commented on #126
Yes. The value get replaced every time and noting is saved to database.
When manually entered in database values are not shown in GUI.
[Picker.zip](https://github.com/skoruba/IdentityServer4.Admin/files/2675161/Picker.zip)

[2018-12-13 13:16] skoruba commented on #126
Any javascript error in console?

[2018-12-13 13:37] Munde commented on #126
Also in Skoruba.IdentityServer4.Admin pickers heavily depends on tag helpers if u have changes the project name to new name likely will break the pickers so in _viewImport.cshtml under shared folder remember to rename the add tag helper assembly name @addTagHelper *, Skoruba.IdentityServer4.Admin name to your project new assembly name

[2018-12-13 13:58] skoruba commented on #126
@Munde Great idea! I can see in video, that your checkboxes are broken as well. Please take a look at TagHelper import or JS error as well.
Thanks!

[2018-12-13 14:01] skoruba commented on #128
Hi @ekjuanrejon
Have you tried to create your UserIdentity object and pass it into DI?
Please, follow these steps - https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/Configure-To-Existing-Identity.md
Let me know if you will have any issues.
Thanks-

[2018-12-14 13:53] Ylvur commented on #126
Thank you so much @Munde, we changed the projectname so renaming the taghelper made all the difference. Now it works fine!

[2018-12-14 13:53] #126 closed

[2018-12-14 16:31] ekjuanrejon commented on #128
Hello I wanted to added more properties like FacilityId and OrganizationId but I don't think it is not supported. I ended up updating Skoruba.IdentityServer4.Admin.EntityFramework.Identity.Entities.Identity.UserIdentity and created a new nuget package.

I tried to inherit from that class but the IoC was failing.

[2018-12-15 13:09] skoruba commented on #123
Hi @papyr - thank you for your feedback - I will consider to add these things into next releases. :)
I will inform you with the progress.

[2018-12-15 15:38] skoruba opened #131 "Update project to .NET Core 2.2"

[2018-12-17 17:31] drasalskis commented on #113
Problem is not Login button, but always invalid login form when checking for required fields (Username and Password), because of bug in jquery-validation plugin 1.18.0.

Upgrade jquery-validation plugin to v1.19.0 to solve this issue.

More info here:
https://github.com/jquery-validation/jquery-validation/issues/2211

[2018-12-17 18:02] skoruba commented on #113
Thanks, I will update it!

[2018-12-23 22:20] pkozak2 opened #133 "Posibility of using Admin as IdentityServer Area page"
It is possible to set Admin.UI as part of identityServer UI in separated Area for Admin role? Creating Admin app as separated client is not comfortable in my case - I need merge this two projects into one. How can I do this? I have existing IS4 instance.

[2018-12-25 14:10] skoruba commented on #115
Here is updated project to IS4 2.3 - https://github.com/skoruba/IdentityServer4.Admin/tree/feature/upgrade-ids4-2-3
I will merge it into master.

[2018-12-25 15:50] skoruba commented on #131
Here is updated project to .NET Core 2.2 - https://github.com/skoruba/IdentityServer4.Admin/tree/feature/upgrade-ids4-2-3
I will merge it into master.

[2018-12-25 16:07] TomasHubelbauer opened #134 "Migrate CI to Azure Pipelines"
Let's catch up and discuss migrating the CI to Azure Pipelines, they allow testing on all three platforms and there can be up to 10 parallel builds, which should be better than AppVeyor.

[2018-12-25 19:03] skoruba commented on #134
I agree with you. Currently I get `The current .NET SDK does not support targeting .NET Core 2.2.` from appveyor build. I have to wait for update on AppVeyor. It will be nice to use Azure Pipelines.

[2018-12-25 19:08] skoruba commented on #133
@pkozak2 It's a great idea. I will create a razor class library for this purpose, but in the future. :)
Thank you.

[2018-12-25 19:17] TomasHubelbauer commented on #134
I've set it up on my personal account for now:

[![Build Status](https://dev.azure.com/tomashubelbauer/IdentityServer4.Admin/_apis/build/status/IdentityServer4.Admin-CI?branchName=master)](https://dev.azure.com/tomashubelbauer/IdentityServer4.Admin/_build/latest?definitionId=8?branchName=master)

Right now it runs tests on `master`. I cannot set it up so that it runs on each commit yet, because I

[2018-12-26 17:02] skoruba commented on #113
@drasalskis - You are right, I've updated jquery-validation and now it's working great. Thank you!

[2018-12-26 18:42] skoruba commented on #33
Currently, device flow is part of IS4 2.3 and available in this administration on branch: https://github.com/skoruba/IdentityServer4.Admin/tree/feature/upgrade-ids4-2-3 - I will merge it into master.

[2018-12-27 20:21] skoruba commented on #121
@Seaear - add support for docker - #132 - please take a look.
Thanks!

[2018-12-28 02:20] cnkker opened #135 "How to use mongdb"
How to use mongdb?help...

[2018-12-31 16:03] TomasHubelbauer opened #138 "Explore Azure Pipelines GitHub Marketplace app for PR Checks tab"
https://github.com/marketplace/azure-pipelines

[2018-12-31 16:03] TomasHubelbauer commented on #134
I am going to close this issue as it has been completed now. I have created #138 for the Checks tab in PRs.

[2018-12-31 16:03] #134 closed

[2018-12-31 17:48] skoruba commented on #131
It is merged into `dev` branch. I will merge it into `master` soon - #137

[2018-12-31 17:48] skoruba commented on #115
It is merged into `dev` branch. I will merge it into `master` soon - #137

[2018-12-31 19:14] skoruba commented on #80
I've added the support for docs on http://readthedocs.org
I've tried to add the homepage - currently the preview is available on `dev` branch:
https://github.com/skoruba/IdentityServer4.Admin/tree/dev/docs
and
https://skoruba-identityserver4-admin.readthedocs.io/en/dev/

Thanks for suggestions @RobCodemonkey @NTurakulov @gwinnem

[2019-01-06 19:23] xmichaelx opened #139 "Allow for email to be used instead of username in the logging screen"
Some websites allow for this in order to have one string less to remember. It would be nice to consider it as an option.

[2019-01-07 09:32] xmichaelx opened #142 "Add branding"
Add option to:
- add your own logo to main screen and favicon
- change the name from Skoruba.Identity to your company/organization name and add "powered by Skoruba.IdentityServer" so that there is still some credit but some can easily insert his own brand

[2019-01-07 09:34] xmichaelx commented on #119
It may be a good idea to add in the UI some links to official IdentityServer documentation if someone wants more context. What do you think?

[2019-01-08 13:52] xmichaelx opened #143 "2FA with authenticator apps"
As suggested by @skoruba it's important to support 2FA.

Here's one way of doing it:
https://dzone.com/articles/aspnet-core-two-factor-authentication-using-google

Basically app installed on you phone and QR code presented in UI:
https://play.google.com/store/apps/details?id=com.azure.authenticator&hl=en_US
https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en

[2019-01-08 13:59] xmichaelx commented on #143
@Seaear how about 2FA apps in China? Do you have any preferences for those?

[2019-01-08 23:33] asuricode opened #144 "InvalidOperationException: The property '' on entity type 'UserIdentity' could not be found. Ensure that the property exists and has been included in the model."
I am getting the following exception when selecting Manage on Persisted Grants Tile in the Admin UI. I have followed all the steps to change the userid form int to string (not Guid since the database ASPNetusers has it as string)

InvalidOperationException: The property '' on entity type 'UserIdentity' could not be found. Ensure that the property exists and has been included in the model.

Please

[2019-01-09 13:55] shepax commented on #131
@skoruba, can you please update the info to use mysql.

[2019-01-10 07:30] skoruba commented on #131
@svendu - Could you please check it - is it any update for mysql?
Thanks!

[2019-01-10 08:41] svendu commented on #131
@skoruba - I'll try to get my hands on it at the weekend.

[2019-01-14 19:08] eduardobarbiero commented on #33
@skoruba did you even merge?

[2019-01-15 06:58] skoruba commented on #33
Sure, I will merge it this week.
Thanks

[2019-01-15 23:38] #109 closed

[2019-01-18 12:57] #113 closed

[2019-01-18 12:59] skoruba opened #148 "Add extensions for loading certificates for IS4"

[2019-01-18 13:00] skoruba commented on #148
DONE - in #137

[2019-01-18 13:00] #148 closed

[2019-01-19 07:14] skoruba commented on #33
Done. :)

[2019-01-19 07:14] #33 closed

[2019-01-19 07:14] skoruba commented on #131
Done

[2019-01-19 07:14] #131 closed

[2019-01-19 07:15] skoruba commented on #115
Done.

[2019-01-19 07:15] #115 closed

[2019-01-19 07:16] skoruba commented on #85
Done

[2019-01-19 07:16] #85 closed

[2019-01-19 07:17] skoruba commented on #62
Done

[2019-01-19 07:17] #62 closed

[2019-01-20 12:27] skoruba opened #149 "Add profile management into STS"
We can use Scaffold Identity:
- https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio

Or use MVC version
- https://github.com/damienbod/IdentityServer4AspNetCoreIdentityTemplate

[2019-01-20 13:33] xmichaelx commented on #123
@papyr we're working on it right now, you can track progress in #149

[2019-01-21 06:47] RobCodemonkey opened #150 "Signing Credential Management"
**Task**: Create an easier way to handle signing credential changes.
**Description**:
Currently, switching to production signing credentials is a little tricky. I know this has been partially handled using CertificateConfiguration and appsettings.json but aim is to make this switch easier.

@skoruba I have completed this for my fork that I'm working on, I'm testing it now - if you have no objectio

[2019-01-21 08:06] skoruba commented on #150
Hi @RobCodemonkey ,
Sure, please send a PR, I will check it. :)
Thanks!

[2019-01-21 23:13] svendu commented on #102
@skoruba #147 should take care of making it compatible with mysql. The replacement of the sink with the MySQL sink is only necessary, if you don't want to log to a file.

[2019-01-22 15:31] shepax commented on #131
Thank!!!

[2019-01-23 02:21] michshat commented on #48
@skoruba it's incredible. Thank you. Looking forward to the tutorial for the Azure.

[2019-01-23 07:50] xmichaelx commented on #48
@michshat [Here](https://github.com/skoruba/IdentityServer4.Admin/blob/add-tutorial-for-azure-deploy/docs/Configure-Azure-Deploy.md) you have dev version of the tutorial. I'll need to go over it once more before pulling it into master.

[2019-01-24 22:03] xmichaelx opened #153 "Checking SQLite support"
Is anyone remotely interested in investigating support for SQLite as store? With EF Core it shouldn't be hard. This is a low priority stuff right now - just checking if there is any demand.

[2019-01-24 22:04] xmichaelx commented on #112
You can check progress of using email instead of username as login in #139

[2019-01-24 22:04] #112 closed

[2019-01-25 12:01] qbus00 commented on #144
Hi, I've faced the same issue today.
I found some suggestions that there's a bug in EntitiFramework.Core which is appearing when there's SelectMany with Join in LINQ used.

As a workaround I've created my own persistantgrants repository class and replaced this phrase:
`var persistedGrantByUsers = (from pe in _dbContext.PersistedGrants
                                     join us in _dbContext.User

[2019-01-25 12:49] skoruba commented on #144
Hi guys, thank you for reporting, I will check it. :)

[2019-01-25 17:56] andy-cheetham commented on #55
Was there any progress made on a document detailing how to add this very nice UI to an existing IS4 project?

Cheers

[2019-01-26 07:22] lurumad opened #154 "[Question] IdentityUser<string> and default Idsrv4 DbContexts"
Hi folks,

First, thank you for your awesome project and all your efforts to bring the community a free AdminUI for IdentityServer4.

I have a couple of questions about the Skoruba internals architecture:

¿Why don't use the generic base for ASP.NET Identity Core IdentityUser<T>?
¿Why don't use Idsrv4 DbContexts instead of creating interfaces like IAdminConfigurationDbContext and IAdminPersistedGr

[2019-01-26 07:56] skoruba commented on #154
Hi @lurumad

- You are right, I will change it back to the default - I get same feedback already.

- These intefaces are based on the default IS4 interfaces but extended with some extra stuff specific for Admin part - especially `IAdminConfigurationDbContext` where there is necessary to work with whole IS4 db model

- This is great question - I consider excluding it - good point.

I will contact y

[2019-01-26 08:41] lurumad commented on #154
Thank you so much for your answers!

Regards!

[2019-01-26 11:57] damienbod commented on #143
I also have an example for TOTP (QR Codes) here, might help you.

https://github.com/damienbod/IdentityServer4AspNetCoreIdentityTemplate

[2019-01-26 13:41] skoruba commented on #143
@damienbod - Thank you for your link - we will use your example for profile management in general.
I will add this reference of your project into readme as well.

[2019-01-27 15:44] yehia2amer opened #155 "SPA CORS Requests are Blocked"
Hi,
First of all Thanks for Creating this awesome tool and making it Open Source 💯

When I Try use identityServer4 from SPA (Angular) application I got this error:
`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:5000/.well-known/openid-configuration. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).`

I did some Research an

[2019-01-27 18:49] xmichaelx commented on #155
Thanks! Could you provide a PR with proposed changes?

[2019-01-27 19:44] skoruba commented on #154
@lurumad - Here is preview - I've changed the primary key for Identity to `string`:
https://github.com/skoruba/IdentityServer4.Admin/tree/feature/identity-default-key

[2019-01-27 19:45] skoruba commented on #127
I've changed the int to string (guid) - here is preview:
https://github.com/skoruba/IdentityServer4.Admin/tree/feature/identity-default-key

[2019-01-28 07:24] hxjhaker opened #157 "dotnet run /seed is error"
![default](https://user-images.githubusercontent.com/5977354/51820409-981d0b80-2310-11e9-9ebc-1e6e77557498.png)

Cloning new project  1.0.0-beta5

[2019-01-28 08:12] skoruba commented on #157
Do you have prepared migrations for this seed before?

Please, take a look at:
https://github.com/skoruba/IdentityServer4.Admin#ef-core--data-access

[2019-01-28 13:55] yehia2amer commented on #155
After Debugging I discovered that the "CorsPolicyService" is injected properly.
It was a simple mistake from me :(
In the **Allowed Cors Origins** I need to remove the last forward slash (/) to be : `http://localhost:4200` not `http://localhost:4200/` That's it !

Can we check that in the UI using this regex: `.*[^\/]$` to ensure that users don't repeat the same mistake  !

[2019-01-28 20:57] TheEvilPenguin commented on #154
I did a little work a while back towards using generics to control the key type.  It's still a little rough around the edges and based on an old revision, but it does work:

[Dev branch](https://github.com/TheEvilPenguin/IdentityServer4.Admin/tree/dev)

If it looks promising I can merge later changes back in, tidy it up a bit and do a pull request.

[2019-01-29 02:22] hxjhaker commented on #157
Thank you !  You're right.

[2019-01-29 08:21] smellogrand commented on #127
Thanks, I believe this is more in line with recent patterns.
I suggest changing the wron title I inserted originally from mimeric to numeric.

thanks for your very useful development

sergio

[2019-01-30 10:57] skoruba commented on #157
Thank you for your feedback, that is working now. :)

[2019-01-30 10:57] #157 closed

[2019-01-30 10:58] skoruba commented on #155
@yehia2amer - Thank you for your feedback, I will add this validation after creating/updating client.

[2019-01-30 11:00] #103 closed

[2019-01-30 11:03] skoruba commented on #102
Done, with PR from @svendu.
It will be merge into master.
Thank you.

[2019-01-31 07:23] skoruba opened #158 "iOS12 - authentication issue"
Available solutions:

1)
[code]

2) https://brockallen.com/2019/01/11/same-site-cookies-asp-net-core-and-external-authentication-providers/

[2019-02-01 09:04] knepe opened #160 "Migrations with Npgsql"
I cloned your project and change to use Npgsql instead in RegisterDbContexts. When I try to add migrations I get this error:
`Method 'Clone' in type 'Microsoft.EntityFrameworkCore.Infrastructure.Internal.NpgsqlOptionsExtension' from assembly 'Npgsql.EntityFrameworkCore.PostgreSQL, Version=1.1.1.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' does not have an implementation.`

Any suggestion o

[2019-02-01 09:35] xmichaelx commented on #160
Make sure you've installed both `Npgsql.EntityFrameworkCore.PostgreSQL` and `Npgsql.EntityFrameworkCore.PostgreSQL.Design`. I remember having this issue once and uninstalling postgre dependencies and installing them again (with .Design) helped.

[2019-02-01 10:02] xmichaelx commented on #158
I'd opt for 2 and even make it specific so that this change is made only for recent Safari browsers some user-agent detection logic like: https://github.com/wangkanai/Detection

If iOS12 has the issues let's fix it only for iOS12 and let's not downgrade security for everybody :)

[2019-02-01 11:57] skoruba commented on #158
@xmichaelx - Good point, I will test the code from Brock above. :)

[2019-02-01 12:31] knepe commented on #160
Thanks it worked when adding `Npgsql.EntityFrameworkCore.PostgreSQL` and not only `Npgsql.EntityFrameworkCore.PostgreSQL.Design`
Maybe update the docs to also include `Npgsql.EntityFrameworkCore.PostgreSQL` here https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/EFMigration.md#postgresql ?

[2019-02-01 12:38] TomasHubelbauer commented on #160
@knepe Feel free to send a PR our way. :-) I agree that should be added to the docs.

[2019-02-05 15:19] duki994 commented on #149
@skoruba

Just a quick heads-up.
There is a little issue on scaffolder.

All projects must use C# 7.0 or less to be able to run scaffolder.
Then can be switched to C# 7.0+.

Can be problem if default literal was used throught project (haven't noticed it).

I will see to integrate it and send a PR request in free time since I already have something like that in an older project (but it's upgraded t

[2019-02-05 15:47] skoruba commented on #149
@duki994 - Please, take a look at this PR: https://github.com/skoruba/IdentityServer4.Admin/pull/161
- We are working on it. :)
Thank you.

[2019-02-06 21:54] pbros commented on #128
Hello,

I am trying to achieve the same thing. One of the issues that I see is that the AdminDbContext specifies "UserIdentity" directly and not a generic type that can be injected.

The documentation (https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/Configure-To-Existing-Identity.md) relies on changing the code in `Skoruba.IdentityServer4.Admin.EntityFramework.DbContexts` and `Sk

[2019-02-07 02:28] Bostrong commented on #154
@TheEvilPenguin  .. excellent !! Just the ticket to convince me to start using this Ids4 addition.

.. and also thanks for the great work on this @skoruba  ... will try to contribute where possible.

[2019-02-07 08:13] skoruba commented on #154
@TheEvilPenguin - Your changes looks really good, much cleaner especially in views - where you are using the interface.
Can you please send the PR with your changes? Ideally into latest dev branch. :)
Thanks!

[2019-02-07 08:20] skoruba commented on #128
Hello @pbros
currently, it is designed that if you want to use another Identity model, you have to create your own DbContext. :)
Good point, I will think about generic version of DbContext as well.
Thanks.

[2019-02-07 10:49] elyasnew commented on #55
I tried to use this AdminUI with my existing DbContext & IS4, but after spending 8 hours I decided to just write my own admin panel with the help of cshtms in skoruba. I wish it could be much more easy to setup

[2019-02-07 11:26] skoruba commented on #55
@elyasnew Did you try using this Admin via dotnew template or clone whole solution?

Please, can you give me some points for improvements? I am happy for any suggestions.

Thank you for your feedback!

[2019-02-07 12:12] FieldMarshallVague commented on #119
To all, it's worth noting that Identity Server is an *implementation* of OpenID Connect/OAuth 2.0 specifications, so the original documentation is a good source of knowledge on the terminology and reasoning behind architectural decisions.

These can be used as references for creating links in the Admin UI docs.  I'm sure PRs would be gratefully received!

https://openid.net/specs/openid-connect-co

[2019-02-08 16:30] pbros opened #162 "IdentityService should only return Generic Types"
The IdentityService uses Generic Types for most of it's methods, but not for the "plural" calls, which prevents from using our own DTO types without re-implementing the service or extending it.

For example, the 2 following methods should return `Task<TUsersDto<TUserDto, TUserDtoKey>>` and `Task<TRolesDto<TRoleDto, TRoleDtoKey>>` respectively

[code]

[2019-02-08 17:12] skoruba commented on #162
@pbros - Good point, I will change it. 👍
Thank you!

[2019-02-09 16:32] skoruba commented on #61
Currently I am working on this stuff here:
https://github.com/skoruba/IdentityServer4.Admin/tree/feature/audit-logging

[2019-02-10 04:01] toenee commented on #144
I also ran into this issue today.  Here's my workaround, which involved minor changes to lines [46](https://github.com/skoruba/IdentityServer4.Admin/blob/dev/src/Skoruba.IdentityServer4.Admin.BusinessLogic.Identity/Repositories/PersistedGrantAspNetIdentityRepository.cs#L46) and [50](https://github.com/skoruba/IdentityServer4.Admin/blob/dev/src/Skoruba.IdentityServer4.Admin.BusinessLogic.Identity/R

[2019-02-10 05:07] papyr opened #164 "Documentation - basic definitions"
Many of the features and terms are not well known, preventing easy adoption of a great framework.

Would be nice to have someone who knows what those terms mean, put the definition in.

[2019-02-10 06:05] elyasnew commented on #55
I don't know why I'm redirecting to Access Denied Page while I had set the role and user role properly

[2019-02-10 07:07] skoruba commented on #86
Currently is the Picker component modified for editing the selected items - the changes are available on dev branch.
Thanks for great point!

[2019-02-10 07:10] skoruba commented on #164
Can you please specify what features do you mean? I will add then into docs.
Thank you

[2019-02-10 18:16] xmichaelx commented on #164
Yeah, @skoruba @TomasHubelbauer  are doing this currently in our free time, we want to provide the best value possible but we need some help with docs - well defined requirements on what tutorials/structure of documentation is desired are especially welcome :)

[2019-02-11 14:50] Brice-xCIT commented on #55
@elyasnew I had this issue also during integration. Did you add the "roles" identity resources? Checklist: you need in DB 1) the role 2) an admin user with the right role 3) the roles identity resources with the role scope (@skoruba why is this even needed? I can't find mention of it in the code) 4) the right client with allowed scopes

[2019-02-11 15:11] xmichaelx commented on #160
#167 Added pull request for this one.

[2019-02-11 16:50] Brice-xCIT commented on #55
I finally managed to integrate this project with my IdentityServer4 install. The core issue I was trying to solve was to separate the data contexts for configuration, persisted grants, logs and identity. During my early explorations, I discovered that IdentityServer4.Admin assumes all of these things should be in the same data context (i.e. the same database) and that, considering the amount of wo

[2019-02-11 17:28] elyasnew commented on #55
Thank you @Brice-xCIT for your reply, I absolutely agree with you that the configuration should be as simple as just writing app.UseIdentityServerAdminUI().
I have modified lots of IS4 classes and for using AdminUI I should modify all the Dto and Entity classes again, and as I mentioned before, after 2 days messing around with it, I decided just to get help of the cshtmls and write my own dashboar

[2019-02-11 18:13] xmichaelx commented on #55
@Brice-xCIT Before we get to business - from the bottom of our hearts - thank you for spending a week of your working time on IS4.Admin. We're both humbled and honored that you're willing to contribute your improvements back to the project.

I think that **all** of your suggestions are valid and should be included in the project. Lack of manpower to add everything as fast as we would want to is th

[2019-02-11 18:19] skoruba commented on #55
Thank you so much for you great feedback @Brice-xCIT
I definitely agree with @xmichaelx - it would be great if you can send a PR like mentioned @xmichaelx - from latest dev branch.

I know that these things need some improvements for easier setup. :)

[2019-02-11 22:31] #160 closed

[2019-02-13 11:58] skoruba commented on #144
@toenee - It works, thank you.

[2019-02-15 10:20] skoruba opened #169 "Separate DbContexts, separate all views/controllers from user-defined configuration"
Related to [amazing feedback](https://github.com/skoruba/IdentityServer4.Admin/issues/55#issuecomment-462402576) from @Brice-xCIT - I've decided to rework this solution - especially these areas:

The fork with changes from @Brice-xCIT is available - [here](https://github.com/xcit-lab/IdentityServer4.Admin/tree/feature/db-context-separation).

Another awesome feedback is from @TheEvilPenguin - whic

[2019-02-15 11:51] skoruba commented on #162
Done on `dev` branch.
Thank you @pbros

[2019-02-17 07:29] Mehrdad-Davoudi opened #170 "Is it possible to Add a role to a user for a specified time period"
Is it possible to Add a role to a user for a specified time period.
 For example, for a month and after that, this role will expire for that user.

[2019-02-17 16:27] skoruba commented on #169
@Brice-xCIT @TheEvilPenguin - I have used your changes and put them into `dev` branch.
Please take a look. :)
Thanks!

[2019-02-17 16:41] skoruba commented on #170
Hi @Mehrdad-Davoudi
by default probable not, I don't know about this feature - you have to implement your own logic. :)

[2019-02-17 17:01] skoruba opened #172 "Add missing translations for STS"
Hi guys - @Seaear @alev7ina @saeedrahmo
please, can you add missing translations for new views/controllers in STS:
https://github.com/skoruba/IdentityServer4.Admin/tree/dev/src/Skoruba.IdentityServer4.STS.Identity/Resources

Thank you! :)

[2019-02-17 17:07] skoruba opened #173 "Consider add user registration into STS"

[2019-02-17 18:04] xmichaelx commented on #173
Makes sense as long there is configuration setting allowing to turn it of if admin wants to have more control over who has access to the system.

[2019-02-17 18:09] xmichaelx commented on #170
In Admin panel for user management we just use the logic and database structure from [ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security) and there is a simple mapping between users and roles. Anything else would be a custom logic.

Sure we can add some expiration logic to user-role relationship but that would require more demand from the community or commercial cooperation.

[2019-02-18 07:14] Mehrdad-Davoudi commented on #170
thank you for your answers hope to see new feature like this soon

[2019-02-18 09:06] xmichaelx opened #174 "Consider adding user invitation into Admin Panel"
Admin enters only user email. This creates blank user account with only email filled in and sends invitation link (much like password reset link) to entered email.

Upon logging via given link user can register but with email field unchangeable. This would go well with setups where registration is not open for everyone.

[2019-02-18 13:10] Brice-xCIT commented on #55
Hello @skoruba and @xmichaelx, sorry for coming late to the party! Thanks for your messages, I'm glad. I haven't had the time to PR yet, and I see that @skoruba beat me to integrating the changes, which is totally okay 😄. I will update the dev branch and reintegrate with my setup to see if it still works. I feel like we're getting very close to something that works out of the box, so I might work

[2019-02-19 05:13] Seaear opened #176 "Create database migration error"
Create a database migration error after
https://github.com/skoruba/IdentityServer4.Admin/commit/4573853636d5f6d3a9eb5d61220706b1f4b6a412

![image](https://user-images.githubusercontent.com/1687087/52991330-39e2d480-3447-11e9-9457-f29872ad6485.png)

[2019-02-19 05:25] Seaear commented on #172
ok

[2019-02-19 06:01] skoruba commented on #176
I’ll check it, thanks @Seaear.

[2019-02-19 09:31] skoruba commented on #176
I fixed it - please take a look at latest dev branch. Thanks.

[2019-02-19 09:44] Seaear commented on #176
Confirmed fixed.

[2019-02-19 09:58] skoruba commented on #176
@Seaear - Thanks!

[2019-02-19 09:58] #176 closed

[2019-02-19 09:59] skoruba commented on #173
Done on `dev` branch.
I added the parameter into configuration like this:
[code]

[2019-02-19 11:09] xmichaelx commented on #170
Ok, we're closing for now - if someone will be interested in this please feel free to +1 and reopen this thread.

[2019-02-19 11:09] #170 closed

[2019-02-19 15:52] skoruba commented on #55
Hi @Brice-xCIT - thank you for your response, I will be happy for your PR. Feel free to contribute. :)

[2019-02-19 17:14] Seaear opened #179 "Use dotnet run /seed throw error"
Use `dotnet run /seed` is error, But use `dotnet ef database update` is ok, Unable to create database automatically in Docker.
![image](https://user-images.githubusercontent.com/1687087/53033389-eb1b5600-34ab-11e9-8679-a6b608da855a.png)

[2019-02-19 21:10] skoruba commented on #179
Is it configuration issue only? Because I have tried seed method and it works fine.

[2019-02-20 02:59] Seaear commented on #179
Not a configuration issue,I merged the latest branch, Use commands
`dotnet ef migrations add InitAdminIdentityDb -c AdminIdentityDbContext -o Data/Migrations/AdminIdentityDb`
`dotnet ef migrations add InitIdentityServerConfigurationDb -c IdentityServerConfigurationDbContext -o Data/Migrations/IdentityServerConfigurationDb`
`dotnet ef migrations add InitIdentityServerPersistedGrantDb -c IdentitySer

[2019-02-20 06:18] skoruba commented on #179
Ok, I will check it. Thank you

[2019-02-20 13:56] baywet opened #181 "Unable to add claims"
Context: https://github.com/skoruba/IdentityServer4.Admin/pull/175
@skoruba thanks for your help on the matter.
I checked my view import, it seems to be correct with
[code]
And I do have a PickerTagHelper (under folder Helpers/TagHelpers, and the namespace AdminUI.Admin.Helpers.TagHelpers) and it appears to be the same as the current repository (namespace aside)
However this is what happens when I

[2019-02-20 14:50] baywet commented on #181
Ok I found what the issue was! It's the assembly name and not the namespace you need when referencing the Tag helpers in the view import. In the sample case it happens to be the same. Closing

[2019-02-20 14:50] #181 closed

[2019-02-20 17:52] MaryadaPurshottam commented on #44
When i login using the existing username and password stored wtihin Identity.Users.cs, it keep redirecting me back to the login page. I download it and ran the migrations as well as the seeddata.  this is the returnurl

"/connect/authorize/callback?client_id=skoruba_identity_admin&redirect_uri=http%3A%2F%2Flocalhost%3A9000%2Fsignin-oidc&response_type=id_token&scope=openid%20profile%20email%20roles

[2019-02-20 17:57] MaryadaPurshottam opened #183 "Upon login keeps redirecting back to login page."
I just downloaded this. Ran migrations and seeddata and then ran both projects. But when i login using the existing username and password stored wtihin Identity.Users.cs, it keep redirecting me back to the login page. I download it and ran the migrations as well as the seeddata.  this is the returnurl

"/connect/authorize/callback?client_id=skoruba_identity_admin&redirect_uri=http%3A%2F%2Flocalhos

[2019-02-20 18:40] skoruba commented on #183
Can you hit breakpoint here: https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Quickstart/Account/AccountController.cs#L109
- is `result` succeeded?

Please, send more details.
Thank you.

[2019-02-20 18:42] MaryadaPurshottam commented on #183
Yep, result.Succeeded comes out true. It then proceeds to line 124 to redirect with to the above url which shows the login page once again.

[2019-02-20 18:45] MaryadaPurshottam commented on #183
Weird! This time it worked... I've been debugging this since the morning and really weird that it just started working.

[2019-02-20 18:46] skoruba commented on #183
Can you please check the log - located in Skoruba.IdentityServer4.STS.Identity\Log\ - any errors?

[2019-02-20 18:50] MaryadaPurshottam commented on #183
Sure, [skoruba_admin20190220.txt](https://github.com/skoruba/IdentityServer4.Admin/files/2886061/skoruba_admin20190220.txt)

[2019-02-20 18:51] skoruba commented on #183
If you was redirect back to login - for login again or redirect loop?

[2019-02-20 18:52] MaryadaPurshottam commented on #183
It was redirecting me back to login page to login again.

[2019-02-20 18:54] skoruba commented on #183
BTW: Are you using latest master or dev branch?

[2019-02-20 19:48] xmichaelx commented on #183
This is probably issue with some cookies not being properly cleaned up. If you encounter this issue again please check what cookies you have present before logging in. I've encountered the same issue but unfortunately wasn't able to reproduce it reliably.

[2019-02-20 21:04] MaryadaPurshottam commented on #183
Master

[2019-02-21 03:05] hxjhaker opened #184 "I'm looking forward to updating version 1.1.0"
I'm looking forward to updating version 1.1.0

[2019-02-21 06:08] skoruba commented on #184
Take a look at dev branch. :)
We did a lot of new features.

[2019-02-21 06:11] skoruba commented on #179
I have tried it and works. Can you check please - @xmichaelx ? :)

[2019-02-21 08:50] xmichaelx commented on #184
So many of them that in fact it will take some time to document them all :)

[2019-02-21 08:51] xmichaelx commented on #183
Can you reproduce the steps for the issue reliably? That would be very helpful for us to hunt down this issue.

[2019-02-21 09:59] xmichaelx opened #185 "Email templates"
Hello community, question for you.

Right now we're using template saved in AccountController.resx:

| Name | Value |
| ------------- |:-------------:|
| ConfirmEmailBody | `Please confirm your account by <a href='{0}'>clicking here</a>. `|
| ResetPasswordBody| `Please reset your password by <a href='{0}'>clicking here</a>.`|
-- | --

And we fill it with generated links just before passing it to `

[2019-02-21 13:48] Seaear commented on #179
I tried again, download the zip file of the dev branch, also throw error

[2019-02-21 13:51] xmichaelx commented on #179
From the command line I see that you've added the migrations but it seems that you haven't updated the database with them.

[code]

[2019-02-21 13:52] xmichaelx commented on #179
Additionally it looks like you're failing during login so please check if your connection strings are correct.

[2019-02-21 13:54] Seaear commented on #179
Previous versions can use /seed to create a database, using /seed to create a database automatically in docker.

[2019-02-21 13:58] Seaear commented on #185
Can use configuration file to save the template?

[2019-02-21 14:00] Seaear commented on #179
I did not modify any files after downloading the zip file.

[2019-02-21 14:06] skoruba commented on #179
You are right - but we had only one DbContext, now it is necessary to do this manually - like Michal mentioned above.

[2019-02-21 14:10] Seaear commented on #179
This will cause some difficulties for newcomers to use Docker in the future.

[2019-02-21 14:12] xmichaelx commented on #179
This basically boils down to either issuing those commands (which you can automate in Docker build) or adding to code for each of 4 builtin context:

```context.Database.Migrate();```

From my POV it's a matter of preference and I would like the community to voice their preferences.

[2019-02-21 14:16] Seaear opened #187 "Expect to add the Exceptionless log client support"
https://github.com/exceptionless/Exceptionless

[2019-02-21 14:21] Seaear commented on #179
Cannot be manipulated in Dockerfile, Dockerfile is only used to build images, and building image is independent of database operations.

[2019-02-21 14:21] skoruba commented on #179
@Seaear - Please give us your preference about this issue. We'll modify it especially for better docker support.

[2019-02-21 14:25] Seaear commented on #179
Use the command in the docker-compose.yml file to add the /seed parameter at runtime to automatically create the database

[2019-02-21 14:49] xmichaelx commented on #179
@Seaear could check automatic-database-creation-during-seed branch? I've added database creation during seeding process.

[2019-02-21 15:01] Seaear commented on #179
@xmichaelx Missing "\" in path when using localdb
![image](https://user-images.githubusercontent.com/1687087/53178207-5e4bd600-362c-11e9-9067-a9c932061fc3.png)

[2019-02-21 15:05] xmichaelx commented on #179
`Server=(localdb)\\mssqllocaldb;Database=IdentityServer4Admin;Trusted_Connection=True;MultipleActiveResultSets=true` where here is the missing character?

[2019-02-21 15:05] MaryadaPurshottam commented on #183
I can't reproduce it.

[2019-02-21 15:10] xmichaelx commented on #185
Right now you can just copy paste your HTML into resources file and leave {0} for the url - it's something, but probably not ideal. What would you propose @Seaear ?

[2019-02-21 15:13] Seaear commented on #179
Great, use SQL Server it's working, localdb problem, I can try to find

[2019-02-21 16:12] Seaear commented on #179
@xmichaelx Localdb problem, I can't find it, it's not affected in production environment or Docker, it doesn't matter for the time being.

[2019-02-21 16:15] skoruba commented on #179
@Seaear - OK, I'll merge the changes from @xmichaelx .

[2019-02-24 21:18] gokayokutucu opened #192 ""Keyword not supported: 'port'." & "Unable to retrieve document from: '[PII is hidden]'" errors"
Hi,
I faced two different errors when I run Admin and STS.
STS is running on http://localhost:5000. Actually, this page is properly displayed but discovery document throws an error:
http://localhost:5000/.well-known/openid-configuration

![screenshot 2019-02-25 00 07 04](https://user-images.githubusercontent.com/10991334/53305378-fbf40f00-3891-11e9-8166-48ea5c5e5022.png)

Admin side is also not re

[2019-02-25 09:32] skoruba opened #193 "Replace implicit flow"
Replace implicit flow according recommendation here:
https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-00

Great articles/videos about this issue:
https://brockallen.com/2019/01/03/the-state-of-the-implicit-flow-in-oauth2/
https://www.identityserver.com/articles/change-in-recommendations-for-browser-based-applications/
https://www.youtube.com/watch?v=-T0arpzOcgw

[2019-02-25 14:06] xmichaelx commented on #192
It probably means that you have connection string in wrong format or you haven't replaced UseSqlServer to matching PostgreSQL version everywhere. Please verify that and tell us if it solved the problem.

[2019-02-25 14:39] gokayokutucu commented on #192
Before your remark, I have followed instruction which is under `EFMigration.md` file, it says:
[code]

But when you emphasize,

I found two more `UseSqlServer` method that waits for replacing with UseNpgsql.

After changes, it is running well.

Footnote: Under `Configure-Ubuntu-PostgreSQL-Tutorial.md` instructions have been noticed about `replace all occurences of UseSqlServer with UseNpgsql` but

[2019-02-25 14:39] #192 closed

[2019-02-25 15:29] skoruba commented on #179
Done on `dev` branch @Seaear - you can test it. :)
Thanks!

[2019-02-25 19:54] skoruba commented on #172
Thanks guys for your translations, I really appreciate it. :)
Great job.

[2019-02-25 19:55] skoruba commented on #150
Any progress? :)

[2019-02-25 20:20] xmichaelx opened #194 "Role members view"
It would be nice to have a searchable view of members of given role

[2019-02-25 20:31] skoruba commented on #194
Good point, I will add it. :)

[2019-02-25 20:54] xmichaelx opened #196 "Reducing amount of logs for STS"
Right now STS logs too much info to be useful e.g:

[code]

Which seems like logs from EF Core. We should have `Information` verbosity level selected only for logs from `Skoruba` namespace in STS and others should default to `Error`.

[2019-02-25 21:01] xmichaelx opened #197 "Add button in admin panel to switch to STS for profile management"
Additional button allowing to switch to STS would be welcome and matching button allowing for switching to admin panel if user is an admin would also be nice.

[2019-02-25 21:08] xmichaelx opened #198 "After logout in the STS itself it should redirect to root page"
If the logout it performed in the STS page itself (and not part of some application logout) it should redirect to the root of the STS itself.

[2019-02-25 21:47] xmichaelx opened #199 "Cleaning up logs"
Maybe some functionality for removing logs older than hour/day/week/month?

[2019-02-25 21:54] xmichaelx opened #200 "Learn more in cookie consent does not activate the link"
You have to click it with Ctrl pressed. Weird. Need to investigate.

[2019-02-26 08:24] skoruba commented on #200
You can specify url like this:
[code]
Or do you mean some issue with the confirm button?

[2019-02-26 08:25] skoruba commented on #199
It would be definitely useful. 👍

[2019-02-26 08:32] xmichaelx commented on #200
![obraz](https://user-images.githubusercontent.com/1004852/53398250-72376500-39a9-11e9-9b8c-4bdf3d80d96c.png)

Clicking on `Learn more` does nothing until it's done with Ctrl pressed.

[2019-02-26 08:44] skoruba commented on #200
Yes, you can add your own page with privacy information:
`"href": "https://example.com/privacy"`

[2019-02-26 10:26] xmichaelx opened #202 "Customization IdentityOptions in username in appsettings"
Any demand cofiguring those options from appsettings in STS and Admin panel?  RIght now they are hardcoded in.

[code]

[2019-02-26 11:58] aiscrim opened #203 "Make it easier to extend"
Currently the library relies on a set of repositories that are not easy to extend: the repository classes don't have virtual methods and they have private members instead of protected ones, and some data come from public static classes like ClientConst.
That makes it very difficult to extend the functionalities: for example, I wanted to add SAML 2.0 to the supported Protocol Types in my applicatio

[2019-02-26 12:00] skoruba commented on #203
@aiscrim - Good point, I agree with you - I will change it.
Thank you 👍

[2019-02-26 13:01] Seaear commented on #179
@skoruba Great, I tested it is working fine.
Thanks

[2019-02-26 13:15] skoruba commented on #179
Thank you @xmichaelx as well.
May I close it?

[2019-02-26 13:30] xmichaelx opened #204 "Prettier access denied response"
Add a prettier Access denied website.

[2019-02-26 13:57] skoruba commented on #204
Good point - I will add same graphic layout like in app.

[2019-02-27 02:19] john159753 opened #206 "Error on Creates/Updates"
I am encountering an issue when trying to Create or Update nearly anything with the Admin UI. I enabled verbose logging and found this entry in the logs. Did my EF migration to the latest version break my database or is something going on with UI? I cant see why an UPDATE or INSERT would have a null ID.

2019-02-26 20:08:43.626 -06:00 [ERR] Exception at route /Configuration/IdentityResource/4
Micr

[2019-02-27 09:16] skoruba commented on #206
@john159753 - Are you using IS4 Admin from template or fork version? It looks like that something went wrong with `IdentityClaims` - can you check that you have registered correctly - `_ViewImports.cshtml` - taghelpers - `@addTagHelper *, Skoruba.IdentityServer4.Admin` - according your namespace.
That is my first tip - take a look that Picker component correctly collect data for storing.
Thank you

[2019-02-27 11:29] gokayokutucu opened #207 "Guid Identifier"
Hi,
I actually wonder why don't you use primary and other identity fields as Guid as default?

[2019-02-27 11:31] skoruba commented on #207
Hi @gokayokutucu - we have changed it back to Guid, currently available on dev branch.
Please take a look: [here](https://github.com/skoruba/IdentityServer4.Admin/tree/dev)

[2019-02-27 11:55] gokayokutucu commented on #207
Thank @skoruba.
It looks great!

[2019-02-28 15:12] skoruba opened #209 "Improve JS/CSS for Content Security Policy"
It is necessary to improve JS/CSS for CSP - especially remove inline scripts/styles.

Configuration of CSP for Admin UI:
https://github.com/skoruba/IdentityServer4.Admin/blob/a3959848db98d6b9e0b9b7f25ba52645492b12f5/templates/template-publish/content/src/SkorubaIdentityServer4Admin.Admin/Helpers/StartupHelpers.cs#L90-L102

[2019-03-02 17:50] john159753 commented on #206
Sorry if none of this makes sense... Some of the ,NET Core concepts are still new to me.

I was stepping through the code and noticed that when `_identityResourceService.UpdateIdentityResourceAsync` is called, the IdentityResourceDto that is passed to it contains the Id property. Somewhere between this method being called and the record getting updated in the DB, my Id property is getting set to n

[2019-03-05 10:11] skoruba commented on #206
Let me check it, I'll contact you.
Thanks.

[2019-03-05 10:26] skoruba commented on #206
Please, send me screenshot of your form with identity resource. I'd like to check your Picker component.
Thanks.

[2019-03-05 10:27] skoruba commented on #203
@aiscrim - Done on `dev` branch.
Thanks

[2019-03-06 16:26] skoruba commented on #204
Done on `dev` branch.

[2019-03-06 16:27] skoruba commented on #193
Done on `dev` branch.

[2019-03-06 16:27] #179 closed

[2019-03-07 14:54] skoruba commented on #200
Fixed on `dev` branch.
Thanks.

[2019-03-08 02:01] CoskunSunali commented on #203
The same goes for using custom data stores. You expect the custom AdminDbContext to inherit from IdentityDbContext but why? Even Asp.Net Core Identity supports custom data stores that doesn’t inherit from that base class. Identity Server 4 doesn’t have such requirement either. Would you consider implementing ability to support custom data stores instead of requiring to have it inherit from Identit

[2019-03-08 06:23] skoruba commented on #203
@CoskunSunali - Thank you for your suggestion, you are right, we have already done this issue. :)

[2019-03-10 12:36] skoruba commented on #206
Any update for this? :)

[2019-03-10 12:39] skoruba commented on #197
I have added the links - available on `dev` branch.

[2019-03-10 15:46] skoruba commented on #194
Added on `dev` branch, please take a look.

[2019-03-10 18:22] john159753 commented on #206
Sorry about the Delay Jan, Here are a few screenshots. All the data looks to be there.
![image](https://user-images.githubusercontent.com/12056448/54089495-60ee4100-4337-11e9-97d4-9a86a54ce229.png)

![image](https://user-images.githubusercontent.com/12056448/54089500-6f3c5d00-4337-11e9-8e5a-b85358f94949.png)

Let me know if you have any suggestions on where to break the code and inspect any variab

[2019-03-10 18:46] john159753 commented on #206
This is the farthest i've drilled down. I still see all the properties specified in the watch window, including ID.
![image](https://user-images.githubusercontent.com/12056448/54089737-3487f400-433a-11e9-833c-f41b6b395b64.png)

Yet according to the logs on the server, it is trying to update on the DB without the ID field.
`Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while up

[2019-03-10 19:41] skoruba commented on #206
Which database do you use? MS SQL Server?

[2019-03-11 12:33] john159753 commented on #206
Yes, MS SQL.

[2019-03-11 12:36] skoruba commented on #206
OK, Let me check it. :)
Do you have full access to services and repositories? Or do you use project from template?
Thanks.

[2019-03-11 12:42] john159753 commented on #206
I built from the template. I'm not sure what you mean by full services and repositories, but I can definitely build from source if you would like and i have full access on it all.

[2019-03-11 13:18] CoskunSunali commented on #203
@skoruba Great work, thanks!

[2019-03-11 16:02] zerobig commented on #183
Any new info about this topic? I have same problem. Clearing cookies and other actions didn't helps. Errors in log file not found. What information can I give you to advance on this issue?

[2019-03-11 16:16] skoruba commented on #183
We noticed that if we tried to run application over https and switch back to http - that was problem with cookie.

[2019-03-11 17:27] xmichaelx commented on #183
@zerobig were you stuck in a redirect loop by chance?

[2019-03-12 19:56] zerobig commented on #183
I found the problem and was able to work out a solution for customers. The direction was really related to cookies and this is evidenced by many issues in IdentityServer4 repository. How to solve it automatically I have no idea. But if you clear cookies through the browser snap-in for the site as a whole, the project goes out of an infinite loop account/login.
I hope my information will improve th

[2019-03-13 01:14] DORAdreamless opened #220 "建议从mvc改成前后端分离模式"
建议把admin改成前后端分离模式,后端identity server 部分逻辑不太清楚，愿意参与前端开发(VUE,Element UI)

[2019-03-13 05:41] skoruba commented on #220
Hi, currently is available only mvc version of this admin. In the future we will add api for all actions and it will be possible to connect to SPA.
Thanks.

[2019-03-13 09:39] xmichaelx opened #221 "Log details"
![obraz](https://user-images.githubusercontent.com/1004852/54268707-1f9aa300-457c-11e9-832e-df2302f7bbbe.png)

Clicking on ShowDetails does not show any detail info (it is available in the database).

[2019-03-14 02:01] gebiWangshushu commented on #220
虽然我英文也一般，但人家作者是用英文的,so:English only。

[2019-03-14 02:11] gebiWangshushu opened #222 "Add-Migration error"
I cloned the project . When I try to add migrations:
`Add-Migration DbInit1 -context AdminDbContext -output Data/Migrations`
 I get this error:
![image](https://user-images.githubusercontent.com/27838829/54326492-728a5e00-4641-11e9-96fe-b7917d346361.png)
Stack:
Add-Migration DbInit1 -context AdminDbContext -output Data/Migrations
System.InvalidOperationException: Unable to resolve service for type

[2019-03-14 02:13] gebiWangshushu commented on #222
i dit not change connectionstring and any other else.

[2019-03-14 08:10] gebiWangshushu commented on #222
When is the ga version released? ts~

[2019-03-14 19:21] skoruba commented on #222
Are you in correct folder? src/Skoruba.IdentityServer4.Admin/

[2019-03-14 19:28] skoruba commented on #221
It is probable bug or incorrect configuration in MsSql Sink for Serilog, because in configuration is defined the additional column for detail error message and it doesn’t work (stored only default xml version of error message, not json). I will try to switch back to configuration in source code, but it is not so flexible like from appsettings.json.
Thanks for reporting. ;)

[2019-03-17 17:38] skoruba commented on #206
Did you try it same use case with full clone of this repository? Thank you.

[2019-03-18 01:48] gebiWangshushu commented on #222
Follow the error message，i try to overrid method OnConfiguring in AdminDbContext,problem solved！
[code]
thanks ~~

[2019-03-18 04:53] skoruba commented on #222
Thanks!

[2019-03-18 04:53] #222 closed

[2019-03-19 16:39] john159753 commented on #206
I have not tried that, I will do a full clone (not from template) and report back.

Thank you!

[2019-03-19 18:10] Brice-xCIT commented on #169
Hi @skoruba! I have used the latest changes from the `dev` branch, and it was much easier to adapt it to my use case, and to refactor for the PR #225. Congrats! As far as I'm concerned, this issue is now solved.

[2019-03-21 09:02] kacey90 opened #226 "Can't set new cliams on Identity Resources"
I wish to know where/how the claims for an authenticated user is set. I noticed that there's no ProfileService implemented in the identity server project STS where in my experience I set my claims after successful authentication.
I added a new claim `tenant_id` in the `custom.profile` scope created by default but don't know how to dynamically set it based on the authenticated user. Please what do

[2019-03-21 12:29] skoruba commented on #226
You can add your own implementation of ProfileService for IS4.
Please, take a look at default ProfileService for `Asp.Net Core Identity`: https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/blob/master/src/ProfileService.cs

It is possible to register your implementation via method `AddProfileService<>` in IS4 configuration.

In your ProfileService you can populate dynamically your `t

[2019-03-21 12:34] kacey90 commented on #226
Thanks. I already started the process. Your product is really cool by the way ;)

[2019-03-21 12:34] #226 closed

[2019-03-21 12:53] skoruba commented on #226
Thank you maybe please take a look at dev branch, because - we added a lot of new features. :)

[2019-03-21 17:55] #220 closed

[2019-03-22 15:21] Brice-xCIT opened #227 "Is ASP.NET Core Identity a requirement?"
Related to #79, I found while refactoring that ASP.NET Core Identity is pretty coupled with the admin services and controllers. I'm wondering, is Identity a hard requirement for the Admin UI, or could it be imaginable, from a design point of view, to have an Admin UI app without Identity. If so, what would it look like? Would there be fewer features, unavailable pages, etc?

[2019-03-22 17:40] alperhankendi commented on #183
I've the same issue when I delete cookies and it works!

[2019-03-25 15:37] xmichaelx opened #228 "Configurable seeding"
Current seeding mechanism is hardcoded could we have the same logic but imported from a configuration file? This would ease the trouble for devopses when deploying new instances of IS by allowing for having some parts preconfigured. Also instead of constants we should opt for options

Sth like the following:

[code]

[2019-03-27 12:26] tornikebubuteishvili opened #230 "TagHelpers not loaded from assembly Skoruba.IdentityServer4.Admin"
@addTagHelper doesn't add tags on starting project but when I change anything in view TagHelpers are added.
![Before](https://user-images.githubusercontent.com/29339221/55075667-cd17b700-5050-11e9-8bdc-3af1432bed9f.png)

![after](https://user-images.githubusercontent.com/29339221/55075674-d2750180-5050-11e9-9aef-1403f1e563a8.png)

[2019-03-27 14:19] SosoKapianidze commented on #230
Same issue here

[2019-03-28 07:16] skoruba commented on #230
Are you using this solution via `dotnet template` or full clone?

[2019-03-28 08:01] tornikebubuteishvili commented on #230
I'm using full clone

[2019-03-28 09:38] SosoKapianidze commented on #230
Same issue here

[2019-03-28 09:48] skoruba commented on #230
Thank you guys for feedback, let me check it.

[2019-03-28 12:43] luanSarmento opened #232 "An unhandled exception occurred while processing the request."
Hi Guys,

Im get error to access admin server at my address http://localhost:9000

Im change all ocurrences for Use PostgreSQL database, but i have this erros

______________________________________________________________
An unhandled exception occurred while processing the request.
SocketException: Connection refused
System.Net.Http.ConnectHelper.ConnectAsync(string host, int port, CancellationT

[2019-03-28 13:21] skoruba commented on #232
Hi,
Please try to restart your STS, sometimes I get this message and after restarting it is working.
Let me know.

[2019-03-28 13:35] valeriob opened #233 "Question on how to use it with an existing AspNetCoreIdentity DbContext"
Hi,
i'm trying to use this gui with an existing aspnetcore identity database, but i can't it out.
Let's say i already have an aspnetcoreidentity db context (es: ApplicationDbContext : IdentityDbContext<IdentityUser>) how do i change the ConfigureServices method to make it work ?

`

        public void ConfigureServices(IServiceCollection services)
        {
            services.ConfigureRootConfi

[2019-03-28 13:50] luanSarmento commented on #232
Nice Dude!

Im restart my STS, and start admin and STS side by side. It Works

[2019-03-28 13:54] #232 closed

[2019-03-28 13:56] luanSarmento opened #234 "Support server to Springboot applications JAVA"
Hi Guys,

One Question...
Skoruba Identity server have support for JAVA Springboot applications?

Exist some step-by-step to try this implementation?

[2019-03-28 14:32] skoruba commented on #233
Hi, please take a look at dev branch, we reworked a lot of stuff around implementation of Asp.Net Core Identity.
Thanks.

[2019-03-28 14:35] skoruba commented on #234
Hi,
what do you exactly mean with support java apps?
Thanks.

[2019-03-28 14:46] luanSarmento commented on #234
I would like to know if I can implement a springboot Java client for example by pointing the authentication service to IdentityServer4

Thanks dude

[2019-03-28 14:56] skoruba commented on #234
Yes, you can, I don’t use java but I believe that is possible to use some package which helps you with openidconnect auth. :)

[2019-03-28 14:59] skoruba commented on #234
Take a look at:
https://jwt.io/
There is a list of libraries for JWT.

[2019-03-29 07:36] valeriob commented on #233
good to know thanks !

[2019-03-29 07:49] valeriob commented on #233
To be clear, you mean beta6 right ? 😄
Because the ConfigureServices method looks like the beta5-update2

[2019-03-29 08:23] gebiWangshushu opened #235 "is anybody use in production environment?"
we all knows , currently just a  **beta version**,but i still want to use in production environment。

is anybody tried? any surggerst?

thanks!

[2019-03-29 08:32] skoruba commented on #235
I think the version which is on `dev` branch is pretty solid.

We are working on production release.

I want to publish next beta version next week, but this version will be almost RC, but I want to collect some feedback from users. 👍

Thanks!

[2019-03-29 08:40] gebiWangshushu commented on #235
good work！
thanks~

[2019-03-29 18:57] #234 closed

[2019-04-01 10:16] SosoKapianidze commented on #230
any updates?

[2019-04-01 10:21] skoruba commented on #230
I can't figure out, where could be issue yet.

[2019-04-01 10:44] SosoKapianidze commented on #230
I have hosted on azure also but same problem, which kind of additional information can I provide for you ?

[2019-04-01 10:58] skoruba commented on #230
Are you using full clone of this repo or from dotnet new template? Sometimes is problem with name of assembly, if you are renamed your project name.
Thanks.

[2019-04-01 11:42] SosoKapianidze commented on #230
I'm also using full clone

[2019-04-01 12:05] skoruba commented on #230
Please, take a look at: https://stackoverflow.com/a/31258916/943403
Can you check your folder name? I think that the name in import should be assembly name but according this answer we can try experiment with folder name as well.
Thanks!

[2019-04-01 14:06] skoruba commented on #227
I will create a flag in `dotnet new` template for excluding Identity, but currently it is a requirement.
- During instalation will be exluding all projects related to Identity, views and controllers. It will be necessary to create new instance of STS without Identity as well - with in-memory users?

[2019-04-02 01:42] afernandes opened #236 "Add Localization Portuguese (pt-BR)"
Add Localization Portuguese (pt-BR)

[2019-04-02 05:26] kubakeil opened #237 "oidc-client is not able to check session because 'X-Frame-Options' header is set to 'sameorigin'"
oidc-client in SPA application loaded from different host than STS.Identity server is not able to check session `http://localhost:5000/connect/checksession`.
The check is executed within IFrame and STS.Identity has currenly set Xfo to SameOrigin `app.UseXfo(options => options.SameOrigin());`

This also likely re-introduce some fixed IdentityServer issues e.g. [https://github.com/IdentityServer/Ide

[2019-04-02 07:31] skoruba commented on #237
Thanks!

[2019-04-02 07:43] skoruba commented on #236
Can you send a PR with these translations?

[2019-04-02 18:35] pbros opened #238 "Add custom validation for new fields on User"
Hello,

I added a new field on my Identity User class, and I want add some new validation on this field. (e.g. validate that specified value exists in another database)

From what I can tell, the only place I could add it in my Admin Website would be in `BaseIdentityController`
[code]

I usually prefer not having business logic in my controllers, so I was wondering if there was another way to achi

[2019-04-02 19:01] pbros commented on #238
It looks like I might be able to implement a custom validator using FluentValidation.

https://fluentvalidation.net/aspnet#asp-net-core

With something like

[code]

Will update after testing

[2019-04-02 19:15] pbros commented on #238
It turns out I had to create the validator on the DTO. Still not 100% ideal since I would have liked to add the validation on the base type, but at least this works.

For reference
[code]
In `StartupHelpers.cs`
[code]

Does anybody know of a way to add the validation directly on UserIdentity?

[2019-04-03 15:22] skoruba commented on #238
Hi @pbros ,

Thank you for your info about using of `FluentValidation`.

I would suggest to create your own implementation of `IdentityService` - ideally from `dev` branch because we improved the inheritents.

If you want to validate the `UserIdentity` - you can register this object via `FluentValidation` but you need create this validation manually - for example in `IdentityService`.

BTW: I thin

[2019-04-04 05:13] marcomaq opened #239 "Database configuration"
Hi,

I download the master version, beacasue I want to test the project with a MS SqlServer instance.

I change this lines in the appsettings.json

From;

To this;

I am getting this error page;

Can some one tell me if where is the issue?

[2019-04-04 06:24] skoruba commented on #237
Fixed on `dev`.

[2019-04-04 09:37] #150 closed

[2019-04-04 09:37] skoruba commented on #150
Feel free to reopen.

[2019-04-04 10:47] skoruba commented on #207
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:47] #207 closed

[2019-04-04 10:47] skoruba commented on #154
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:47] #154 closed

[2019-04-04 10:47] skoruba commented on #127
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:47] #127 closed

[2019-04-04 10:48] skoruba commented on #128
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:48] #128 closed

[2019-04-04 10:48] skoruba commented on #118
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:48] #118 closed

[2019-04-04 10:49] skoruba commented on #203
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:49] #203 closed

[2019-04-04 10:49] skoruba commented on #169
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:49] #169 closed

[2019-04-04 10:49] skoruba commented on #114
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:49] #114 closed

[2019-04-04 10:50] skoruba commented on #100
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:50] #100 closed

[2019-04-04 10:50] skoruba commented on #162
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:50] #162 closed

[2019-04-04 10:50] skoruba commented on #193
Done on `master`.

[2019-04-04 10:50] #193 closed

[2019-04-04 10:50] skoruba commented on #139
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:50] #139 closed

[2019-04-04 10:51] skoruba commented on #149
Done on `master`.

[2019-04-04 10:51] #149 closed

[2019-04-04 10:51] skoruba commented on #143
Done on `master`.

[2019-04-04 10:51] #143 closed

[2019-04-04 10:52] skoruba commented on #173
Done on `master`.

[2019-04-04 10:52] #173 closed

[2019-04-04 10:52] skoruba commented on #197
Done on `master`.

[2019-04-04 10:52] #197 closed

[2019-04-04 10:52] skoruba commented on #194
Done on `master`.

[2019-04-04 10:52] #194 closed

[2019-04-04 10:53] skoruba commented on #237
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:53] #237 closed

[2019-04-04 10:53] skoruba commented on #200
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:53] #200 closed

[2019-04-04 10:53] skoruba commented on #102
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:53] #102 closed

[2019-04-04 10:53] skoruba commented on #86
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:53] #86 closed

[2019-04-04 10:56] skoruba commented on #233
Please, check new release on `master` branch.
Thanks!

[2019-04-04 10:56] skoruba commented on #204
Done on `master`. Please check new release.
Thanks!

[2019-04-04 10:56] #204 closed

[2019-04-04 12:54] smellogrand commented on #127
Thanks my friend, you are a good guy, I will check it by tomorrow and give feedback.
Hope someday to return the courtesy vistiting you in Prague. For sure you deserve more than a good beer. I will let you choose a good restaurant.
stay well and keep up your good work, very helpful for many of us.
bye, sergio

[2019-04-04 13:56] pbros commented on #238
I'll stick to the DTO for now, as it will be simpler to maintain. I will re-open if I decide to go another way.

Thanks!

[2019-04-04 13:56] #238 closed

[2019-04-04 17:28] skoruba commented on #206
Any update? ;)
Please, try latest version from master branch.
Thanks!

[2019-04-05 05:16] ekjuanrejon commented on #105
hello @skoruba

any plans on this?

[2019-04-05 05:45] skoruba commented on #105
Hi @ekjuanrejon
In the future yes, but if you want to start with this task, feel free send a PR. :)
Thanks!

[2019-04-05 09:39] SbGibson opened #242 "Changing table names"
Hi,
I've two questions on tables naming.
I created the base Core Identity tables with migrations and it created table with AspNet prefix while Skoruba search them without prefix. I had to change it on Skoruba.IdentityServer4.Admin.EntityFramework.Identity.Constants.TableConsts. Is it correct or I'm doing something wrong?
The second one, how I can change the names of admin tables (DeviceCodes, Log

[2019-04-05 18:58] john159753 commented on #206
Hey!
I just got to getting the latest version from the branch. Unfortunately the issue still persists.

Since i have the source now, i am going to attempt to step through the code and try to pin point where its going wrong. I will comment my findings!

[2019-04-07 00:23] natelaff opened #243 "Config only deployment"
Just fired this up! You're doing an awesome job with it.

What would be nice to see is optionally excluding the user store portion of this and just dealing with the config and operational (grants). I have a separate application that I already manage my users with and don't need the identity piece, I just need something to configure the clients and resources. So being able to just get it down to th

[2019-04-07 12:30] schulz3000 opened #245 "Add German (de) Localization"
Add German (de) Localization.

If you want I can provide a PR for it.

[2019-04-07 13:20] skoruba commented on #245
It would be great. 👍
Please, send a PR.
Thanks!

[2019-04-07 13:23] skoruba commented on #242
Hi @SbGibson

you can rename any table in `DbContext` - in method `OnModelCreating` for example like this:

[code]

https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin.EntityFramework.DbContexts/AdminIdentityDbContext.cs#L24

[2019-04-07 13:26] skoruba commented on #243
Hi @natelaff
It is great idea, I will think about it - how to do it. Currently you can exclude manually all views/controller connected to Identity.
Thanks!

[2019-04-07 16:03] natelaff commented on #243
Thanks! Yes it seems if you can layer these that would be a nice set up

Config only to existing IdentityServer
Config + IdentityServer
Config + IdentityServer + Userstore in Identity

[2019-04-07 19:46] duki994 commented on #183
@zerobig @skoruba @xmichaelx

I had this issue with both login and logout. When using IdentityServer4 and ASP.NET Identity together.

This happens as you already mentioned when running app over https and switch back to http.
And in some load balancing, SSL termination and other reverse proxy setups.

The actual problem was the cookie authentication scheme.
MVC Core uses it's own default cookie aut

[2019-04-09 16:35] john159753 commented on #206
Okay, I think i know the issue.

My database does not have the identity flag set on any tables. Because of this, inserts do not work because there is no identity column defined.

I think what i need to do is recreate the tables with the Identity columns set.

I am closing this for now, i think this should take care of the issue.
Thanks for your help through this!

[2019-04-09 16:35] #206 closed

[2019-04-09 16:38] skoruba commented on #206
Thank you for your feedback :-)

[2019-04-10 05:35] perrumo opened #247 "Why do you separate in two applications"
Hi skoruba i have a question.

Why do you separate in two applications the STS and the other the Admin ui ?, I'm not complaining at all, I'd just like to know what were the reasons to do it that way and see if implement the project as you have it or if I modify it for my needs and have it in a single application.

Thanks in advance

[2019-04-10 06:18] skoruba commented on #247
Hi @perrumo
I think that AdminUI should be standalone app, not directly bound with STS. :)

[2019-04-10 14:51] perrumo commented on #247
Hello, thank you for your quick response. What would be the reason ?, to keep the project clean or for security or what? .
I have to sell the idea of ​​using this solution to my boss :p

[2019-04-10 15:14] skoruba commented on #247
Only preference, I don't want to mix STS and AdminUI. :)

[2019-04-10 15:18] skoruba commented on #247
I want to create a nuget package for whole AdminUI (Razor Class Library) in the future and it will be easier to make it.

[2019-04-12 06:52] martea opened #248 "2fa issue, when no return url i specified"
Issue with 2fa login, when no return url is specified.

suggested solution
`            if (result.Succeeded)
            {
	            if (model.ReturnUrl == null)
	            {
		            return LocalRedirect("/");
	            }
                return LocalRedirect(model.ReturnUrl);
            }`

[2019-04-12 07:09] skoruba commented on #248
Thanks @martea
I will check it, if you want - you can send a PR. 👍

[2019-04-12 12:50] martea commented on #248
#249

[2019-04-14 08:06] skoruba opened #250 "Move repositories to EntityFramework project"
For task #105 - will be necessary to move repositories to `EntityFramework` layer, because it will be great to reuse the repositories in `BusinessLogic` layer for API project.

[2019-04-14 08:10] skoruba commented on #105
- Create projects:
  - `Skoruba.IdentityServer4.Admin.Api`
  - `Skoruba.IdentityServer4.Admin.Api.BusinessLogic` - There will be great to reuse the existing repositories and create new services for API, including new Dtos etc.

[2019-04-14 10:58] ekjuanrejon commented on #105
@skoruba why can't the business logic of the mvc and the api be shared?

On another note. I see that mvc uses a bit of reflection. Not how how it will play with the api and swagger.

[2019-04-14 11:12] skoruba commented on #105
That is great question, I think some of Dtos are very specific for views in MVC app, thefore I am thinking about this separation.
But you are right, maybe it would be fine - create shared business logic layer for both - mvc and api. I will try to consider it.
Good point. :)
Which part of code with reflection do you mean?
Thanks!

[2019-04-15 09:52] SosoKapianidze commented on #230
@skoruba  I see it's problem with VS2019, when I publish project with VS2017 it works but from VS2019 doesn't

[2019-04-15 09:58] skoruba commented on #230
Thanks for feedback, now I am installing VS 2019, I will test it ;)

[2019-04-15 10:53] TomasHubelbauer commented on #239
Can you try and see if `sqllocaldb info` lists the expected databases for the same user?

https://stackoverflow.com/a/36157192/2715716

The issue you are describing here is a connectivity one, IS4A or any other projects rely on the connection string being correct as well as the DB server running, so as long as your SQL Server Management Studio can connect with a given connection string, the app sh

[2019-04-16 18:28] tomadj opened #251 "ExternalController"
Hi @skoruba,

Very good job !

Is there any particular reason why (for external login) you don't take the same code from ExternalController of [IdentityServer4 Samples](https://github.com/IdentityServer/IdentityServer4.Samples/blob/master/Quickstarts/8_AspNetIdentity/src/IdentityServerAspNetIdentity/Quickstart/Account/ExternalController.cs)

Especially Challenge() function :

`

         /// <summ

[2019-04-17 09:07] skoruba commented on #251
Hi @tomadj

this is great question - I have combined source code from IS4 quickstart and https://github.com/damienbod/IdentityServer4AspNetCoreIdentityTemplate/blob/master/content/StsServerIdentity/Controllers/AccountController.cs

I have added especially some methods for account linking for external provider.

What is missing in current implementation? :)

Thanks!

[2019-04-17 20:16] Peperud commented on #153
How deep of an investigation are you talking about?
Accidentally, I came across this project yesterday and the first thing I did was to run it on SQLite.
I had the databases ready, except for the logging (interested in logging to an sql database).

[2019-04-17 22:18] Peperud commented on #185
We use [RazorEngine](https://github.com/Antaris/RazorEngine) for templating emails.

[2019-04-18 08:05] Zyxious opened #253 "Add Swedish (sv) localization"
I've started working on Swedish localization.
Can make a PR when I'm done.

[2019-04-18 08:05] skoruba commented on #253
That is great, thanks!

[2019-04-18 08:57] tomadj commented on #251
Hi @skoruba,

Maybe this stuff in Challenge() ?

`
         if (AccountOptions.WindowsAuthenticationSchemeName == provider)
        {
            // windows authentication needs special handling
            return await ProcessWindowsLoginAsync(returnUrl);
         }
`

Or this stuff in Callaback() ?

`

         // this allows us to collect any additonal claims or properties
        // for the sp

[2019-04-18 09:10] skoruba commented on #251
OK, I let me check it.

[2019-04-18 15:33] skoruba commented on #253
Great job, thanks! 👍

[2019-04-18 15:51] skoruba commented on #245
Any progress on this? :)

[2019-04-18 15:53] skoruba commented on #221
It is necessary to upgrade package: `Serilog.Sinks.MSSqlServer` to `5.1.3-dev-00232`.

[2019-04-18 17:17] Peperud commented on #101
In the simplest form it would be:
1. ASP.NET Identity
    * Add a Tenant entity
    * Have the User point to the Tenant (foreign key)
    * The username alone is not unique anymore, the combination (Tenant,username) is
    * Implement a UserStore that enforces this
2. IdentityServer4 Storage
    * Implement a ClientStore. The combination (Tenant,ClientId) should be unique
3. The application hostin

[2019-04-18 17:58] TomasHubelbauer commented on #101
The different database per tenant strategy is certainly easier and could solve a lot of use cases alone before venturing into implementing the one where application logic enforces the separation.

[2019-04-18 23:05] alkubo opened #256 "MySql.Data.MySqlClient.MySqlException (0x80004005): Specified key was too long; max key length is 767 bytes"
First of all, thanks to the developers' team of this project. It is great!.

1 - I created a new project using the command "dotnet new skoruba.is4admin --name MyProject --title MyProject --adminrole MyRole --adminclientid MyClientId --adminclientsecret MyClientSecret"

2 - Followed the instructions to use the MariaDB database engine

3 - I was able to recreate the first migrations file successfull

[2019-04-18 23:37] Peperud commented on #101
It is not without its problems...Connection pooling and IdentityServer caching come to mind.

[2019-04-19 01:49] alkubo commented on #256
Nevermind,
I just changed the "`collation server`" database engine variable from "`utf8mb4_unicode_c`i" to "latin1_swedish_ci" and everything worked perfectly.

thanks anyway

[2019-04-19 01:51] #256 closed

[2019-04-19 08:59] xmichaelx opened #257 "Adding support for loading certificates linux-style"
Right now we support loading certs from PFX certs, we could add support for loading certs from PEM files which are more common in Linux environments. I have already a working implementation but that would require including package [Portable.BouncyCastle](https://www.nuget.org/packages/Portable.BouncyCastle).

[2019-04-19 09:02] xmichaelx opened #258 "Adding public origin to configuration of STS"
In many cases STS is behind some proxy or load balancing so the default origin used in discovery document for prepending endpoints inferred from request may be a local one inferred from passed request.

[PublicOrigin](http://docs.identityserver.io/en/latest/reference/options.html) is an option that can be set to mitigate that, we should add it to the configuration of STS.

[2019-04-20 00:17] alkubo commented on #256
Just for registration, if anyone needs it.

My previous solution worked in the beginning, but it caused me some other problems, like "duplicate key" and other things. The best final solution was to upgrade the MySql / MariaDb engine to the latest version.

The problems occurred in version 10.1 (MariaDB), after upgrading to 10.3, my problems are gone.

[2019-04-23 06:07] Zyxious commented on #253
You're welcome!
Thanks for a great project!

[2019-04-23 06:07] #253 closed

[2019-04-23 11:36] denisisack opened #259 "How to use sendgrid"
How to set up send grid settings ,I have tried to set up Api key in AppSettings.json but it does not respond as expected.

[code]

[2019-04-23 16:10] skoruba commented on #259
@xmichaelx - can you please help with SendGrid settings? :)

[2019-04-24 08:02] martea opened #260 "one client, several api resources consent issue"
if ive setup one client, with several api resources,
ex.
like one site, but i have one administration part and one "user" part, when i try to authenticate against these,

i get to the consent screen, when accepting the consent it will be replaced with the most recent accepted consent, iam guessing the consents should merge with the accepted scopes.

ill try to explain this in a example

Client A,

[2019-04-24 08:21] martea commented on #260
Did look into the code more now, seems that we only get single from the persisted grants, and in the database there are 2 persisted grants, one for the the Foo Api Scope, and one for the Bar Api Scope.

[2019-04-24 08:49] martea commented on #259
@denisisack
according to the code, you should add a connectionstring with "Sendgrid" as key
and the configuration sections should be like
"SendgridConfiguration" :{
"SourceEmail": "",
"SourceName": "",
}

[2019-04-24 09:44] skoruba commented on #259
@martea - Thanks - I wasn't sure about using of ApiKey ;)

[2019-04-24 10:47] martea commented on #260
currently investigating what might be the cause, the correct behaviour should be that there should be 2 persisted grants for the user, one with Foo Api Scope, and one grant with Bar Api Scope

[2019-04-24 13:25] brnbs opened #261 "Seed and Migration issues with PostgreSQL"
We started experimenting with this project and followed the instructions in the PostgreSQL tutorial, but we ran into a few issues during migration and seed.

The first issue was a syntax error:
[code]
We replaced all [ and ] characters to double quotes in the migration scripts coming from the template, and it seems to solved the issue.

Later in the seed process we also got a nice exception:
[code

[2019-04-24 17:43] denisisack commented on #259
Thanks

[2019-04-24 17:43] #259 closed

[2019-04-24 20:38] alkubo commented on #261
Did you try to re-create the migrations using dotnet ef migrations add migrationname command after changing the database engine?

[2019-04-25 03:24] gebiWangshushu opened #262 "Use my own login logic in implicit and hybrid Flow"
hi~skoruba and anybody，a simple question.
We know，in `ResourceOwnerPassword`Flow,we can implement interface `IResourceOwnerPasswordValidator` for my own username and password validation。
but, in `implicit` and `hybrid` Flow ,`IResourceOwnerPasswordValidator` doesn't work.
so ,How can i validate username and password with my own logic in `implicit` and `hybrid` Flow  .

thans~and hope it not spend

[2019-04-28 08:16] gnsilence opened #264 "ExternalLogin"
code :

public async Task<IActionResult> ExternalLoginCallback(string returnUrl = null, string remoteError = null)
        {
            if (remoteError != null)
            {
                ModelState.AddModelError(string.Empty, _localizer["ErrorExternalProvider", remoteError]);

                return View(nameof(Login));
            }

            var info = await _signInManager.GetExternalLog

[2019-04-28 09:55] skoruba commented on #264
Try setup `Authorization callback URL` to `http://localhost:5000`.

[2019-04-28 10:17] gnsilence commented on #264
This problem has been solved, but If I enter an existing username and mailbox ,then get an error, I'm not sure if it's a bug.  the new username have no problem .

the error is

NullReferenceException: Object reference not set to an instance of an object.
AspNetCore.Views_Account_ExternalLoginConfirmation.ExecuteAsync() in ExternalLoginConfirmation.cshtml
+
<h4>@Localizer["SubTitle", ViewData["Logi

[2019-04-28 10:42] skoruba commented on #264
OK, let me check it. ;)

[2019-04-28 11:27] skoruba commented on #264
This is a bug, I will fix it.
Thanks for reporting!

[2019-04-28 13:48] skoruba commented on #264
Fixed on `dev` branch - can you test it please?
Thanks!

[2019-04-28 13:53] gnsilence commented on #264
Okay, I'll test and reply to the results.

[2019-04-28 14:19] gnsilence commented on #264
I have finished the test. This error has been resolved. The hint I got was that the mailbox or username had already been used. It's perfect.I will continue to use it. If there are other errors, I will give you feedback in time. I hope it will get better and better.

[2019-04-28 14:39] skoruba commented on #264
Great, I will look forward to your feedback.
Thanks.

[2019-04-30 01:59] JimBobSquarePants commented on #105
The missing APIs are the only feature that devalues this product from competition. The company I work for are unfortunately having to evaluate another product because we need those APIs and are under so much time pressure we cannot currently dedicate the time to PR the functionality. 😞

👍 on reusing logic.

[2019-04-30 05:45] skoruba commented on #105
Thanks for your feedback, I will work on it. :)

[2019-04-30 07:44] deaktomi commented on #261
Okay, we believe we solved the issue. Something was not clear maybe because the lack of experience with migrations in .NET Core.

- After generating the project from the template:

[code]

- We updated the connection strings.
- Installed the NuGet packages for PostgreSQL
[code]
- In `Helpers\StartupHelpers.cs` we found all usage of `UseSqlServer` and change to `UseNpgsql`.
- **Then when we ran the

[2019-04-30 10:27] tomadj opened #266 "Configurations"
Hi @skoruba ,

Is there any particular reason why some Configurations Implement an interface like :

- AdminConfiguration --> IRegisterConfiguration
- RegisterConfiguration -->  IRegisterConfiguration
- (RootConfiguration --> IRootConfiguration )

and others not, like :

- LoginConfiguration
- SendgridConfiguration
- CertificateConfiguration
- ...

Thank's

Thomas

[2019-04-30 19:36] tomadj commented on #266
Because they are never injected

[2019-04-30 19:36] #266 closed

[2019-05-01 01:20] Munde opened #267 "How we can setup that when the user logs out it should redirect to the root of the application user come from"
we have tried to set the both the Back Channel Logout Uri  and Front Channel Logout Uri with no luck we have been scratching our heads as one of application requirement during user initial registration is required to logout at least twice and whenever he logs out its stays on the STS logout page..

[2019-05-01 05:38] skoruba commented on #266
Thanks for feedback, I will take a look at these configurations and create same identical approach. What do you suggest?

[2019-05-01 12:26] skoruba opened #268 "Add Exceptionless configuration to docs"
#191

[2019-05-01 13:43] kjbetz commented on #105
I'd like to start taking a look at this and offer some help. I worked on a project for myself that implemented a free UI for the PolicyServer... would be good to implement that all together. I'll start taking a look around of what you have already. Awesome stuff!

[2019-05-01 13:49] skoruba commented on #105
Great, if you want to help, it would be perfect. :+1

[2019-05-02 21:05] Peperud opened #269 "AdminConfiguration.Scopes config does not override defaults"
This could be a .NET Core DI/configuration issue, but it seems wrong nonetheless.

Configuration:
[code]
AdminConfiguration,cs
[code]

AuthenticationConsts.cs
[code]

All AdminConfiguration properties get replaced with values from the config, except the scopes. They get **_added_**.
![image](https://user-images.githubusercontent.com/12447865/57106681-e8768180-6ce2-11e9-8c43-86c24652dab4.png)

[2019-05-03 09:03] skoruba commented on #269
I'll check it - thanks!

[2019-05-03 14:05] shepparddigital commented on #269
I believe this is the intended behaviour of IdentityServer, see this video https://www.youtube.com/watch?v=J5p72gTdx_M&list=WL&index=5&t=0s at 1:00:58, when adding scopes they're added to the existing collection that's created by default by IdentityServer.

[2019-05-03 14:18] skoruba commented on #267
Take a look at `PostLogoutRedirectUri` and `AutomaticRedirectAfterSignOut` in LoggedOutViewModel.

[2019-05-03 15:19] shepparddigital opened #270 "Sorry, there was an error : unauthorized_client"
I've set up a new project using .Net Core 2.2 on a Mac. I created a database and added the connection string to both the Admin and STS.Identity projects. Following the instructions in the README I have added and ran migrations which have created empty database tables.

The problem I seem to be having is that there is no client setup in the database, so the client details specified in Admin/appsett

[2019-05-03 16:12] skoruba commented on #270
Take a look at Program.cs in Admin project, there is method for seeding first admin uder and client for adminui - https://github.com/skoruba/IdentityServer4.Admin/blob/master/README.md#we-suggest-to-use-seed-data

[2019-05-03 16:21] skoruba commented on #262
Sorry for delay - I am not sure what do you want to achieve. You can check user’s credentials in AccountController.

[2019-05-03 16:29] shepparddigital commented on #270
Perfect, thank you

[2019-05-03 16:29] #270 closed

[2019-05-03 16:57] shepparddigital opened #271 "Process is terminating due to StackOverflowException."
Running IdentityServer4.Admin on a Mac (Core i7, 16MB Ram).

I have setup database connection strings and seeded the database. I have started the STS.Identity project, then started the Admin project. Visiting http://localhost:9000 I am able to login successfully and I am given the option to select from Manage Clients, Manage Users and other options, but when I select an option such as Manage Clien

[2019-05-03 17:04] Peperud commented on #269
That shows intended behavior of C# (and I strongly agree with Scott & Brock that it is very much not intuitive). It shouldn't be the default behavior of IdentityServer IMO.

[2019-05-03 17:11] shepparddigital commented on #269
I entirely agree it's a strange way of doing things. There should at least be an option within IdentityServer to override the collection with your own, rather than it only providing the option to add.

I was just pointing out that the issue appears to be with IdentityServer itself and the way it managed the collection, rather than with this project.

[2019-05-03 17:18] skoruba commented on #271
Can you provide whole exception? Thanks

[2019-05-03 17:29] shepparddigital commented on #271
Sadly, that's all the console shows. I've tried to debug the application and it doesn't show any more information either.

Coming from a Java background I'm not overly familiar with .Net Core, is there a setting or configuration that would allow me to change the log level?

[2019-05-03 23:32] Peperud opened #272 "UseHSTS Kestrel localhost"
Both the IdentityServer and the Admin UI projects (generated by the template) set ```Strict-Transport-Security``` (call ```UseHsts```).
Working/debugging locally under IIS Express, this doesn't seem to matter. Without IIS Express however, it _**does**_ (even for ```localhost```) and it (rightfully) works only if both projects are running HTTPS. By default the configs are referring to the HTTP endp

[2019-05-04 00:10] Munde commented on #267
we tried to put something like https://localhost:44307/signout-callback-oidc on PostLogoutRedirectUri but still we nothing happens

[2019-05-05 08:14] gebiWangshushu commented on #262
never mind.sorry for confused you.I will take more time in language;
ths~

[2019-05-06 03:04] #262 closed

[2019-05-06 12:09] skoruba commented on #105
I am working on API:
https://github.com/skoruba/IdentityServer4.Admin/tree/feature/api
I am using the shared business logic from MVC project, but with new mapping for API dtos.

Currently still in progress, but with high priority. :)

[2019-05-06 18:12] wzoet commented on #242
Hi,

Thanks for this nice interface on administering IDSrv. You are doing a great job!

Just found this post while trying to add an issue for this.
Is it a possibility to add this as to the config? I would rather not change code for this as this would require maintaining a different version than yours. Adding it to the config makes for easy upgrading.

Thx!

[2019-05-07 18:00] skoruba commented on #267
Use root of your link into PostLogoutRedirectUri.

[2019-05-12 19:38] DjStitch opened #273 "Exception: Certificate not found after upload to azure ..with StoreLocation.CurrentUser set"
Not sure why ...error after all step below.

- After uploading the my self sighed Private Certificate to azure
- setting UseSigningCertificateThumbprint to "true"
- setting the SigningCertificateThumbprint of zures thumbprint..
- even set ...WEBSITE_LOAD_CERTIFICATES

I got the error ....

I was forced to use a physical path to .pfx file setting UseSigningCertificatePfxFile to true and specifying

[2019-05-12 19:55] skoruba commented on #273
Please try change last parameter to false:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Helpers/IdentityServerBuilderExtensions.cs#L42

[2019-05-13 04:58] CShelton11 opened #274 "Cannot cast Newtonsoft.Json.Linq.JArray to Newtonsoft.Json.Linq.JToken on callback to localhost/signin-oidc"
Getting the below error on the callback to admin.

System.Exception: An error was encountered while handling the remote login. ---> System.InvalidCastException: Cannot cast Newtonsoft.Json.Linq.JArray to Newtonsoft.Json.Linq.JToken.
   at Newtonsoft.Json.Linq.Extensions.Convert[T,U](T token)
   at Newtonsoft.Json.Linq.JToken.Value[T](Object key)
   at Microsoft.AspNetCore.Authentication.OpenIdConn

[2019-05-13 06:00] skoruba commented on #274
I think that one of the claim which should be a single value is returned as an array. What about email address?

[2019-05-13 08:02] gnsilence opened #275 "SSO In Different browsers"
Hi, Have you tried it in different browsers.Multiple clients log in using different browsers
and logout.
After testing, I found that unified login and login could not be achieved in different browsers.
Do I need to set something up?

[2019-05-13 10:14] DjStitch commented on #273
A..ha ... that worked ..thanks

[2019-05-13 10:14] #273 closed

[2019-05-13 10:42] amideveloper commented on #55
Hi @skoruba,

I was able to configure and run skoruba admin for my application and now am trying extend few classes in Admin Console to display few additional information. On this note i would like to add a new property to IdentityUser class.  What i thought is to extend the dbcontext but after discussions with team now trying with extending the IdentityClass. Please help with a correct approach.

[2019-05-13 12:05] CShelton11 commented on #274
That was it.  Had forgot to go into the claims table and change the email address to match what was in the aspnetusers table.

[2019-05-13 12:05] #274 closed

[2019-05-13 15:15] skoruba commented on #55
HI @amideveloper

you can extend this object - https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.Admin.EntityFramework.Identity/Entities/Identity/UserIdentity.cs and according new properties you should extend your `UserDto` object as well.

Then you need solve mapping between these new properties (if needed):
https://github.com/skoruba/IdentityServer4.Admin/b

[2019-05-13 21:41] skoruba commented on #275
Hi, every browser has own cookie which is used for SSO, you can’t share cookies across browsers.

[2019-05-13 21:43] skoruba commented on #271
Sorry for delay - you can change logging level in appsettings.json - did you reproduce this issue?
Thanks.

[2019-05-14 00:42] CShelton11 opened #276 "Access Denied When Using Existing IDS4"
Have an existing IDS4 server.
Trying to login to admin using the uxisting ids4.
Login is successful and redirect occurs.
Getting Access denied error.

Example token seen below:

{
   "nbf":1557793643,
   "exp":1557793943,
   "iss":"https://localhost:44375",
   "aud":"mvc",
   "nonce":"636933904431764060.MTI0NzUzOWEtM2QxYi00NzQ1LTg4M2YtOGU1ZWM5ODdmZmNiYjk5OTMyZGUtOWE0Zi00YzFhLTkzYzctM2I4OTYxZTI2YTN

[2019-05-14 03:46] sudheeshv opened #277 "I have one question regarding Login Ui"
Why are we using mvc razor page for login ? why it's not separating like API and Angular or react UI ? Please help me to understand and what is the security breach ?

[2019-05-14 07:36] skoruba commented on #277
If you want to use IdentityServer4 - you need use server-side login screen, because of cookies (for example for SSO) and everything stuff around that.

[2019-05-14 07:55] sudheeshv commented on #277
Then how the same will work for Mobile Application ? If i want to use same SSO Login for Mobile application then how does it will work ? May be i am asking some wrong questions please help me to understand the scenario if i am wrong

[2019-05-14 09:21] TomasHubelbauer commented on #272
Do you think you could PR the README to say this? This sounds very useful to anyone using Kestrel.

[2019-05-14 09:25] fudgeboy2000 commented on #277
Not sure if this is the most common way, but in our Xamarin app we use a webview control to visualise our IdentityServer login page to handle the auth flow/token exchange.

[2019-05-14 12:19] CShelton11 commented on #276
So curious as to exactly how this is supposed to work.
In my ids 4 configuration I added the following:

1. Scope (Example)
Id	Scope	ClientId
9	roles	2

2. Resource (Example)
Id	Enabled	Name	DisplayName	Description	Required	Emphasize	ShowInDiscoveryDocument	Created	Updated	NonEditable
4	1	roles	User roles	Your role information	0	1	1	2019-05-01 00:00:00.0000000	NULL	0

3. Identity Resource (Example

[2019-05-14 12:20] CShelton11 commented on #276
Please let me know if you need additional info here as I am stuck

[2019-05-14 15:51] skoruba commented on #276
Please take a look at configuration of client and resources here:
https://github.com/skoruba/IdentityServer4.Admin/tree/master/src/Skoruba.IdentityServer4.Admin/Configuration/IdentityServer

And in StartupHelpers.cs - you can check setup of middleware for OpenIdConnect auth.

You can check User’s claims in MVC app - if roles are correctly stored in cookie.

Thanks

[2019-05-14 17:02] CShelton11 commented on #276
Thanks.  Based on what you've sent I believe the issue is in new IdentityResource("roles", "Roles", new[] { "role" })

Since my implementation is storing the resources in the database I am just trying to manually enter the data.  I'm guess that there is something different about the data stored for that particular identity resource.  I have nothing in my tables that indicated the info should be st

[2019-05-14 18:02] CShelton11 commented on #276
Found the issue.  I had included the Resource with name "roles" which was correct, but the identity claims table had 'roles' in the types field as opposed to 'role'.  Silly mistake.  The unintended consequence of having the resource name with the exact same name of the identity claim cause the object to be serialized as a string and resulted in admin being unable to read the token properly.   Than

[2019-05-14 18:02] #276 closed

[2019-05-14 18:10] skoruba commented on #276
Glad to hear from you. Thanks for your feedback.

[2019-05-14 18:14] skoruba commented on #277
Look at this sample:
https://github.com/IdentityModel/IdentityModel.OidcClient.Samples/tree/master/XamarinForms

[2019-05-14 18:19] skoruba commented on #277
This video describes - how to use IS4 with native clients like mobile apps - including solving login screen etc. https://vimeo.com/205451987
Thanks

[2019-05-14 22:36] Munde commented on #277
Also you may look at this sample.
https://sinclairinat0r.com/2018/12/09/secure-data-access-with-identityserver4-and-xamarin-forms

[2019-05-15 09:08] sudheeshv commented on #277
Thank you @skoruba @Munde

[2019-05-15 09:08] #277 closed

[2019-05-15 09:18] sudheeshv opened #278 "How to connect angular application to skoruba identity server?"
I have created one angular application and trying to register with soruba identity server using admin portal. I have registered client with client id and name redirect url etc. I have followed the same procedure which i used to follow with identity server. but it's not redirecting to login page and authentication not working. let me know if you have any document which i can follow for on boarding

[2019-05-15 09:22] sudheeshv commented on #278
I have created one angular application and trying to register with soruba idenetity server using admin protal. I have registered client with client id and name redirect url  etc. I have followed the same procedure which i used to follow with identity server. but it's not redirecting to login page and authendication not working. let me know if you have any document which i can follow for onboarding

[2019-05-15 09:35] skoruba commented on #278
You can create new client with template for SPA and then use client settings something like this:
https://github.com/IdentityServer/IdentityServer4/blob/master/samples/Quickstarts/6_JavaScriptClient/src/IdentityServer/Config.cs#L120-L137

[2019-05-15 10:06] sudheeshv commented on #278
I did the same before and it is working fine. I have migrated to skoruba because admin ui and it is more user friendly. below screen also doing the same right ?

![image](https://user-images.githubusercontent.com/2003489/57767375-dbf61e00-7711-11e9-8728-23ff3930fac9.png)

![image](https://user-images.githubusercontent.com/2003489/57767330-c1bc4000-7711-11e9-8761-8c57dbd1f50f.png)

[2019-05-15 10:13] sudheeshv commented on #278
I did the same before it is working. But now i want to add client dynamically using skoruba ui which i mentioned in above comment.

[2019-05-15 11:32] skoruba commented on #278
What do you mean - add new clients dynamically?

[2019-05-15 12:11] amideveloper commented on #55
@skoruba Thanks for the solution.

[2019-05-15 12:18] sudheeshv commented on #278
I will register new applications using admin portal.  I have followed the same in skoruba it is working. But I am getting CORS error now Access to XMLHttpRequest at 'https://localhost:5001/.well-known/openid-configuration' from origin 'https://localhost:44311' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-05-15 12:46] skoruba commented on #278
Did you configure this url (https://localhost:44311) into collection `AllowedCorsOrigins`?

[2019-05-15 14:04] gnsilence commented on #275
I also thought of that. I'm going to implement a unified logout first, which will use the back-end logout channel.

[2019-05-15 14:06] gnsilence commented on #275
I also thought of that. I'm going to implement a unified logout first, which will use the back-end logout channel.

[2019-05-17 13:53] Skoucail opened #279 "NullReferenceException in PersistedGrantRepository"
When calling the function GetPersistedGrantsByUsersAsync from the PersistedGrantRepository with a search parameter i get a NullReferenceException.
Seeing the code i guess the problem is that SubjectName in x.SubjectName.Contains(search) is null.

I'm not using identity, so cant use the PersistedGrantAspNetIdentityRepository. But in the PersistedGrantAspNetIdentityRepository SubjectName is getting

[2019-05-17 14:47] skoruba commented on #279
Can you please share whole exception - with more details?
Thanks!

[2019-05-17 15:27] Skoucail commented on #279
I added the stack trace.

[2019-05-18 12:18] sudheeshv commented on #278
Yes it is working fine.

[2019-05-18 12:18] #278 closed

[2019-05-21 07:11] Ojachak opened #280 ": To show User information(Aspnetuser) along with Provider (AspNetUserLogins.ProviderDisplayName) on User Page"
Purpose: To show User information(Aspnetuser) along with Provider (AspNetUserLogins.ProviderDisplayName) on User Page.

What we tried: To achieve this we created CustomUser,Dto class with providername. Mapped then and did the relevant changes in Service and Repository.
While doing changes at Controller level, we are facing issues while extending the functionality for

1)	Created CustumUser with

[2019-05-22 20:51] koo9 opened #281 "enable profile service to return roles in access token"
does it support out of the box to return user roles already?

[2019-05-23 09:05] sudheeshv opened #282 "Role and feature mapping how we can achieve dynamic authorization using Identity Server ?"

[2019-05-23 09:05] sudheeshv commented on #282
Role and feature mapping how we can achieve dynamic authorization using Identity Server

[2019-05-23 15:29] skoruba commented on #282
What do you mean with dynamic authorization? Please describe your scenario.

[2019-05-23 15:31] skoruba commented on #281
You need associate role claim into some scope and this scope use for getting access token. You do not need modify Profile service.

[2019-05-23 15:34] koo9 commented on #281
@skoruba  is there any example somewhere? or steps in doing that in the admin UI?

[2019-05-23 16:03] sudheeshv commented on #282
I have a requirement where common admin module. which will create users for multiple applications and the same module will allocate some features based on their roles.

How we will achieve the same using Identity Server and .net core ?

Dynamic means i will have a list of features. I will create roles and allocate few features and add user assign role to the user.

[2019-05-23 22:34] baywet opened #283 "Skoruba.IdentityServer4.Admin.BusinessLogic.Mappers.ClientMappers exception when upgrading from automapper 8.0.0 to 8.1.0"
Hi,
my project was generated using beta5.
When upgrading from automapper 8.0.0 to 8.1.0, the Clients vieew (Configuration/Clients) stopped working with the following exception:
[code]

[2019-05-23 22:38] baywet opened #284 "documentation upgrade path from beta5 to beta6"
Hi,
As beta6 as been released a month ago we're looking into upgrading our project generated with beta5 to beta6.
However I can't find any upgrade documentation, it'd be helpful to have such documentation, or even just a checklist, to make sure we don't forget anything.
Having this checklist as part of the release notes would probably the best way to find it.

[2019-05-26 06:30] sudheeshv commented on #282
I am developing a multi tenant application. I want to develop admin module using identity server. My requirement is this module i can create user roles applications and features. Features will assign to roles and role will apply to the users. How i will control the user accessing un authorized features using identity server.

[2019-05-26 09:02] skoruba commented on #283
Hi,
thanks, I will check it, can you suggest some fix for this?

[2019-05-26 09:04] skoruba commented on #282
If I understand correctly, you probable want to create some custom policies for authorization like this:
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-2.2
Is it what you looking for?

[2019-05-26 09:08] skoruba commented on #284
Hi,
this is great point, I will create some migration document for next releases, but beta6 has massive rewrite of identity model, that you should probable create new project from template and compare manually what it is changed.
Other releases should be more stable, without breaking changes - I hope. :)

[2019-05-26 14:23] baywet commented on #283
I'd have to investigate further and I don't know very well the detailed way to work if this project.
I'll probably invest the time into upgrading to beta 6 first and then see if the problem is still here or not. So it might be a while before I can spend time on this.

[2019-05-26 17:08] skoruba commented on #279
I fixed it on dev branch, please check it. For this implementation - the subject name is not available - so I removed the SubjectName from filtering and set up to string.Empty for view.

[2019-05-26 17:22] skoruba opened #286 "Remove client/api secret hash from admin UI views, add secret description and expiration"
- Currently secret hash is available from view, it should be hidden.
- From UI is not possible to set up secret description and expiration.

[2019-05-26 18:05] sudheeshv commented on #282
No.... above mentioned reference explaining how we can enable authorization in .net core. What I am looking is a role weds feature mapping and authorization using .net core and identityserver4.

[2019-05-27 11:11] skoruba commented on #275
May I close this issue?
Thanks.

[2019-05-27 11:13] skoruba commented on #271
Any other details about this one?
Thanks.

[2019-05-27 12:13] baywet commented on #284
Thanks! Yes creating a new project and comparing with current is a bit of a heavy upgrade path.
Also the beta 6 release is only showing 7 commits. Is it possible that either beta 5 or beta 6 is tied to the wrong commit? https://github.com/skoruba/IdentityServer4.Admin/releases/tag/1.0.0-beta6

[2019-05-27 12:25] skoruba commented on #284
It should be connected with correct commit.

[2019-05-27 13:48] baywet commented on #284
Hum, you're right, I was a bit confused by the UI, the diff link is https://github.com/skoruba/IdentityServer4.Admin/compare/1.0.0-beta5...1.0.0-beta6

[2019-05-27 13:59] skoruba commented on #284
For sure, it looks correct. :)

[2019-05-28 01:43] gnsilence commented on #275
Yes,

[2019-05-28 05:15] #275 closed

[2019-05-28 22:24] koo9 commented on #247
when setup the two app in different domain, when going to the admin UI, it seems like when redirecting back to the admin /signin-oidc url, it keep bouncing back and forth with IDS and IDS admin site.  I have updated all related urls, but no use. what could be wrong?

[2019-05-29 18:18] pbros commented on #283
I have the same error. I rolled back for now

[2019-05-31 15:14] hbs-developers opened #289 "User Remains Logged in After Logout"
When logging out of Admin.UI, I am presented with a link to return to the UI.  When clicking on it, I find I am still logged in.  Repeating this process but deleting site cookies before I click on the link to return to the UI, I am correctly presented with a login prompt via the STS.

TL;DR it doesn't look like the Cookies are being cleared on logout, resulting in the user remaining logged in.

[2019-05-31 19:06] pbros commented on #61
Will this audit logging extend to logging user logins?

 It would be useful to have an audit log of successful (and failed) login history for each user. If presented to the user, he could notice suspicious activity

[2019-06-02 16:43] koo9 opened #291 "admin UI login loop"
Deployed admin UI and IDS to staging with SSL (behind traefik reverse proxy), when logging into the admin UI, after the consent screen, the redirect loop starts, it keep bouncing back and forth between signin-oidc and ids until 431 error, which is request header too large. been fighting this for a while, any idea why that happen?

here's the error log
System.Exception: An error was encountered whi

[2019-06-06 00:10] koo9 opened #292 "getting ambiguousactionexception on IDS"
AmbiguousActionException: Multiple actions matched. The following actions matched route data and had all constraints satisfied:

IdsAdmin.STS.Identity.Controllers.HomeController.Index (IdsAdmin.STS.Identity)
IdsAdmin.Admin.Controllers.HomeController.Index (IdsAdmin.Admin)

for some reason this came up today. it was working fine before. not sure if it's because I updated the nuget packages.

[2019-06-06 20:04] skoruba commented on #292
Do you have the references between these projects - AdminUI and STS?

[2019-06-06 20:08] koo9 commented on #292
yes, been on it for half a day with beyond compare. turns out that when adding new project references to both project, it somehow cause that to happen. if STS add new project referece somecomm.proj then also adding that to AdminUI, the error will happen. I think in the new project structure, this won't happen since you have refactor all the share stuff into their own projects and STS won't have an

[2019-06-06 20:12] skoruba commented on #282
Sorry for delay, have you find out the solution, yet? I have never implemented this feature before.

[2019-06-06 20:13] skoruba commented on #292
Which error - can you share the details please?

[2019-06-07 15:07] koo9 commented on #292
Request matched multiple actions resulting in ambiguity. Matching actions: "IdsAdmin.STS.Identity.Controllers.HomeController.Index (IdsAdmin.STS.Identity)
IdsAdmin.Admin.Controllers.HomeController.Index (IdsAdmin.Admin)"

Request matched multiple actions resulting in ambiguity. Matching actions: {AmbiguousActions}

Microsoft.AspNetCore.Mvc.Internal.AmbiguousActionException: Multiple actions matche

[2019-06-07 15:13] koo9 commented on #292
think with the new project structure, this error won't happen since IDS won't have reference to admin UI project.

[2019-06-07 22:46] sudheeshv commented on #282
I got few options and started implementing. Still i am searching better option for managing authorization dynamically.

[2019-06-07 22:46] #282 closed

[2019-06-08 09:19] skoruba commented on #282
If you want, you can share it. 👍
Thanks.

[2019-06-08 17:32] sudheeshv commented on #282
Yes I will do once I complete the implementation.

[2019-06-10 04:25] koo9 commented on #291
turns out to be the client secret mismatched for the admin UI client.

[2019-06-10 04:25] #291 closed

[2019-06-10 05:46] skoruba commented on #291
Thanks for sharing solution. 👍🏼

[2019-06-10 14:13] sw-ms-pradipbaria commented on #55
@skoruba Any plan when we can add it as middle ware in our existing IDS server? It will really helpful if we get this option with this awesome project :)

[2019-06-12 08:41] Brice-xCIT opened #294 "Extensible STS with Razor pages"
Similarly to what we did on #225 and #263, I believe the STS project should be converted to a Razor Class Library so that it could be easy 1) to plugin the STS into an existing IS setup, instead of the quickstarts provided by IS, and 2) to extend or override the page behavior with custom logic and presentation.

[2019-06-12 20:47] EstebanMellado opened #295 "User Applications"
Hello!
How can i set up for add permissions to users to access specific applications?
For example:
User1 can access to app1
User2 can access to app2
etc.

Thanks

[2019-06-12 21:17] skoruba commented on #295
Hi, in your application you can add some authorization checks - I mean check some user claims - for example - user1 must have the claim called role=user_app1.

[2019-06-13 03:55] EstebanMellado commented on #295
Thanks! I'll try it

[2019-06-13 03:55] #295 closed

[2019-06-13 20:09] pbros commented on #283
Version 8.1.1 is out now. Did anybody check to see if the issue was fixed? If not, I'll try upgrading tomorrow.

[2019-06-14 06:54] skoruba commented on #283
If you have any suggestion for this issue, please share it :)

[2019-06-16 09:40] JannyM85 opened #297 "Admin unauthorized_client after deploy to azure"
Hi, I publish both site to azure. I created database and run seed. I can login to sts, but when i try go to admin I get the error unauthorized_client. When i remove autorize atribute from HomeController  i see UI. I changed URL in applicationSettings. json, lanuchSettings.json, and in AdminConfiguration object but does not help me.

[2019-06-16 11:28] skoruba commented on #297
Hi,
can you check logs, please? You can check log file or in DB.
Thanks.

[2019-06-16 11:30] skoruba commented on #292
I think we solve this issue on gitter. You should not reference both web projects together.
If you have any another issue, please let me know.
Thanks.

[2019-06-16 11:30] #292 closed

[2019-06-16 11:33] skoruba commented on #281
@koo9 - you can check dev branch and Api project, I use role claim for access to swagger ui.
https://github.com/skoruba/IdentityServer4.Admin/blob/dev/src/Skoruba.IdentityServer4.Admin/Configuration/IdentityServer/Resources.cs#L35
If you have any issue, let me know.
Thanks!

[2019-06-16 11:33] #281 closed

[2019-06-16 11:35] skoruba commented on #271
I can't reproduce this issue, I am closing it now.
If you have any feedback on this, please let me know.
Thanks!

[2019-06-16 11:35] #271 closed

[2019-06-16 11:37] skoruba commented on #294
Great idea @Brice-xCIT - I will do it later.

[2019-06-16 11:38] skoruba commented on #284
@baywet - I am currently closing this issue, because I will release new beta version and this will be outdated. :)
Thanks for this feedback, I will create some docs about breaking changes for new release.

[2019-06-16 11:38] #284 closed

[2019-06-16 11:39] skoruba commented on #269
I fixed this issue and I will release it in next beta version, thanks!

[2019-06-16 11:42] skoruba commented on #261
Sorry for delay - thanks for detailed explanation of your scenario. I think you are right - I will update docs - because the description it is not clear.
The re-generation of migration solves this issue.
Thanks!

[2019-06-16 11:42] #261 closed

[2019-06-16 12:17] baywet commented on #284
So you will document how to go from beta 5 to 7 or only 6 to 7?

[2019-06-16 12:27] skoruba commented on #284
Probable both versions. ;)

[2019-06-16 13:13] JannyM85 commented on #297
[Logs.xlsx](https://github.com/skoruba/IdentityServer4.Admin/files/3294143/Logs.xlsx)

[2019-06-16 15:26] koo9 commented on #292
no I wasn't referencing both projects. IDs references Idm and if they both references another project, the issue will show

[2019-06-16 15:56] skoruba commented on #292
If you want can you please paste .csproj of Admin and STS? I will check it. It sounds weird to me. :)

[2019-06-16 16:17] koo9 commented on #292
it's easier to create a dummy project say  common.proj and add it to both projects, the issue will show up but this issue won't occur in the new solution structure since IDs does not reference Idm directly anymore

[2019-06-16 16:24] skoruba commented on #292
OK, thanks for feedback, I will test it. 👍

[2019-06-16 16:27] koo9 commented on #292
thanks Skoruba. Great work! 👍👍👍

[2019-06-17 15:07] JannyM85 commented on #297
Hi, please do you have any idea? I try it on localhost and its work fine, but when is application in azure attribute Autorization does not work. When i remove Autorization atribute, admin works fine. Thanks.

[2019-06-17 16:10] skoruba commented on #297
I can not find any issue in this log.
Please try check - if you have correctly set in admin ui client props:
RedirectUri
ClientSecret
- try more explore log, this must generates better error message.

[2019-06-17 16:21] Peperud commented on #272
Not sure if it is better to put a note in the README, or to change the configs to refer to HTTPS by default.

[2019-06-17 16:53] cerginio commented on #61
I played a bit with simple audit implementation in db agnostic way:
https://dejanstojanovic.net/aspnet/2018/november/tracking-data-changes-with-entity-framework-core/
https://www.meziantou.net/2017/08/14/entity-framework-core-history-audit-table

And it descover overhead in DAL implementation.
RemoveClientRelationsAsync(Client client) in
https://github.com/skoruba/IdentityServer4.Admin/blob/8ea544

[2019-06-18 16:42] cerginio commented on #61
#298
PR suggested

1. Please take changes
2. add migration for Audits table
3. update db
4. play with UI
- choose random client
- update description from "A" to "B"
5. SELECT *   FROM [dbo].[ClientConfigAudit]

ER: 13 changes in audit log
1 modify
6 delete
6 inserts

![audit-1](https://user-images.githubusercontent.com/2261603/59702778-2e3ec900-9201-11e9-8aeb-9717c187e5fd.PNG)

[2019-06-18 16:46] cerginio commented on #61
expected:
1 modify

![audit-2](https://user-images.githubusercontent.com/2261603/59703041-c2109500-9201-11e9-84de-2a38bbe8573d.PNG)

[2019-06-19 09:22] #248 closed

[2019-06-19 09:22] #264 closed

[2019-06-19 09:22] #279 closed

[2019-06-19 09:56] #286 closed

[2019-06-19 09:57] skoruba commented on #269
Fixed in new release.
Thanks

[2019-06-19 09:57] #269 closed

[2019-06-19 09:57] #250 closed

[2019-06-19 09:57] skoruba commented on #221
Done on master.
Thanks

[2019-06-19 09:57] #221 closed

[2019-06-19 09:58] skoruba commented on #199
Done on master

[2019-06-19 09:58] #199 closed

[2019-06-19 09:59] skoruba commented on #196
Done.
Thanks

[2019-06-19 09:59] #196 closed

[2019-06-19 10:00] skoruba commented on #105
Done, please take a look at new release. 👍🏼
Thanks.

[2019-06-21 16:20] CybrZr00 opened #301 "An exception was thrown while deserializing the token."
Hi,

I am having some issues following deployment.  If I attempt to login I get a 500 error. After looking through the logs the only error shown is:

   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.UnprotectCore(Byte[] protectedData, Boolean allowOperationsOnRevokedKeys, UnprotectStatus& status)
   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedD

[2019-06-21 17:18] CybrZr00 commented on #301
Oddly enough the issue was with the account controller, I had implemented my own IEmailSender and not updated the using!

[2019-06-21 17:18] #301 closed

[2019-06-21 19:00] #105 closed

[2019-06-21 19:06] skoruba commented on #242
Sorry for delay, I forgot your question, I don’t want to add this in config, because I think a table name is pretty stable thing. :) feel free to add in your implementation.
Thank you.

[2019-06-21 19:06] #242 closed

[2019-06-22 03:56] JimBobSquarePants commented on #105
Ah fantastic @skoruba ! I'll have a good look asap.

[2019-06-22 13:23] skoruba commented on #187
#268 - will be solved here.

[2019-06-22 13:23] #187 closed

[2019-06-22 18:09] skoruba commented on #230
It seems like everything work fine, feel free to reopen this issue.
Thanks

[2019-06-22 18:09] #230 closed

[2019-06-22 18:11] skoruba commented on #144
Fixed in latest release.
Thanks for help on this issue.

[2019-06-22 18:11] #144 closed

[2019-06-22 18:11] #172 closed

[2019-06-22 18:13] skoruba commented on #107
Please, try use latest release, everything should be fine. Thanks!

[2019-06-22 18:13] #107 closed

[2019-06-22 18:14] skoruba commented on #108
Please take a look at: https://github.com/skoruba/IdentityServer4.Admin/blob/master/docs/Configure-Azure-Deploy.md
Thanks

[2019-06-22 18:14] #108 closed

[2019-06-22 18:15] skoruba commented on #92
Done in latest release, please check it. :)
Thanks

[2019-06-22 18:15] #92 closed

[2019-06-24 01:30] Auroustech opened #302 "Acquire application token for Microsoft Graph API"
I have an application that needs to be able to call Microsoft Graph API without a user.  It would use the ClientId and ClientSecret.  Can this be set up to work through IdentityServer4 using your Admin?

[2019-06-24 08:00] skoruba commented on #302
If you want to call Microsoft Graph API - you need retrieve an access token from their Identity Provider.
If you are looking for forwarding access token of external provider - take a look at these resources:
https://stackoverflow.com/a/45767061/943403
https://github.com/waqaskhan540/IdentityServerExternalAuth
http://docs.identityserver.io/en/latest/topics/extension_grants.html

[2019-06-24 15:20] Auroustech commented on #302
Thank you.  I will have a look at that right away.

[2019-06-24 17:32] skoruba commented on #297
Any update on this issue?
Thanks

[2019-06-28 04:10] StrongGesmbH commented on #235
We have been using the solution with extended user profiles and roles since february this year and it is rock solid.

[2019-06-28 16:11] skoruba commented on #302
May I close it? Do you have any issues?

[2019-06-28 16:11] skoruba commented on #297
I am closing now, if you have any questions, please let me know.
Thanks.

[2019-06-28 16:11] #297 closed

[2019-06-28 16:13] skoruba commented on #289
Sorry for delay, does it happen on dev - localhost or in some stage/prod environment - under domain and https?
Thanks

[2019-06-28 16:14] skoruba commented on #235
Thank you for your feedback - @StrongGesmbH

[2019-07-01 21:11] skoruba commented on #302
Feel free to reopen.

[2019-07-01 21:11] #302 closed

[2019-07-02 01:54] gebiWangshushu commented on #235
@StrongGesmbH 👍🏼

[2019-07-02 07:21] skoruba opened #304 "Add missing validation for API"
It is necessary to add the validation for checking if primary `Id` is fill out - especially, for POST/PUT methods.

[2019-07-06 18:28] mchenx opened #307 "the url attribute in <picker> doesn't seem working"
I noticed the client credential that I created by using this admin web did not work and I found this was caused the 'allowed grant types' not specified.

So I went to the 'client' I created and tried to add client_credentials as the allowed grant type. However, the picker for 'allowed grant type' did not seem working. I entered two characters and no network traffic at all (the 'search result' show

[2019-07-06 18:33] skoruba commented on #307
Can you describe more details? How do you use it?

[2019-07-06 19:09] skoruba commented on #307
Yes, you can click on the item before saving whole form. I mean - when you type some text into picker you need click on searched term - blue button. In picker you can see text - no item/s selected.

[2019-07-06 19:20] mchenx commented on #307
yes I can click the item

![image](https://user-images.githubusercontent.com/1550186/60760251-e0c9b500-a064-11e9-9b35-2509b5c07f9c.png)

but isn't this supposed to call /Configuration/SearchGrantTypes?grant  as I can see this in Views/Configuration/Client/Section/Basic.cshtml ?

![image](https://user-images.githubusercontent.com/1550186/60760272-503fa480-a065-11e9-955a-d070293784eb.png)

[2019-07-06 19:31] mchenx commented on #307
If I continued and clicked the  "Save Client" button, it said saved successfully but actually no grant type save to this client. I went to the Basic tab again and noticed nothing for grant type there

![image](https://user-images.githubusercontent.com/1550186/60760302-c80dcf00-a065-11e9-8edc-ab8c242096f1.png)

I looked at the http request saving client, it was a POST, but there was no AllowedGrant

[2019-07-06 19:36] skoruba commented on #307
Ok, I will check it. Now I know what you meant. :)

[2019-07-06 19:40] mchenx commented on #307
thanks
but am not 100% sure about this, so I'm looking at the Picker.js as well

[2019-07-06 20:27] skoruba commented on #307
Btw: any another js errors in browser console?

[2019-07-07 01:57] mchenx commented on #307
no error at all

[2019-07-07 02:55] mchenx commented on #307
looking at this, it uses params.url
![image](https://user-images.githubusercontent.com/1550186/60759970-dce76400-a05f-11e9-98cc-ac1a87c15f9c.png)

so should we use

<picker params="url: '/Configuration/SearchGrants' ... ></picker>  instead  ??  This seems work for me.

[2019-07-07 02:59] mchenx commented on #307
looking at this, it uses params.url
![image](https://user-images.githubusercontent.com/1550186/60759970-dce76400-a05f-11e9-98cc-ac1a87c15f9c.png)

so should we use

<picker params="url: '/Configuration/SearchGrants' ... ></picker>  instead  ??  This seems work for me.

[2019-07-07 04:28] bsheriff opened #308 "Trying to add extra Properties to "UserIdentity" Object"
Hi,

During registration, I would like for the user to enter his/her first name and last name along with the other information (username, email address, etc.).  So what I did was first add FirstName and LastName properties to the "RegistrationViewModel".  The next thing I did is add the FirstName and LastName properties to the "UserIdentity" object (which inherits from the "IdentityUser" object).

[2019-07-07 10:09] skoruba commented on #307
I think that this picker component is probable incorrectly loaded because I have tried to create new project from template and everything works fine.

CSS doesn't look same in your screen as well and you don't have a panel with suggested items - did you turn off this panel?

![image](https://user-images.githubusercontent.com/35664089/60766856-94579700-a0af-11e9-91e7-d452f7fc14e9.png)

[2019-07-07 10:48] mchenx commented on #307
no, I don't think so...

yeah this looks weird ..

were you trying these on macOS/centOS or windows?

[2019-07-07 10:54] skoruba commented on #308
Hi,
for this use case I can suggest add these information into claims:

Here I would add the method for adding new claims:
https://github.com/skoruba/IdentityServer4.Admin/blob/master/src/Skoruba.IdentityServer4.STS.Identity/Controllers/AccountController.cs#L565

[code]
And extend `RegisterViewModel` with props - `GivenName` and `FamilyName`.

We add the additional user information into claims her

[2019-07-07 11:01] skoruba commented on #307
I use windows only unfortunately. Please check if your TagHelpers are loaded correctly. It is very simalar to https://github.com/skoruba/IdentityServer4.Admin/issues/230
Do you have rendered checkboxes like this?
![image](https://user-images.githubusercontent.com/35664089/60767360-3cbd2980-a0b7-11e9-9d8f-9385c4ac4e09.png)

[2019-07-07 11:13] mchenx commented on #307
I don't think so..  this is how it looks running on macOS

![image](https://user-images.githubusercontent.com/1550186/60767447-e833a180-a0ea-11e9-80d2-f1e123516f08.png)

To complete my auth test hours ago, I added scope "tags" and grant type "client_credentials" manually into ClientScopes and ClientGrantTypes tables in DB, however they are not showing up here, either.

I had a glance at the issue

[2019-07-07 12:35] skoruba commented on #307
Please, try dotnet core 2.2. It is exactly same issue with taghelpers, but unfortunately I don’t figure out where the issue is, because I can’t reproduce it. I will be happy if you will provide some additional info about this.

[2019-07-07 14:48] bsheriff commented on #308
Hi,

Thank you very much for the quick response.  It makes sense now, but I have just one question about your response.  When you say "We add additional user information into claims here (for user profile)", I am a little confused about what we are adding in this method (UpdateUserClaimsAsync) and where we are adding it to, and the purpose of adding to this method (Where is this method used).  Sor

[2019-07-07 18:40] skoruba commented on #308
When we considered how to build profile view with additional user information - like website, full name and location - we decided to put these information into claims instead of create new columns in db. So if you check managecontroller and index view - these information are stored in claims. And method updateuserclaims - synchronize existing and new claims then store them into UserClaims.

[2019-07-08 01:05] Danni-Ke opened #309 "Why I am getting this error page? Grant types list cannot contain both implicit and hybrid"
![image](https://user-images.githubusercontent.com/46721114/60776525-8b260300-a15f-11e9-84bc-b5cc11baf96d.png)

[2019-07-08 01:18] bsheriff commented on #308
Hi,

So I was able to save the "given_name" and "family_name" claims in the "UserClaims" table.  So, the issue I am having now is returning those values inside of the token that is returned.  I want to access the "given_name" and the "family_name" in my angular application.  Also, I would like to access the "email" claim as well.  Do I need to add extra logic somewhere to add this functionality?

[2019-07-08 02:49] mchenx commented on #307
I have finally figured this issue out, this is not about dotnet core 2.1 or 2.2, totally my bad.
I didn't remember that I changed the project name of Skoruba.IdentityServer4.Admin to IdentityServer4.Admin and then it remains @addTagHelper *, Skoruba.IdentityServer4.Admin in _ViewImports.cshtml  (similar to issue #230)

After I correct the project name it like a charm!

Sorry for the false alarm, I